<a href="https://colab.research.google.com/github/GenoKiller777/PythonVarios/blob/main/%20DataWranglir_evaFinal.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Extracción

In [1]:
#Activacion de paquetes para el tratamiento

import pandas as pd
import numpy as np

In [2]:
#Fragmento de codigo, para llamar archivos desde la maquina local

from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

Saving sdbcol_092021.xlsx to sdbcol_092021 (1).xlsx
Saving sdbdep_092021.xlsx to sdbdep_092021 (1).xlsx
Saving sdbinv_092021.xlsx to sdbinv_092021 (1).xlsx
User uploaded file "sdbcol_092021.xlsx" with length 544548 bytes
User uploaded file "sdbdep_092021.xlsx" with length 474796 bytes
User uploaded file "sdbinv_092021.xlsx" with length 586517 bytes

In [3]:
# Importación de archivos XLSX para realizar el ETL

#colocaciones
colocaciones_01 = pd.read_excel('/content/sdbcol_092021.xlsx',sheet_name='1_01')
colocaciones_02 = pd.read_excel('/content/sdbcol_092021.xlsx',sheet_name='1_02')
colocaciones_03 = pd.read_excel('/content/sdbcol_092021.xlsx',sheet_name='1_03')
colocaciones_04 = pd.read_excel('/content/sdbcol_092021.xlsx',sheet_name='1_04')
colocaciones_05 = pd.read_excel('/content/sdbcol_092021.xlsx',sheet_name='1_05')
colocaciones_06 = pd.read_excel('/content/sdbcol_092021.xlsx',sheet_name='1_06')
colocaciones_07 = pd.read_excel('/content/sdbcol_092021.xlsx',sheet_name='1_07')
colocaciones_08 = pd.read_excel('/content/sdbcol_092021.xlsx',sheet_name='1_08')
colocaciones_09 = pd.read_excel('/content/sdbcol_092021.xlsx',sheet_name='1_09')
colocaciones_10 = pd.read_excel('/content/sdbcol_092021.xlsx',sheet_name='1_10')

# Colocaciones

## Colocación 01

In [4]:
#Revisión de header

colocaciones_01.head(5)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,Unnamed: 161,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166
0,Índice general,Cuadro 1.01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Notas generales,Colocaciones totales por tipo de crédito,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Conceptualización,Saldos en millones de pesos,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,2008-01-31 00:00:00,2008-02-29 00:00:00,2008-03-31 00:00:00,2008-04-30 00:00:00,2008-05-31 00:00:00,2008-06-30 00:00:00,2008-07-31 00:00:00,2008-08-31 00:00:00,...,2020-12-31 00:00:00,2021-01-31 00:00:00,2021-02-28 00:00:00,2021-03-31 00:00:00,2021-04-30 00:00:00,2021-05-31 00:00:00,2021-06-30 00:00:00,2021-07-31 00:00:00,2021-08-31 00:00:00,2021-09-30 00:00:00

In [5]:
#Elimación de columna 'Unnamed: 0'

colocaciones_01.pop("Unnamed: 0")

0        Índice general
1       Notas generales
2     Conceptualización
3                   NaN
4                   NaN
5                   NaN
6                   NaN
7                   NaN
8                   NaN
9                   NaN
10                  NaN
11                  NaN
12                  NaN
13                  NaN
14                  NaN
15                  NaN
16                  NaN
17                  NaN
18                  NaN
19                  NaN
20                  NaN
21                  NaN
22                  NaN
23                  NaN
24                  NaN
25                  NaN
26                  NaN
27                  NaN
28                  NaN
29                  NaN
30                  NaN
31                  NaN
32                  NaN
33                  NaN
34                  NaN
35                  NaN
36                  NaN
Name: Unnamed: 0, dtype: object

In [6]:
#Elimación de las primeras 5 filas

colocaciones_01 = colocaciones_01.iloc[5:]

In [7]:
#Revision de la cola del dataframe

colocaciones_01.tail(7)

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,Unnamed: 161,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166
30,Bank of China (16),ND,ND,ND,ND,ND,ND,ND,ND,ND,...,0,0,0,0,0,0,0,0,0,0
31,Total,63289823.285317,63929598.124746,64331272.198998,66239592.233475,67501410.730421,69337022.107028,69845545.246008,70735554.989043,72284209.120933,...,188919524.712304,190314097.069002,191177693.341645,192185791.786168,192752520.181099,193600431.542033,194676324.255656,197863032.094719,199568992.825879,202337502.110627
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,ND : No existe dato,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,Conceptualización: Vínculo que remite al docum...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
#Eliminacion de las ultimas 6 filas

colocaciones_01.drop(colocaciones_01.tail(6).index,inplace=True)

<ipython-input-8-2aeed8c6289e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  colocaciones_01.drop(colocaciones_01.tail(6).index,inplace=True)

In [9]:
# Revision de cabezera

colocaciones_01.head(3)

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,Unnamed: 161,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166
5,Banco Bice,1763607.105975,1808429.613026,1842186.397327,1881593.219611,1941444.983769,2019770.333121,1994761.128546,2041350.403024,2097468.789285,...,6660939.273511,6743346.724603,6778835.359596,6855606.729749,6914693.776389,6943833.340858,6963353.113535,7142790.483542,7209759.998717,7336544.759679
6,Banco BTG Pactual Chile (9),ND,ND,ND,ND,ND,ND,ND,ND,ND,...,1207031.841972,1219968.641785,1236017.530255,1284157.56313,1347129.374373,1379468.722384,1371803.875966,1366410.319041,1340045.201823,1427693.447579
7,Banco Consorcio (1),33929.700249,32239.758181,29778.804888,30171.072657,30523.044437,29617.013329,28433.274784,28789.410595,27307.815688,...,3853309.703266,3916265.732864,3953007.770653,4032344.163441,4085867.277682,4133305.337242,4213702.419961,4308445.136471,4376367.343655,4505780.371801

In [10]:
# Aplicacion de pd.melt para pasar de tabla ancha  a tabla larga

colocaciones_01 = colocaciones_01.melt(id_vars=['Unnamed: 1'], value_vars=['Unnamed: 2','Unnamed: 3','Unnamed: 4','Unnamed: 5','Unnamed: 6','Unnamed: 7','Unnamed: 8','Unnamed: 9','Unnamed: 10','Unnamed: 11',
                                                   'Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19','Unnamed: 20','Unnamed: 21',
                                                   'Unnamed: 22','Unnamed: 23','Unnamed: 24','Unnamed: 25','Unnamed: 26','Unnamed: 27','Unnamed: 28','Unnamed: 29','Unnamed: 30','Unnamed: 31',
                                                   'Unnamed: 32','Unnamed: 33','Unnamed: 34','Unnamed: 35','Unnamed: 36','Unnamed: 37','Unnamed: 38','Unnamed: 39','Unnamed: 40','Unnamed: 41',
                                                   'Unnamed: 42','Unnamed: 43','Unnamed: 44','Unnamed: 45','Unnamed: 46','Unnamed: 47','Unnamed: 48','Unnamed: 49','Unnamed: 50','Unnamed: 51',
                                                   'Unnamed: 52','Unnamed: 53','Unnamed: 54','Unnamed: 55','Unnamed: 56','Unnamed: 57','Unnamed: 58','Unnamed: 59','Unnamed: 60','Unnamed: 61',
                                                   'Unnamed: 62','Unnamed: 63','Unnamed: 64','Unnamed: 65','Unnamed: 66','Unnamed: 67','Unnamed: 68','Unnamed: 69','Unnamed: 70','Unnamed: 71',
                                                   'Unnamed: 72','Unnamed: 73','Unnamed: 74','Unnamed: 75','Unnamed: 76','Unnamed: 77','Unnamed: 78','Unnamed: 79','Unnamed: 80','Unnamed: 81',
                                                   'Unnamed: 82','Unnamed: 83','Unnamed: 84','Unnamed: 85','Unnamed: 86','Unnamed: 87','Unnamed: 88','Unnamed: 89','Unnamed: 90','Unnamed: 91',
                                                   'Unnamed: 92','Unnamed: 93','Unnamed: 94','Unnamed: 95','Unnamed: 96','Unnamed: 97','Unnamed: 98','Unnamed: 99','Unnamed: 100','Unnamed: 101',
                                                   'Unnamed: 102','Unnamed: 103','Unnamed: 104','Unnamed: 105','Unnamed: 106','Unnamed: 107','Unnamed: 108','Unnamed: 109','Unnamed: 110','Unnamed: 111',
                                                   'Unnamed: 112','Unnamed: 113','Unnamed: 114','Unnamed: 115','Unnamed: 116','Unnamed: 117','Unnamed: 118','Unnamed: 119','Unnamed: 120','Unnamed: 121',
                                                   'Unnamed: 122','Unnamed: 123','Unnamed: 124','Unnamed: 125','Unnamed: 126','Unnamed: 127','Unnamed: 128','Unnamed: 129','Unnamed: 130','Unnamed: 131',
                                                   'Unnamed: 132','Unnamed: 133','Unnamed: 134','Unnamed: 135','Unnamed: 136','Unnamed: 137','Unnamed: 138','Unnamed: 139','Unnamed: 140','Unnamed: 141',
                                                   'Unnamed: 142','Unnamed: 143','Unnamed: 144','Unnamed: 145','Unnamed: 146','Unnamed: 147','Unnamed: 148','Unnamed: 149','Unnamed: 150','Unnamed: 151',
                                                   'Unnamed: 152','Unnamed: 153','Unnamed: 154','Unnamed: 155','Unnamed: 156','Unnamed: 157','Unnamed: 158','Unnamed: 159','Unnamed: 160','Unnamed: 161',
                                                   'Unnamed: 162','Unnamed: 163','Unnamed: 164','Unnamed: 165','Unnamed: 166'],
               var_name='myVarname',
               value_name='Valor',
               ignore_index=False
               )

In [11]:
# Cración de condiciones para crear la columna Fecha

conditions_1 = [(colocaciones_01['myVarname'] == 'Unnamed: 2'),(colocaciones_01['myVarname'] == 'Unnamed: 3'),(colocaciones_01['myVarname'] == 'Unnamed: 4'),(colocaciones_01['myVarname'] == 'Unnamed: 5'),(colocaciones_01['myVarname'] == 'Unnamed: 6'),
 (colocaciones_01['myVarname'] == 'Unnamed: 7'),(colocaciones_01['myVarname'] == 'Unnamed: 8'),(colocaciones_01['myVarname'] == 'Unnamed: 9'),(colocaciones_01['myVarname'] == 'Unnamed: 10'),(colocaciones_01['myVarname'] == 'Unnamed: 11'),
  (colocaciones_01['myVarname'] == 'Unnamed: 12'),(colocaciones_01['myVarname'] == 'Unnamed: 13'),(colocaciones_01['myVarname'] == 'Unnamed: 14'),(colocaciones_01['myVarname'] == 'Unnamed: 15'),(colocaciones_01['myVarname'] == 'Unnamed: 16'),
   (colocaciones_01['myVarname'] == 'Unnamed: 17'),(colocaciones_01['myVarname'] == 'Unnamed: 18'),(colocaciones_01['myVarname'] == 'Unnamed: 19'),(colocaciones_01['myVarname'] == 'Unnamed: 20'),(colocaciones_01['myVarname'] == 'Unnamed: 21'),
    (colocaciones_01['myVarname'] == 'Unnamed: 22'),(colocaciones_01['myVarname'] == 'Unnamed: 23'),(colocaciones_01['myVarname'] == 'Unnamed: 24'),(colocaciones_01['myVarname'] == 'Unnamed: 25'),(colocaciones_01['myVarname'] == 'Unnamed: 26'),
     (colocaciones_01['myVarname'] == 'Unnamed: 27'),(colocaciones_01['myVarname'] == 'Unnamed: 28'),(colocaciones_01['myVarname'] == 'Unnamed: 29'),(colocaciones_01['myVarname'] == 'Unnamed: 30'),(colocaciones_01['myVarname'] == 'Unnamed: 31'),
      (colocaciones_01['myVarname'] == 'Unnamed: 32'),(colocaciones_01['myVarname'] == 'Unnamed: 33'),(colocaciones_01['myVarname'] == 'Unnamed: 34'),(colocaciones_01['myVarname'] == 'Unnamed: 35'),(colocaciones_01['myVarname'] == 'Unnamed: 36'),
       (colocaciones_01['myVarname'] == 'Unnamed: 37'),(colocaciones_01['myVarname'] == 'Unnamed: 38'),(colocaciones_01['myVarname'] == 'Unnamed: 39'),(colocaciones_01['myVarname'] == 'Unnamed: 40'),(colocaciones_01['myVarname'] == 'Unnamed: 41'),
        (colocaciones_01['myVarname'] == 'Unnamed: 42'),(colocaciones_01['myVarname'] == 'Unnamed: 43'),(colocaciones_01['myVarname'] == 'Unnamed: 44'),(colocaciones_01['myVarname'] == 'Unnamed: 45'),(colocaciones_01['myVarname'] == 'Unnamed: 46'),
         (colocaciones_01['myVarname'] == 'Unnamed: 47'),(colocaciones_01['myVarname'] == 'Unnamed: 48'),(colocaciones_01['myVarname'] == 'Unnamed: 49'),(colocaciones_01['myVarname'] == 'Unnamed: 50'),(colocaciones_01['myVarname'] == 'Unnamed: 51'),
          (colocaciones_01['myVarname'] == 'Unnamed: 52'),(colocaciones_01['myVarname'] == 'Unnamed: 53'),(colocaciones_01['myVarname'] == 'Unnamed: 54'),(colocaciones_01['myVarname'] == 'Unnamed: 55'),(colocaciones_01['myVarname'] == 'Unnamed: 56'),
           (colocaciones_01['myVarname'] == 'Unnamed: 57'),(colocaciones_01['myVarname'] == 'Unnamed: 58'),(colocaciones_01['myVarname'] == 'Unnamed: 59'),(colocaciones_01['myVarname'] == 'Unnamed: 60'),(colocaciones_01['myVarname'] == 'Unnamed: 61'),
            (colocaciones_01['myVarname'] == 'Unnamed: 62'),(colocaciones_01['myVarname'] == 'Unnamed: 63'),(colocaciones_01['myVarname'] == 'Unnamed: 64'),(colocaciones_01['myVarname'] == 'Unnamed: 65'),(colocaciones_01['myVarname'] == 'Unnamed: 66'),
             (colocaciones_01['myVarname'] == 'Unnamed: 67'),(colocaciones_01['myVarname'] == 'Unnamed: 68'),(colocaciones_01['myVarname'] == 'Unnamed: 69'),(colocaciones_01['myVarname'] == 'Unnamed: 70'),(colocaciones_01['myVarname'] == 'Unnamed: 71'),
              (colocaciones_01['myVarname'] == 'Unnamed: 72'),(colocaciones_01['myVarname'] == 'Unnamed: 73'),(colocaciones_01['myVarname'] == 'Unnamed: 74'),(colocaciones_01['myVarname'] == 'Unnamed: 75'),(colocaciones_01['myVarname'] == 'Unnamed: 76'),
               (colocaciones_01['myVarname'] == 'Unnamed: 77'),(colocaciones_01['myVarname'] == 'Unnamed: 78'),(colocaciones_01['myVarname'] == 'Unnamed: 79'),(colocaciones_01['myVarname'] == 'Unnamed: 80'),(colocaciones_01['myVarname'] == 'Unnamed: 81'),
                (colocaciones_01['myVarname'] == 'Unnamed: 82'),(colocaciones_01['myVarname'] == 'Unnamed: 83'),(colocaciones_01['myVarname'] == 'Unnamed: 84'),(colocaciones_01['myVarname'] == 'Unnamed: 85'),(colocaciones_01['myVarname'] == 'Unnamed: 86'),
                 (colocaciones_01['myVarname'] == 'Unnamed: 87'),(colocaciones_01['myVarname'] == 'Unnamed: 88'),(colocaciones_01['myVarname'] == 'Unnamed: 89'),(colocaciones_01['myVarname'] == 'Unnamed: 90'),(colocaciones_01['myVarname'] == 'Unnamed: 91'),
                  (colocaciones_01['myVarname'] == 'Unnamed: 92'),(colocaciones_01['myVarname'] == 'Unnamed: 93'),(colocaciones_01['myVarname'] == 'Unnamed: 94'),(colocaciones_01['myVarname'] == 'Unnamed: 95'),(colocaciones_01['myVarname'] == 'Unnamed: 96'),
                   (colocaciones_01['myVarname'] == 'Unnamed: 97'),(colocaciones_01['myVarname'] == 'Unnamed: 98'),(colocaciones_01['myVarname'] == 'Unnamed: 99'),(colocaciones_01['myVarname'] == 'Unnamed: 100'),(colocaciones_01['myVarname'] == 'Unnamed: 101'),
                    (colocaciones_01['myVarname'] == 'Unnamed: 102'),(colocaciones_01['myVarname'] == 'Unnamed: 103'),(colocaciones_01['myVarname'] == 'Unnamed: 104'),(colocaciones_01['myVarname'] == 'Unnamed: 105'),(colocaciones_01['myVarname'] == 'Unnamed: 106'),
                     (colocaciones_01['myVarname'] == 'Unnamed: 107'),(colocaciones_01['myVarname'] == 'Unnamed: 108'),(colocaciones_01['myVarname'] == 'Unnamed: 109'),(colocaciones_01['myVarname'] == 'Unnamed: 110'),(colocaciones_01['myVarname'] == 'Unnamed: 111'),
                      (colocaciones_01['myVarname'] == 'Unnamed: 112'),(colocaciones_01['myVarname'] == 'Unnamed: 113'),(colocaciones_01['myVarname'] == 'Unnamed: 114'),(colocaciones_01['myVarname'] == 'Unnamed: 115'),(colocaciones_01['myVarname'] == 'Unnamed: 116'),
                       (colocaciones_01['myVarname'] == 'Unnamed: 117'),(colocaciones_01['myVarname'] == 'Unnamed: 118'),(colocaciones_01['myVarname'] == 'Unnamed: 119'),(colocaciones_01['myVarname'] == 'Unnamed: 120'),(colocaciones_01['myVarname'] == 'Unnamed: 121'),
                        (colocaciones_01['myVarname'] == 'Unnamed: 122'),(colocaciones_01['myVarname'] == 'Unnamed: 123'),(colocaciones_01['myVarname'] == 'Unnamed: 124'),(colocaciones_01['myVarname'] == 'Unnamed: 125'),(colocaciones_01['myVarname'] == 'Unnamed: 126'),
                         (colocaciones_01['myVarname'] == 'Unnamed: 127'),(colocaciones_01['myVarname'] == 'Unnamed: 128'),(colocaciones_01['myVarname'] == 'Unnamed: 129'),(colocaciones_01['myVarname'] == 'Unnamed: 130'),(colocaciones_01['myVarname'] == 'Unnamed: 131'),
                          (colocaciones_01['myVarname'] == 'Unnamed: 132'),(colocaciones_01['myVarname'] == 'Unnamed: 133'),(colocaciones_01['myVarname'] == 'Unnamed: 134'),(colocaciones_01['myVarname'] == 'Unnamed: 135'),(colocaciones_01['myVarname'] == 'Unnamed: 136'),
                           (colocaciones_01['myVarname'] == 'Unnamed: 137'),(colocaciones_01['myVarname'] == 'Unnamed: 138'),(colocaciones_01['myVarname'] == 'Unnamed: 139'),(colocaciones_01['myVarname'] == 'Unnamed: 140'),(colocaciones_01['myVarname'] == 'Unnamed: 141'),
                            (colocaciones_01['myVarname'] == 'Unnamed: 142'),(colocaciones_01['myVarname'] == 'Unnamed: 143'),(colocaciones_01['myVarname'] == 'Unnamed: 144'),(colocaciones_01['myVarname'] == 'Unnamed: 145'),(colocaciones_01['myVarname'] == 'Unnamed: 146'),
                             (colocaciones_01['myVarname'] == 'Unnamed: 147'),(colocaciones_01['myVarname'] == 'Unnamed: 148'),(colocaciones_01['myVarname'] == 'Unnamed: 149'),(colocaciones_01['myVarname'] == 'Unnamed: 150'),(colocaciones_01['myVarname'] == 'Unnamed: 151'),
                              (colocaciones_01['myVarname'] == 'Unnamed: 152'),(colocaciones_01['myVarname'] == 'Unnamed: 153'),(colocaciones_01['myVarname'] == 'Unnamed: 154'),(colocaciones_01['myVarname'] == 'Unnamed: 155'),(colocaciones_01['myVarname'] == 'Unnamed: 156'),
                               (colocaciones_01['myVarname'] == 'Unnamed: 157'),(colocaciones_01['myVarname'] == 'Unnamed: 158'),(colocaciones_01['myVarname'] == 'Unnamed: 159'),(colocaciones_01['myVarname'] == 'Unnamed: 160'),(colocaciones_01['myVarname'] == 'Unnamed: 161'),
                                (colocaciones_01['myVarname'] == 'Unnamed: 162'),(colocaciones_01['myVarname'] == 'Unnamed: 163'),(colocaciones_01['myVarname'] == 'Unnamed: 164'),(colocaciones_01['myVarname'] == 'Unnamed: 165'),(colocaciones_01['myVarname'] == 'Unnamed: 166')
                                ]

In [12]:
# Valores para la creacion de la columna Fecha

values = ['2008-01-31','2008-02-29','2008-03-31','2008-04-30','2008-05-31','2008-06-30','2008-07-31','2008-08-31','2008-09-30','2008-10-31',
          '2008-11-30','2008-12-31','2009-01-31','2009-02-28','2009-03-31','2009-04-30','2009-05-31','2009-06-30','2009-07-31','2009-08-31',
          '2009-09-30','2009-10-31','2009-11-30','2009-12-31','2010-01-31','2010-02-28','2010-03-31','2010-04-30','2010-05-31','2010-06-30',
          '2010-07-31','2010-08-31','2010-09-30','2010-10-31','2010-11-30','2010-12-31','2011-01-31','2011-02-28','2011-03-31','2011-04-30',
          '2011-05-31','2011-06-30','2011-07-31','2011-08-31','2011-09-30','2011-10-31','2011-11-30','2011-12-31','2012-01-31','2012-02-29',
          '2012-03-31','2012-04-30','2012-05-31','2012-06-30','2012-07-31','2012-08-31','2012-09-30','2012-10-31','2012-11-30','2012-12-31',
          '2013-01-31','2013-02-28','2013-03-31','2013-04-30','2013-05-31','2013-06-30','2013-07-31','2013-08-31','2013-09-30','2013-10-31',
          '2013-11-30','2013-12-31','2014-01-31','2014-02-28','2014-03-31','2014-04-30','2014-05-31','2014-06-30','2014-07-31','2014-08-31',
          '2014-09-30','2014-10-31','2014-11-30','2014-12-31','2015-01-31','2015-02-28','2015-03-31','2015-04-30','2015-05-31','2015-06-30',
          '2015-07-31','2015-08-31','2015-09-30','2015-10-31','2015-11-30','2015-12-31','2016-01-31','2016-02-29','2016-03-31','2016-04-30',
          '2016-05-31','2016-06-30','2016-07-31','2016-08-31','2016-09-30','2016-10-31','2016-11-30','2016-12-31','2017-01-31','2017-02-28',
          '2017-03-31','2017-04-30','2017-05-31','2017-06-30','2017-07-31','2017-08-31','2017-09-30','2017-10-31','2017-11-30','2017-12-31',
          '2018-01-31','2018-02-28','2018-03-31','2018-04-30','2018-05-31','2018-06-30','2018-07-31','2018-08-31','2018-09-30','2018-10-31',
          '2018-11-30','2018-12-31','2019-01-31','2019-02-28','2019-03-31','2019-04-30','2019-05-31','2019-06-30','2019-07-31','2019-08-31',
          '2019-09-30','2019-10-31','2019-11-30','2019-12-31','2020-01-31','2020-02-29','2020-03-31','2020-04-30','2020-05-31','2020-06-30',
          '2020-07-31','2020-08-31','2020-09-30','2020-10-31','2020-11-30','2020-12-31','2021-01-31','2021-02-28','2021-03-31','2021-04-30',
          '2021-05-31','2021-06-30','2021-07-31','2021-08-31','2021-09-30']

In [13]:
#Cracion de la columna Fecha

colocaciones_01['Fecha'] = np.select(conditions_1, values)

In [15]:
#Eliminacion de columna de anclaje para hacer las fechas

colocaciones_01.pop("myVarname")

5       Unnamed: 2
6       Unnamed: 2
7       Unnamed: 2
8       Unnamed: 2
9       Unnamed: 2
          ...
26    Unnamed: 166
27    Unnamed: 166
28    Unnamed: 166
29    Unnamed: 166
30    Unnamed: 166
Name: myVarname, Length: 4290, dtype: object

In [16]:
#Renombramiento de columna 'Unnamed:1' a Institucion

colocaciones_01.rename(columns={"Unnamed: 1": "Institucion"}, inplace=True)

In [17]:
colocaciones_01

                                      Institucion            Valor       Fecha
5                                      Banco Bice   1763607.105975  2008-01-31
6                     Banco BTG Pactual Chile (9)               ND  2008-01-31
7                             Banco Consorcio (1)     33929.700249  2008-01-31
8                              Banco de Chile (2)  12877155.584751  2008-01-31
9                  Banco de Crédito e Inversiones   7808179.921376  2008-01-31
..                                            ...              ...         ...
26                     JP Morgan Chase Bank, N.A.                0  2021-09-30
27                            Rabobank Chile (15)               ND  2021-09-30
28                      Scotiabank Chile (3) (17)  27750522.282798  2021-09-30
29  The Bank of Tokyo - Mitsubishi Ufj. Ltd. (19)               ND  2021-09-30
30                             Bank of China (16)                0  2021-09-30

[4290 rows x 3 columns]

In [18]:
#Creacion de campos faltantes

colocaciones_01['Tipo'] = "Colocación"
colocaciones_01['Subtipo'] = "Colocaciones totales por tipo de crédito"
colocaciones_01['Tipo de Moneda'] = "Saldos en millones de pesos"

In [19]:
#Reorganizacion de columnas para la salida

new_cols = ["Fecha","Institucion","Tipo","Subtipo","Valor","Tipo de Moneda"]
colocaciones_01 = colocaciones_01.reindex(columns=new_cols)

In [20]:
colocaciones_01.head(3)

,Fecha,Institucion,Tipo,Subtipo,Valor,Tipo de Moneda
5,2008-01-31,Banco Bice,Colocación,Colocaciones totales por tipo de crédito,1763607.105975,Saldos en millones de pesos
6,2008-01-31,Banco BTG Pactual Chile (9),Colocación,Colocaciones totales por tipo de crédito,ND,Saldos en millones de pesos
7,2008-01-31,Banco Consorcio (1),Colocación,Colocaciones totales por tipo de crédito,33929.700249,Saldos en millones de pesos

## Colocación 02

In [21]:
colocaciones_02.head(5)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,Unnamed: 161,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166
0,Índice general,Cuadro 1.02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Notas generales,Colocaciones comerciales,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Conceptualización,Saldos en millones de pesos,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,2008-01-31 00:00:00,2008-02-29 00:00:00,2008-03-31 00:00:00,2008-04-30 00:00:00,2008-05-31 00:00:00,2008-06-30 00:00:00,2008-07-31 00:00:00,2008-08-31 00:00:00,...,2020-12-31 00:00:00,2021-01-31 00:00:00,2021-02-28 00:00:00,2021-03-31 00:00:00,2021-04-30 00:00:00,2021-05-31 00:00:00,2021-06-30 00:00:00,2021-07-31 00:00:00,2021-08-31 00:00:00,2021-09-30 00:00:00

In [22]:
colocaciones_02.pop("Unnamed: 0")

0        Índice general
1       Notas generales
2     Conceptualización
3                   NaN
4                   NaN
5                   NaN
6                   NaN
7                   NaN
8                   NaN
9                   NaN
10                  NaN
11                  NaN
12                  NaN
13                  NaN
14                  NaN
15                  NaN
16                  NaN
17                  NaN
18                  NaN
19                  NaN
20                  NaN
21                  NaN
22                  NaN
23                  NaN
24                  NaN
25                  NaN
26                  NaN
27                  NaN
28                  NaN
29                  NaN
30                  NaN
31                  NaN
32                  NaN
33                  NaN
34                  NaN
35                  NaN
36                  NaN
Name: Unnamed: 0, dtype: object

In [23]:
colocaciones_02 = colocaciones_02.iloc[5:]

In [24]:
colocaciones_02.tail(7)

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,Unnamed: 161,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166
30,Bank of China (16),ND,ND,ND,ND,ND,ND,ND,ND,ND,...,0,0,0,0,0,0,0,0,0,0
31,Total,36566106.13081,36902589.799545,37065960.514809,37929261.027835,38480929.039904,39280584.095112,39742064.216847,40257880.737539,40957886.76619,...,106214597.104517,107020350.298967,107175443.269274,107454535.915622,107402888.273163,107644280.273385,108024020.413897,110102373.037754,110898202.936915,112568451.216847
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,ND : No existe dato,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,Conceptualización: Vínculo que remite al docum...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
colocaciones_02.drop(colocaciones_02.tail(6).index,inplace=True)

<ipython-input-25-72aa45a4f034>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  colocaciones_02.drop(colocaciones_02.tail(6).index,inplace=True)

In [26]:
colocaciones_02 = colocaciones_02.melt(id_vars=['Unnamed: 1'], value_vars=['Unnamed: 2','Unnamed: 3','Unnamed: 4','Unnamed: 5','Unnamed: 6','Unnamed: 7','Unnamed: 8','Unnamed: 9','Unnamed: 10','Unnamed: 11',
                                                   'Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19','Unnamed: 20','Unnamed: 21',
                                                   'Unnamed: 22','Unnamed: 23','Unnamed: 24','Unnamed: 25','Unnamed: 26','Unnamed: 27','Unnamed: 28','Unnamed: 29','Unnamed: 30','Unnamed: 31',
                                                   'Unnamed: 32','Unnamed: 33','Unnamed: 34','Unnamed: 35','Unnamed: 36','Unnamed: 37','Unnamed: 38','Unnamed: 39','Unnamed: 40','Unnamed: 41',
                                                   'Unnamed: 42','Unnamed: 43','Unnamed: 44','Unnamed: 45','Unnamed: 46','Unnamed: 47','Unnamed: 48','Unnamed: 49','Unnamed: 50','Unnamed: 51',
                                                   'Unnamed: 52','Unnamed: 53','Unnamed: 54','Unnamed: 55','Unnamed: 56','Unnamed: 57','Unnamed: 58','Unnamed: 59','Unnamed: 60','Unnamed: 61',
                                                   'Unnamed: 62','Unnamed: 63','Unnamed: 64','Unnamed: 65','Unnamed: 66','Unnamed: 67','Unnamed: 68','Unnamed: 69','Unnamed: 70','Unnamed: 71',
                                                   'Unnamed: 72','Unnamed: 73','Unnamed: 74','Unnamed: 75','Unnamed: 76','Unnamed: 77','Unnamed: 78','Unnamed: 79','Unnamed: 80','Unnamed: 81',
                                                   'Unnamed: 82','Unnamed: 83','Unnamed: 84','Unnamed: 85','Unnamed: 86','Unnamed: 87','Unnamed: 88','Unnamed: 89','Unnamed: 90','Unnamed: 91',
                                                   'Unnamed: 92','Unnamed: 93','Unnamed: 94','Unnamed: 95','Unnamed: 96','Unnamed: 97','Unnamed: 98','Unnamed: 99','Unnamed: 100','Unnamed: 101',
                                                   'Unnamed: 102','Unnamed: 103','Unnamed: 104','Unnamed: 105','Unnamed: 106','Unnamed: 107','Unnamed: 108','Unnamed: 109','Unnamed: 110','Unnamed: 111',
                                                   'Unnamed: 112','Unnamed: 113','Unnamed: 114','Unnamed: 115','Unnamed: 116','Unnamed: 117','Unnamed: 118','Unnamed: 119','Unnamed: 120','Unnamed: 121',
                                                   'Unnamed: 122','Unnamed: 123','Unnamed: 124','Unnamed: 125','Unnamed: 126','Unnamed: 127','Unnamed: 128','Unnamed: 129','Unnamed: 130','Unnamed: 131',
                                                   'Unnamed: 132','Unnamed: 133','Unnamed: 134','Unnamed: 135','Unnamed: 136','Unnamed: 137','Unnamed: 138','Unnamed: 139','Unnamed: 140','Unnamed: 141',
                                                   'Unnamed: 142','Unnamed: 143','Unnamed: 144','Unnamed: 145','Unnamed: 146','Unnamed: 147','Unnamed: 148','Unnamed: 149','Unnamed: 150','Unnamed: 151',
                                                   'Unnamed: 152','Unnamed: 153','Unnamed: 154','Unnamed: 155','Unnamed: 156','Unnamed: 157','Unnamed: 158','Unnamed: 159','Unnamed: 160','Unnamed: 161',
                                                   'Unnamed: 162','Unnamed: 163','Unnamed: 164','Unnamed: 165','Unnamed: 166'],
               var_name='myVarname',
               value_name='Valor',
               ignore_index=False
               )

In [27]:
colocaciones_02

,Unnamed: 1,myVarname,Valor
5,Banco Bice,Unnamed: 2,1349840.90608
6,Banco BTG Pactual Chile (9),Unnamed: 2,ND
7,Banco Consorcio (1),Unnamed: 2,32840.047756
8,Banco de Chile (2),Unnamed: 2,8012788.068213
9,Banco de Crédito e Inversiones,Unnamed: 2,4855261.065818
...,...,...,...
26,"JP Morgan Chase Bank, N.A.",Unnamed: 166,0
27,Rabobank Chile (15),Unnamed: 166,ND
28,Scotiabank Chile (3) (17),Unnamed: 166,13369740.572047
29,The Bank of Tokyo - Mitsubishi Ufj. Ltd. (19),Unnamed: 166,ND
30,Bank of China (16),Unnamed: 166,0

In [28]:
# create a list of our conditions
conditions_2 = [(colocaciones_02['myVarname'] == 'Unnamed: 2'),(colocaciones_02['myVarname'] == 'Unnamed: 3'),(colocaciones_02['myVarname'] == 'Unnamed: 4'),(colocaciones_02['myVarname'] == 'Unnamed: 5'),(colocaciones_02['myVarname'] == 'Unnamed: 6'),
 (colocaciones_02['myVarname'] == 'Unnamed: 7'),(colocaciones_02['myVarname'] == 'Unnamed: 8'),(colocaciones_02['myVarname'] == 'Unnamed: 9'),(colocaciones_02['myVarname'] == 'Unnamed: 10'),(colocaciones_02['myVarname'] == 'Unnamed: 11'),
  (colocaciones_02['myVarname'] == 'Unnamed: 12'),(colocaciones_02['myVarname'] == 'Unnamed: 13'),(colocaciones_02['myVarname'] == 'Unnamed: 14'),(colocaciones_02['myVarname'] == 'Unnamed: 15'),(colocaciones_02['myVarname'] == 'Unnamed: 16'),
   (colocaciones_02['myVarname'] == 'Unnamed: 17'),(colocaciones_02['myVarname'] == 'Unnamed: 18'),(colocaciones_02['myVarname'] == 'Unnamed: 19'),(colocaciones_02['myVarname'] == 'Unnamed: 20'),(colocaciones_02['myVarname'] == 'Unnamed: 21'),
    (colocaciones_02['myVarname'] == 'Unnamed: 22'),(colocaciones_02['myVarname'] == 'Unnamed: 23'),(colocaciones_02['myVarname'] == 'Unnamed: 24'),(colocaciones_02['myVarname'] == 'Unnamed: 25'),(colocaciones_02['myVarname'] == 'Unnamed: 26'),
     (colocaciones_02['myVarname'] == 'Unnamed: 27'),(colocaciones_02['myVarname'] == 'Unnamed: 28'),(colocaciones_02['myVarname'] == 'Unnamed: 29'),(colocaciones_02['myVarname'] == 'Unnamed: 30'),(colocaciones_02['myVarname'] == 'Unnamed: 31'),
      (colocaciones_02['myVarname'] == 'Unnamed: 32'),(colocaciones_02['myVarname'] == 'Unnamed: 33'),(colocaciones_02['myVarname'] == 'Unnamed: 34'),(colocaciones_02['myVarname'] == 'Unnamed: 35'),(colocaciones_02['myVarname'] == 'Unnamed: 36'),
       (colocaciones_02['myVarname'] == 'Unnamed: 37'),(colocaciones_02['myVarname'] == 'Unnamed: 38'),(colocaciones_02['myVarname'] == 'Unnamed: 39'),(colocaciones_02['myVarname'] == 'Unnamed: 40'),(colocaciones_02['myVarname'] == 'Unnamed: 41'),
        (colocaciones_02['myVarname'] == 'Unnamed: 42'),(colocaciones_02['myVarname'] == 'Unnamed: 43'),(colocaciones_02['myVarname'] == 'Unnamed: 44'),(colocaciones_02['myVarname'] == 'Unnamed: 45'),(colocaciones_02['myVarname'] == 'Unnamed: 46'),
         (colocaciones_02['myVarname'] == 'Unnamed: 47'),(colocaciones_02['myVarname'] == 'Unnamed: 48'),(colocaciones_02['myVarname'] == 'Unnamed: 49'),(colocaciones_02['myVarname'] == 'Unnamed: 50'),(colocaciones_02['myVarname'] == 'Unnamed: 51'),
          (colocaciones_02['myVarname'] == 'Unnamed: 52'),(colocaciones_02['myVarname'] == 'Unnamed: 53'),(colocaciones_02['myVarname'] == 'Unnamed: 54'),(colocaciones_02['myVarname'] == 'Unnamed: 55'),(colocaciones_02['myVarname'] == 'Unnamed: 56'),
           (colocaciones_02['myVarname'] == 'Unnamed: 57'),(colocaciones_02['myVarname'] == 'Unnamed: 58'),(colocaciones_02['myVarname'] == 'Unnamed: 59'),(colocaciones_02['myVarname'] == 'Unnamed: 60'),(colocaciones_02['myVarname'] == 'Unnamed: 61'),
            (colocaciones_02['myVarname'] == 'Unnamed: 62'),(colocaciones_02['myVarname'] == 'Unnamed: 63'),(colocaciones_02['myVarname'] == 'Unnamed: 64'),(colocaciones_02['myVarname'] == 'Unnamed: 65'),(colocaciones_02['myVarname'] == 'Unnamed: 66'),
             (colocaciones_02['myVarname'] == 'Unnamed: 67'),(colocaciones_02['myVarname'] == 'Unnamed: 68'),(colocaciones_02['myVarname'] == 'Unnamed: 69'),(colocaciones_02['myVarname'] == 'Unnamed: 70'),(colocaciones_02['myVarname'] == 'Unnamed: 71'),
              (colocaciones_02['myVarname'] == 'Unnamed: 72'),(colocaciones_02['myVarname'] == 'Unnamed: 73'),(colocaciones_02['myVarname'] == 'Unnamed: 74'),(colocaciones_02['myVarname'] == 'Unnamed: 75'),(colocaciones_02['myVarname'] == 'Unnamed: 76'),
               (colocaciones_02['myVarname'] == 'Unnamed: 77'),(colocaciones_02['myVarname'] == 'Unnamed: 78'),(colocaciones_02['myVarname'] == 'Unnamed: 79'),(colocaciones_02['myVarname'] == 'Unnamed: 80'),(colocaciones_02['myVarname'] == 'Unnamed: 81'),
                (colocaciones_02['myVarname'] == 'Unnamed: 82'),(colocaciones_02['myVarname'] == 'Unnamed: 83'),(colocaciones_02['myVarname'] == 'Unnamed: 84'),(colocaciones_02['myVarname'] == 'Unnamed: 85'),(colocaciones_02['myVarname'] == 'Unnamed: 86'),
                 (colocaciones_02['myVarname'] == 'Unnamed: 87'),(colocaciones_02['myVarname'] == 'Unnamed: 88'),(colocaciones_02['myVarname'] == 'Unnamed: 89'),(colocaciones_02['myVarname'] == 'Unnamed: 90'),(colocaciones_02['myVarname'] == 'Unnamed: 91'),
                  (colocaciones_02['myVarname'] == 'Unnamed: 92'),(colocaciones_02['myVarname'] == 'Unnamed: 93'),(colocaciones_02['myVarname'] == 'Unnamed: 94'),(colocaciones_02['myVarname'] == 'Unnamed: 95'),(colocaciones_02['myVarname'] == 'Unnamed: 96'),
                   (colocaciones_02['myVarname'] == 'Unnamed: 97'),(colocaciones_02['myVarname'] == 'Unnamed: 98'),(colocaciones_02['myVarname'] == 'Unnamed: 99'),(colocaciones_02['myVarname'] == 'Unnamed: 100'),(colocaciones_02['myVarname'] == 'Unnamed: 101'),
                    (colocaciones_02['myVarname'] == 'Unnamed: 102'),(colocaciones_02['myVarname'] == 'Unnamed: 103'),(colocaciones_02['myVarname'] == 'Unnamed: 104'),(colocaciones_02['myVarname'] == 'Unnamed: 105'),(colocaciones_02['myVarname'] == 'Unnamed: 106'),
                     (colocaciones_02['myVarname'] == 'Unnamed: 107'),(colocaciones_02['myVarname'] == 'Unnamed: 108'),(colocaciones_02['myVarname'] == 'Unnamed: 109'),(colocaciones_02['myVarname'] == 'Unnamed: 110'),(colocaciones_02['myVarname'] == 'Unnamed: 111'),
                      (colocaciones_02['myVarname'] == 'Unnamed: 112'),(colocaciones_02['myVarname'] == 'Unnamed: 113'),(colocaciones_02['myVarname'] == 'Unnamed: 114'),(colocaciones_02['myVarname'] == 'Unnamed: 115'),(colocaciones_02['myVarname'] == 'Unnamed: 116'),
                       (colocaciones_02['myVarname'] == 'Unnamed: 117'),(colocaciones_02['myVarname'] == 'Unnamed: 118'),(colocaciones_02['myVarname'] == 'Unnamed: 119'),(colocaciones_02['myVarname'] == 'Unnamed: 120'),(colocaciones_02['myVarname'] == 'Unnamed: 121'),
                        (colocaciones_02['myVarname'] == 'Unnamed: 122'),(colocaciones_02['myVarname'] == 'Unnamed: 123'),(colocaciones_02['myVarname'] == 'Unnamed: 124'),(colocaciones_02['myVarname'] == 'Unnamed: 125'),(colocaciones_02['myVarname'] == 'Unnamed: 126'),
                         (colocaciones_02['myVarname'] == 'Unnamed: 127'),(colocaciones_02['myVarname'] == 'Unnamed: 128'),(colocaciones_02['myVarname'] == 'Unnamed: 129'),(colocaciones_02['myVarname'] == 'Unnamed: 130'),(colocaciones_02['myVarname'] == 'Unnamed: 131'),
                          (colocaciones_02['myVarname'] == 'Unnamed: 132'),(colocaciones_02['myVarname'] == 'Unnamed: 133'),(colocaciones_02['myVarname'] == 'Unnamed: 134'),(colocaciones_02['myVarname'] == 'Unnamed: 135'),(colocaciones_02['myVarname'] == 'Unnamed: 136'),
                           (colocaciones_02['myVarname'] == 'Unnamed: 137'),(colocaciones_02['myVarname'] == 'Unnamed: 138'),(colocaciones_02['myVarname'] == 'Unnamed: 139'),(colocaciones_02['myVarname'] == 'Unnamed: 140'),(colocaciones_02['myVarname'] == 'Unnamed: 141'),
                            (colocaciones_02['myVarname'] == 'Unnamed: 142'),(colocaciones_02['myVarname'] == 'Unnamed: 143'),(colocaciones_02['myVarname'] == 'Unnamed: 144'),(colocaciones_02['myVarname'] == 'Unnamed: 145'),(colocaciones_02['myVarname'] == 'Unnamed: 146'),
                             (colocaciones_02['myVarname'] == 'Unnamed: 147'),(colocaciones_02['myVarname'] == 'Unnamed: 148'),(colocaciones_02['myVarname'] == 'Unnamed: 149'),(colocaciones_02['myVarname'] == 'Unnamed: 150'),(colocaciones_02['myVarname'] == 'Unnamed: 151'),
                              (colocaciones_02['myVarname'] == 'Unnamed: 152'),(colocaciones_02['myVarname'] == 'Unnamed: 153'),(colocaciones_02['myVarname'] == 'Unnamed: 154'),(colocaciones_02['myVarname'] == 'Unnamed: 155'),(colocaciones_02['myVarname'] == 'Unnamed: 156'),
                               (colocaciones_02['myVarname'] == 'Unnamed: 157'),(colocaciones_02['myVarname'] == 'Unnamed: 158'),(colocaciones_02['myVarname'] == 'Unnamed: 159'),(colocaciones_02['myVarname'] == 'Unnamed: 160'),(colocaciones_02['myVarname'] == 'Unnamed: 161'),
                                (colocaciones_02['myVarname'] == 'Unnamed: 162'),(colocaciones_02['myVarname'] == 'Unnamed: 163'),(colocaciones_02['myVarname'] == 'Unnamed: 164'),(colocaciones_02['myVarname'] == 'Unnamed: 165'),(colocaciones_02['myVarname'] == 'Unnamed: 166')
                                ]

In [29]:
colocaciones_02['Fecha'] = np.select(conditions_2, values)

In [30]:
colocaciones_02

,Unnamed: 1,myVarname,Valor,Fecha
5,Banco Bice,Unnamed: 2,1349840.90608,2008-01-31
6,Banco BTG Pactual Chile (9),Unnamed: 2,ND,2008-01-31
7,Banco Consorcio (1),Unnamed: 2,32840.047756,2008-01-31
8,Banco de Chile (2),Unnamed: 2,8012788.068213,2008-01-31
9,Banco de Crédito e Inversiones,Unnamed: 2,4855261.065818,2008-01-31
...,...,...,...,...
26,"JP Morgan Chase Bank, N.A.",Unnamed: 166,0,2021-09-30
27,Rabobank Chile (15),Unnamed: 166,ND,2021-09-30
28,Scotiabank Chile (3) (17),Unnamed: 166,13369740.572047,2021-09-30
29,The Bank of Tokyo - Mitsubishi Ufj. Ltd. (19),Unnamed: 166,ND,2021-09-30
30,Bank of China (16),Unnamed: 166,0,2021-09-30

In [31]:
colocaciones_02.pop("myVarname")

5       Unnamed: 2
6       Unnamed: 2
7       Unnamed: 2
8       Unnamed: 2
9       Unnamed: 2
          ...
26    Unnamed: 166
27    Unnamed: 166
28    Unnamed: 166
29    Unnamed: 166
30    Unnamed: 166
Name: myVarname, Length: 4290, dtype: object

In [32]:
colocaciones_02.rename(columns={"Unnamed: 1": "Institucion"}, inplace=True)

In [33]:
colocaciones_02

                                      Institucion            Valor       Fecha
5                                      Banco Bice    1349840.90608  2008-01-31
6                     Banco BTG Pactual Chile (9)               ND  2008-01-31
7                             Banco Consorcio (1)     32840.047756  2008-01-31
8                              Banco de Chile (2)   8012788.068213  2008-01-31
9                  Banco de Crédito e Inversiones   4855261.065818  2008-01-31
..                                            ...              ...         ...
26                     JP Morgan Chase Bank, N.A.                0  2021-09-30
27                            Rabobank Chile (15)               ND  2021-09-30
28                      Scotiabank Chile (3) (17)  13369740.572047  2021-09-30
29  The Bank of Tokyo - Mitsubishi Ufj. Ltd. (19)               ND  2021-09-30
30                             Bank of China (16)                0  2021-09-30

[4290 rows x 3 columns]

In [34]:
colocaciones_02['Tipo'] = "Colocación"
colocaciones_02['Subtipo'] = "Colocaciones comerciales"
colocaciones_02['Tipo de Moneda'] = "Saldos en millones de pesos"

In [35]:
new_cols = ["Fecha","Institucion","Tipo","Subtipo","Valor","Tipo de Moneda"]
colocaciones_02 = colocaciones_02.reindex(columns=new_cols)

In [36]:
colocaciones_02

,Fecha,Institucion,Tipo,Subtipo,Valor,Tipo de Moneda
5,2008-01-31,Banco Bice,Colocación,Colocaciones comerciales,1349840.90608,Saldos en millones de pesos
6,2008-01-31,Banco BTG Pactual Chile (9),Colocación,Colocaciones comerciales,ND,Saldos en millones de pesos
7,2008-01-31,Banco Consorcio (1),Colocación,Colocaciones comerciales,32840.047756,Saldos en millones de pesos
8,2008-01-31,Banco de Chile (2),Colocación,Colocaciones comerciales,8012788.068213,Saldos en millones de pesos
9,2008-01-31,Banco de Crédito e Inversiones,Colocación,Colocaciones comerciales,4855261.065818,Saldos en millones de pesos
...,...,...,...,...,...,...
26,2021-09-30,"JP Morgan Chase Bank, N.A.",Colocación,Colocaciones comerciales,0,Saldos en millones de pesos
27,2021-09-30,Rabobank Chile (15),Colocación,Colocaciones comerciales,ND,Saldos en millones de pesos
28,2021-09-30,Scotiabank Chile (3) (17),Colocación,Colocaciones comerciales,13369740.572047,Saldos en millones de pesos
29,2021-09-30,The Bank of Tokyo - Mitsubishi Ufj. Ltd. (19),Colocación,Colocaciones comerciales,ND,Saldos en millones de pesos
30,2021-09-30,Bank of China (16),Colocación,Colocaciones comerciales,0,Saldos en millones de pesos

## Colocación 03

In [37]:
colocaciones_03.head(5)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,Unnamed: 161,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166
0,Índice general,Cuadro 1.03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Notas generales,Colocaciones de consumo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Conceptualización,Saldos en millones de pesos,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,2008-01-31 00:00:00,2008-02-29 00:00:00,2008-03-31 00:00:00,2008-04-30 00:00:00,2008-05-31 00:00:00,2008-06-30 00:00:00,2008-07-31 00:00:00,2008-08-31 00:00:00,...,2020-12-31 00:00:00,2021-01-31 00:00:00,2021-02-28 00:00:00,2021-03-31 00:00:00,2021-04-30 00:00:00,2021-05-31 00:00:00,2021-06-30 00:00:00,2021-07-31 00:00:00,2021-08-31 00:00:00,2021-09-30 00:00:00

In [38]:
colocaciones_03.pop("Unnamed: 0")

0        Índice general
1       Notas generales
2     Conceptualización
3                   NaN
4                   NaN
5                   NaN
6                   NaN
7                   NaN
8                   NaN
9                   NaN
10                  NaN
11                  NaN
12                  NaN
13                  NaN
14                  NaN
15                  NaN
16                  NaN
17                  NaN
18                  NaN
19                  NaN
20                  NaN
21                  NaN
22                  NaN
23                  NaN
24                  NaN
25                  NaN
26                  NaN
27                  NaN
28                  NaN
29                  NaN
30                  NaN
31                  NaN
32                  NaN
33                  NaN
34                  NaN
35                  NaN
36                  NaN
Name: Unnamed: 0, dtype: object

In [39]:
colocaciones_03

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,Unnamed: 161,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166
0,Cuadro 1.03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Colocaciones de consumo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Saldos en millones de pesos,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,2008-01-31 00:00:00,2008-02-29 00:00:00,2008-03-31 00:00:00,2008-04-30 00:00:00,2008-05-31 00:00:00,2008-06-30 00:00:00,2008-07-31 00:00:00,2008-08-31 00:00:00,2008-09-30 00:00:00,...,2020-12-31 00:00:00,2021-01-31 00:00:00,2021-02-28 00:00:00,2021-03-31 00:00:00,2021-04-30 00:00:00,2021-05-31 00:00:00,2021-06-30 00:00:00,2021-07-31 00:00:00,2021-08-31 00:00:00,2021-09-30 00:00:00
5,Banco Bice,42484.64673,43751.851081,44300.733782,45176.256626,44412.174975,44596.006724,45011.932927,45196.213037,45343.544859,...,157768.471594,161132.583318,162502.908919,162761.354548,167318.878967,168311.249234,168288.277328,167634.774641,173655.96078,173286.502579
6,Banco BTG Pactual Chile (9),ND,ND,ND,ND,ND,ND,ND,ND,ND,...,0,0,0,0,0,0,0,0,0,0
7,Banco Consorcio (1),76.834077,75.320878,73.238322,70.001207,73.41036,67.619363,66.49284,69.820279,67.030063,...,90519.451257,89009.183331,87382.066591,86692.855632,85783.655038,83685.826502,82141.732479,81696.766548,81356.44245,81174.192019
8,Banco de Chile (2),1705989.025857,1711357.585122,1722973.023453,1737899.219587,1732348.542556,1739521.404146,1743464.103187,1755602.431991,1761858.50944,...,3576962.482502,3538162.981027,3508046.971821,3551258.941442,3526468.215818,3481775.061748,3488843.065381,3501927.946662,3583728.238049,3596553.893971
9,Banco de Crédito e Inversiones,892621.061119,899619.821685,908312.597305,926163.709839,926509.697085,933816.072692,945424.692978,964009.702221,969924.843181,...,2557070.789904,2538889.231227,2524284.666854,2521683.564305,2519814.018087,2482804.620856,2472902.982013,2461791.68606,2455104.0563,2456566.523217
10,Banco de la Nación Argentina (18),82.000356,80.865376,92.062368,89.033489,92.354423,89.974929,90.003899,89.976822,87.308877,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
11,Banco del Estado de Chile,896800.672731,906327.477656,930675.063799,942587.712017,945168.852009,951806.181287,958878.007296,962071.147502,964255.708641,...,1901703.638952,1895143.266742,1890719.831899,1900669.466718,1892386.845444,1856903.314631,1845165.991511,1847167.723636,1865668.793692,1855245.132406
12,Banco do Brasil S.A.,16.322287,15.338482,14.354828,13.362683,12.36773,11.362899,10.355589,9.34533,8.32491,...,0,0,0,0,0,0,0,0,0,0
13,Banco Falabella,400027.812418,403637.856672,398924.863921,399409.798371,396156.899949,392876.067942,392064.341519,395050.923176,397494.952124,...,922027.408636,918956.911088,923539.227159,919545.992647,919097.996479,898089.624338,896071.810651,893800.713518,891520.377839,888590.409711
14,Banco Internacional,285.151338,280.866229,272.110001,284.24146,274.288258,275.882499,282.07828,352.699175,404.719041,...,14493.182116,14627.822953,14790.142615,14990.59424,15008.572064,15342.990173,15313.55866,15325.951461,15423.077689,15530.65042
15,Banco Itaú Corpbanca (10),793744.048333,800342.503337,800563.805854,806958.21547,803047.967465,801009.748782,800389.809165,801972.959894,798746.344053,...,1592376.70496,1589821.10871,1590358.920769,1574406.077129,1567464.626209,1548882.708661,1540539.840407,1535431.236413,1554394.806518,1568150.608032
16,Banco Paris (13),155853.711821,155029.406678,153349.04509,153177.092558,152213.60347,152610.817193,153259.792622,154262.995185,154718.802809,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
17,Banco Penta (14),0,0,0,0,0,0,0,0,0,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
18,Banco Ripley,179907.776948,179687.107903,179411.3518,178963.424012,177390.365476,175964.005742,174884.892964,173216.360002,170644.062328,...,86558.069997,83736.812775,81546.672397,80176.144482,79527.974459,77266.818608,75913.743016,74921.18215,75532.597507,76285.272077
19,Banco Santander - Chile,2081527.56995,2100219.914637,2126409.099667,2158120.393528,2163087.082115,2176162.153876,2189434.245612,2203885.635046,2215381.759485,...,4413872.067247,4327720.041322,4250937.442831,4251717.872769,4239629.655815,4181380.580202,4154785.027292,4157157.707704,4151201.926737,4143185.334501
20,Banco Security,65016.737381,65472.883552,69504.300658,73431.549536,73006.04,74397.669026,75478.092444,75846.769,76609.594028,...,430245.141179,422620.569041,418369.719211,411723.815754,408336.293108,396501.056901,395828.341982,392538.051411,388968.277641,386552.475024
21,Banco Sudamericano (4) (5) (6),21.181839,20.49752,24.402901,31.377794,30.311017,29.007404,33.558936,32.584483,31.50286,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
22,"China Construction Bank, Agencia en Chile (11)",ND,ND,ND,ND,ND,ND,ND,ND,ND,...,0,0,0,0,0,0,0,0,0,0
23,Deutsche Bank (Chile) (12),0,0,0,0,0,0,0,0,0,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
24,DnB NOR Bank ASA (7) (8),ND,ND,ND,ND,ND,ND,ND,ND,ND,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
25,HSBC Bank (Chile),72.217045,69.572901,78.346185,73.98375,73.789335,69.111693,67.226593,72.5521,65.42592,...,133.036109,127.78887,122.69782,117.623881,112.529075,107.429978,102.309942,91.5786,85.345587,96.343105
26,"JP Morgan Chase Bank, N.A.",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,Rabobank Chile (15),0,0,0,0,0,0,0,0,0,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
28,Scotiabank Chile (3) (17),701849.06154,709902.349083,724500.626534,735290.793009,741774.071513,747074.28752,751530.46819,757066.781641,760013.572374,...,1791309.499471,1790466.771594,1771433.128364,1794143.506159,1800256.057731,1781772.174991,1780944.228065,1796575.725946,1831364.879521,1843567.499188
29,The Bank of Tokyo - Mitsubishi Ufj. Ltd. (19),0,0,0,0,0,0,0,0,0,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
30,Bank of China (16),ND,ND,ND,ND,ND,ND,ND,ND,ND,...,0,0,0,0,0,0,0,0,0,0
31,Total,7916375.83177,7975891.218792,8059479.026468,8157740.164936,8155671.817736,8190377.373717,8230370.095041,8288808.896884,8315656.004993,...,17535039.943924,17370415.071998,17224034.39725,17269887.809706,17221205.318294,16972823.456823,16916840.908727,16926061.04475,17068004.78031,17084784.83625
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,ND : No existe dato,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,Conceptualización: Vínculo que remite al docum...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [40]:
colocaciones_03 = colocaciones_03.iloc[5:]

In [41]:
colocaciones_03.tail(7)

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,Unnamed: 161,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166
30,Bank of China (16),ND,ND,ND,ND,ND,ND,ND,ND,ND,...,0,0,0,0,0,0,0,0,0,0
31,Total,7916375.83177,7975891.218792,8059479.026468,8157740.164936,8155671.817736,8190377.373717,8230370.095041,8288808.896884,8315656.004993,...,17535039.943924,17370415.071998,17224034.39725,17269887.809706,17221205.318294,16972823.456823,16916840.908727,16926061.04475,17068004.78031,17084784.83625
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,ND : No existe dato,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,Conceptualización: Vínculo que remite al docum...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
colocaciones_03.drop(colocaciones_03.tail(6).index,inplace=True)

<ipython-input-42-8dbce3f2b9f4>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  colocaciones_03.drop(colocaciones_03.tail(6).index,inplace=True)

In [43]:
colocaciones_03

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,Unnamed: 161,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166
5,Banco Bice,42484.64673,43751.851081,44300.733782,45176.256626,44412.174975,44596.006724,45011.932927,45196.213037,45343.544859,...,157768.471594,161132.583318,162502.908919,162761.354548,167318.878967,168311.249234,168288.277328,167634.774641,173655.96078,173286.502579
6,Banco BTG Pactual Chile (9),ND,ND,ND,ND,ND,ND,ND,ND,ND,...,0,0,0,0,0,0,0,0,0,0
7,Banco Consorcio (1),76.834077,75.320878,73.238322,70.001207,73.41036,67.619363,66.49284,69.820279,67.030063,...,90519.451257,89009.183331,87382.066591,86692.855632,85783.655038,83685.826502,82141.732479,81696.766548,81356.44245,81174.192019
8,Banco de Chile (2),1705989.025857,1711357.585122,1722973.023453,1737899.219587,1732348.542556,1739521.404146,1743464.103187,1755602.431991,1761858.50944,...,3576962.482502,3538162.981027,3508046.971821,3551258.941442,3526468.215818,3481775.061748,3488843.065381,3501927.946662,3583728.238049,3596553.893971
9,Banco de Crédito e Inversiones,892621.061119,899619.821685,908312.597305,926163.709839,926509.697085,933816.072692,945424.692978,964009.702221,969924.843181,...,2557070.789904,2538889.231227,2524284.666854,2521683.564305,2519814.018087,2482804.620856,2472902.982013,2461791.68606,2455104.0563,2456566.523217
10,Banco de la Nación Argentina (18),82.000356,80.865376,92.062368,89.033489,92.354423,89.974929,90.003899,89.976822,87.308877,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
11,Banco del Estado de Chile,896800.672731,906327.477656,930675.063799,942587.712017,945168.852009,951806.181287,958878.007296,962071.147502,964255.708641,...,1901703.638952,1895143.266742,1890719.831899,1900669.466718,1892386.845444,1856903.314631,1845165.991511,1847167.723636,1865668.793692,1855245.132406
12,Banco do Brasil S.A.,16.322287,15.338482,14.354828,13.362683,12.36773,11.362899,10.355589,9.34533,8.32491,...,0,0,0,0,0,0,0,0,0,0
13,Banco Falabella,400027.812418,403637.856672,398924.863921,399409.798371,396156.899949,392876.067942,392064.341519,395050.923176,397494.952124,...,922027.408636,918956.911088,923539.227159,919545.992647,919097.996479,898089.624338,896071.810651,893800.713518,891520.377839,888590.409711
14,Banco Internacional,285.151338,280.866229,272.110001,284.24146,274.288258,275.882499,282.07828,352.699175,404.719041,...,14493.182116,14627.822953,14790.142615,14990.59424,15008.572064,15342.990173,15313.55866,15325.951461,15423.077689,15530.65042
15,Banco Itaú Corpbanca (10),793744.048333,800342.503337,800563.805854,806958.21547,803047.967465,801009.748782,800389.809165,801972.959894,798746.344053,...,1592376.70496,1589821.10871,1590358.920769,1574406.077129,1567464.626209,1548882.708661,1540539.840407,1535431.236413,1554394.806518,1568150.608032
16,Banco Paris (13),155853.711821,155029.406678,153349.04509,153177.092558,152213.60347,152610.817193,153259.792622,154262.995185,154718.802809,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
17,Banco Penta (14),0,0,0,0,0,0,0,0,0,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
18,Banco Ripley,179907.776948,179687.107903,179411.3518,178963.424012,177390.365476,175964.005742,174884.892964,173216.360002,170644.062328,...,86558.069997,83736.812775,81546.672397,80176.144482,79527.974459,77266.818608,75913.743016,74921.18215,75532.597507,76285.272077
19,Banco Santander - Chile,2081527.56995,2100219.914637,2126409.099667,2158120.393528,2163087.082115,2176162.153876,2189434.245612,2203885.635046,2215381.759485,...,4413872.067247,4327720.041322,4250937.442831,4251717.872769,4239629.655815,4181380.580202,4154785.027292,4157157.707704,4151201.926737,4143185.334501
20,Banco Security,65016.737381,65472.883552,69504.300658,73431.549536,73006.04,74397.669026,75478.092444,75846.769,76609.594028,...,430245.141179,422620.569041,418369.719211,411723.815754,408336.293108,396501.056901,395828.341982,392538.051411,388968.277641,386552.475024
21,Banco Sudamericano (4) (5) (6),21.181839,20.49752,24.402901,31.377794,30.311017,29.007404,33.558936,32.584483,31.50286,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
22,"China Construction Bank, Agencia en Chile (11)",ND,ND,ND,ND,ND,ND,ND,ND,ND,...,0,0,0,0,0,0,0,0,0,0
23,Deutsche Bank (Chile) (12),0,0,0,0,0,0,0,0,0,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
24,DnB NOR Bank ASA (7) (8),ND,ND,ND,ND,ND,ND,ND,ND,ND,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
25,HSBC Bank (Chile),72.217045,69.572901,78.346185,73.98375,73.789335,69.111693,67.226593,72.5521,65.42592,...,133.036109,127.78887,122.69782,117.623881,112.529075,107.429978,102.309942,91.5786,85.345587,96.343105
26,"JP Morgan Chase Bank, N.A.",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,Rabobank Chile (15),0,0,0,0,0,0,0,0,0,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
28,Scotiabank Chile (3) (17),701849.06154,709902.349083,724500.626534,735290.793009,741774.071513,747074.28752,751530.46819,757066.781641,760013.572374,...,1791309.499471,1790466.771594,1771433.128364,1794143.506159,1800256.057731,1781772.174991,1780944.228065,1796575.725946,1831364.879521,1843567.499188
29,The Bank of Tokyo - Mitsubishi Ufj. Ltd. (19),0,0,0,0,0,0,0,0,0,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
30,Bank of China (16),ND,ND,ND,ND,ND,ND,ND,ND,ND,...,0,0,0,0,0,0,0,0,0,0

In [44]:
colocaciones_03.head(3)

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,Unnamed: 161,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166
5,Banco Bice,42484.64673,43751.851081,44300.733782,45176.256626,44412.174975,44596.006724,45011.932927,45196.213037,45343.544859,...,157768.471594,161132.583318,162502.908919,162761.354548,167318.878967,168311.249234,168288.277328,167634.774641,173655.96078,173286.502579
6,Banco BTG Pactual Chile (9),ND,ND,ND,ND,ND,ND,ND,ND,ND,...,0,0,0,0,0,0,0,0,0,0
7,Banco Consorcio (1),76.834077,75.320878,73.238322,70.001207,73.41036,67.619363,66.49284,69.820279,67.030063,...,90519.451257,89009.183331,87382.066591,86692.855632,85783.655038,83685.826502,82141.732479,81696.766548,81356.44245,81174.192019

In [45]:
colocaciones_03 = colocaciones_03.melt(id_vars=['Unnamed: 1'], value_vars=['Unnamed: 2','Unnamed: 3','Unnamed: 4','Unnamed: 5','Unnamed: 6','Unnamed: 7','Unnamed: 8','Unnamed: 9','Unnamed: 10','Unnamed: 11',
                                                   'Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19','Unnamed: 20','Unnamed: 21',
                                                   'Unnamed: 22','Unnamed: 23','Unnamed: 24','Unnamed: 25','Unnamed: 26','Unnamed: 27','Unnamed: 28','Unnamed: 29','Unnamed: 30','Unnamed: 31',
                                                   'Unnamed: 32','Unnamed: 33','Unnamed: 34','Unnamed: 35','Unnamed: 36','Unnamed: 37','Unnamed: 38','Unnamed: 39','Unnamed: 40','Unnamed: 41',
                                                   'Unnamed: 42','Unnamed: 43','Unnamed: 44','Unnamed: 45','Unnamed: 46','Unnamed: 47','Unnamed: 48','Unnamed: 49','Unnamed: 50','Unnamed: 51',
                                                   'Unnamed: 52','Unnamed: 53','Unnamed: 54','Unnamed: 55','Unnamed: 56','Unnamed: 57','Unnamed: 58','Unnamed: 59','Unnamed: 60','Unnamed: 61',
                                                   'Unnamed: 62','Unnamed: 63','Unnamed: 64','Unnamed: 65','Unnamed: 66','Unnamed: 67','Unnamed: 68','Unnamed: 69','Unnamed: 70','Unnamed: 71',
                                                   'Unnamed: 72','Unnamed: 73','Unnamed: 74','Unnamed: 75','Unnamed: 76','Unnamed: 77','Unnamed: 78','Unnamed: 79','Unnamed: 80','Unnamed: 81',
                                                   'Unnamed: 82','Unnamed: 83','Unnamed: 84','Unnamed: 85','Unnamed: 86','Unnamed: 87','Unnamed: 88','Unnamed: 89','Unnamed: 90','Unnamed: 91',
                                                   'Unnamed: 92','Unnamed: 93','Unnamed: 94','Unnamed: 95','Unnamed: 96','Unnamed: 97','Unnamed: 98','Unnamed: 99','Unnamed: 100','Unnamed: 101',
                                                   'Unnamed: 102','Unnamed: 103','Unnamed: 104','Unnamed: 105','Unnamed: 106','Unnamed: 107','Unnamed: 108','Unnamed: 109','Unnamed: 110','Unnamed: 111',
                                                   'Unnamed: 112','Unnamed: 113','Unnamed: 114','Unnamed: 115','Unnamed: 116','Unnamed: 117','Unnamed: 118','Unnamed: 119','Unnamed: 120','Unnamed: 121',
                                                   'Unnamed: 122','Unnamed: 123','Unnamed: 124','Unnamed: 125','Unnamed: 126','Unnamed: 127','Unnamed: 128','Unnamed: 129','Unnamed: 130','Unnamed: 131',
                                                   'Unnamed: 132','Unnamed: 133','Unnamed: 134','Unnamed: 135','Unnamed: 136','Unnamed: 137','Unnamed: 138','Unnamed: 139','Unnamed: 140','Unnamed: 141',
                                                   'Unnamed: 142','Unnamed: 143','Unnamed: 144','Unnamed: 145','Unnamed: 146','Unnamed: 147','Unnamed: 148','Unnamed: 149','Unnamed: 150','Unnamed: 151',
                                                   'Unnamed: 152','Unnamed: 153','Unnamed: 154','Unnamed: 155','Unnamed: 156','Unnamed: 157','Unnamed: 158','Unnamed: 159','Unnamed: 160','Unnamed: 161',
                                                   'Unnamed: 162','Unnamed: 163','Unnamed: 164','Unnamed: 165','Unnamed: 166'],
               var_name='myVarname',
               value_name='Valor',
               ignore_index=False
               )

In [46]:
colocaciones_03

,Unnamed: 1,myVarname,Valor
5,Banco Bice,Unnamed: 2,42484.64673
6,Banco BTG Pactual Chile (9),Unnamed: 2,ND
7,Banco Consorcio (1),Unnamed: 2,76.834077
8,Banco de Chile (2),Unnamed: 2,1705989.025857
9,Banco de Crédito e Inversiones,Unnamed: 2,892621.061119
...,...,...,...
26,"JP Morgan Chase Bank, N.A.",Unnamed: 166,0
27,Rabobank Chile (15),Unnamed: 166,ND
28,Scotiabank Chile (3) (17),Unnamed: 166,1843567.499188
29,The Bank of Tokyo - Mitsubishi Ufj. Ltd. (19),Unnamed: 166,ND
30,Bank of China (16),Unnamed: 166,0

In [47]:
# create a list of our conditions
# create a list of our conditions
conditions_3 = [(colocaciones_03['myVarname'] == 'Unnamed: 2'),(colocaciones_03['myVarname'] == 'Unnamed: 3'),(colocaciones_03['myVarname'] == 'Unnamed: 4'),(colocaciones_03['myVarname'] == 'Unnamed: 5'),(colocaciones_03['myVarname'] == 'Unnamed: 6'),
 (colocaciones_03['myVarname'] == 'Unnamed: 7'),(colocaciones_03['myVarname'] == 'Unnamed: 8'),(colocaciones_03['myVarname'] == 'Unnamed: 9'),(colocaciones_03['myVarname'] == 'Unnamed: 10'),(colocaciones_03['myVarname'] == 'Unnamed: 11'),
  (colocaciones_03['myVarname'] == 'Unnamed: 12'),(colocaciones_03['myVarname'] == 'Unnamed: 13'),(colocaciones_03['myVarname'] == 'Unnamed: 14'),(colocaciones_03['myVarname'] == 'Unnamed: 15'),(colocaciones_03['myVarname'] == 'Unnamed: 16'),
   (colocaciones_03['myVarname'] == 'Unnamed: 17'),(colocaciones_03['myVarname'] == 'Unnamed: 18'),(colocaciones_03['myVarname'] == 'Unnamed: 19'),(colocaciones_03['myVarname'] == 'Unnamed: 20'),(colocaciones_03['myVarname'] == 'Unnamed: 21'),
    (colocaciones_03['myVarname'] == 'Unnamed: 22'),(colocaciones_03['myVarname'] == 'Unnamed: 23'),(colocaciones_03['myVarname'] == 'Unnamed: 24'),(colocaciones_03['myVarname'] == 'Unnamed: 25'),(colocaciones_03['myVarname'] == 'Unnamed: 26'),
     (colocaciones_03['myVarname'] == 'Unnamed: 27'),(colocaciones_03['myVarname'] == 'Unnamed: 28'),(colocaciones_03['myVarname'] == 'Unnamed: 29'),(colocaciones_03['myVarname'] == 'Unnamed: 30'),(colocaciones_03['myVarname'] == 'Unnamed: 31'),
      (colocaciones_03['myVarname'] == 'Unnamed: 32'),(colocaciones_03['myVarname'] == 'Unnamed: 33'),(colocaciones_03['myVarname'] == 'Unnamed: 34'),(colocaciones_03['myVarname'] == 'Unnamed: 35'),(colocaciones_03['myVarname'] == 'Unnamed: 36'),
       (colocaciones_03['myVarname'] == 'Unnamed: 37'),(colocaciones_03['myVarname'] == 'Unnamed: 38'),(colocaciones_03['myVarname'] == 'Unnamed: 39'),(colocaciones_03['myVarname'] == 'Unnamed: 40'),(colocaciones_03['myVarname'] == 'Unnamed: 41'),
        (colocaciones_03['myVarname'] == 'Unnamed: 42'),(colocaciones_03['myVarname'] == 'Unnamed: 43'),(colocaciones_03['myVarname'] == 'Unnamed: 44'),(colocaciones_03['myVarname'] == 'Unnamed: 45'),(colocaciones_03['myVarname'] == 'Unnamed: 46'),
         (colocaciones_03['myVarname'] == 'Unnamed: 47'),(colocaciones_03['myVarname'] == 'Unnamed: 48'),(colocaciones_03['myVarname'] == 'Unnamed: 49'),(colocaciones_03['myVarname'] == 'Unnamed: 50'),(colocaciones_03['myVarname'] == 'Unnamed: 51'),
          (colocaciones_03['myVarname'] == 'Unnamed: 52'),(colocaciones_03['myVarname'] == 'Unnamed: 53'),(colocaciones_03['myVarname'] == 'Unnamed: 54'),(colocaciones_03['myVarname'] == 'Unnamed: 55'),(colocaciones_03['myVarname'] == 'Unnamed: 56'),
           (colocaciones_03['myVarname'] == 'Unnamed: 57'),(colocaciones_03['myVarname'] == 'Unnamed: 58'),(colocaciones_03['myVarname'] == 'Unnamed: 59'),(colocaciones_03['myVarname'] == 'Unnamed: 60'),(colocaciones_03['myVarname'] == 'Unnamed: 61'),
            (colocaciones_03['myVarname'] == 'Unnamed: 62'),(colocaciones_03['myVarname'] == 'Unnamed: 63'),(colocaciones_03['myVarname'] == 'Unnamed: 64'),(colocaciones_03['myVarname'] == 'Unnamed: 65'),(colocaciones_03['myVarname'] == 'Unnamed: 66'),
             (colocaciones_03['myVarname'] == 'Unnamed: 67'),(colocaciones_03['myVarname'] == 'Unnamed: 68'),(colocaciones_03['myVarname'] == 'Unnamed: 69'),(colocaciones_03['myVarname'] == 'Unnamed: 70'),(colocaciones_03['myVarname'] == 'Unnamed: 71'),
              (colocaciones_03['myVarname'] == 'Unnamed: 72'),(colocaciones_03['myVarname'] == 'Unnamed: 73'),(colocaciones_03['myVarname'] == 'Unnamed: 74'),(colocaciones_03['myVarname'] == 'Unnamed: 75'),(colocaciones_03['myVarname'] == 'Unnamed: 76'),
               (colocaciones_03['myVarname'] == 'Unnamed: 77'),(colocaciones_03['myVarname'] == 'Unnamed: 78'),(colocaciones_03['myVarname'] == 'Unnamed: 79'),(colocaciones_03['myVarname'] == 'Unnamed: 80'),(colocaciones_03['myVarname'] == 'Unnamed: 81'),
                (colocaciones_03['myVarname'] == 'Unnamed: 82'),(colocaciones_03['myVarname'] == 'Unnamed: 83'),(colocaciones_03['myVarname'] == 'Unnamed: 84'),(colocaciones_03['myVarname'] == 'Unnamed: 85'),(colocaciones_03['myVarname'] == 'Unnamed: 86'),
                 (colocaciones_03['myVarname'] == 'Unnamed: 87'),(colocaciones_03['myVarname'] == 'Unnamed: 88'),(colocaciones_03['myVarname'] == 'Unnamed: 89'),(colocaciones_03['myVarname'] == 'Unnamed: 90'),(colocaciones_03['myVarname'] == 'Unnamed: 91'),
                  (colocaciones_03['myVarname'] == 'Unnamed: 92'),(colocaciones_03['myVarname'] == 'Unnamed: 93'),(colocaciones_03['myVarname'] == 'Unnamed: 94'),(colocaciones_03['myVarname'] == 'Unnamed: 95'),(colocaciones_03['myVarname'] == 'Unnamed: 96'),
                   (colocaciones_03['myVarname'] == 'Unnamed: 97'),(colocaciones_03['myVarname'] == 'Unnamed: 98'),(colocaciones_03['myVarname'] == 'Unnamed: 99'),(colocaciones_03['myVarname'] == 'Unnamed: 100'),(colocaciones_03['myVarname'] == 'Unnamed: 101'),
                    (colocaciones_03['myVarname'] == 'Unnamed: 102'),(colocaciones_03['myVarname'] == 'Unnamed: 103'),(colocaciones_03['myVarname'] == 'Unnamed: 104'),(colocaciones_03['myVarname'] == 'Unnamed: 105'),(colocaciones_03['myVarname'] == 'Unnamed: 106'),
                     (colocaciones_03['myVarname'] == 'Unnamed: 107'),(colocaciones_03['myVarname'] == 'Unnamed: 108'),(colocaciones_03['myVarname'] == 'Unnamed: 109'),(colocaciones_03['myVarname'] == 'Unnamed: 110'),(colocaciones_03['myVarname'] == 'Unnamed: 111'),
                      (colocaciones_03['myVarname'] == 'Unnamed: 112'),(colocaciones_03['myVarname'] == 'Unnamed: 113'),(colocaciones_03['myVarname'] == 'Unnamed: 114'),(colocaciones_03['myVarname'] == 'Unnamed: 115'),(colocaciones_03['myVarname'] == 'Unnamed: 116'),
                       (colocaciones_03['myVarname'] == 'Unnamed: 117'),(colocaciones_03['myVarname'] == 'Unnamed: 118'),(colocaciones_03['myVarname'] == 'Unnamed: 119'),(colocaciones_03['myVarname'] == 'Unnamed: 120'),(colocaciones_03['myVarname'] == 'Unnamed: 121'),
                        (colocaciones_03['myVarname'] == 'Unnamed: 122'),(colocaciones_03['myVarname'] == 'Unnamed: 123'),(colocaciones_03['myVarname'] == 'Unnamed: 124'),(colocaciones_03['myVarname'] == 'Unnamed: 125'),(colocaciones_03['myVarname'] == 'Unnamed: 126'),
                         (colocaciones_03['myVarname'] == 'Unnamed: 127'),(colocaciones_03['myVarname'] == 'Unnamed: 128'),(colocaciones_03['myVarname'] == 'Unnamed: 129'),(colocaciones_03['myVarname'] == 'Unnamed: 130'),(colocaciones_03['myVarname'] == 'Unnamed: 131'),
                          (colocaciones_03['myVarname'] == 'Unnamed: 132'),(colocaciones_03['myVarname'] == 'Unnamed: 133'),(colocaciones_03['myVarname'] == 'Unnamed: 134'),(colocaciones_03['myVarname'] == 'Unnamed: 135'),(colocaciones_03['myVarname'] == 'Unnamed: 136'),
                           (colocaciones_03['myVarname'] == 'Unnamed: 137'),(colocaciones_03['myVarname'] == 'Unnamed: 138'),(colocaciones_03['myVarname'] == 'Unnamed: 139'),(colocaciones_03['myVarname'] == 'Unnamed: 140'),(colocaciones_03['myVarname'] == 'Unnamed: 141'),
                            (colocaciones_03['myVarname'] == 'Unnamed: 142'),(colocaciones_03['myVarname'] == 'Unnamed: 143'),(colocaciones_03['myVarname'] == 'Unnamed: 144'),(colocaciones_03['myVarname'] == 'Unnamed: 145'),(colocaciones_03['myVarname'] == 'Unnamed: 146'),
                             (colocaciones_03['myVarname'] == 'Unnamed: 147'),(colocaciones_03['myVarname'] == 'Unnamed: 148'),(colocaciones_03['myVarname'] == 'Unnamed: 149'),(colocaciones_03['myVarname'] == 'Unnamed: 150'),(colocaciones_03['myVarname'] == 'Unnamed: 151'),
                              (colocaciones_03['myVarname'] == 'Unnamed: 152'),(colocaciones_03['myVarname'] == 'Unnamed: 153'),(colocaciones_03['myVarname'] == 'Unnamed: 154'),(colocaciones_03['myVarname'] == 'Unnamed: 155'),(colocaciones_03['myVarname'] == 'Unnamed: 156'),
                               (colocaciones_03['myVarname'] == 'Unnamed: 157'),(colocaciones_03['myVarname'] == 'Unnamed: 158'),(colocaciones_03['myVarname'] == 'Unnamed: 159'),(colocaciones_03['myVarname'] == 'Unnamed: 160'),(colocaciones_03['myVarname'] == 'Unnamed: 161'),
                                (colocaciones_03['myVarname'] == 'Unnamed: 162'),(colocaciones_03['myVarname'] == 'Unnamed: 163'),(colocaciones_03['myVarname'] == 'Unnamed: 164'),(colocaciones_03['myVarname'] == 'Unnamed: 165'),(colocaciones_03['myVarname'] == 'Unnamed: 166')
                                ]

In [48]:
colocaciones_03['Fecha'] = np.select(conditions_3, values)

In [49]:
colocaciones_03

,Unnamed: 1,myVarname,Valor,Fecha
5,Banco Bice,Unnamed: 2,42484.64673,2008-01-31
6,Banco BTG Pactual Chile (9),Unnamed: 2,ND,2008-01-31
7,Banco Consorcio (1),Unnamed: 2,76.834077,2008-01-31
8,Banco de Chile (2),Unnamed: 2,1705989.025857,2008-01-31
9,Banco de Crédito e Inversiones,Unnamed: 2,892621.061119,2008-01-31
...,...,...,...,...
26,"JP Morgan Chase Bank, N.A.",Unnamed: 166,0,2021-09-30
27,Rabobank Chile (15),Unnamed: 166,ND,2021-09-30
28,Scotiabank Chile (3) (17),Unnamed: 166,1843567.499188,2021-09-30
29,The Bank of Tokyo - Mitsubishi Ufj. Ltd. (19),Unnamed: 166,ND,2021-09-30
30,Bank of China (16),Unnamed: 166,0,2021-09-30

In [50]:
colocaciones_03.pop("myVarname")

5       Unnamed: 2
6       Unnamed: 2
7       Unnamed: 2
8       Unnamed: 2
9       Unnamed: 2
          ...
26    Unnamed: 166
27    Unnamed: 166
28    Unnamed: 166
29    Unnamed: 166
30    Unnamed: 166
Name: myVarname, Length: 4290, dtype: object

In [51]:
colocaciones_03.rename(columns={"Unnamed: 1": "Institucion"}, inplace=True)

In [52]:
colocaciones_03

                                      Institucion           Valor       Fecha
5                                      Banco Bice     42484.64673  2008-01-31
6                     Banco BTG Pactual Chile (9)              ND  2008-01-31
7                             Banco Consorcio (1)       76.834077  2008-01-31
8                              Banco de Chile (2)  1705989.025857  2008-01-31
9                  Banco de Crédito e Inversiones   892621.061119  2008-01-31
..                                            ...             ...         ...
26                     JP Morgan Chase Bank, N.A.               0  2021-09-30
27                            Rabobank Chile (15)              ND  2021-09-30
28                      Scotiabank Chile (3) (17)  1843567.499188  2021-09-30
29  The Bank of Tokyo - Mitsubishi Ufj. Ltd. (19)              ND  2021-09-30
30                             Bank of China (16)               0  2021-09-30

[4290 rows x 3 columns]

In [53]:
colocaciones_03['Tipo'] = "Colocación"
colocaciones_03['Subtipo'] = "Colocaciones de consumo"
colocaciones_03['Tipo de Moneda'] = "Saldos en millones de pesos"

In [54]:
new_cols = ["Fecha","Institucion","Tipo","Subtipo","Valor","Tipo de Moneda"]
colocaciones_03 = colocaciones_03.reindex(columns=new_cols)

In [55]:
colocaciones_03

,Fecha,Institucion,Tipo,Subtipo,Valor,Tipo de Moneda
5,2008-01-31,Banco Bice,Colocación,Colocaciones de consumo,42484.64673,Saldos en millones de pesos
6,2008-01-31,Banco BTG Pactual Chile (9),Colocación,Colocaciones de consumo,ND,Saldos en millones de pesos
7,2008-01-31,Banco Consorcio (1),Colocación,Colocaciones de consumo,76.834077,Saldos en millones de pesos
8,2008-01-31,Banco de Chile (2),Colocación,Colocaciones de consumo,1705989.025857,Saldos en millones de pesos
9,2008-01-31,Banco de Crédito e Inversiones,Colocación,Colocaciones de consumo,892621.061119,Saldos en millones de pesos
...,...,...,...,...,...,...
26,2021-09-30,"JP Morgan Chase Bank, N.A.",Colocación,Colocaciones de consumo,0,Saldos en millones de pesos
27,2021-09-30,Rabobank Chile (15),Colocación,Colocaciones de consumo,ND,Saldos en millones de pesos
28,2021-09-30,Scotiabank Chile (3) (17),Colocación,Colocaciones de consumo,1843567.499188,Saldos en millones de pesos
29,2021-09-30,The Bank of Tokyo - Mitsubishi Ufj. Ltd. (19),Colocación,Colocaciones de consumo,ND,Saldos en millones de pesos
30,2021-09-30,Bank of China (16),Colocación,Colocaciones de consumo,0,Saldos en millones de pesos

## Colocación 04

In [56]:
colocaciones_04.head(5)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,Unnamed: 161,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166
0,Índice general,Cuadro 1.04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Notas generales,Colocaciones de vivienda,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Conceptualización,Saldos en millones de pesos,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,2008-01-31 00:00:00,2008-02-29 00:00:00,2008-03-31 00:00:00,2008-04-30 00:00:00,2008-05-31 00:00:00,2008-06-30 00:00:00,2008-07-31 00:00:00,2008-08-31 00:00:00,...,2020-12-31 00:00:00,2021-01-31 00:00:00,2021-02-28 00:00:00,2021-03-31 00:00:00,2021-04-30 00:00:00,2021-05-31 00:00:00,2021-06-30 00:00:00,2021-07-31 00:00:00,2021-08-31 00:00:00,2021-09-30 00:00:00

In [57]:
colocaciones_04.pop("Unnamed: 0")

0        Índice general
1       Notas generales
2     Conceptualización
3                   NaN
4                   NaN
5                   NaN
6                   NaN
7                   NaN
8                   NaN
9                   NaN
10                  NaN
11                  NaN
12                  NaN
13                  NaN
14                  NaN
15                  NaN
16                  NaN
17                  NaN
18                  NaN
19                  NaN
20                  NaN
21                  NaN
22                  NaN
23                  NaN
24                  NaN
25                  NaN
26                  NaN
27                  NaN
28                  NaN
29                  NaN
30                  NaN
31                  NaN
32                  NaN
33                  NaN
34                  NaN
35                  NaN
36                  NaN
Name: Unnamed: 0, dtype: object

In [58]:
colocaciones_04

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,Unnamed: 161,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166
0,Cuadro 1.04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Colocaciones de vivienda,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Saldos en millones de pesos,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,2008-01-31 00:00:00,2008-02-29 00:00:00,2008-03-31 00:00:00,2008-04-30 00:00:00,2008-05-31 00:00:00,2008-06-30 00:00:00,2008-07-31 00:00:00,2008-08-31 00:00:00,2008-09-30 00:00:00,...,2020-12-31 00:00:00,2021-01-31 00:00:00,2021-02-28 00:00:00,2021-03-31 00:00:00,2021-04-30 00:00:00,2021-05-31 00:00:00,2021-06-30 00:00:00,2021-07-31 00:00:00,2021-08-31 00:00:00,2021-09-30 00:00:00
5,Banco Bice,163101.050283,164535.488761,165000.725227,166475.180645,169320.159352,173449.303787,178301.667066,180428.687287,182160.949913,...,1278590.301844,1293728.818588,1311926.502364,1336511.599557,1346021.604838,1363025.078222,1381988.743524,1385711.307925,1391241.342173,1400523.495699
6,Banco BTG Pactual Chile (9),ND,ND,ND,ND,ND,ND,ND,ND,ND,...,0,0,0,0,0,0,0,0,0,0
7,Banco Consorcio (1),0,0,0,0,0,0,0,0,0,...,709300.349469,741924.143235,768709.917134,802175.965341,821096.636079,840066.911268,865616.717181,898112.922122,939811.60992,970860.908577
8,Banco de Chile (2),2012306.905594,2022541.571966,2038198.079201,2062691.362117,2092663.181502,2137241.493001,2169864.055822,2204498.864049,2235337.495688,...,9388653.938491,9451600.914535,9545185.402178,9630154.697693,9697298.49299,9786260.692372,9871740.527157,9947004.654287,10036612.735647,10097517.436464
9,Banco de Crédito e Inversiones,1359557.577848,1379846.740981,1406640.671033,1440604.979037,1465751.368337,1499984.580433,1542770.991155,1580380.49281,1608022.866818,...,7416285.555214,7502174.171568,7603741.181632,7724073.791486,7816610.000685,7901142.408784,7962439.48811,8024103.443626,8143823.900739,8236593.126107
10,Banco de la Nación Argentina (18),0,0,0,0,0,0,0,0,0,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
11,Banco del Estado de Chile,3448346.463604,3483079.345615,3527071.459997,3614296.510304,3671717.320014,3738615.587152,3814015.89741,3882010.63011,3937002.994496,...,10536405.828596,10621992.402257,10731328.149506,10841199.253248,10920011.990137,11002416.47561,11085128.321544,11104382.05073,11176782.1047,11255296.324382
12,Banco do Brasil S.A.,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,Banco Falabella,130133.733922,132464.528391,134719.377057,137063.439352,140570.97067,144943.499814,150488.304897,156398.329249,161902.229602,...,532180.28743,534084.336683,538171.450894,542403.329123,546772.268492,550979.507981,555300.534245,556631.818194,560492.537243,563840.912986
14,Banco Internacional,448.317093,439.539923,436.775536,473.533169,471.19413,561.712373,597.113862,601.807702,602.6311,...,42459.474816,43684.535609,45107.541947,46722.432376,47999.730986,50703.966408,52272.487647,53294.715683,54266.037256,54540.393203
15,Banco Itaú Corpbanca (10),872620.74493,885424.720236,907877.246453,931534.350075,899030.932593,927124.151609,956676.32281,982586.810972,1003794.837795,...,4634451.933342,4677004.228066,4729862.951421,4793859.373788,4851826.130273,4912620.059298,4987321.203852,5043765.91235,5135758.573541,5213702.670764
16,Banco Paris (13),7169.483641,7501.200612,8097.655542,8893.835399,9360.293718,10159.026305,10944.094667,11759.700239,12321.367258,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
17,Banco Penta (14),0,0,0,0,0,0,0,0,0,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
18,Banco Ripley,43709.886011,44934.961341,46159.576342,47154.660735,48088.143476,49052.148758,50410.436397,52097.142407,53490.885463,...,22797.264898,22411.976209,22150.215748,21960.121773,21620.318718,21222.543762,20978.051435,20572.026076,20161.386074,19936.291764
19,Banco Santander - Chile,3379597.205006,3409730.768857,3454382.639906,3511300.244936,3563663.320717,3637107.533518,3714441.85045,3785241.319086,3853088.333736,...,12411824.69928,12472592.764566,12578576.118544,12676074.502554,12776138.718766,12882960.738323,12971106.483729,13060123.845893,13210556.274228,13354320.949853
20,Banco Security,167542.647318,171255.93385,175860.623771,178576.002983,184223.283671,193680.107714,199914.932123,204419.997948,210968.889095,...,712075.010759,718281.1351,725592.528451,732215.588509,741193.2964,748672.354121,754816.00763,749775.364804,749213.560478,786018.687556
21,Banco Sudamericano (4) (5) (6),897.59756,894.069661,803.414494,804.235828,803.69271,806.762204,813.454815,817.891671,817.085812,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
22,"China Construction Bank, Agencia en Chile (11)",ND,ND,ND,ND,ND,ND,ND,ND,ND,...,0,0,0,0,0,0,0,0,0,0
23,Deutsche Bank (Chile) (12),0,0,0,0,0,0,0,0,0,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
24,DnB NOR Bank ASA (7) (8),ND,ND,ND,ND,ND,ND,ND,ND,ND,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
25,HSBC Bank (Chile),0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,"JP Morgan Chase Bank, N.A.",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,Rabobank Chile (15),0,0,0,0,0,0,0,0,0,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
28,Scotiabank Chile (3) (17),2126100.978539,2151936.265839,2189436.254367,2233737.820144,2283758.335182,2334345.11125,2389364.69828,2440839.328476,2482284.981847,...,10020935.841166,10099553.217446,10204954.921927,10309800.861325,10403651.351472,10478825.108253,10554891.241446,10654247.258562,10774407.848205,10917979.217145
29,The Bank of Tokyo - Mitsubishi Ufj. Ltd. (19),0,0,0,0,0,0,0,0,0,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
30,Bank of China (16),ND,ND,ND,ND,ND,ND,ND,ND,ND,...,0,0,0,0,0,0,0,0,0,0
31,Total,13711532.591349,13854585.136033,14054684.498926,14333606.154724,14529422.196072,14847071.017918,15178603.819754,15482081.002006,15741795.548623,...,57705960.485305,58179032.643862,58805306.881746,59457151.516773,59990240.539836,60538895.844402,61063599.8075,61497725.320252,62193127.910204,62871130.4145
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,ND : No existe dato,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,Conceptualización: Vínculo que remite al docum...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [59]:
colocaciones_04 = colocaciones_04.iloc[5:]

In [60]:
colocaciones_04.tail(7)

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,Unnamed: 161,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166
30,Bank of China (16),ND,ND,ND,ND,ND,ND,ND,ND,ND,...,0,0,0,0,0,0,0,0,0,0
31,Total,13711532.591349,13854585.136033,14054684.498926,14333606.154724,14529422.196072,14847071.017918,15178603.819754,15482081.002006,15741795.548623,...,57705960.485305,58179032.643862,58805306.881746,59457151.516773,59990240.539836,60538895.844402,61063599.8075,61497725.320252,62193127.910204,62871130.4145
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,ND : No existe dato,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,Conceptualización: Vínculo que remite al docum...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [61]:
colocaciones_04.drop(colocaciones_04.tail(6).index,inplace=True)

<ipython-input-61-6172504ec9aa>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  colocaciones_04.drop(colocaciones_04.tail(6).index,inplace=True)

In [62]:
colocaciones_04

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,Unnamed: 161,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166
5,Banco Bice,163101.050283,164535.488761,165000.725227,166475.180645,169320.159352,173449.303787,178301.667066,180428.687287,182160.949913,...,1278590.301844,1293728.818588,1311926.502364,1336511.599557,1346021.604838,1363025.078222,1381988.743524,1385711.307925,1391241.342173,1400523.495699
6,Banco BTG Pactual Chile (9),ND,ND,ND,ND,ND,ND,ND,ND,ND,...,0,0,0,0,0,0,0,0,0,0
7,Banco Consorcio (1),0,0,0,0,0,0,0,0,0,...,709300.349469,741924.143235,768709.917134,802175.965341,821096.636079,840066.911268,865616.717181,898112.922122,939811.60992,970860.908577
8,Banco de Chile (2),2012306.905594,2022541.571966,2038198.079201,2062691.362117,2092663.181502,2137241.493001,2169864.055822,2204498.864049,2235337.495688,...,9388653.938491,9451600.914535,9545185.402178,9630154.697693,9697298.49299,9786260.692372,9871740.527157,9947004.654287,10036612.735647,10097517.436464
9,Banco de Crédito e Inversiones,1359557.577848,1379846.740981,1406640.671033,1440604.979037,1465751.368337,1499984.580433,1542770.991155,1580380.49281,1608022.866818,...,7416285.555214,7502174.171568,7603741.181632,7724073.791486,7816610.000685,7901142.408784,7962439.48811,8024103.443626,8143823.900739,8236593.126107
10,Banco de la Nación Argentina (18),0,0,0,0,0,0,0,0,0,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
11,Banco del Estado de Chile,3448346.463604,3483079.345615,3527071.459997,3614296.510304,3671717.320014,3738615.587152,3814015.89741,3882010.63011,3937002.994496,...,10536405.828596,10621992.402257,10731328.149506,10841199.253248,10920011.990137,11002416.47561,11085128.321544,11104382.05073,11176782.1047,11255296.324382
12,Banco do Brasil S.A.,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,Banco Falabella,130133.733922,132464.528391,134719.377057,137063.439352,140570.97067,144943.499814,150488.304897,156398.329249,161902.229602,...,532180.28743,534084.336683,538171.450894,542403.329123,546772.268492,550979.507981,555300.534245,556631.818194,560492.537243,563840.912986
14,Banco Internacional,448.317093,439.539923,436.775536,473.533169,471.19413,561.712373,597.113862,601.807702,602.6311,...,42459.474816,43684.535609,45107.541947,46722.432376,47999.730986,50703.966408,52272.487647,53294.715683,54266.037256,54540.393203
15,Banco Itaú Corpbanca (10),872620.74493,885424.720236,907877.246453,931534.350075,899030.932593,927124.151609,956676.32281,982586.810972,1003794.837795,...,4634451.933342,4677004.228066,4729862.951421,4793859.373788,4851826.130273,4912620.059298,4987321.203852,5043765.91235,5135758.573541,5213702.670764
16,Banco Paris (13),7169.483641,7501.200612,8097.655542,8893.835399,9360.293718,10159.026305,10944.094667,11759.700239,12321.367258,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
17,Banco Penta (14),0,0,0,0,0,0,0,0,0,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
18,Banco Ripley,43709.886011,44934.961341,46159.576342,47154.660735,48088.143476,49052.148758,50410.436397,52097.142407,53490.885463,...,22797.264898,22411.976209,22150.215748,21960.121773,21620.318718,21222.543762,20978.051435,20572.026076,20161.386074,19936.291764
19,Banco Santander - Chile,3379597.205006,3409730.768857,3454382.639906,3511300.244936,3563663.320717,3637107.533518,3714441.85045,3785241.319086,3853088.333736,...,12411824.69928,12472592.764566,12578576.118544,12676074.502554,12776138.718766,12882960.738323,12971106.483729,13060123.845893,13210556.274228,13354320.949853
20,Banco Security,167542.647318,171255.93385,175860.623771,178576.002983,184223.283671,193680.107714,199914.932123,204419.997948,210968.889095,...,712075.010759,718281.1351,725592.528451,732215.588509,741193.2964,748672.354121,754816.00763,749775.364804,749213.560478,786018.687556
21,Banco Sudamericano (4) (5) (6),897.59756,894.069661,803.414494,804.235828,803.69271,806.762204,813.454815,817.891671,817.085812,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
22,"China Construction Bank, Agencia en Chile (11)",ND,ND,ND,ND,ND,ND,ND,ND,ND,...,0,0,0,0,0,0,0,0,0,0
23,Deutsche Bank (Chile) (12),0,0,0,0,0,0,0,0,0,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
24,DnB NOR Bank ASA (7) (8),ND,ND,ND,ND,ND,ND,ND,ND,ND,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
25,HSBC Bank (Chile),0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,"JP Morgan Chase Bank, N.A.",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,Rabobank Chile (15),0,0,0,0,0,0,0,0,0,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
28,Scotiabank Chile (3) (17),2126100.978539,2151936.265839,2189436.254367,2233737.820144,2283758.335182,2334345.11125,2389364.69828,2440839.328476,2482284.981847,...,10020935.841166,10099553.217446,10204954.921927,10309800.861325,10403651.351472,10478825.108253,10554891.241446,10654247.258562,10774407.848205,10917979.217145
29,The Bank of Tokyo - Mitsubishi Ufj. Ltd. (19),0,0,0,0,0,0,0,0,0,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
30,Bank of China (16),ND,ND,ND,ND,ND,ND,ND,ND,ND,...,0,0,0,0,0,0,0,0,0,0

In [63]:
colocaciones_04.head(3)

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,Unnamed: 161,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166
5,Banco Bice,163101.050283,164535.488761,165000.725227,166475.180645,169320.159352,173449.303787,178301.667066,180428.687287,182160.949913,...,1278590.301844,1293728.818588,1311926.502364,1336511.599557,1346021.604838,1363025.078222,1381988.743524,1385711.307925,1391241.342173,1400523.495699
6,Banco BTG Pactual Chile (9),ND,ND,ND,ND,ND,ND,ND,ND,ND,...,0,0,0,0,0,0,0,0,0,0
7,Banco Consorcio (1),0,0,0,0,0,0,0,0,0,...,709300.349469,741924.143235,768709.917134,802175.965341,821096.636079,840066.911268,865616.717181,898112.922122,939811.60992,970860.908577

In [64]:
colocaciones_04 = colocaciones_04.melt(id_vars=['Unnamed: 1'], value_vars=['Unnamed: 2','Unnamed: 3','Unnamed: 4','Unnamed: 5','Unnamed: 6','Unnamed: 7','Unnamed: 8','Unnamed: 9','Unnamed: 10','Unnamed: 11',
                                                   'Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19','Unnamed: 20','Unnamed: 21',
                                                   'Unnamed: 22','Unnamed: 23','Unnamed: 24','Unnamed: 25','Unnamed: 26','Unnamed: 27','Unnamed: 28','Unnamed: 29','Unnamed: 30','Unnamed: 31',
                                                   'Unnamed: 32','Unnamed: 33','Unnamed: 34','Unnamed: 35','Unnamed: 36','Unnamed: 37','Unnamed: 38','Unnamed: 39','Unnamed: 40','Unnamed: 41',
                                                   'Unnamed: 42','Unnamed: 43','Unnamed: 44','Unnamed: 45','Unnamed: 46','Unnamed: 47','Unnamed: 48','Unnamed: 49','Unnamed: 50','Unnamed: 51',
                                                   'Unnamed: 52','Unnamed: 53','Unnamed: 54','Unnamed: 55','Unnamed: 56','Unnamed: 57','Unnamed: 58','Unnamed: 59','Unnamed: 60','Unnamed: 61',
                                                   'Unnamed: 62','Unnamed: 63','Unnamed: 64','Unnamed: 65','Unnamed: 66','Unnamed: 67','Unnamed: 68','Unnamed: 69','Unnamed: 70','Unnamed: 71',
                                                   'Unnamed: 72','Unnamed: 73','Unnamed: 74','Unnamed: 75','Unnamed: 76','Unnamed: 77','Unnamed: 78','Unnamed: 79','Unnamed: 80','Unnamed: 81',
                                                   'Unnamed: 82','Unnamed: 83','Unnamed: 84','Unnamed: 85','Unnamed: 86','Unnamed: 87','Unnamed: 88','Unnamed: 89','Unnamed: 90','Unnamed: 91',
                                                   'Unnamed: 92','Unnamed: 93','Unnamed: 94','Unnamed: 95','Unnamed: 96','Unnamed: 97','Unnamed: 98','Unnamed: 99','Unnamed: 100','Unnamed: 101',
                                                   'Unnamed: 102','Unnamed: 103','Unnamed: 104','Unnamed: 105','Unnamed: 106','Unnamed: 107','Unnamed: 108','Unnamed: 109','Unnamed: 110','Unnamed: 111',
                                                   'Unnamed: 112','Unnamed: 113','Unnamed: 114','Unnamed: 115','Unnamed: 116','Unnamed: 117','Unnamed: 118','Unnamed: 119','Unnamed: 120','Unnamed: 121',
                                                   'Unnamed: 122','Unnamed: 123','Unnamed: 124','Unnamed: 125','Unnamed: 126','Unnamed: 127','Unnamed: 128','Unnamed: 129','Unnamed: 130','Unnamed: 131',
                                                   'Unnamed: 132','Unnamed: 133','Unnamed: 134','Unnamed: 135','Unnamed: 136','Unnamed: 137','Unnamed: 138','Unnamed: 139','Unnamed: 140','Unnamed: 141',
                                                   'Unnamed: 142','Unnamed: 143','Unnamed: 144','Unnamed: 145','Unnamed: 146','Unnamed: 147','Unnamed: 148','Unnamed: 149','Unnamed: 150','Unnamed: 151',
                                                   'Unnamed: 152','Unnamed: 153','Unnamed: 154','Unnamed: 155','Unnamed: 156','Unnamed: 157','Unnamed: 158','Unnamed: 159','Unnamed: 160','Unnamed: 161',
                                                   'Unnamed: 162','Unnamed: 163','Unnamed: 164','Unnamed: 165','Unnamed: 166'],
               var_name='myVarname',
               value_name='Valor',
               ignore_index=False
               )

In [65]:
colocaciones_04

,Unnamed: 1,myVarname,Valor
5,Banco Bice,Unnamed: 2,163101.050283
6,Banco BTG Pactual Chile (9),Unnamed: 2,ND
7,Banco Consorcio (1),Unnamed: 2,0
8,Banco de Chile (2),Unnamed: 2,2012306.905594
9,Banco de Crédito e Inversiones,Unnamed: 2,1359557.577848
...,...,...,...
26,"JP Morgan Chase Bank, N.A.",Unnamed: 166,0
27,Rabobank Chile (15),Unnamed: 166,ND
28,Scotiabank Chile (3) (17),Unnamed: 166,10917979.217145
29,The Bank of Tokyo - Mitsubishi Ufj. Ltd. (19),Unnamed: 166,ND
30,Bank of China (16),Unnamed: 166,0

In [66]:
# create a list of our conditions
conditions_4 = [(colocaciones_04['myVarname'] == 'Unnamed: 2'),(colocaciones_04['myVarname'] == 'Unnamed: 3'),(colocaciones_04['myVarname'] == 'Unnamed: 4'),(colocaciones_04['myVarname'] == 'Unnamed: 5'),(colocaciones_04['myVarname'] == 'Unnamed: 6'),
 (colocaciones_04['myVarname'] == 'Unnamed: 7'),(colocaciones_04['myVarname'] == 'Unnamed: 8'),(colocaciones_04['myVarname'] == 'Unnamed: 9'),(colocaciones_04['myVarname'] == 'Unnamed: 10'),(colocaciones_04['myVarname'] == 'Unnamed: 11'),
  (colocaciones_04['myVarname'] == 'Unnamed: 12'),(colocaciones_04['myVarname'] == 'Unnamed: 13'),(colocaciones_04['myVarname'] == 'Unnamed: 14'),(colocaciones_04['myVarname'] == 'Unnamed: 15'),(colocaciones_04['myVarname'] == 'Unnamed: 16'),
   (colocaciones_04['myVarname'] == 'Unnamed: 17'),(colocaciones_04['myVarname'] == 'Unnamed: 18'),(colocaciones_04['myVarname'] == 'Unnamed: 19'),(colocaciones_04['myVarname'] == 'Unnamed: 20'),(colocaciones_04['myVarname'] == 'Unnamed: 21'),
    (colocaciones_04['myVarname'] == 'Unnamed: 22'),(colocaciones_04['myVarname'] == 'Unnamed: 23'),(colocaciones_04['myVarname'] == 'Unnamed: 24'),(colocaciones_04['myVarname'] == 'Unnamed: 25'),(colocaciones_04['myVarname'] == 'Unnamed: 26'),
     (colocaciones_04['myVarname'] == 'Unnamed: 27'),(colocaciones_04['myVarname'] == 'Unnamed: 28'),(colocaciones_04['myVarname'] == 'Unnamed: 29'),(colocaciones_04['myVarname'] == 'Unnamed: 30'),(colocaciones_04['myVarname'] == 'Unnamed: 31'),
      (colocaciones_04['myVarname'] == 'Unnamed: 32'),(colocaciones_04['myVarname'] == 'Unnamed: 33'),(colocaciones_04['myVarname'] == 'Unnamed: 34'),(colocaciones_04['myVarname'] == 'Unnamed: 35'),(colocaciones_04['myVarname'] == 'Unnamed: 36'),
       (colocaciones_04['myVarname'] == 'Unnamed: 37'),(colocaciones_04['myVarname'] == 'Unnamed: 38'),(colocaciones_04['myVarname'] == 'Unnamed: 39'),(colocaciones_04['myVarname'] == 'Unnamed: 40'),(colocaciones_04['myVarname'] == 'Unnamed: 41'),
        (colocaciones_04['myVarname'] == 'Unnamed: 42'),(colocaciones_04['myVarname'] == 'Unnamed: 43'),(colocaciones_04['myVarname'] == 'Unnamed: 44'),(colocaciones_04['myVarname'] == 'Unnamed: 45'),(colocaciones_04['myVarname'] == 'Unnamed: 46'),
         (colocaciones_04['myVarname'] == 'Unnamed: 47'),(colocaciones_04['myVarname'] == 'Unnamed: 48'),(colocaciones_04['myVarname'] == 'Unnamed: 49'),(colocaciones_04['myVarname'] == 'Unnamed: 50'),(colocaciones_04['myVarname'] == 'Unnamed: 51'),
          (colocaciones_04['myVarname'] == 'Unnamed: 52'),(colocaciones_04['myVarname'] == 'Unnamed: 53'),(colocaciones_04['myVarname'] == 'Unnamed: 54'),(colocaciones_04['myVarname'] == 'Unnamed: 55'),(colocaciones_04['myVarname'] == 'Unnamed: 56'),
           (colocaciones_04['myVarname'] == 'Unnamed: 57'),(colocaciones_04['myVarname'] == 'Unnamed: 58'),(colocaciones_04['myVarname'] == 'Unnamed: 59'),(colocaciones_04['myVarname'] == 'Unnamed: 60'),(colocaciones_04['myVarname'] == 'Unnamed: 61'),
            (colocaciones_04['myVarname'] == 'Unnamed: 62'),(colocaciones_04['myVarname'] == 'Unnamed: 63'),(colocaciones_04['myVarname'] == 'Unnamed: 64'),(colocaciones_04['myVarname'] == 'Unnamed: 65'),(colocaciones_04['myVarname'] == 'Unnamed: 66'),
             (colocaciones_04['myVarname'] == 'Unnamed: 67'),(colocaciones_04['myVarname'] == 'Unnamed: 68'),(colocaciones_04['myVarname'] == 'Unnamed: 69'),(colocaciones_04['myVarname'] == 'Unnamed: 70'),(colocaciones_04['myVarname'] == 'Unnamed: 71'),
              (colocaciones_04['myVarname'] == 'Unnamed: 72'),(colocaciones_04['myVarname'] == 'Unnamed: 73'),(colocaciones_04['myVarname'] == 'Unnamed: 74'),(colocaciones_04['myVarname'] == 'Unnamed: 75'),(colocaciones_04['myVarname'] == 'Unnamed: 76'),
               (colocaciones_04['myVarname'] == 'Unnamed: 77'),(colocaciones_04['myVarname'] == 'Unnamed: 78'),(colocaciones_04['myVarname'] == 'Unnamed: 79'),(colocaciones_04['myVarname'] == 'Unnamed: 80'),(colocaciones_04['myVarname'] == 'Unnamed: 81'),
                (colocaciones_04['myVarname'] == 'Unnamed: 82'),(colocaciones_04['myVarname'] == 'Unnamed: 83'),(colocaciones_04['myVarname'] == 'Unnamed: 84'),(colocaciones_04['myVarname'] == 'Unnamed: 85'),(colocaciones_04['myVarname'] == 'Unnamed: 86'),
                 (colocaciones_04['myVarname'] == 'Unnamed: 87'),(colocaciones_04['myVarname'] == 'Unnamed: 88'),(colocaciones_04['myVarname'] == 'Unnamed: 89'),(colocaciones_04['myVarname'] == 'Unnamed: 90'),(colocaciones_04['myVarname'] == 'Unnamed: 91'),
                  (colocaciones_04['myVarname'] == 'Unnamed: 92'),(colocaciones_04['myVarname'] == 'Unnamed: 93'),(colocaciones_04['myVarname'] == 'Unnamed: 94'),(colocaciones_04['myVarname'] == 'Unnamed: 95'),(colocaciones_04['myVarname'] == 'Unnamed: 96'),
                   (colocaciones_04['myVarname'] == 'Unnamed: 97'),(colocaciones_04['myVarname'] == 'Unnamed: 98'),(colocaciones_04['myVarname'] == 'Unnamed: 99'),(colocaciones_04['myVarname'] == 'Unnamed: 100'),(colocaciones_04['myVarname'] == 'Unnamed: 101'),
                    (colocaciones_04['myVarname'] == 'Unnamed: 102'),(colocaciones_04['myVarname'] == 'Unnamed: 103'),(colocaciones_04['myVarname'] == 'Unnamed: 104'),(colocaciones_04['myVarname'] == 'Unnamed: 105'),(colocaciones_04['myVarname'] == 'Unnamed: 106'),
                     (colocaciones_04['myVarname'] == 'Unnamed: 107'),(colocaciones_04['myVarname'] == 'Unnamed: 108'),(colocaciones_04['myVarname'] == 'Unnamed: 109'),(colocaciones_04['myVarname'] == 'Unnamed: 110'),(colocaciones_04['myVarname'] == 'Unnamed: 111'),
                      (colocaciones_04['myVarname'] == 'Unnamed: 112'),(colocaciones_04['myVarname'] == 'Unnamed: 113'),(colocaciones_04['myVarname'] == 'Unnamed: 114'),(colocaciones_04['myVarname'] == 'Unnamed: 115'),(colocaciones_04['myVarname'] == 'Unnamed: 116'),
                       (colocaciones_04['myVarname'] == 'Unnamed: 117'),(colocaciones_04['myVarname'] == 'Unnamed: 118'),(colocaciones_04['myVarname'] == 'Unnamed: 119'),(colocaciones_04['myVarname'] == 'Unnamed: 120'),(colocaciones_04['myVarname'] == 'Unnamed: 121'),
                        (colocaciones_04['myVarname'] == 'Unnamed: 122'),(colocaciones_04['myVarname'] == 'Unnamed: 123'),(colocaciones_04['myVarname'] == 'Unnamed: 124'),(colocaciones_04['myVarname'] == 'Unnamed: 125'),(colocaciones_04['myVarname'] == 'Unnamed: 126'),
                         (colocaciones_04['myVarname'] == 'Unnamed: 127'),(colocaciones_04['myVarname'] == 'Unnamed: 128'),(colocaciones_04['myVarname'] == 'Unnamed: 129'),(colocaciones_04['myVarname'] == 'Unnamed: 130'),(colocaciones_04['myVarname'] == 'Unnamed: 131'),
                          (colocaciones_04['myVarname'] == 'Unnamed: 132'),(colocaciones_04['myVarname'] == 'Unnamed: 133'),(colocaciones_04['myVarname'] == 'Unnamed: 134'),(colocaciones_04['myVarname'] == 'Unnamed: 135'),(colocaciones_04['myVarname'] == 'Unnamed: 136'),
                           (colocaciones_04['myVarname'] == 'Unnamed: 137'),(colocaciones_04['myVarname'] == 'Unnamed: 138'),(colocaciones_04['myVarname'] == 'Unnamed: 139'),(colocaciones_04['myVarname'] == 'Unnamed: 140'),(colocaciones_04['myVarname'] == 'Unnamed: 141'),
                            (colocaciones_04['myVarname'] == 'Unnamed: 142'),(colocaciones_04['myVarname'] == 'Unnamed: 143'),(colocaciones_04['myVarname'] == 'Unnamed: 144'),(colocaciones_04['myVarname'] == 'Unnamed: 145'),(colocaciones_04['myVarname'] == 'Unnamed: 146'),
                             (colocaciones_04['myVarname'] == 'Unnamed: 147'),(colocaciones_04['myVarname'] == 'Unnamed: 148'),(colocaciones_04['myVarname'] == 'Unnamed: 149'),(colocaciones_04['myVarname'] == 'Unnamed: 150'),(colocaciones_04['myVarname'] == 'Unnamed: 151'),
                              (colocaciones_04['myVarname'] == 'Unnamed: 152'),(colocaciones_04['myVarname'] == 'Unnamed: 153'),(colocaciones_04['myVarname'] == 'Unnamed: 154'),(colocaciones_04['myVarname'] == 'Unnamed: 155'),(colocaciones_04['myVarname'] == 'Unnamed: 156'),
                               (colocaciones_04['myVarname'] == 'Unnamed: 157'),(colocaciones_04['myVarname'] == 'Unnamed: 158'),(colocaciones_04['myVarname'] == 'Unnamed: 159'),(colocaciones_04['myVarname'] == 'Unnamed: 160'),(colocaciones_04['myVarname'] == 'Unnamed: 161'),
                                (colocaciones_04['myVarname'] == 'Unnamed: 162'),(colocaciones_04['myVarname'] == 'Unnamed: 163'),(colocaciones_04['myVarname'] == 'Unnamed: 164'),(colocaciones_04['myVarname'] == 'Unnamed: 165'),(colocaciones_04['myVarname'] == 'Unnamed: 166')
                                ]

In [67]:
colocaciones_04['Fecha'] = np.select(conditions_4, values)

In [68]:
colocaciones_04

,Unnamed: 1,myVarname,Valor,Fecha
5,Banco Bice,Unnamed: 2,163101.050283,2008-01-31
6,Banco BTG Pactual Chile (9),Unnamed: 2,ND,2008-01-31
7,Banco Consorcio (1),Unnamed: 2,0,2008-01-31
8,Banco de Chile (2),Unnamed: 2,2012306.905594,2008-01-31
9,Banco de Crédito e Inversiones,Unnamed: 2,1359557.577848,2008-01-31
...,...,...,...,...
26,"JP Morgan Chase Bank, N.A.",Unnamed: 166,0,2021-09-30
27,Rabobank Chile (15),Unnamed: 166,ND,2021-09-30
28,Scotiabank Chile (3) (17),Unnamed: 166,10917979.217145,2021-09-30
29,The Bank of Tokyo - Mitsubishi Ufj. Ltd. (19),Unnamed: 166,ND,2021-09-30
30,Bank of China (16),Unnamed: 166,0,2021-09-30

In [69]:
colocaciones_04.pop("myVarname")

5       Unnamed: 2
6       Unnamed: 2
7       Unnamed: 2
8       Unnamed: 2
9       Unnamed: 2
          ...
26    Unnamed: 166
27    Unnamed: 166
28    Unnamed: 166
29    Unnamed: 166
30    Unnamed: 166
Name: myVarname, Length: 4290, dtype: object

In [70]:
colocaciones_04.rename(columns={"Unnamed: 1": "Institucion"}, inplace=True)

In [71]:
colocaciones_04

                                      Institucion            Valor       Fecha
5                                      Banco Bice    163101.050283  2008-01-31
6                     Banco BTG Pactual Chile (9)               ND  2008-01-31
7                             Banco Consorcio (1)                0  2008-01-31
8                              Banco de Chile (2)   2012306.905594  2008-01-31
9                  Banco de Crédito e Inversiones   1359557.577848  2008-01-31
..                                            ...              ...         ...
26                     JP Morgan Chase Bank, N.A.                0  2021-09-30
27                            Rabobank Chile (15)               ND  2021-09-30
28                      Scotiabank Chile (3) (17)  10917979.217145  2021-09-30
29  The Bank of Tokyo - Mitsubishi Ufj. Ltd. (19)               ND  2021-09-30
30                             Bank of China (16)                0  2021-09-30

[4290 rows x 3 columns]

In [72]:
colocaciones_04['Tipo'] = "Colocación"
colocaciones_04['Subtipo'] = "Colocaciones de vivienda"
colocaciones_04['Tipo de Moneda'] = "Saldos en millones de pesos"

In [73]:
new_cols = ["Fecha","Institucion","Tipo","Subtipo","Valor","Tipo de Moneda"]
colocaciones_04 = colocaciones_04.reindex(columns=new_cols)

In [74]:
colocaciones_04

,Fecha,Institucion,Tipo,Subtipo,Valor,Tipo de Moneda
5,2008-01-31,Banco Bice,Colocación,Colocaciones de vivienda,163101.050283,Saldos en millones de pesos
6,2008-01-31,Banco BTG Pactual Chile (9),Colocación,Colocaciones de vivienda,ND,Saldos en millones de pesos
7,2008-01-31,Banco Consorcio (1),Colocación,Colocaciones de vivienda,0,Saldos en millones de pesos
8,2008-01-31,Banco de Chile (2),Colocación,Colocaciones de vivienda,2012306.905594,Saldos en millones de pesos
9,2008-01-31,Banco de Crédito e Inversiones,Colocación,Colocaciones de vivienda,1359557.577848,Saldos en millones de pesos
...,...,...,...,...,...,...
26,2021-09-30,"JP Morgan Chase Bank, N.A.",Colocación,Colocaciones de vivienda,0,Saldos en millones de pesos
27,2021-09-30,Rabobank Chile (15),Colocación,Colocaciones de vivienda,ND,Saldos en millones de pesos
28,2021-09-30,Scotiabank Chile (3) (17),Colocación,Colocaciones de vivienda,10917979.217145,Saldos en millones de pesos
29,2021-09-30,The Bank of Tokyo - Mitsubishi Ufj. Ltd. (19),Colocación,Colocaciones de vivienda,ND,Saldos en millones de pesos
30,2021-09-30,Bank of China (16),Colocación,Colocaciones de vivienda,0,Saldos en millones de pesos

## Colocación 05

In [75]:
colocaciones_05.head(5)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,Unnamed: 161,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166
0,Índice general,Cuadro 1.05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Notas generales,Colocaciones de comercio exterior,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Conceptualización,Saldos en millones de pesos,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,2008-01-31 00:00:00,2008-02-29 00:00:00,2008-03-31 00:00:00,2008-04-30 00:00:00,2008-05-31 00:00:00,2008-06-30 00:00:00,2008-07-31 00:00:00,2008-08-31 00:00:00,...,2020-12-31 00:00:00,2021-01-31 00:00:00,2021-02-28 00:00:00,2021-03-31 00:00:00,2021-04-30 00:00:00,2021-05-31 00:00:00,2021-06-30 00:00:00,2021-07-31 00:00:00,2021-08-31 00:00:00,2021-09-30 00:00:00

In [76]:
colocaciones_05.pop("Unnamed: 0")

0        Índice general
1       Notas generales
2     Conceptualización
3                   NaN
4                   NaN
5                   NaN
6                   NaN
7                   NaN
8                   NaN
9                   NaN
10                  NaN
11                  NaN
12                  NaN
13                  NaN
14                  NaN
15                  NaN
16                  NaN
17                  NaN
18                  NaN
19                  NaN
20                  NaN
21                  NaN
22                  NaN
23                  NaN
24                  NaN
25                  NaN
26                  NaN
27                  NaN
28                  NaN
29                  NaN
30                  NaN
31                  NaN
32                  NaN
33                  NaN
34                  NaN
35                  NaN
36                  NaN
Name: Unnamed: 0, dtype: object

In [77]:
colocaciones_05 = colocaciones_05.iloc[5:]

In [78]:
colocaciones_05.tail(7)

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,Unnamed: 161,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166
30,Bank of China (16),ND,ND,ND,ND,ND,ND,ND,ND,ND,...,0,0,0,0,0,0,0,0,0,0
31,Total,5095808.731388,5196531.970376,5151148.158795,5818984.88598,6335387.676709,7018989.620281,6694507.114366,6706784.352614,7268870.801127,...,7463927.178558,7744299.054175,7972908.793375,8004216.544067,8138186.049806,8444431.967423,8671863.125532,9336872.691963,9409657.19845,9813135.64303
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,ND : No existe dato,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,Conceptualización: Vínculo que remite al docum...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [79]:
colocaciones_05.drop(colocaciones_05.tail(6).index,inplace=True)

<ipython-input-79-0b580720e0a6>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  colocaciones_05.drop(colocaciones_05.tail(6).index,inplace=True)

In [80]:
colocaciones_05

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,Unnamed: 161,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166
5,Banco Bice,208180.502882,222537.64608,226147.337189,246221.824211,265392.950186,296035.915837,282283.714525,273227.760358,295075.257962,...,260815.529369,279210.03817,285223.717593,289882.380756,330702.757807,352828.496911,339232.190816,359128.110019,385626.119333,401801.467865
6,Banco BTG Pactual Chile (9),ND,ND,ND,ND,ND,ND,ND,ND,ND,...,0,0,0,0,0,0,0,0,0,0
7,Banco Consorcio (1),1012.818416,840.247663,850.989224,846.224571,897.561105,1108.627703,928.539921,867.920268,642.95212,...,56049.286886,52443.953641,58713.973019,63670.198031,65810.384094,69427.829315,81026.932041,86650.944378,93883.668455,125146.175
8,Banco de Chile (2),1146071.585087,1205303.472396,1169592.821553,1369478.440655,1482412.926209,1619972.14671,1544824.25523,1586771.698988,1703519.323486,...,1482688.172919,1574228.163233,1741449.191339,1720611.960335,1659435.267235,1769650.767323,1823867.394968,1818070.238213,1867796.803624,1918100.839275
9,Banco de Crédito e Inversiones,700740.216591,763845.872404,759411.768488,822195.575472,871865.158216,982323.766242,956157.53501,963681.132481,1038968.100336,...,863380.165445,953057.942266,903029.27867,892536.549531,1009544.108388,1045703.701232,1008286.900961,1179437.139161,1103602.055838,1207061.984413
10,Banco de la Nación Argentina (18),3429.030188,3769.892703,2956.942237,1708.703155,3714.610107,5210.803477,5523.908301,4982.645395,4721.51138,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
11,Banco del Estado de Chile,302574.69093,312315.336393,285296.689496,317655.929935,360990.096463,466629.694366,370458.724012,347223.34147,374374.442749,...,881546.00538,955118.732367,909979.875349,877340.833514,842505.611682,865326.976115,901419.161503,1014470.977909,1078754.43489,1105482.877862
12,Banco do Brasil S.A.,19767.903482,22083.68239,16963.954052,30039.893133,36461.720174,39265.8582,39803.407541,53385.001102,44925.306504,...,5828.95143,4069.491151,3075.591532,1681.566958,6588.734297,5592.430455,5222.590855,946.649571,0,0
13,Banco Falabella,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,Banco Internacional,30773.490653,29868.789903,32554.048392,39764.581536,43226.923003,47247.386591,45828.419392,49139.277497,54328.506176,...,32878.099386,38031.247335,39971.475045,41110.13169,47485.80699,48910.290875,51572.344354,49823.037821,54202.627935,58144.838323
15,Banco Itaú Corpbanca (10),580326.86109,546895.480544,558660.590065,611298.071136,647369.5035,726177.558493,695779.129901,668261.923935,762245.977117,...,950108.847038,976061.127091,983803.571975,1000296.692265,1041484.89186,1134531.406218,1200669.049597,1272858.725898,1179632.118419,1243081.95092
16,Banco Paris (13),0,0,0,0,0,0,0,0,0,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
17,Banco Penta (14),0,0,0,0,0,0,0,0,0,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
18,Banco Ripley,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,Banco Santander - Chile,986648.172569,928943.062986,1001888.090361,1176249.678901,1327850.363982,1433012.868632,1399546.817682,1431406.417762,1500082.590516,...,1506098.953552,1446708.935183,1546957.725711,1578859.473751,1580995.704386,1596297.882537,1569938.694126,1753660.255704,1800326.225838,1875643.95947
20,Banco Security,208991.52623,202407.557315,209379.919761,228044.537281,235802.078496,276158.040574,271356.77876,263941.310819,284669.435747,...,152561.844705,157610.206568,159237.509747,160579.001119,166754.494846,176418.579433,204532.413176,224652.93759,228684.421121,224276.378793
21,Banco Sudamericano (4) (5) (6),78607.916855,93747.764834,93644.429922,104479.046937,121725.746933,119756.494828,87129.512306,90926.840684,121046.959243,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
22,"China Construction Bank, Agencia en Chile (11)",ND,ND,ND,ND,ND,ND,ND,ND,ND,...,19626.839931,16418.741229,18932.24394,22742.869717,25220.36254,24842.782161,18570.78242,30152.332061,30599.883938,35160.176691
23,Deutsche Bank (Chile) (12),0,0,0,0,0,0,0,0,0,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
24,DnB NOR Bank ASA (7) (8),ND,ND,ND,ND,ND,ND,ND,ND,ND,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
25,HSBC Bank (Chile),46900.214998,49215.641543,52604.141739,64099.611151,68854.576006,65482.410433,59479.561554,57164.223263,77781.206028,...,8807.982399,9049.04297,8973.634141,8892.662514,8783.258103,8928.512547,0,0,0,0
26,"JP Morgan Chase Bank, N.A.",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,Rabobank Chile (15),15520.742901,16251.028154,16286.93779,20090.552953,22461.052346,27214.698154,28361.294745,30193.972321,31575.882247,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
28,Scotiabank Chile (3) (17),757070.215778,788173.167122,716266.812988,777859.887598,837903.586294,904747.457651,898446.103782,877484.934755,965663.473361,...,1243536.500118,1282291.432971,1313561.005314,1346012.223886,1352874.667578,1345972.312301,1467524.670715,1547021.343638,1586548.839059,1619234.994418
29,The Bank of Tokyo - Mitsubishi Ufj. Ltd. (19),9192.842738,10333.327946,8642.685538,8952.327355,8458.823689,8645.89239,8599.411704,8125.951516,9249.876155,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
30,Bank of China (16),ND,ND,ND,ND,ND,ND,ND,ND,ND,...,0,0,0,0,0,0,0,0,0,0

In [81]:
colocaciones_05.head(3)

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,Unnamed: 161,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166
5,Banco Bice,208180.502882,222537.64608,226147.337189,246221.824211,265392.950186,296035.915837,282283.714525,273227.760358,295075.257962,...,260815.529369,279210.03817,285223.717593,289882.380756,330702.757807,352828.496911,339232.190816,359128.110019,385626.119333,401801.467865
6,Banco BTG Pactual Chile (9),ND,ND,ND,ND,ND,ND,ND,ND,ND,...,0,0,0,0,0,0,0,0,0,0
7,Banco Consorcio (1),1012.818416,840.247663,850.989224,846.224571,897.561105,1108.627703,928.539921,867.920268,642.95212,...,56049.286886,52443.953641,58713.973019,63670.198031,65810.384094,69427.829315,81026.932041,86650.944378,93883.668455,125146.175

In [82]:
colocaciones_05 = colocaciones_05.melt(id_vars=['Unnamed: 1'], value_vars=['Unnamed: 2','Unnamed: 3','Unnamed: 4','Unnamed: 5','Unnamed: 6','Unnamed: 7','Unnamed: 8','Unnamed: 9','Unnamed: 10','Unnamed: 11',
                                                   'Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19','Unnamed: 20','Unnamed: 21',
                                                   'Unnamed: 22','Unnamed: 23','Unnamed: 24','Unnamed: 25','Unnamed: 26','Unnamed: 27','Unnamed: 28','Unnamed: 29','Unnamed: 30','Unnamed: 31',
                                                   'Unnamed: 32','Unnamed: 33','Unnamed: 34','Unnamed: 35','Unnamed: 36','Unnamed: 37','Unnamed: 38','Unnamed: 39','Unnamed: 40','Unnamed: 41',
                                                   'Unnamed: 42','Unnamed: 43','Unnamed: 44','Unnamed: 45','Unnamed: 46','Unnamed: 47','Unnamed: 48','Unnamed: 49','Unnamed: 50','Unnamed: 51',
                                                   'Unnamed: 52','Unnamed: 53','Unnamed: 54','Unnamed: 55','Unnamed: 56','Unnamed: 57','Unnamed: 58','Unnamed: 59','Unnamed: 60','Unnamed: 61',
                                                   'Unnamed: 62','Unnamed: 63','Unnamed: 64','Unnamed: 65','Unnamed: 66','Unnamed: 67','Unnamed: 68','Unnamed: 69','Unnamed: 70','Unnamed: 71',
                                                   'Unnamed: 72','Unnamed: 73','Unnamed: 74','Unnamed: 75','Unnamed: 76','Unnamed: 77','Unnamed: 78','Unnamed: 79','Unnamed: 80','Unnamed: 81',
                                                   'Unnamed: 82','Unnamed: 83','Unnamed: 84','Unnamed: 85','Unnamed: 86','Unnamed: 87','Unnamed: 88','Unnamed: 89','Unnamed: 90','Unnamed: 91',
                                                   'Unnamed: 92','Unnamed: 93','Unnamed: 94','Unnamed: 95','Unnamed: 96','Unnamed: 97','Unnamed: 98','Unnamed: 99','Unnamed: 100','Unnamed: 101',
                                                   'Unnamed: 102','Unnamed: 103','Unnamed: 104','Unnamed: 105','Unnamed: 106','Unnamed: 107','Unnamed: 108','Unnamed: 109','Unnamed: 110','Unnamed: 111',
                                                   'Unnamed: 112','Unnamed: 113','Unnamed: 114','Unnamed: 115','Unnamed: 116','Unnamed: 117','Unnamed: 118','Unnamed: 119','Unnamed: 120','Unnamed: 121',
                                                   'Unnamed: 122','Unnamed: 123','Unnamed: 124','Unnamed: 125','Unnamed: 126','Unnamed: 127','Unnamed: 128','Unnamed: 129','Unnamed: 130','Unnamed: 131',
                                                   'Unnamed: 132','Unnamed: 133','Unnamed: 134','Unnamed: 135','Unnamed: 136','Unnamed: 137','Unnamed: 138','Unnamed: 139','Unnamed: 140','Unnamed: 141',
                                                   'Unnamed: 142','Unnamed: 143','Unnamed: 144','Unnamed: 145','Unnamed: 146','Unnamed: 147','Unnamed: 148','Unnamed: 149','Unnamed: 150','Unnamed: 151',
                                                   'Unnamed: 152','Unnamed: 153','Unnamed: 154','Unnamed: 155','Unnamed: 156','Unnamed: 157','Unnamed: 158','Unnamed: 159','Unnamed: 160','Unnamed: 161',
                                                   'Unnamed: 162','Unnamed: 163','Unnamed: 164','Unnamed: 165','Unnamed: 166'],
               var_name='myVarname',
               value_name='Valor',
               ignore_index=False
               )

In [83]:
colocaciones_05

,Unnamed: 1,myVarname,Valor
5,Banco Bice,Unnamed: 2,208180.502882
6,Banco BTG Pactual Chile (9),Unnamed: 2,ND
7,Banco Consorcio (1),Unnamed: 2,1012.818416
8,Banco de Chile (2),Unnamed: 2,1146071.585087
9,Banco de Crédito e Inversiones,Unnamed: 2,700740.216591
...,...,...,...
26,"JP Morgan Chase Bank, N.A.",Unnamed: 166,0
27,Rabobank Chile (15),Unnamed: 166,ND
28,Scotiabank Chile (3) (17),Unnamed: 166,1619234.994418
29,The Bank of Tokyo - Mitsubishi Ufj. Ltd. (19),Unnamed: 166,ND
30,Bank of China (16),Unnamed: 166,0

In [84]:
# create a list of our conditions
conditions_5 = [(colocaciones_05['myVarname'] == 'Unnamed: 2'),(colocaciones_05['myVarname'] == 'Unnamed: 3'),(colocaciones_05['myVarname'] == 'Unnamed: 4'),(colocaciones_05['myVarname'] == 'Unnamed: 5'),(colocaciones_05['myVarname'] == 'Unnamed: 6'),
 (colocaciones_05['myVarname'] == 'Unnamed: 7'),(colocaciones_05['myVarname'] == 'Unnamed: 8'),(colocaciones_05['myVarname'] == 'Unnamed: 9'),(colocaciones_05['myVarname'] == 'Unnamed: 10'),(colocaciones_05['myVarname'] == 'Unnamed: 11'),
  (colocaciones_05['myVarname'] == 'Unnamed: 12'),(colocaciones_05['myVarname'] == 'Unnamed: 13'),(colocaciones_05['myVarname'] == 'Unnamed: 14'),(colocaciones_05['myVarname'] == 'Unnamed: 15'),(colocaciones_05['myVarname'] == 'Unnamed: 16'),
   (colocaciones_05['myVarname'] == 'Unnamed: 17'),(colocaciones_05['myVarname'] == 'Unnamed: 18'),(colocaciones_05['myVarname'] == 'Unnamed: 19'),(colocaciones_05['myVarname'] == 'Unnamed: 20'),(colocaciones_05['myVarname'] == 'Unnamed: 21'),
    (colocaciones_05['myVarname'] == 'Unnamed: 22'),(colocaciones_05['myVarname'] == 'Unnamed: 23'),(colocaciones_05['myVarname'] == 'Unnamed: 24'),(colocaciones_05['myVarname'] == 'Unnamed: 25'),(colocaciones_05['myVarname'] == 'Unnamed: 26'),
     (colocaciones_05['myVarname'] == 'Unnamed: 27'),(colocaciones_05['myVarname'] == 'Unnamed: 28'),(colocaciones_05['myVarname'] == 'Unnamed: 29'),(colocaciones_05['myVarname'] == 'Unnamed: 30'),(colocaciones_05['myVarname'] == 'Unnamed: 31'),
      (colocaciones_05['myVarname'] == 'Unnamed: 32'),(colocaciones_05['myVarname'] == 'Unnamed: 33'),(colocaciones_05['myVarname'] == 'Unnamed: 34'),(colocaciones_05['myVarname'] == 'Unnamed: 35'),(colocaciones_05['myVarname'] == 'Unnamed: 36'),
       (colocaciones_05['myVarname'] == 'Unnamed: 37'),(colocaciones_05['myVarname'] == 'Unnamed: 38'),(colocaciones_05['myVarname'] == 'Unnamed: 39'),(colocaciones_05['myVarname'] == 'Unnamed: 40'),(colocaciones_05['myVarname'] == 'Unnamed: 41'),
        (colocaciones_05['myVarname'] == 'Unnamed: 42'),(colocaciones_05['myVarname'] == 'Unnamed: 43'),(colocaciones_05['myVarname'] == 'Unnamed: 44'),(colocaciones_05['myVarname'] == 'Unnamed: 45'),(colocaciones_05['myVarname'] == 'Unnamed: 46'),
         (colocaciones_05['myVarname'] == 'Unnamed: 47'),(colocaciones_05['myVarname'] == 'Unnamed: 48'),(colocaciones_05['myVarname'] == 'Unnamed: 49'),(colocaciones_05['myVarname'] == 'Unnamed: 50'),(colocaciones_05['myVarname'] == 'Unnamed: 51'),
          (colocaciones_05['myVarname'] == 'Unnamed: 52'),(colocaciones_05['myVarname'] == 'Unnamed: 53'),(colocaciones_05['myVarname'] == 'Unnamed: 54'),(colocaciones_05['myVarname'] == 'Unnamed: 55'),(colocaciones_05['myVarname'] == 'Unnamed: 56'),
           (colocaciones_05['myVarname'] == 'Unnamed: 57'),(colocaciones_05['myVarname'] == 'Unnamed: 58'),(colocaciones_05['myVarname'] == 'Unnamed: 59'),(colocaciones_05['myVarname'] == 'Unnamed: 60'),(colocaciones_05['myVarname'] == 'Unnamed: 61'),
            (colocaciones_05['myVarname'] == 'Unnamed: 62'),(colocaciones_05['myVarname'] == 'Unnamed: 63'),(colocaciones_05['myVarname'] == 'Unnamed: 64'),(colocaciones_05['myVarname'] == 'Unnamed: 65'),(colocaciones_05['myVarname'] == 'Unnamed: 66'),
             (colocaciones_05['myVarname'] == 'Unnamed: 67'),(colocaciones_05['myVarname'] == 'Unnamed: 68'),(colocaciones_05['myVarname'] == 'Unnamed: 69'),(colocaciones_05['myVarname'] == 'Unnamed: 70'),(colocaciones_05['myVarname'] == 'Unnamed: 71'),
              (colocaciones_05['myVarname'] == 'Unnamed: 72'),(colocaciones_05['myVarname'] == 'Unnamed: 73'),(colocaciones_05['myVarname'] == 'Unnamed: 74'),(colocaciones_05['myVarname'] == 'Unnamed: 75'),(colocaciones_05['myVarname'] == 'Unnamed: 76'),
               (colocaciones_05['myVarname'] == 'Unnamed: 77'),(colocaciones_05['myVarname'] == 'Unnamed: 78'),(colocaciones_05['myVarname'] == 'Unnamed: 79'),(colocaciones_05['myVarname'] == 'Unnamed: 80'),(colocaciones_05['myVarname'] == 'Unnamed: 81'),
                (colocaciones_05['myVarname'] == 'Unnamed: 82'),(colocaciones_05['myVarname'] == 'Unnamed: 83'),(colocaciones_05['myVarname'] == 'Unnamed: 84'),(colocaciones_05['myVarname'] == 'Unnamed: 85'),(colocaciones_05['myVarname'] == 'Unnamed: 86'),
                 (colocaciones_05['myVarname'] == 'Unnamed: 87'),(colocaciones_05['myVarname'] == 'Unnamed: 88'),(colocaciones_05['myVarname'] == 'Unnamed: 89'),(colocaciones_05['myVarname'] == 'Unnamed: 90'),(colocaciones_05['myVarname'] == 'Unnamed: 91'),
                  (colocaciones_05['myVarname'] == 'Unnamed: 92'),(colocaciones_05['myVarname'] == 'Unnamed: 93'),(colocaciones_05['myVarname'] == 'Unnamed: 94'),(colocaciones_05['myVarname'] == 'Unnamed: 95'),(colocaciones_05['myVarname'] == 'Unnamed: 96'),
                   (colocaciones_05['myVarname'] == 'Unnamed: 97'),(colocaciones_05['myVarname'] == 'Unnamed: 98'),(colocaciones_05['myVarname'] == 'Unnamed: 99'),(colocaciones_05['myVarname'] == 'Unnamed: 100'),(colocaciones_05['myVarname'] == 'Unnamed: 101'),
                    (colocaciones_05['myVarname'] == 'Unnamed: 102'),(colocaciones_05['myVarname'] == 'Unnamed: 103'),(colocaciones_05['myVarname'] == 'Unnamed: 104'),(colocaciones_05['myVarname'] == 'Unnamed: 105'),(colocaciones_05['myVarname'] == 'Unnamed: 106'),
                     (colocaciones_05['myVarname'] == 'Unnamed: 107'),(colocaciones_05['myVarname'] == 'Unnamed: 108'),(colocaciones_05['myVarname'] == 'Unnamed: 109'),(colocaciones_05['myVarname'] == 'Unnamed: 110'),(colocaciones_05['myVarname'] == 'Unnamed: 111'),
                      (colocaciones_05['myVarname'] == 'Unnamed: 112'),(colocaciones_05['myVarname'] == 'Unnamed: 113'),(colocaciones_05['myVarname'] == 'Unnamed: 114'),(colocaciones_05['myVarname'] == 'Unnamed: 115'),(colocaciones_05['myVarname'] == 'Unnamed: 116'),
                       (colocaciones_05['myVarname'] == 'Unnamed: 117'),(colocaciones_05['myVarname'] == 'Unnamed: 118'),(colocaciones_05['myVarname'] == 'Unnamed: 119'),(colocaciones_05['myVarname'] == 'Unnamed: 120'),(colocaciones_05['myVarname'] == 'Unnamed: 121'),
                        (colocaciones_05['myVarname'] == 'Unnamed: 122'),(colocaciones_05['myVarname'] == 'Unnamed: 123'),(colocaciones_05['myVarname'] == 'Unnamed: 124'),(colocaciones_05['myVarname'] == 'Unnamed: 125'),(colocaciones_05['myVarname'] == 'Unnamed: 126'),
                         (colocaciones_05['myVarname'] == 'Unnamed: 127'),(colocaciones_05['myVarname'] == 'Unnamed: 128'),(colocaciones_05['myVarname'] == 'Unnamed: 129'),(colocaciones_05['myVarname'] == 'Unnamed: 130'),(colocaciones_05['myVarname'] == 'Unnamed: 131'),
                          (colocaciones_05['myVarname'] == 'Unnamed: 132'),(colocaciones_05['myVarname'] == 'Unnamed: 133'),(colocaciones_05['myVarname'] == 'Unnamed: 134'),(colocaciones_05['myVarname'] == 'Unnamed: 135'),(colocaciones_05['myVarname'] == 'Unnamed: 136'),
                           (colocaciones_05['myVarname'] == 'Unnamed: 137'),(colocaciones_05['myVarname'] == 'Unnamed: 138'),(colocaciones_05['myVarname'] == 'Unnamed: 139'),(colocaciones_05['myVarname'] == 'Unnamed: 140'),(colocaciones_05['myVarname'] == 'Unnamed: 141'),
                            (colocaciones_05['myVarname'] == 'Unnamed: 142'),(colocaciones_05['myVarname'] == 'Unnamed: 143'),(colocaciones_05['myVarname'] == 'Unnamed: 144'),(colocaciones_05['myVarname'] == 'Unnamed: 145'),(colocaciones_05['myVarname'] == 'Unnamed: 146'),
                             (colocaciones_05['myVarname'] == 'Unnamed: 147'),(colocaciones_05['myVarname'] == 'Unnamed: 148'),(colocaciones_05['myVarname'] == 'Unnamed: 149'),(colocaciones_05['myVarname'] == 'Unnamed: 150'),(colocaciones_05['myVarname'] == 'Unnamed: 151'),
                              (colocaciones_05['myVarname'] == 'Unnamed: 152'),(colocaciones_05['myVarname'] == 'Unnamed: 153'),(colocaciones_05['myVarname'] == 'Unnamed: 154'),(colocaciones_05['myVarname'] == 'Unnamed: 155'),(colocaciones_05['myVarname'] == 'Unnamed: 156'),
                               (colocaciones_05['myVarname'] == 'Unnamed: 157'),(colocaciones_05['myVarname'] == 'Unnamed: 158'),(colocaciones_05['myVarname'] == 'Unnamed: 159'),(colocaciones_05['myVarname'] == 'Unnamed: 160'),(colocaciones_05['myVarname'] == 'Unnamed: 161'),
                                (colocaciones_05['myVarname'] == 'Unnamed: 162'),(colocaciones_05['myVarname'] == 'Unnamed: 163'),(colocaciones_05['myVarname'] == 'Unnamed: 164'),(colocaciones_05['myVarname'] == 'Unnamed: 165'),(colocaciones_05['myVarname'] == 'Unnamed: 166')
                                ]

In [85]:
colocaciones_05['Fecha'] = np.select(conditions_5, values)

In [86]:
colocaciones_05

,Unnamed: 1,myVarname,Valor,Fecha
5,Banco Bice,Unnamed: 2,208180.502882,2008-01-31
6,Banco BTG Pactual Chile (9),Unnamed: 2,ND,2008-01-31
7,Banco Consorcio (1),Unnamed: 2,1012.818416,2008-01-31
8,Banco de Chile (2),Unnamed: 2,1146071.585087,2008-01-31
9,Banco de Crédito e Inversiones,Unnamed: 2,700740.216591,2008-01-31
...,...,...,...,...
26,"JP Morgan Chase Bank, N.A.",Unnamed: 166,0,2021-09-30
27,Rabobank Chile (15),Unnamed: 166,ND,2021-09-30
28,Scotiabank Chile (3) (17),Unnamed: 166,1619234.994418,2021-09-30
29,The Bank of Tokyo - Mitsubishi Ufj. Ltd. (19),Unnamed: 166,ND,2021-09-30
30,Bank of China (16),Unnamed: 166,0,2021-09-30

In [87]:
colocaciones_05.pop("myVarname")

5       Unnamed: 2
6       Unnamed: 2
7       Unnamed: 2
8       Unnamed: 2
9       Unnamed: 2
          ...
26    Unnamed: 166
27    Unnamed: 166
28    Unnamed: 166
29    Unnamed: 166
30    Unnamed: 166
Name: myVarname, Length: 4290, dtype: object

In [88]:
colocaciones_05.rename(columns={"Unnamed: 1": "Institucion"}, inplace=True)

In [89]:
colocaciones_05

                                      Institucion           Valor       Fecha
5                                      Banco Bice   208180.502882  2008-01-31
6                     Banco BTG Pactual Chile (9)              ND  2008-01-31
7                             Banco Consorcio (1)     1012.818416  2008-01-31
8                              Banco de Chile (2)  1146071.585087  2008-01-31
9                  Banco de Crédito e Inversiones   700740.216591  2008-01-31
..                                            ...             ...         ...
26                     JP Morgan Chase Bank, N.A.               0  2021-09-30
27                            Rabobank Chile (15)              ND  2021-09-30
28                      Scotiabank Chile (3) (17)  1619234.994418  2021-09-30
29  The Bank of Tokyo - Mitsubishi Ufj. Ltd. (19)              ND  2021-09-30
30                             Bank of China (16)               0  2021-09-30

[4290 rows x 3 columns]

In [90]:
colocaciones_05['Tipo'] = "Colocación"
colocaciones_05['Subtipo'] = "Colocaciones de comercio exterior"
colocaciones_05['Tipo de Moneda'] = "Saldos en millones de pesos"

In [91]:
new_cols = ["Fecha","Institucion","Tipo","Subtipo","Valor","Tipo de Moneda"]
colocaciones_05 = colocaciones_05.reindex(columns=new_cols)

In [92]:
colocaciones_05

,Fecha,Institucion,Tipo,Subtipo,Valor,Tipo de Moneda
5,2008-01-31,Banco Bice,Colocación,Colocaciones de comercio exterior,208180.502882,Saldos en millones de pesos
6,2008-01-31,Banco BTG Pactual Chile (9),Colocación,Colocaciones de comercio exterior,ND,Saldos en millones de pesos
7,2008-01-31,Banco Consorcio (1),Colocación,Colocaciones de comercio exterior,1012.818416,Saldos en millones de pesos
8,2008-01-31,Banco de Chile (2),Colocación,Colocaciones de comercio exterior,1146071.585087,Saldos en millones de pesos
9,2008-01-31,Banco de Crédito e Inversiones,Colocación,Colocaciones de comercio exterior,700740.216591,Saldos en millones de pesos
...,...,...,...,...,...,...
26,2021-09-30,"JP Morgan Chase Bank, N.A.",Colocación,Colocaciones de comercio exterior,0,Saldos en millones de pesos
27,2021-09-30,Rabobank Chile (15),Colocación,Colocaciones de comercio exterior,ND,Saldos en millones de pesos
28,2021-09-30,Scotiabank Chile (3) (17),Colocación,Colocaciones de comercio exterior,1619234.994418,Saldos en millones de pesos
29,2021-09-30,The Bank of Tokyo - Mitsubishi Ufj. Ltd. (19),Colocación,Colocaciones de comercio exterior,ND,Saldos en millones de pesos
30,2021-09-30,Bank of China (16),Colocación,Colocaciones de comercio exterior,0,Saldos en millones de pesos

## Colocación 06

In [93]:
colocaciones_06.head(5)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,Unnamed: 161,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166
0,Índice general,Cuadro 1.06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Notas generales,Colocaciones de empresas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Conceptualización,Saldos en millones de pesos,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,2008-01-31 00:00:00,2008-02-29 00:00:00,2008-03-31 00:00:00,2008-04-30 00:00:00,2008-05-31 00:00:00,2008-06-30 00:00:00,2008-07-31 00:00:00,2008-08-31 00:00:00,...,2020-12-31 00:00:00,2021-01-31 00:00:00,2021-02-28 00:00:00,2021-03-31 00:00:00,2021-04-30 00:00:00,2021-05-31 00:00:00,2021-06-30 00:00:00,2021-07-31 00:00:00,2021-08-31 00:00:00,2021-09-30 00:00:00

In [94]:
colocaciones_06.pop("Unnamed: 0")

0        Índice general
1       Notas generales
2     Conceptualización
3                   NaN
4                   NaN
5                   NaN
6                   NaN
7                   NaN
8                   NaN
9                   NaN
10                  NaN
11                  NaN
12                  NaN
13                  NaN
14                  NaN
15                  NaN
16                  NaN
17                  NaN
18                  NaN
19                  NaN
20                  NaN
21                  NaN
22                  NaN
23                  NaN
24                  NaN
25                  NaN
26                  NaN
27                  NaN
28                  NaN
29                  NaN
30                  NaN
31                  NaN
32                  NaN
33                  NaN
34                  NaN
35                  NaN
36                  NaN
Name: Unnamed: 0, dtype: object

In [95]:
colocaciones_06 = colocaciones_06.iloc[5:]

In [96]:
colocaciones_06.tail(7)

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,Unnamed: 161,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166
30,Bank of China (16),ND,ND,ND,ND,ND,ND,ND,ND,ND,...,0,0,0,0,0,0,0,0,0,0
31,Total,41661914.862198,42099121.769921,42217108.673604,43748245.913815,44816316.716613,46299573.715393,46436571.331213,46964665.090153,48226757.567317,...,113678524.283075,114764649.353142,115148352.062649,115458752.459689,115541074.322969,116088712.240808,116695883.539429,119439245.729717,120307860.135365,122381586.859877
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,ND : No existe dato,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,Conceptualización: Vínculo que remite al docum...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [97]:
colocaciones_06.drop(colocaciones_06.tail(6).index,inplace=True)

<ipython-input-97-df6c3a834d2e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  colocaciones_06.drop(colocaciones_06.tail(6).index,inplace=True)

In [98]:
colocaciones_06

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,Unnamed: 161,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166
5,Banco Bice,1558021.408962,1600142.273184,1632884.938318,1669941.78234,1727712.649442,1801725.02261,1771447.528553,1815725.5027,1869964.294513,...,5224580.500073,5288485.322697,5304405.948313,5356333.775644,5401353.292584,5412497.013402,5413076.092683,5589444.400976,5644862.695764,5762734.761401
6,Banco BTG Pactual Chile (9),ND,ND,ND,ND,ND,ND,ND,ND,ND,...,1207031.841972,1219968.641785,1236017.530255,1284157.56313,1347129.374373,1379468.722384,1371803.875966,1366410.319041,1340045.201823,1427693.447579
7,Banco Consorcio (1),33852.866172,32164.437303,29705.566566,30101.07145,30449.634077,29549.393966,28366.781944,28719.590316,27240.785625,...,3053489.90254,3085332.406298,3096915.786928,3143475.342468,3178986.986565,3209552.599472,3265943.970301,3328635.447801,3355199.291285,3453745.271205
8,Banco de Chile (2),9158859.6533,9204369.197972,9156734.013828,9559474.503582,9744013.24398,10072682.007193,10196264.324313,10313776.89088,10615286.950907,...,20565255.993172,20844591.928431,21412002.86652,21415239.28848,21400733.422388,21601062.497723,21671675.347452,21942570.271113,22071998.95687,22484891.324446
9,Banco de Crédito e Inversiones,5556001.282409,5738569.586064,5648077.470731,5851463.278764,5979217.005103,6203848.030994,6221623.737708,6335044.042993,6562681.107783,...,16217283.618209,16494438.926019,16376552.781785,16185790.456116,16254770.806566,16373940.343044,16373170.105583,16991438.184909,17127731.193097,17487320.280083
10,Banco de la Nación Argentina (18),7430.128756,7763.359095,6868.332296,5618.742739,7080.108806,8751.398375,9111.881535,8797.322415,8482.992734,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
11,Banco del Estado de Chile,3896153.828674,3963459.97808,3993191.139984,4111059.015418,4309027.279697,4466666.200602,4473365.814826,4404135.523346,4392063.798214,...,15045990.782817,15513142.100557,15473215.85496,15599046.239118,15433380.537728,15381894.40207,15453659.741305,15746409.985798,15908362.94069,15999064.936949
12,Banco do Brasil S.A.,26059.467665,27631.095912,23191.802397,36339.713694,42833.729129,45641.392083,46033.200923,59620.138922,51237.905011,...,16007.775591,17475.360021,14866.495635,13659.948941,17552.661198,15816.204207,13101.904404,7407.979145,0,0
13,Banco Falabella,3152.892478,3204.47513,11162.366978,18501.995083,18789.386616,18960.642047,28296.24153,28946.00526,29608.767698,...,12178.035915,12315.856821,12283.228175,12131.133432,12176.622327,12844.069804,12913.032994,12777.46546,12949.715213,13141.904627
14,Banco Internacional,215982.166181,216138.406264,226554.960211,240747.491519,252147.627597,263361.253078,265306.703637,289281.562705,300794.364619,...,2014508.376069,2012538.863564,2022408.368277,2022901.787066,2028908.284743,2041257.586096,2038899.261971,2045060.971379,2059975.013314,2079942.944172
15,Banco Itaú Corpbanca (10),4574744.624368,4565403.905224,4632510.109639,4829191.643114,4988504.659134,5183497.612225,5264168.461635,5286430.837304,5481990.81671,...,12085613.236779,12070934.715985,12072191.258401,12139637.043573,12086569.039355,12279300.971471,12304127.202828,12446999.156546,12432056.28539,12632812.667251
16,Banco Paris (13),1081.159783,1085.254988,1136.767724,1177.367401,1178.646379,1183.212123,1192.983876,1210.515838,1216.171695,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
17,Banco Penta (14),0,0,0,0,0,0,0,0,0,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
18,Banco Ripley,10946.358147,10517.433549,10318.689691,9272.493591,9423.905639,8127.974883,8209.88731,8422.651645,10040.904648,...,302.119355,283.942633,280.269151,277.646692,273.269493,269.780801,265.774412,248.848729,239.958673,236.241077
19,Banco Santander - Chile,7836899.297425,7810183.654652,7944430.663844,8190161.01574,8401604.613249,8748161.059977,8735259.940129,8910142.592596,9109249.351961,...,19045353.919116,18757177.330691,18857293.538894,18992919.040972,18946190.800133,19006869.777968,19184997.660729,19891175.937048,19853821.67952,20025219.53611
20,Banco Security,1601167.187819,1603405.910199,1622354.168037,1681071.823191,1724592.806945,1783485.701941,1793498.127053,1805964.943952,1849841.447819,...,5292893.733192,5314330.973326,5319016.774346,5348163.491016,5367891.432863,5332321.680663,5371242.754148,5435270.116267,5580215.471664,5669597.416216
21,Banco Sudamericano (4) (5) (6),246519.91745,266021.96122,272490.376262,288712.093692,312686.414304,311754.629782,269872.213935,279462.770484,307564.894473,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
22,"China Construction Bank, Agencia en Chile (11)",ND,ND,ND,ND,ND,ND,ND,ND,ND,...,180756.544372,180359.386719,179878.268494,187115.054481,184837.138841,180882.258589,174042.007081,183962.447542,186516.885787,212077.871763
23,Deutsche Bank (Chile) (12),0,0,0,0,0,0,0,0,0,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
24,DnB NOR Bank ASA (7) (8),ND,ND,ND,ND,ND,ND,ND,ND,ND,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
25,HSBC Bank (Chile),215160.669131,220097.067115,224142.683324,235745.385064,248476.921361,248991.804935,247581.379621,255863.451213,283427.286003,...,123899.213227,136821.27559,134359.790394,137835.595379,135703.226095,134940.695412,122553.143303,134316.206877,135137.411317,144132.690533
26,"JP Morgan Chase Bank, N.A.",9691.512342,12450.069233,12526.653242,12651.527333,14699.947598,14683.419597,14925.834557,15079.664806,15266.435807,...,0,0,0,0,0,0,0,0,0,0
27,Rabobank Chile (15),162040.064941,167934.788621,170797.636832,180533.952902,188329.169995,193205.132116,187419.420579,187056.346083,192576.530717,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
28,Scotiabank Chile (3) (17),6529212.510602,6628633.495786,6579999.832646,6778039.371759,6797532.410437,6877034.108416,6857366.106844,6914298.882185,7097998.597717,...,13593378.690676,13816452.322005,13636663.302121,13620069.053181,13744617.427717,13725793.637702,13924411.664269,14317117.991086,14598747.434958,14988975.566465
29,The Bank of Tokyo - Mitsubishi Ufj. Ltd. (19),18937.865593,19945.295281,18030.501054,18441.645439,18016.557125,18263.71845,17260.760705,16685.85451,20224.162663,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
30,Bank of China (16),ND,ND,ND,ND,ND,ND,ND,ND,ND,...,0,0,0,0,0,0,0,0,0,0

In [99]:
colocaciones_06.head(3)

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,Unnamed: 161,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166
5,Banco Bice,1558021.408962,1600142.273184,1632884.938318,1669941.78234,1727712.649442,1801725.02261,1771447.528553,1815725.5027,1869964.294513,...,5224580.500073,5288485.322697,5304405.948313,5356333.775644,5401353.292584,5412497.013402,5413076.092683,5589444.400976,5644862.695764,5762734.761401
6,Banco BTG Pactual Chile (9),ND,ND,ND,ND,ND,ND,ND,ND,ND,...,1207031.841972,1219968.641785,1236017.530255,1284157.56313,1347129.374373,1379468.722384,1371803.875966,1366410.319041,1340045.201823,1427693.447579
7,Banco Consorcio (1),33852.866172,32164.437303,29705.566566,30101.07145,30449.634077,29549.393966,28366.781944,28719.590316,27240.785625,...,3053489.90254,3085332.406298,3096915.786928,3143475.342468,3178986.986565,3209552.599472,3265943.970301,3328635.447801,3355199.291285,3453745.271205

In [100]:
colocaciones_06 = colocaciones_06.melt(id_vars=['Unnamed: 1'], value_vars=['Unnamed: 2','Unnamed: 3','Unnamed: 4','Unnamed: 5','Unnamed: 6','Unnamed: 7','Unnamed: 8','Unnamed: 9','Unnamed: 10','Unnamed: 11',
                                                   'Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19','Unnamed: 20','Unnamed: 21',
                                                   'Unnamed: 22','Unnamed: 23','Unnamed: 24','Unnamed: 25','Unnamed: 26','Unnamed: 27','Unnamed: 28','Unnamed: 29','Unnamed: 30','Unnamed: 31',
                                                   'Unnamed: 32','Unnamed: 33','Unnamed: 34','Unnamed: 35','Unnamed: 36','Unnamed: 37','Unnamed: 38','Unnamed: 39','Unnamed: 40','Unnamed: 41',
                                                   'Unnamed: 42','Unnamed: 43','Unnamed: 44','Unnamed: 45','Unnamed: 46','Unnamed: 47','Unnamed: 48','Unnamed: 49','Unnamed: 50','Unnamed: 51',
                                                   'Unnamed: 52','Unnamed: 53','Unnamed: 54','Unnamed: 55','Unnamed: 56','Unnamed: 57','Unnamed: 58','Unnamed: 59','Unnamed: 60','Unnamed: 61',
                                                   'Unnamed: 62','Unnamed: 63','Unnamed: 64','Unnamed: 65','Unnamed: 66','Unnamed: 67','Unnamed: 68','Unnamed: 69','Unnamed: 70','Unnamed: 71',
                                                   'Unnamed: 72','Unnamed: 73','Unnamed: 74','Unnamed: 75','Unnamed: 76','Unnamed: 77','Unnamed: 78','Unnamed: 79','Unnamed: 80','Unnamed: 81',
                                                   'Unnamed: 82','Unnamed: 83','Unnamed: 84','Unnamed: 85','Unnamed: 86','Unnamed: 87','Unnamed: 88','Unnamed: 89','Unnamed: 90','Unnamed: 91',
                                                   'Unnamed: 92','Unnamed: 93','Unnamed: 94','Unnamed: 95','Unnamed: 96','Unnamed: 97','Unnamed: 98','Unnamed: 99','Unnamed: 100','Unnamed: 101',
                                                   'Unnamed: 102','Unnamed: 103','Unnamed: 104','Unnamed: 105','Unnamed: 106','Unnamed: 107','Unnamed: 108','Unnamed: 109','Unnamed: 110','Unnamed: 111',
                                                   'Unnamed: 112','Unnamed: 113','Unnamed: 114','Unnamed: 115','Unnamed: 116','Unnamed: 117','Unnamed: 118','Unnamed: 119','Unnamed: 120','Unnamed: 121',
                                                   'Unnamed: 122','Unnamed: 123','Unnamed: 124','Unnamed: 125','Unnamed: 126','Unnamed: 127','Unnamed: 128','Unnamed: 129','Unnamed: 130','Unnamed: 131',
                                                   'Unnamed: 132','Unnamed: 133','Unnamed: 134','Unnamed: 135','Unnamed: 136','Unnamed: 137','Unnamed: 138','Unnamed: 139','Unnamed: 140','Unnamed: 141',
                                                   'Unnamed: 142','Unnamed: 143','Unnamed: 144','Unnamed: 145','Unnamed: 146','Unnamed: 147','Unnamed: 148','Unnamed: 149','Unnamed: 150','Unnamed: 151',
                                                   'Unnamed: 152','Unnamed: 153','Unnamed: 154','Unnamed: 155','Unnamed: 156','Unnamed: 157','Unnamed: 158','Unnamed: 159','Unnamed: 160','Unnamed: 161',
                                                   'Unnamed: 162','Unnamed: 163','Unnamed: 164','Unnamed: 165','Unnamed: 166'],
               var_name='myVarname',
               value_name='Valor',
               ignore_index=False
               )

In [101]:
colocaciones_06

,Unnamed: 1,myVarname,Valor
5,Banco Bice,Unnamed: 2,1558021.408962
6,Banco BTG Pactual Chile (9),Unnamed: 2,ND
7,Banco Consorcio (1),Unnamed: 2,33852.866172
8,Banco de Chile (2),Unnamed: 2,9158859.6533
9,Banco de Crédito e Inversiones,Unnamed: 2,5556001.282409
...,...,...,...
26,"JP Morgan Chase Bank, N.A.",Unnamed: 166,0
27,Rabobank Chile (15),Unnamed: 166,ND
28,Scotiabank Chile (3) (17),Unnamed: 166,14988975.566465
29,The Bank of Tokyo - Mitsubishi Ufj. Ltd. (19),Unnamed: 166,ND
30,Bank of China (16),Unnamed: 166,0

In [102]:
# create a list of our conditions
conditions_6 = [(colocaciones_06['myVarname'] == 'Unnamed: 2'),(colocaciones_06['myVarname'] == 'Unnamed: 3'),(colocaciones_06['myVarname'] == 'Unnamed: 4'),(colocaciones_06['myVarname'] == 'Unnamed: 5'),(colocaciones_06['myVarname'] == 'Unnamed: 6'),
 (colocaciones_06['myVarname'] == 'Unnamed: 7'),(colocaciones_06['myVarname'] == 'Unnamed: 8'),(colocaciones_06['myVarname'] == 'Unnamed: 9'),(colocaciones_06['myVarname'] == 'Unnamed: 10'),(colocaciones_06['myVarname'] == 'Unnamed: 11'),
  (colocaciones_06['myVarname'] == 'Unnamed: 12'),(colocaciones_06['myVarname'] == 'Unnamed: 13'),(colocaciones_06['myVarname'] == 'Unnamed: 14'),(colocaciones_06['myVarname'] == 'Unnamed: 15'),(colocaciones_06['myVarname'] == 'Unnamed: 16'),
   (colocaciones_06['myVarname'] == 'Unnamed: 17'),(colocaciones_06['myVarname'] == 'Unnamed: 18'),(colocaciones_06['myVarname'] == 'Unnamed: 19'),(colocaciones_06['myVarname'] == 'Unnamed: 20'),(colocaciones_06['myVarname'] == 'Unnamed: 21'),
    (colocaciones_06['myVarname'] == 'Unnamed: 22'),(colocaciones_06['myVarname'] == 'Unnamed: 23'),(colocaciones_06['myVarname'] == 'Unnamed: 24'),(colocaciones_06['myVarname'] == 'Unnamed: 25'),(colocaciones_06['myVarname'] == 'Unnamed: 26'),
     (colocaciones_06['myVarname'] == 'Unnamed: 27'),(colocaciones_06['myVarname'] == 'Unnamed: 28'),(colocaciones_06['myVarname'] == 'Unnamed: 29'),(colocaciones_06['myVarname'] == 'Unnamed: 30'),(colocaciones_06['myVarname'] == 'Unnamed: 31'),
      (colocaciones_06['myVarname'] == 'Unnamed: 32'),(colocaciones_06['myVarname'] == 'Unnamed: 33'),(colocaciones_06['myVarname'] == 'Unnamed: 34'),(colocaciones_06['myVarname'] == 'Unnamed: 35'),(colocaciones_06['myVarname'] == 'Unnamed: 36'),
       (colocaciones_06['myVarname'] == 'Unnamed: 37'),(colocaciones_06['myVarname'] == 'Unnamed: 38'),(colocaciones_06['myVarname'] == 'Unnamed: 39'),(colocaciones_06['myVarname'] == 'Unnamed: 40'),(colocaciones_06['myVarname'] == 'Unnamed: 41'),
        (colocaciones_06['myVarname'] == 'Unnamed: 42'),(colocaciones_06['myVarname'] == 'Unnamed: 43'),(colocaciones_06['myVarname'] == 'Unnamed: 44'),(colocaciones_06['myVarname'] == 'Unnamed: 45'),(colocaciones_06['myVarname'] == 'Unnamed: 46'),
         (colocaciones_06['myVarname'] == 'Unnamed: 47'),(colocaciones_06['myVarname'] == 'Unnamed: 48'),(colocaciones_06['myVarname'] == 'Unnamed: 49'),(colocaciones_06['myVarname'] == 'Unnamed: 50'),(colocaciones_06['myVarname'] == 'Unnamed: 51'),
          (colocaciones_06['myVarname'] == 'Unnamed: 52'),(colocaciones_06['myVarname'] == 'Unnamed: 53'),(colocaciones_06['myVarname'] == 'Unnamed: 54'),(colocaciones_06['myVarname'] == 'Unnamed: 55'),(colocaciones_06['myVarname'] == 'Unnamed: 56'),
           (colocaciones_06['myVarname'] == 'Unnamed: 57'),(colocaciones_06['myVarname'] == 'Unnamed: 58'),(colocaciones_06['myVarname'] == 'Unnamed: 59'),(colocaciones_06['myVarname'] == 'Unnamed: 60'),(colocaciones_06['myVarname'] == 'Unnamed: 61'),
            (colocaciones_06['myVarname'] == 'Unnamed: 62'),(colocaciones_06['myVarname'] == 'Unnamed: 63'),(colocaciones_06['myVarname'] == 'Unnamed: 64'),(colocaciones_06['myVarname'] == 'Unnamed: 65'),(colocaciones_06['myVarname'] == 'Unnamed: 66'),
             (colocaciones_06['myVarname'] == 'Unnamed: 67'),(colocaciones_06['myVarname'] == 'Unnamed: 68'),(colocaciones_06['myVarname'] == 'Unnamed: 69'),(colocaciones_06['myVarname'] == 'Unnamed: 70'),(colocaciones_06['myVarname'] == 'Unnamed: 71'),
              (colocaciones_06['myVarname'] == 'Unnamed: 72'),(colocaciones_06['myVarname'] == 'Unnamed: 73'),(colocaciones_06['myVarname'] == 'Unnamed: 74'),(colocaciones_06['myVarname'] == 'Unnamed: 75'),(colocaciones_06['myVarname'] == 'Unnamed: 76'),
               (colocaciones_06['myVarname'] == 'Unnamed: 77'),(colocaciones_06['myVarname'] == 'Unnamed: 78'),(colocaciones_06['myVarname'] == 'Unnamed: 79'),(colocaciones_06['myVarname'] == 'Unnamed: 80'),(colocaciones_06['myVarname'] == 'Unnamed: 81'),
                (colocaciones_06['myVarname'] == 'Unnamed: 82'),(colocaciones_06['myVarname'] == 'Unnamed: 83'),(colocaciones_06['myVarname'] == 'Unnamed: 84'),(colocaciones_06['myVarname'] == 'Unnamed: 85'),(colocaciones_06['myVarname'] == 'Unnamed: 86'),
                 (colocaciones_06['myVarname'] == 'Unnamed: 87'),(colocaciones_06['myVarname'] == 'Unnamed: 88'),(colocaciones_06['myVarname'] == 'Unnamed: 89'),(colocaciones_06['myVarname'] == 'Unnamed: 90'),(colocaciones_06['myVarname'] == 'Unnamed: 91'),
                  (colocaciones_06['myVarname'] == 'Unnamed: 92'),(colocaciones_06['myVarname'] == 'Unnamed: 93'),(colocaciones_06['myVarname'] == 'Unnamed: 94'),(colocaciones_06['myVarname'] == 'Unnamed: 95'),(colocaciones_06['myVarname'] == 'Unnamed: 96'),
                   (colocaciones_06['myVarname'] == 'Unnamed: 97'),(colocaciones_06['myVarname'] == 'Unnamed: 98'),(colocaciones_06['myVarname'] == 'Unnamed: 99'),(colocaciones_06['myVarname'] == 'Unnamed: 100'),(colocaciones_06['myVarname'] == 'Unnamed: 101'),
                    (colocaciones_06['myVarname'] == 'Unnamed: 102'),(colocaciones_06['myVarname'] == 'Unnamed: 103'),(colocaciones_06['myVarname'] == 'Unnamed: 104'),(colocaciones_06['myVarname'] == 'Unnamed: 105'),(colocaciones_06['myVarname'] == 'Unnamed: 106'),
                     (colocaciones_06['myVarname'] == 'Unnamed: 107'),(colocaciones_06['myVarname'] == 'Unnamed: 108'),(colocaciones_06['myVarname'] == 'Unnamed: 109'),(colocaciones_06['myVarname'] == 'Unnamed: 110'),(colocaciones_06['myVarname'] == 'Unnamed: 111'),
                      (colocaciones_06['myVarname'] == 'Unnamed: 112'),(colocaciones_06['myVarname'] == 'Unnamed: 113'),(colocaciones_06['myVarname'] == 'Unnamed: 114'),(colocaciones_06['myVarname'] == 'Unnamed: 115'),(colocaciones_06['myVarname'] == 'Unnamed: 116'),
                       (colocaciones_06['myVarname'] == 'Unnamed: 117'),(colocaciones_06['myVarname'] == 'Unnamed: 118'),(colocaciones_06['myVarname'] == 'Unnamed: 119'),(colocaciones_06['myVarname'] == 'Unnamed: 120'),(colocaciones_06['myVarname'] == 'Unnamed: 121'),
                        (colocaciones_06['myVarname'] == 'Unnamed: 122'),(colocaciones_06['myVarname'] == 'Unnamed: 123'),(colocaciones_06['myVarname'] == 'Unnamed: 124'),(colocaciones_06['myVarname'] == 'Unnamed: 125'),(colocaciones_06['myVarname'] == 'Unnamed: 126'),
                         (colocaciones_06['myVarname'] == 'Unnamed: 127'),(colocaciones_06['myVarname'] == 'Unnamed: 128'),(colocaciones_06['myVarname'] == 'Unnamed: 129'),(colocaciones_06['myVarname'] == 'Unnamed: 130'),(colocaciones_06['myVarname'] == 'Unnamed: 131'),
                          (colocaciones_06['myVarname'] == 'Unnamed: 132'),(colocaciones_06['myVarname'] == 'Unnamed: 133'),(colocaciones_06['myVarname'] == 'Unnamed: 134'),(colocaciones_06['myVarname'] == 'Unnamed: 135'),(colocaciones_06['myVarname'] == 'Unnamed: 136'),
                           (colocaciones_06['myVarname'] == 'Unnamed: 137'),(colocaciones_06['myVarname'] == 'Unnamed: 138'),(colocaciones_06['myVarname'] == 'Unnamed: 139'),(colocaciones_06['myVarname'] == 'Unnamed: 140'),(colocaciones_06['myVarname'] == 'Unnamed: 141'),
                            (colocaciones_06['myVarname'] == 'Unnamed: 142'),(colocaciones_06['myVarname'] == 'Unnamed: 143'),(colocaciones_06['myVarname'] == 'Unnamed: 144'),(colocaciones_06['myVarname'] == 'Unnamed: 145'),(colocaciones_06['myVarname'] == 'Unnamed: 146'),
                             (colocaciones_06['myVarname'] == 'Unnamed: 147'),(colocaciones_06['myVarname'] == 'Unnamed: 148'),(colocaciones_06['myVarname'] == 'Unnamed: 149'),(colocaciones_06['myVarname'] == 'Unnamed: 150'),(colocaciones_06['myVarname'] == 'Unnamed: 151'),
                              (colocaciones_06['myVarname'] == 'Unnamed: 152'),(colocaciones_06['myVarname'] == 'Unnamed: 153'),(colocaciones_06['myVarname'] == 'Unnamed: 154'),(colocaciones_06['myVarname'] == 'Unnamed: 155'),(colocaciones_06['myVarname'] == 'Unnamed: 156'),
                               (colocaciones_06['myVarname'] == 'Unnamed: 157'),(colocaciones_06['myVarname'] == 'Unnamed: 158'),(colocaciones_06['myVarname'] == 'Unnamed: 159'),(colocaciones_06['myVarname'] == 'Unnamed: 160'),(colocaciones_06['myVarname'] == 'Unnamed: 161'),
                                (colocaciones_06['myVarname'] == 'Unnamed: 162'),(colocaciones_06['myVarname'] == 'Unnamed: 163'),(colocaciones_06['myVarname'] == 'Unnamed: 164'),(colocaciones_06['myVarname'] == 'Unnamed: 165'),(colocaciones_06['myVarname'] == 'Unnamed: 166')
                                ]

In [103]:
colocaciones_06['Fecha'] = np.select(conditions_6, values)

In [104]:
colocaciones_06

,Unnamed: 1,myVarname,Valor,Fecha
5,Banco Bice,Unnamed: 2,1558021.408962,2008-01-31
6,Banco BTG Pactual Chile (9),Unnamed: 2,ND,2008-01-31
7,Banco Consorcio (1),Unnamed: 2,33852.866172,2008-01-31
8,Banco de Chile (2),Unnamed: 2,9158859.6533,2008-01-31
9,Banco de Crédito e Inversiones,Unnamed: 2,5556001.282409,2008-01-31
...,...,...,...,...
26,"JP Morgan Chase Bank, N.A.",Unnamed: 166,0,2021-09-30
27,Rabobank Chile (15),Unnamed: 166,ND,2021-09-30
28,Scotiabank Chile (3) (17),Unnamed: 166,14988975.566465,2021-09-30
29,The Bank of Tokyo - Mitsubishi Ufj. Ltd. (19),Unnamed: 166,ND,2021-09-30
30,Bank of China (16),Unnamed: 166,0,2021-09-30

In [105]:
colocaciones_06.pop("myVarname")

5       Unnamed: 2
6       Unnamed: 2
7       Unnamed: 2
8       Unnamed: 2
9       Unnamed: 2
          ...
26    Unnamed: 166
27    Unnamed: 166
28    Unnamed: 166
29    Unnamed: 166
30    Unnamed: 166
Name: myVarname, Length: 4290, dtype: object

In [106]:
colocaciones_06.rename(columns={"Unnamed: 1": "Institucion"}, inplace=True)

In [107]:
colocaciones_06

                                      Institucion            Valor       Fecha
5                                      Banco Bice   1558021.408962  2008-01-31
6                     Banco BTG Pactual Chile (9)               ND  2008-01-31
7                             Banco Consorcio (1)     33852.866172  2008-01-31
8                              Banco de Chile (2)     9158859.6533  2008-01-31
9                  Banco de Crédito e Inversiones   5556001.282409  2008-01-31
..                                            ...              ...         ...
26                     JP Morgan Chase Bank, N.A.                0  2021-09-30
27                            Rabobank Chile (15)               ND  2021-09-30
28                      Scotiabank Chile (3) (17)  14988975.566465  2021-09-30
29  The Bank of Tokyo - Mitsubishi Ufj. Ltd. (19)               ND  2021-09-30
30                             Bank of China (16)                0  2021-09-30

[4290 rows x 3 columns]

In [108]:
colocaciones_06['Tipo'] = "Colocación"
colocaciones_06['Subtipo'] = "Colocaciones de empresas"
colocaciones_06['Tipo de Moneda'] = "Saldos en millones de pesos"

In [109]:
new_cols = ["Fecha","Institucion","Tipo","Subtipo","Valor","Tipo de Moneda"]
colocaciones_06 = colocaciones_06.reindex(columns=new_cols)

In [110]:
colocaciones_06

,Fecha,Institucion,Tipo,Subtipo,Valor,Tipo de Moneda
5,2008-01-31,Banco Bice,Colocación,Colocaciones de empresas,1558021.408962,Saldos en millones de pesos
6,2008-01-31,Banco BTG Pactual Chile (9),Colocación,Colocaciones de empresas,ND,Saldos en millones de pesos
7,2008-01-31,Banco Consorcio (1),Colocación,Colocaciones de empresas,33852.866172,Saldos en millones de pesos
8,2008-01-31,Banco de Chile (2),Colocación,Colocaciones de empresas,9158859.6533,Saldos en millones de pesos
9,2008-01-31,Banco de Crédito e Inversiones,Colocación,Colocaciones de empresas,5556001.282409,Saldos en millones de pesos
...,...,...,...,...,...,...
26,2021-09-30,"JP Morgan Chase Bank, N.A.",Colocación,Colocaciones de empresas,0,Saldos en millones de pesos
27,2021-09-30,Rabobank Chile (15),Colocación,Colocaciones de empresas,ND,Saldos en millones de pesos
28,2021-09-30,Scotiabank Chile (3) (17),Colocación,Colocaciones de empresas,14988975.566465,Saldos en millones de pesos
29,2021-09-30,The Bank of Tokyo - Mitsubishi Ufj. Ltd. (19),Colocación,Colocaciones de empresas,ND,Saldos en millones de pesos
30,2021-09-30,Bank of China (16),Colocación,Colocaciones de empresas,0,Saldos en millones de pesos

## Colocación 07

In [111]:
colocaciones_07.head(5)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,Unnamed: 161,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166
0,Índice general,Cuadro 1.07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Notas generales,Colocaciones efectivas en moneda nacional,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Conceptualización,Saldos en millones de pesos,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,2008-01-31 00:00:00,2008-02-29 00:00:00,2008-03-31 00:00:00,2008-04-30 00:00:00,2008-05-31 00:00:00,2008-06-30 00:00:00,2008-07-31 00:00:00,2008-08-31 00:00:00,...,2020-12-31 00:00:00,2021-01-31 00:00:00,2021-02-28 00:00:00,2021-03-31 00:00:00,2021-04-30 00:00:00,2021-05-31 00:00:00,2021-06-30 00:00:00,2021-07-31 00:00:00,2021-08-31 00:00:00,2021-09-30 00:00:00

In [112]:
colocaciones_07.pop("Unnamed: 0")

0        Índice general
1       Notas generales
2     Conceptualización
3                   NaN
4                   NaN
5                   NaN
6                   NaN
7                   NaN
8                   NaN
9                   NaN
10                  NaN
11                  NaN
12                  NaN
13                  NaN
14                  NaN
15                  NaN
16                  NaN
17                  NaN
18                  NaN
19                  NaN
20                  NaN
21                  NaN
22                  NaN
23                  NaN
24                  NaN
25                  NaN
26                  NaN
27                  NaN
28                  NaN
29                  NaN
30                  NaN
31                  NaN
32                  NaN
33                  NaN
34                  NaN
35                  NaN
36                  NaN
Name: Unnamed: 0, dtype: object

In [113]:
colocaciones_07 = colocaciones_07.iloc[5:]

In [114]:
colocaciones_07.tail(7)

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,Unnamed: 161,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166
30,Bank of China (16),ND,ND,ND,ND,ND,ND,ND,ND,ND,...,0,0,0,0,0,0,0,0,0,0
31,Total,50810737,51384199,51885888,52824283,53072836,53474553,54384859,55075522,55577783,...,157309329.518847,157204277.783729,157929523.889693,159400097.278636,159991114.774274,161011167.080323,161707573.470875,163250814.142362,164597686.893547,165721923.629379
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,ND : No existe dato,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,Conceptualización: Vínculo que remite al docum...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [115]:
colocaciones_07.drop(colocaciones_07.tail(6).index,inplace=True)

<ipython-input-115-e00949a78319>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  colocaciones_07.drop(colocaciones_07.tail(6).index,inplace=True)

In [116]:
colocaciones_07

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,Unnamed: 161,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166
5,Banco Bice,1285675,1292310,1342189,1325608,1356464,1404290,1367589,1412454,1429976,...,5064560.928274,5128799.776625,5181979.261534,5261198.653284,5289744.382804,5289109.488657,5319204.096685,5437634.390284,5468063.060897,5526482.165394
6,Banco BTG Pactual Chile (9),ND,ND,ND,ND,ND,ND,ND,ND,ND,...,892447.944287,928670.569658,926354.527896,956029.874302,1043512.117516,1077332.944289,1077813.756666,1069181.933989,1045670.021005,1120537.907392
7,Banco Consorcio (1),30522,29266,26933,26954,27260,26626,25290,25967,23096,...,3360641.787919,3413618.150238,3446176.768871,3529786.248819,3569415.14788,3609559.68016,3692035.159375,3773654.447258,3818695.36425,3874699.748873
8,Banco de Chile (2),9952875,9967067,10046615,10217255,10265356,10351183,10502449,10591136,10709173,...,27619011.194641,27552579.407671,27880438.725878,28262246.353266,28280631.775157,28435896.248927,28542323.704327,28733924.164549,28908331.31502,29087344.281392
9,Banco de Crédito e Inversiones,5995824,6095609,6132880,6232772,6308127,6260282,6464809,6534885,6627566,...,21405586.068777,21506180.650679,21576540.742825,21584872.955168,21633637.310176,21720711.39244,21752756.271233,22164046.777306,22417802.635659,22533297.015441
10,Banco de la Nación Argentina (18),6102,8057,8162,9227,11279,6230,7410,13609,11732,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
11,Banco del Estado de Chile,7472546,7608816,7701500,7883430,8073671,8149653,8319855,8283481,8336541,...,24083587.217913,24131648.670454,24259648.110032,24557120.777651,24628723.387926,24860175.051084,24967726.594583,25066857.832298,25278564.559326,25407503.102856
12,Banco do Brasil S.A.,3240,3423,3794,3333,3488,3728,3476,2617,2544,...,19497.367436,21772.558959,20999.66233,21263.552854,8389.599841,7604.539908,5627.691131,2079.907753,0,0
13,Banco Falabella,536354,541718,547871,586840,555843,582242,598114,637632,636878,...,1528725.64304,1527294.966068,1535666.598339,1535388.764113,1538904.840675,1522374.348384,1524085.387439,1522479.494205,1523980.287999,1524251.955767
14,Banco Internacional,172435,171338,176568,181892,187995,196809,189613,206646,209760,...,1724882.629066,1730983.613767,1739931.010833,1745056.702322,1747883.08611,1856919.839174,1852129.084041,1852715.484329,1854834.321948,1893244.651033
15,Banco Itaú Corpbanca (10),4806161,4848584,4938022,5032355,5093692,5121235,5225233,5279166,5325171,...,14980284.699932,14950527.490995,15036626.06479,15168337.174585,15124604.250928,15279097.430075,15324923.963536,15327066.734587,15473899.585011,15600467.263358
16,Banco Paris (13),171718,167217,165729,165870,162879,165399,166535,168852,169487,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
17,Banco Penta (14),0,0,0,0,0,0,0,0,0,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
18,Banco Ripley,235065,235138,235890,235390,234903,242341,233904,233736,235376,...,109657.45425,106432.731617,103977.157296,102413.912947,101421.56267,98759.143171,97157.568863,95742.056955,95933.942254,96457.804918
19,Banco Santander - Chile,10653369,10709072,10841735,10987886,10954199,11104733,11304918,11518907,11674172,...,30314250.342913,30065026.116397,30096973.414808,30353838.603535,30468606.455847,30546953.276918,30642960.28459,31018454.642875,31095224.815242,31172470.848509
20,Banco Security,1325619,1343545,1354053,1379260,1396655,1438309,1431472,1475131,1474841,...,5225746.795757,5201293.560641,5209473.268842,5244157.162756,5260339.104532,5211445.586464,5244593.769808,5256403.153068,5355938.004152,5423523.898707
21,Banco Sudamericano (4) (5) (6),143623,150765,158897,174409,158113,169206,160982,201171,166533,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
22,"China Construction Bank, Agencia en Chile (11)",ND,ND,ND,ND,ND,ND,ND,ND,ND,...,96890.651511,96864.399299,96779.155288,97315.518753,97795.564464,93085.281127,92228.125437,88498.938073,88292.829462,97707.171731
23,Deutsche Bank (Chile) (12),0,35500,0,0,2000,0,13300,13006,0,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
24,DnB NOR Bank ASA (7) (8),ND,ND,ND,ND,ND,ND,ND,ND,ND,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
25,HSBC Bank (Chile),149689,180109,163770,168627,191257,153007,171219,153092,165746,...,73882.126603,75878.062776,76425.551762,76786.311065,75140.36641,77093.922967,71098.617931,81728.028475,81955.432301,88549.82947
26,"JP Morgan Chase Bank, N.A.",37692,41950,29527,59652,33703,14683,14926,15080,15266,...,0,0,0,0,0,0,0,0,0,0
27,Rabobank Chile (15),90577,92474,94787,100509,98114,99662,95710,96950,97954,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
28,Scotiabank Chile (3) (17),7731995,7837484,7893393,8033402,7937520,7971848,8071543,8193670,8250982,...,20809676.666528,20766707.057885,20741533.868369,20904284.713216,21122365.821338,21325048.906578,21500909.39523,21760346.156358,22090500.719021,22275385.984538
29,The Bank of Tokyo - Mitsubishi Ufj. Ltd. (19),9656,24757,23573,19612,20318,13087,16512,18334,14989,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
30,Bank of China (16),ND,ND,ND,ND,ND,ND,ND,ND,ND,...,0,0,0,0,0,0,0,0,0,0

In [117]:
colocaciones_07.head(3)

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,Unnamed: 161,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166
5,Banco Bice,1285675,1292310,1342189,1325608,1356464,1404290,1367589,1412454,1429976,...,5064560.928274,5128799.776625,5181979.261534,5261198.653284,5289744.382804,5289109.488657,5319204.096685,5437634.390284,5468063.060897,5526482.165394
6,Banco BTG Pactual Chile (9),ND,ND,ND,ND,ND,ND,ND,ND,ND,...,892447.944287,928670.569658,926354.527896,956029.874302,1043512.117516,1077332.944289,1077813.756666,1069181.933989,1045670.021005,1120537.907392
7,Banco Consorcio (1),30522,29266,26933,26954,27260,26626,25290,25967,23096,...,3360641.787919,3413618.150238,3446176.768871,3529786.248819,3569415.14788,3609559.68016,3692035.159375,3773654.447258,3818695.36425,3874699.748873

In [118]:
colocaciones_07 = colocaciones_07.melt(id_vars=['Unnamed: 1'], value_vars=['Unnamed: 2','Unnamed: 3','Unnamed: 4','Unnamed: 5','Unnamed: 6','Unnamed: 7','Unnamed: 8','Unnamed: 9','Unnamed: 10','Unnamed: 11',
                                                   'Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19','Unnamed: 20','Unnamed: 21',
                                                   'Unnamed: 22','Unnamed: 23','Unnamed: 24','Unnamed: 25','Unnamed: 26','Unnamed: 27','Unnamed: 28','Unnamed: 29','Unnamed: 30','Unnamed: 31',
                                                   'Unnamed: 32','Unnamed: 33','Unnamed: 34','Unnamed: 35','Unnamed: 36','Unnamed: 37','Unnamed: 38','Unnamed: 39','Unnamed: 40','Unnamed: 41',
                                                   'Unnamed: 42','Unnamed: 43','Unnamed: 44','Unnamed: 45','Unnamed: 46','Unnamed: 47','Unnamed: 48','Unnamed: 49','Unnamed: 50','Unnamed: 51',
                                                   'Unnamed: 52','Unnamed: 53','Unnamed: 54','Unnamed: 55','Unnamed: 56','Unnamed: 57','Unnamed: 58','Unnamed: 59','Unnamed: 60','Unnamed: 61',
                                                   'Unnamed: 62','Unnamed: 63','Unnamed: 64','Unnamed: 65','Unnamed: 66','Unnamed: 67','Unnamed: 68','Unnamed: 69','Unnamed: 70','Unnamed: 71',
                                                   'Unnamed: 72','Unnamed: 73','Unnamed: 74','Unnamed: 75','Unnamed: 76','Unnamed: 77','Unnamed: 78','Unnamed: 79','Unnamed: 80','Unnamed: 81',
                                                   'Unnamed: 82','Unnamed: 83','Unnamed: 84','Unnamed: 85','Unnamed: 86','Unnamed: 87','Unnamed: 88','Unnamed: 89','Unnamed: 90','Unnamed: 91',
                                                   'Unnamed: 92','Unnamed: 93','Unnamed: 94','Unnamed: 95','Unnamed: 96','Unnamed: 97','Unnamed: 98','Unnamed: 99','Unnamed: 100','Unnamed: 101',
                                                   'Unnamed: 102','Unnamed: 103','Unnamed: 104','Unnamed: 105','Unnamed: 106','Unnamed: 107','Unnamed: 108','Unnamed: 109','Unnamed: 110','Unnamed: 111',
                                                   'Unnamed: 112','Unnamed: 113','Unnamed: 114','Unnamed: 115','Unnamed: 116','Unnamed: 117','Unnamed: 118','Unnamed: 119','Unnamed: 120','Unnamed: 121',
                                                   'Unnamed: 122','Unnamed: 123','Unnamed: 124','Unnamed: 125','Unnamed: 126','Unnamed: 127','Unnamed: 128','Unnamed: 129','Unnamed: 130','Unnamed: 131',
                                                   'Unnamed: 132','Unnamed: 133','Unnamed: 134','Unnamed: 135','Unnamed: 136','Unnamed: 137','Unnamed: 138','Unnamed: 139','Unnamed: 140','Unnamed: 141',
                                                   'Unnamed: 142','Unnamed: 143','Unnamed: 144','Unnamed: 145','Unnamed: 146','Unnamed: 147','Unnamed: 148','Unnamed: 149','Unnamed: 150','Unnamed: 151',
                                                   'Unnamed: 152','Unnamed: 153','Unnamed: 154','Unnamed: 155','Unnamed: 156','Unnamed: 157','Unnamed: 158','Unnamed: 159','Unnamed: 160','Unnamed: 161',
                                                   'Unnamed: 162','Unnamed: 163','Unnamed: 164','Unnamed: 165','Unnamed: 166'],
               var_name='myVarname',
               value_name='Valor',
               ignore_index=False
               )

In [119]:
colocaciones_07

,Unnamed: 1,myVarname,Valor
5,Banco Bice,Unnamed: 2,1285675
6,Banco BTG Pactual Chile (9),Unnamed: 2,ND
7,Banco Consorcio (1),Unnamed: 2,30522
8,Banco de Chile (2),Unnamed: 2,9952875
9,Banco de Crédito e Inversiones,Unnamed: 2,5995824
...,...,...,...
26,"JP Morgan Chase Bank, N.A.",Unnamed: 166,0
27,Rabobank Chile (15),Unnamed: 166,ND
28,Scotiabank Chile (3) (17),Unnamed: 166,22275385.984538
29,The Bank of Tokyo - Mitsubishi Ufj. Ltd. (19),Unnamed: 166,ND
30,Bank of China (16),Unnamed: 166,0

In [120]:
# create a list of our conditions
conditions_7 = [(colocaciones_07['myVarname'] == 'Unnamed: 2'),(colocaciones_07['myVarname'] == 'Unnamed: 3'),(colocaciones_07['myVarname'] == 'Unnamed: 4'),(colocaciones_07['myVarname'] == 'Unnamed: 5'),(colocaciones_07['myVarname'] == 'Unnamed: 6'),
 (colocaciones_07['myVarname'] == 'Unnamed: 7'),(colocaciones_07['myVarname'] == 'Unnamed: 8'),(colocaciones_07['myVarname'] == 'Unnamed: 9'),(colocaciones_07['myVarname'] == 'Unnamed: 10'),(colocaciones_07['myVarname'] == 'Unnamed: 11'),
  (colocaciones_07['myVarname'] == 'Unnamed: 12'),(colocaciones_07['myVarname'] == 'Unnamed: 13'),(colocaciones_07['myVarname'] == 'Unnamed: 14'),(colocaciones_07['myVarname'] == 'Unnamed: 15'),(colocaciones_07['myVarname'] == 'Unnamed: 16'),
   (colocaciones_07['myVarname'] == 'Unnamed: 17'),(colocaciones_07['myVarname'] == 'Unnamed: 18'),(colocaciones_07['myVarname'] == 'Unnamed: 19'),(colocaciones_07['myVarname'] == 'Unnamed: 20'),(colocaciones_07['myVarname'] == 'Unnamed: 21'),
    (colocaciones_07['myVarname'] == 'Unnamed: 22'),(colocaciones_07['myVarname'] == 'Unnamed: 23'),(colocaciones_07['myVarname'] == 'Unnamed: 24'),(colocaciones_07['myVarname'] == 'Unnamed: 25'),(colocaciones_07['myVarname'] == 'Unnamed: 26'),
     (colocaciones_07['myVarname'] == 'Unnamed: 27'),(colocaciones_07['myVarname'] == 'Unnamed: 28'),(colocaciones_07['myVarname'] == 'Unnamed: 29'),(colocaciones_07['myVarname'] == 'Unnamed: 30'),(colocaciones_07['myVarname'] == 'Unnamed: 31'),
      (colocaciones_07['myVarname'] == 'Unnamed: 32'),(colocaciones_07['myVarname'] == 'Unnamed: 33'),(colocaciones_07['myVarname'] == 'Unnamed: 34'),(colocaciones_07['myVarname'] == 'Unnamed: 35'),(colocaciones_07['myVarname'] == 'Unnamed: 36'),
       (colocaciones_07['myVarname'] == 'Unnamed: 37'),(colocaciones_07['myVarname'] == 'Unnamed: 38'),(colocaciones_07['myVarname'] == 'Unnamed: 39'),(colocaciones_07['myVarname'] == 'Unnamed: 40'),(colocaciones_07['myVarname'] == 'Unnamed: 41'),
        (colocaciones_07['myVarname'] == 'Unnamed: 42'),(colocaciones_07['myVarname'] == 'Unnamed: 43'),(colocaciones_07['myVarname'] == 'Unnamed: 44'),(colocaciones_07['myVarname'] == 'Unnamed: 45'),(colocaciones_07['myVarname'] == 'Unnamed: 46'),
         (colocaciones_07['myVarname'] == 'Unnamed: 47'),(colocaciones_07['myVarname'] == 'Unnamed: 48'),(colocaciones_07['myVarname'] == 'Unnamed: 49'),(colocaciones_07['myVarname'] == 'Unnamed: 50'),(colocaciones_07['myVarname'] == 'Unnamed: 51'),
          (colocaciones_07['myVarname'] == 'Unnamed: 52'),(colocaciones_07['myVarname'] == 'Unnamed: 53'),(colocaciones_07['myVarname'] == 'Unnamed: 54'),(colocaciones_07['myVarname'] == 'Unnamed: 55'),(colocaciones_07['myVarname'] == 'Unnamed: 56'),
           (colocaciones_07['myVarname'] == 'Unnamed: 57'),(colocaciones_07['myVarname'] == 'Unnamed: 58'),(colocaciones_07['myVarname'] == 'Unnamed: 59'),(colocaciones_07['myVarname'] == 'Unnamed: 60'),(colocaciones_07['myVarname'] == 'Unnamed: 61'),
            (colocaciones_07['myVarname'] == 'Unnamed: 62'),(colocaciones_07['myVarname'] == 'Unnamed: 63'),(colocaciones_07['myVarname'] == 'Unnamed: 64'),(colocaciones_07['myVarname'] == 'Unnamed: 65'),(colocaciones_07['myVarname'] == 'Unnamed: 66'),
             (colocaciones_07['myVarname'] == 'Unnamed: 67'),(colocaciones_07['myVarname'] == 'Unnamed: 68'),(colocaciones_07['myVarname'] == 'Unnamed: 69'),(colocaciones_07['myVarname'] == 'Unnamed: 70'),(colocaciones_07['myVarname'] == 'Unnamed: 71'),
              (colocaciones_07['myVarname'] == 'Unnamed: 72'),(colocaciones_07['myVarname'] == 'Unnamed: 73'),(colocaciones_07['myVarname'] == 'Unnamed: 74'),(colocaciones_07['myVarname'] == 'Unnamed: 75'),(colocaciones_07['myVarname'] == 'Unnamed: 76'),
               (colocaciones_07['myVarname'] == 'Unnamed: 77'),(colocaciones_07['myVarname'] == 'Unnamed: 78'),(colocaciones_07['myVarname'] == 'Unnamed: 79'),(colocaciones_07['myVarname'] == 'Unnamed: 80'),(colocaciones_07['myVarname'] == 'Unnamed: 81'),
                (colocaciones_07['myVarname'] == 'Unnamed: 82'),(colocaciones_07['myVarname'] == 'Unnamed: 83'),(colocaciones_07['myVarname'] == 'Unnamed: 84'),(colocaciones_07['myVarname'] == 'Unnamed: 85'),(colocaciones_07['myVarname'] == 'Unnamed: 86'),
                 (colocaciones_07['myVarname'] == 'Unnamed: 87'),(colocaciones_07['myVarname'] == 'Unnamed: 88'),(colocaciones_07['myVarname'] == 'Unnamed: 89'),(colocaciones_07['myVarname'] == 'Unnamed: 90'),(colocaciones_07['myVarname'] == 'Unnamed: 91'),
                  (colocaciones_07['myVarname'] == 'Unnamed: 92'),(colocaciones_07['myVarname'] == 'Unnamed: 93'),(colocaciones_07['myVarname'] == 'Unnamed: 94'),(colocaciones_07['myVarname'] == 'Unnamed: 95'),(colocaciones_07['myVarname'] == 'Unnamed: 96'),
                   (colocaciones_07['myVarname'] == 'Unnamed: 97'),(colocaciones_07['myVarname'] == 'Unnamed: 98'),(colocaciones_07['myVarname'] == 'Unnamed: 99'),(colocaciones_07['myVarname'] == 'Unnamed: 100'),(colocaciones_07['myVarname'] == 'Unnamed: 101'),
                    (colocaciones_07['myVarname'] == 'Unnamed: 102'),(colocaciones_07['myVarname'] == 'Unnamed: 103'),(colocaciones_07['myVarname'] == 'Unnamed: 104'),(colocaciones_07['myVarname'] == 'Unnamed: 105'),(colocaciones_07['myVarname'] == 'Unnamed: 106'),
                     (colocaciones_07['myVarname'] == 'Unnamed: 107'),(colocaciones_07['myVarname'] == 'Unnamed: 108'),(colocaciones_07['myVarname'] == 'Unnamed: 109'),(colocaciones_07['myVarname'] == 'Unnamed: 110'),(colocaciones_07['myVarname'] == 'Unnamed: 111'),
                      (colocaciones_07['myVarname'] == 'Unnamed: 112'),(colocaciones_07['myVarname'] == 'Unnamed: 113'),(colocaciones_07['myVarname'] == 'Unnamed: 114'),(colocaciones_07['myVarname'] == 'Unnamed: 115'),(colocaciones_07['myVarname'] == 'Unnamed: 116'),
                       (colocaciones_07['myVarname'] == 'Unnamed: 117'),(colocaciones_07['myVarname'] == 'Unnamed: 118'),(colocaciones_07['myVarname'] == 'Unnamed: 119'),(colocaciones_07['myVarname'] == 'Unnamed: 120'),(colocaciones_07['myVarname'] == 'Unnamed: 121'),
                        (colocaciones_07['myVarname'] == 'Unnamed: 122'),(colocaciones_07['myVarname'] == 'Unnamed: 123'),(colocaciones_07['myVarname'] == 'Unnamed: 124'),(colocaciones_07['myVarname'] == 'Unnamed: 125'),(colocaciones_07['myVarname'] == 'Unnamed: 126'),
                         (colocaciones_07['myVarname'] == 'Unnamed: 127'),(colocaciones_07['myVarname'] == 'Unnamed: 128'),(colocaciones_07['myVarname'] == 'Unnamed: 129'),(colocaciones_07['myVarname'] == 'Unnamed: 130'),(colocaciones_07['myVarname'] == 'Unnamed: 131'),
                          (colocaciones_07['myVarname'] == 'Unnamed: 132'),(colocaciones_07['myVarname'] == 'Unnamed: 133'),(colocaciones_07['myVarname'] == 'Unnamed: 134'),(colocaciones_07['myVarname'] == 'Unnamed: 135'),(colocaciones_07['myVarname'] == 'Unnamed: 136'),
                           (colocaciones_07['myVarname'] == 'Unnamed: 137'),(colocaciones_07['myVarname'] == 'Unnamed: 138'),(colocaciones_07['myVarname'] == 'Unnamed: 139'),(colocaciones_07['myVarname'] == 'Unnamed: 140'),(colocaciones_07['myVarname'] == 'Unnamed: 141'),
                            (colocaciones_07['myVarname'] == 'Unnamed: 142'),(colocaciones_07['myVarname'] == 'Unnamed: 143'),(colocaciones_07['myVarname'] == 'Unnamed: 144'),(colocaciones_07['myVarname'] == 'Unnamed: 145'),(colocaciones_07['myVarname'] == 'Unnamed: 146'),
                             (colocaciones_07['myVarname'] == 'Unnamed: 147'),(colocaciones_07['myVarname'] == 'Unnamed: 148'),(colocaciones_07['myVarname'] == 'Unnamed: 149'),(colocaciones_07['myVarname'] == 'Unnamed: 150'),(colocaciones_07['myVarname'] == 'Unnamed: 151'),
                              (colocaciones_07['myVarname'] == 'Unnamed: 152'),(colocaciones_07['myVarname'] == 'Unnamed: 153'),(colocaciones_07['myVarname'] == 'Unnamed: 154'),(colocaciones_07['myVarname'] == 'Unnamed: 155'),(colocaciones_07['myVarname'] == 'Unnamed: 156'),
                               (colocaciones_07['myVarname'] == 'Unnamed: 157'),(colocaciones_07['myVarname'] == 'Unnamed: 158'),(colocaciones_07['myVarname'] == 'Unnamed: 159'),(colocaciones_07['myVarname'] == 'Unnamed: 160'),(colocaciones_07['myVarname'] == 'Unnamed: 161'),
                                (colocaciones_07['myVarname'] == 'Unnamed: 162'),(colocaciones_07['myVarname'] == 'Unnamed: 163'),(colocaciones_07['myVarname'] == 'Unnamed: 164'),(colocaciones_07['myVarname'] == 'Unnamed: 165'),(colocaciones_07['myVarname'] == 'Unnamed: 166')
                                ]

In [121]:
colocaciones_07['Fecha'] = np.select(conditions_7, values)

In [122]:
colocaciones_07

,Unnamed: 1,myVarname,Valor,Fecha
5,Banco Bice,Unnamed: 2,1285675,2008-01-31
6,Banco BTG Pactual Chile (9),Unnamed: 2,ND,2008-01-31
7,Banco Consorcio (1),Unnamed: 2,30522,2008-01-31
8,Banco de Chile (2),Unnamed: 2,9952875,2008-01-31
9,Banco de Crédito e Inversiones,Unnamed: 2,5995824,2008-01-31
...,...,...,...,...
26,"JP Morgan Chase Bank, N.A.",Unnamed: 166,0,2021-09-30
27,Rabobank Chile (15),Unnamed: 166,ND,2021-09-30
28,Scotiabank Chile (3) (17),Unnamed: 166,22275385.984538,2021-09-30
29,The Bank of Tokyo - Mitsubishi Ufj. Ltd. (19),Unnamed: 166,ND,2021-09-30
30,Bank of China (16),Unnamed: 166,0,2021-09-30

In [123]:
colocaciones_07.pop("myVarname")

5       Unnamed: 2
6       Unnamed: 2
7       Unnamed: 2
8       Unnamed: 2
9       Unnamed: 2
          ...
26    Unnamed: 166
27    Unnamed: 166
28    Unnamed: 166
29    Unnamed: 166
30    Unnamed: 166
Name: myVarname, Length: 4290, dtype: object

In [124]:
colocaciones_07.rename(columns={"Unnamed: 1": "Institucion"}, inplace=True)

In [125]:
colocaciones_07

                                      Institucion            Valor       Fecha
5                                      Banco Bice          1285675  2008-01-31
6                     Banco BTG Pactual Chile (9)               ND  2008-01-31
7                             Banco Consorcio (1)            30522  2008-01-31
8                              Banco de Chile (2)          9952875  2008-01-31
9                  Banco de Crédito e Inversiones          5995824  2008-01-31
..                                            ...              ...         ...
26                     JP Morgan Chase Bank, N.A.                0  2021-09-30
27                            Rabobank Chile (15)               ND  2021-09-30
28                      Scotiabank Chile (3) (17)  22275385.984538  2021-09-30
29  The Bank of Tokyo - Mitsubishi Ufj. Ltd. (19)               ND  2021-09-30
30                             Bank of China (16)                0  2021-09-30

[4290 rows x 3 columns]

In [126]:
colocaciones_07['Tipo'] = "Colocación"
colocaciones_07['Subtipo'] = "Colocaciones efectivas en moneda nacional"
colocaciones_07['Tipo de Moneda'] = "Saldos en millones de pesos"

In [127]:
new_cols = ["Fecha","Institucion","Tipo","Subtipo","Valor","Tipo de Moneda"]
colocaciones_07 = colocaciones_07.reindex(columns=new_cols)

In [128]:
colocaciones_07

,Fecha,Institucion,Tipo,Subtipo,Valor,Tipo de Moneda
5,2008-01-31,Banco Bice,Colocación,Colocaciones efectivas en moneda nacional,1285675,Saldos en millones de pesos
6,2008-01-31,Banco BTG Pactual Chile (9),Colocación,Colocaciones efectivas en moneda nacional,ND,Saldos en millones de pesos
7,2008-01-31,Banco Consorcio (1),Colocación,Colocaciones efectivas en moneda nacional,30522,Saldos en millones de pesos
8,2008-01-31,Banco de Chile (2),Colocación,Colocaciones efectivas en moneda nacional,9952875,Saldos en millones de pesos
9,2008-01-31,Banco de Crédito e Inversiones,Colocación,Colocaciones efectivas en moneda nacional,5995824,Saldos en millones de pesos
...,...,...,...,...,...,...
26,2021-09-30,"JP Morgan Chase Bank, N.A.",Colocación,Colocaciones efectivas en moneda nacional,0,Saldos en millones de pesos
27,2021-09-30,Rabobank Chile (15),Colocación,Colocaciones efectivas en moneda nacional,ND,Saldos en millones de pesos
28,2021-09-30,Scotiabank Chile (3) (17),Colocación,Colocaciones efectivas en moneda nacional,22275385.984538,Saldos en millones de pesos
29,2021-09-30,The Bank of Tokyo - Mitsubishi Ufj. Ltd. (19),Colocación,Colocaciones efectivas en moneda nacional,ND,Saldos en millones de pesos
30,2021-09-30,Bank of China (16),Colocación,Colocaciones efectivas en moneda nacional,0,Saldos en millones de pesos

## Colocación 08

In [129]:
colocaciones_08.head(5)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,Unnamed: 161,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166
0,Índice general,Cuadro 1.08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Notas generales,Colocaciones contingentes en moneda nacional,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Conceptualización,Saldos en millones de pesos,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,2008-01-31 00:00:00,2008-02-29 00:00:00,2008-03-31 00:00:00,2008-04-30 00:00:00,2008-05-31 00:00:00,2008-06-30 00:00:00,2008-07-31 00:00:00,2008-08-31 00:00:00,...,2020-12-31 00:00:00,2021-01-31 00:00:00,2021-02-28 00:00:00,2021-03-31 00:00:00,2021-04-30 00:00:00,2021-05-31 00:00:00,2021-06-30 00:00:00,2021-07-31 00:00:00,2021-08-31 00:00:00,2021-09-30 00:00:00

In [130]:
colocaciones_08.pop("Unnamed: 0")

0        Índice general
1       Notas generales
2     Conceptualización
3                   NaN
4                   NaN
5                   NaN
6                   NaN
7                   NaN
8                   NaN
9                   NaN
10                  NaN
11                  NaN
12                  NaN
13                  NaN
14                  NaN
15                  NaN
16                  NaN
17                  NaN
18                  NaN
19                  NaN
20                  NaN
21                  NaN
22                  NaN
23                  NaN
24                  NaN
25                  NaN
26                  NaN
27                  NaN
28                  NaN
29                  NaN
30                  NaN
31                  NaN
32                  NaN
33                  NaN
34                  NaN
35                  NaN
36                  NaN
Name: Unnamed: 0, dtype: object

In [131]:
colocaciones_08 = colocaciones_08.iloc[5:]

In [132]:
colocaciones_08.tail(7)

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,Unnamed: 161,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166
30,Bank of China (16),ND,ND,ND,ND,ND,ND,ND,ND,ND,...,0,0,0,0,0,0,0,0,0,0
31,Total,2981927,3169908,3279476,3282189,3454708,3738555,3793411,3677848,3709293,...,11593594.477865,11900229.75567,11873226.24459,11746384.367463,11921419.346026,12225315.083312,12266735.15064,12482370.332604,12505040.355428,12712609.819872
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,ND : No existe dato,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,Conceptualización: Vínculo que remite al docum...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [133]:
colocaciones_08.drop(colocaciones_08.tail(6).index,inplace=True)

<ipython-input-133-644713cfa304>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  colocaciones_08.drop(colocaciones_08.tail(6).index,inplace=True)

In [134]:
colocaciones_08

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,Unnamed: 161,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166
5,Banco Bice,117084,126637,126797,127415,129835,129107,165084,171474,182255,...,532882.801096,520753.450617,498218.744002,503998.287182,505477.901681,505717.788438,492794.370298,520939.739131,527107.180426,556639.72523
6,Banco BTG Pactual Chile (9),ND,ND,ND,ND,ND,ND,ND,ND,ND,...,110215.660877,104786.791023,115011.001642,114257.705803,115905.141133,114898.594312,113575.615268,139655.209528,136797.334779,143294.842824
7,Banco Consorcio (1),1503,1469,1435,1493,1506,957,1032,929,834,...,43520.720198,42751.892564,43568.641568,44655.589141,48131.026929,51350.402394,49988.950746,49396.401149,58404.645006,54466.533536
8,Banco de Chile (2),823462,806791,851283,848868,977867,1100654,1091703,892412,893535,...,2266143.846435,2227475.625035,2246044.918801,2189343.940437,2206136.098489,2236424.690116,2228794.843785,2318542.927538,2299233.794085,2294035.48829
9,Banco de Crédito e Inversiones,400895,403312,404749,401293,394652,399737,402177,408824,408447,...,1732739.423727,1804634.942941,1711326.524643,1670669.156388,1778081.407926,1769832.049339,1837596.647306,1836197.062401,1827054.426082,1926566.412312
10,Banco de la Nación Argentina (18),811,812,832,832,220,226,67,67,67,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
11,Banco del Estado de Chile,165636,379007,401833,403317,398580,558647,558376,574761,544041,...,2553947.025622,2856920.09467,2916390.624001,2862934.024358,2846750.124149,3026290.770393,3039706.82329,3075472.395277,3105212.454961,3089136.253129
12,Banco do Brasil S.A.,458,458,462,465,467,470,475,480,485,...,206.719096,207.098897,208.262541,209.02619,209.732737,210.579872,211.266585,211.606568,0,0
13,Banco Falabella,0,0,272,274,315,315,315,324,324,...,40.575296,38.294018,32.89979,33.020427,33.132041,33.265865,31.007895,31.057796,31.242988,31.402978
14,Banco Internacional,8963,9484,10264,10611,11624,10935,13767,14631,15511,...,173545.799355,202484.879188,202825.978108,201495.66679,209887.804155,298394.002573,294859.108444,283975.732225,288087.210667,379363.970358
15,Banco Itaú Corpbanca (10),247246,243587,255687,266058,247424,252872,266209,279873,295279,...,1545823.99992,1528011.263492,1516045.099136,1505557.883629,1527974.746377,1540865.990984,1509580.361319,1451755.601693,1477549.549363,1494408.718099
16,Banco Paris (13),0,0,0,0,0,0,0,0,0,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
17,Banco Penta (14),0,0,0,0,0,0,0,0,0,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
18,Banco Ripley,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,Banco Santander - Chile,541317,550844,559103,547277,599151,591456,604298,645540,665057,...,1648825.384275,1628413.311304,1666702.846903,1723872.81918,1733402.285593,1748957.250872,1649477.726952,1714968.886138,1684832.432216,1723148.882513
20,Banco Security,138359,141506,141183,144552,144987,146396,136085,139636,139399,...,172705.161026,170290.900491,162794.732858,151962.628241,159694.913715,164333.522535,171572.032845,176263.908016,188076.897324,195702.136207
21,Banco Sudamericano (4) (5) (6),9259,9257,9246,9131,9152,8452,8552,8684,8632,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
22,"China Construction Bank, Agencia en Chile (11)",ND,ND,ND,ND,ND,ND,ND,ND,ND,...,12911.357444,12934.930512,13007.609091,12666.588525,12249.266119,7471.068824,11900.866603,11661.691782,11100.496431,10473.220006
23,Deutsche Bank (Chile) (12),0,0,0,0,0,0,0,0,0,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
24,DnB NOR Bank ASA (7) (8),ND,ND,ND,ND,ND,ND,ND,ND,ND,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
25,HSBC Bank (Chile),106578,9872,8246,8984,8873,8400,9147,9319,10034,...,16487.876072,26264.326727,26023.973967,26133.708671,25729.517076,26338.976843,28404.739096,28994.788443,29175.370174,31215.626413
26,"JP Morgan Chase Bank, N.A.",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,Rabobank Chile (15),10211,9084,8669,8888,9266,8833,12118,7599,7265,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
28,Scotiabank Chile (3) (17),408738,476365,497943,501313,519348,519681,522539,521930,536763,...,783598.127425,774261.954192,755024.38754,738594.322501,751756.247906,734196.129953,838240.790207,874303.324919,872377.320926,814126.607977
29,The Bank of Tokyo - Mitsubishi Ufj. Ltd. (19),1407,1423,1472,1418,1441,1417,1467,1365,1365,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
30,Bank of China (16),ND,ND,ND,ND,ND,ND,ND,ND,ND,...,0,0,0,0,0,0,0,0,0,0

In [135]:
colocaciones_08.head(3)

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,Unnamed: 161,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166
5,Banco Bice,117084,126637,126797,127415,129835,129107,165084,171474,182255,...,532882.801096,520753.450617,498218.744002,503998.287182,505477.901681,505717.788438,492794.370298,520939.739131,527107.180426,556639.72523
6,Banco BTG Pactual Chile (9),ND,ND,ND,ND,ND,ND,ND,ND,ND,...,110215.660877,104786.791023,115011.001642,114257.705803,115905.141133,114898.594312,113575.615268,139655.209528,136797.334779,143294.842824
7,Banco Consorcio (1),1503,1469,1435,1493,1506,957,1032,929,834,...,43520.720198,42751.892564,43568.641568,44655.589141,48131.026929,51350.402394,49988.950746,49396.401149,58404.645006,54466.533536

In [136]:
colocaciones_08 = colocaciones_08.melt(id_vars=['Unnamed: 1'], value_vars=['Unnamed: 2','Unnamed: 3','Unnamed: 4','Unnamed: 5','Unnamed: 6','Unnamed: 7','Unnamed: 8','Unnamed: 9','Unnamed: 10','Unnamed: 11',
                                                   'Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19','Unnamed: 20','Unnamed: 21',
                                                   'Unnamed: 22','Unnamed: 23','Unnamed: 24','Unnamed: 25','Unnamed: 26','Unnamed: 27','Unnamed: 28','Unnamed: 29','Unnamed: 30','Unnamed: 31',
                                                   'Unnamed: 32','Unnamed: 33','Unnamed: 34','Unnamed: 35','Unnamed: 36','Unnamed: 37','Unnamed: 38','Unnamed: 39','Unnamed: 40','Unnamed: 41',
                                                   'Unnamed: 42','Unnamed: 43','Unnamed: 44','Unnamed: 45','Unnamed: 46','Unnamed: 47','Unnamed: 48','Unnamed: 49','Unnamed: 50','Unnamed: 51',
                                                   'Unnamed: 52','Unnamed: 53','Unnamed: 54','Unnamed: 55','Unnamed: 56','Unnamed: 57','Unnamed: 58','Unnamed: 59','Unnamed: 60','Unnamed: 61',
                                                   'Unnamed: 62','Unnamed: 63','Unnamed: 64','Unnamed: 65','Unnamed: 66','Unnamed: 67','Unnamed: 68','Unnamed: 69','Unnamed: 70','Unnamed: 71',
                                                   'Unnamed: 72','Unnamed: 73','Unnamed: 74','Unnamed: 75','Unnamed: 76','Unnamed: 77','Unnamed: 78','Unnamed: 79','Unnamed: 80','Unnamed: 81',
                                                   'Unnamed: 82','Unnamed: 83','Unnamed: 84','Unnamed: 85','Unnamed: 86','Unnamed: 87','Unnamed: 88','Unnamed: 89','Unnamed: 90','Unnamed: 91',
                                                   'Unnamed: 92','Unnamed: 93','Unnamed: 94','Unnamed: 95','Unnamed: 96','Unnamed: 97','Unnamed: 98','Unnamed: 99','Unnamed: 100','Unnamed: 101',
                                                   'Unnamed: 102','Unnamed: 103','Unnamed: 104','Unnamed: 105','Unnamed: 106','Unnamed: 107','Unnamed: 108','Unnamed: 109','Unnamed: 110','Unnamed: 111',
                                                   'Unnamed: 112','Unnamed: 113','Unnamed: 114','Unnamed: 115','Unnamed: 116','Unnamed: 117','Unnamed: 118','Unnamed: 119','Unnamed: 120','Unnamed: 121',
                                                   'Unnamed: 122','Unnamed: 123','Unnamed: 124','Unnamed: 125','Unnamed: 126','Unnamed: 127','Unnamed: 128','Unnamed: 129','Unnamed: 130','Unnamed: 131',
                                                   'Unnamed: 132','Unnamed: 133','Unnamed: 134','Unnamed: 135','Unnamed: 136','Unnamed: 137','Unnamed: 138','Unnamed: 139','Unnamed: 140','Unnamed: 141',
                                                   'Unnamed: 142','Unnamed: 143','Unnamed: 144','Unnamed: 145','Unnamed: 146','Unnamed: 147','Unnamed: 148','Unnamed: 149','Unnamed: 150','Unnamed: 151',
                                                   'Unnamed: 152','Unnamed: 153','Unnamed: 154','Unnamed: 155','Unnamed: 156','Unnamed: 157','Unnamed: 158','Unnamed: 159','Unnamed: 160','Unnamed: 161',
                                                   'Unnamed: 162','Unnamed: 163','Unnamed: 164','Unnamed: 165','Unnamed: 166'],
               var_name='myVarname',
               value_name='Valor',
               ignore_index=False
               )

In [137]:
colocaciones_08

                                       Unnamed: 1     myVarname          Valor
5                                      Banco Bice    Unnamed: 2         117084
6                     Banco BTG Pactual Chile (9)    Unnamed: 2             ND
7                             Banco Consorcio (1)    Unnamed: 2           1503
8                              Banco de Chile (2)    Unnamed: 2         823462
9                  Banco de Crédito e Inversiones    Unnamed: 2         400895
..                                            ...           ...            ...
26                     JP Morgan Chase Bank, N.A.  Unnamed: 166              0
27                            Rabobank Chile (15)  Unnamed: 166             ND
28                      Scotiabank Chile (3) (17)  Unnamed: 166  814126.607977
29  The Bank of Tokyo - Mitsubishi Ufj. Ltd. (19)  Unnamed: 166             ND
30                             Bank of China (16)  Unnamed: 166              0

[4290 rows x 3 columns]

In [138]:
# create a list of our conditions
conditions_8 = [(colocaciones_08['myVarname'] == 'Unnamed: 2'),(colocaciones_08['myVarname'] == 'Unnamed: 3'),(colocaciones_08['myVarname'] == 'Unnamed: 4'),(colocaciones_08['myVarname'] == 'Unnamed: 5'),(colocaciones_08['myVarname'] == 'Unnamed: 6'),
 (colocaciones_08['myVarname'] == 'Unnamed: 7'),(colocaciones_08['myVarname'] == 'Unnamed: 8'),(colocaciones_08['myVarname'] == 'Unnamed: 9'),(colocaciones_08['myVarname'] == 'Unnamed: 10'),(colocaciones_08['myVarname'] == 'Unnamed: 11'),
  (colocaciones_08['myVarname'] == 'Unnamed: 12'),(colocaciones_08['myVarname'] == 'Unnamed: 13'),(colocaciones_08['myVarname'] == 'Unnamed: 14'),(colocaciones_08['myVarname'] == 'Unnamed: 15'),(colocaciones_08['myVarname'] == 'Unnamed: 16'),
   (colocaciones_08['myVarname'] == 'Unnamed: 17'),(colocaciones_08['myVarname'] == 'Unnamed: 18'),(colocaciones_08['myVarname'] == 'Unnamed: 19'),(colocaciones_08['myVarname'] == 'Unnamed: 20'),(colocaciones_08['myVarname'] == 'Unnamed: 21'),
    (colocaciones_08['myVarname'] == 'Unnamed: 22'),(colocaciones_08['myVarname'] == 'Unnamed: 23'),(colocaciones_08['myVarname'] == 'Unnamed: 24'),(colocaciones_08['myVarname'] == 'Unnamed: 25'),(colocaciones_08['myVarname'] == 'Unnamed: 26'),
     (colocaciones_08['myVarname'] == 'Unnamed: 27'),(colocaciones_08['myVarname'] == 'Unnamed: 28'),(colocaciones_08['myVarname'] == 'Unnamed: 29'),(colocaciones_08['myVarname'] == 'Unnamed: 30'),(colocaciones_08['myVarname'] == 'Unnamed: 31'),
      (colocaciones_08['myVarname'] == 'Unnamed: 32'),(colocaciones_08['myVarname'] == 'Unnamed: 33'),(colocaciones_08['myVarname'] == 'Unnamed: 34'),(colocaciones_08['myVarname'] == 'Unnamed: 35'),(colocaciones_08['myVarname'] == 'Unnamed: 36'),
       (colocaciones_08['myVarname'] == 'Unnamed: 37'),(colocaciones_08['myVarname'] == 'Unnamed: 38'),(colocaciones_08['myVarname'] == 'Unnamed: 39'),(colocaciones_08['myVarname'] == 'Unnamed: 40'),(colocaciones_08['myVarname'] == 'Unnamed: 41'),
        (colocaciones_08['myVarname'] == 'Unnamed: 42'),(colocaciones_08['myVarname'] == 'Unnamed: 43'),(colocaciones_08['myVarname'] == 'Unnamed: 44'),(colocaciones_08['myVarname'] == 'Unnamed: 45'),(colocaciones_08['myVarname'] == 'Unnamed: 46'),
         (colocaciones_08['myVarname'] == 'Unnamed: 47'),(colocaciones_08['myVarname'] == 'Unnamed: 48'),(colocaciones_08['myVarname'] == 'Unnamed: 49'),(colocaciones_08['myVarname'] == 'Unnamed: 50'),(colocaciones_08['myVarname'] == 'Unnamed: 51'),
          (colocaciones_08['myVarname'] == 'Unnamed: 52'),(colocaciones_08['myVarname'] == 'Unnamed: 53'),(colocaciones_08['myVarname'] == 'Unnamed: 54'),(colocaciones_08['myVarname'] == 'Unnamed: 55'),(colocaciones_08['myVarname'] == 'Unnamed: 56'),
           (colocaciones_08['myVarname'] == 'Unnamed: 57'),(colocaciones_08['myVarname'] == 'Unnamed: 58'),(colocaciones_08['myVarname'] == 'Unnamed: 59'),(colocaciones_08['myVarname'] == 'Unnamed: 60'),(colocaciones_08['myVarname'] == 'Unnamed: 61'),
            (colocaciones_08['myVarname'] == 'Unnamed: 62'),(colocaciones_08['myVarname'] == 'Unnamed: 63'),(colocaciones_08['myVarname'] == 'Unnamed: 64'),(colocaciones_08['myVarname'] == 'Unnamed: 65'),(colocaciones_08['myVarname'] == 'Unnamed: 66'),
             (colocaciones_08['myVarname'] == 'Unnamed: 67'),(colocaciones_08['myVarname'] == 'Unnamed: 68'),(colocaciones_08['myVarname'] == 'Unnamed: 69'),(colocaciones_08['myVarname'] == 'Unnamed: 70'),(colocaciones_08['myVarname'] == 'Unnamed: 71'),
              (colocaciones_08['myVarname'] == 'Unnamed: 72'),(colocaciones_08['myVarname'] == 'Unnamed: 73'),(colocaciones_08['myVarname'] == 'Unnamed: 74'),(colocaciones_08['myVarname'] == 'Unnamed: 75'),(colocaciones_08['myVarname'] == 'Unnamed: 76'),
               (colocaciones_08['myVarname'] == 'Unnamed: 77'),(colocaciones_08['myVarname'] == 'Unnamed: 78'),(colocaciones_08['myVarname'] == 'Unnamed: 79'),(colocaciones_08['myVarname'] == 'Unnamed: 80'),(colocaciones_08['myVarname'] == 'Unnamed: 81'),
                (colocaciones_08['myVarname'] == 'Unnamed: 82'),(colocaciones_08['myVarname'] == 'Unnamed: 83'),(colocaciones_08['myVarname'] == 'Unnamed: 84'),(colocaciones_08['myVarname'] == 'Unnamed: 85'),(colocaciones_08['myVarname'] == 'Unnamed: 86'),
                 (colocaciones_08['myVarname'] == 'Unnamed: 87'),(colocaciones_08['myVarname'] == 'Unnamed: 88'),(colocaciones_08['myVarname'] == 'Unnamed: 89'),(colocaciones_08['myVarname'] == 'Unnamed: 90'),(colocaciones_08['myVarname'] == 'Unnamed: 91'),
                  (colocaciones_08['myVarname'] == 'Unnamed: 92'),(colocaciones_08['myVarname'] == 'Unnamed: 93'),(colocaciones_08['myVarname'] == 'Unnamed: 94'),(colocaciones_08['myVarname'] == 'Unnamed: 95'),(colocaciones_08['myVarname'] == 'Unnamed: 96'),
                   (colocaciones_08['myVarname'] == 'Unnamed: 97'),(colocaciones_08['myVarname'] == 'Unnamed: 98'),(colocaciones_08['myVarname'] == 'Unnamed: 99'),(colocaciones_08['myVarname'] == 'Unnamed: 100'),(colocaciones_08['myVarname'] == 'Unnamed: 101'),
                    (colocaciones_08['myVarname'] == 'Unnamed: 102'),(colocaciones_08['myVarname'] == 'Unnamed: 103'),(colocaciones_08['myVarname'] == 'Unnamed: 104'),(colocaciones_08['myVarname'] == 'Unnamed: 105'),(colocaciones_08['myVarname'] == 'Unnamed: 106'),
                     (colocaciones_08['myVarname'] == 'Unnamed: 107'),(colocaciones_08['myVarname'] == 'Unnamed: 108'),(colocaciones_08['myVarname'] == 'Unnamed: 109'),(colocaciones_08['myVarname'] == 'Unnamed: 110'),(colocaciones_08['myVarname'] == 'Unnamed: 111'),
                      (colocaciones_08['myVarname'] == 'Unnamed: 112'),(colocaciones_08['myVarname'] == 'Unnamed: 113'),(colocaciones_08['myVarname'] == 'Unnamed: 114'),(colocaciones_08['myVarname'] == 'Unnamed: 115'),(colocaciones_08['myVarname'] == 'Unnamed: 116'),
                       (colocaciones_08['myVarname'] == 'Unnamed: 117'),(colocaciones_08['myVarname'] == 'Unnamed: 118'),(colocaciones_08['myVarname'] == 'Unnamed: 119'),(colocaciones_08['myVarname'] == 'Unnamed: 120'),(colocaciones_08['myVarname'] == 'Unnamed: 121'),
                        (colocaciones_08['myVarname'] == 'Unnamed: 122'),(colocaciones_08['myVarname'] == 'Unnamed: 123'),(colocaciones_08['myVarname'] == 'Unnamed: 124'),(colocaciones_08['myVarname'] == 'Unnamed: 125'),(colocaciones_08['myVarname'] == 'Unnamed: 126'),
                         (colocaciones_08['myVarname'] == 'Unnamed: 127'),(colocaciones_08['myVarname'] == 'Unnamed: 128'),(colocaciones_08['myVarname'] == 'Unnamed: 129'),(colocaciones_08['myVarname'] == 'Unnamed: 130'),(colocaciones_08['myVarname'] == 'Unnamed: 131'),
                          (colocaciones_08['myVarname'] == 'Unnamed: 132'),(colocaciones_08['myVarname'] == 'Unnamed: 133'),(colocaciones_08['myVarname'] == 'Unnamed: 134'),(colocaciones_08['myVarname'] == 'Unnamed: 135'),(colocaciones_08['myVarname'] == 'Unnamed: 136'),
                           (colocaciones_08['myVarname'] == 'Unnamed: 137'),(colocaciones_08['myVarname'] == 'Unnamed: 138'),(colocaciones_08['myVarname'] == 'Unnamed: 139'),(colocaciones_08['myVarname'] == 'Unnamed: 140'),(colocaciones_08['myVarname'] == 'Unnamed: 141'),
                            (colocaciones_08['myVarname'] == 'Unnamed: 142'),(colocaciones_08['myVarname'] == 'Unnamed: 143'),(colocaciones_08['myVarname'] == 'Unnamed: 144'),(colocaciones_08['myVarname'] == 'Unnamed: 145'),(colocaciones_08['myVarname'] == 'Unnamed: 146'),
                             (colocaciones_08['myVarname'] == 'Unnamed: 147'),(colocaciones_08['myVarname'] == 'Unnamed: 148'),(colocaciones_08['myVarname'] == 'Unnamed: 149'),(colocaciones_08['myVarname'] == 'Unnamed: 150'),(colocaciones_08['myVarname'] == 'Unnamed: 151'),
                              (colocaciones_08['myVarname'] == 'Unnamed: 152'),(colocaciones_08['myVarname'] == 'Unnamed: 153'),(colocaciones_08['myVarname'] == 'Unnamed: 154'),(colocaciones_08['myVarname'] == 'Unnamed: 155'),(colocaciones_08['myVarname'] == 'Unnamed: 156'),
                               (colocaciones_08['myVarname'] == 'Unnamed: 157'),(colocaciones_08['myVarname'] == 'Unnamed: 158'),(colocaciones_08['myVarname'] == 'Unnamed: 159'),(colocaciones_08['myVarname'] == 'Unnamed: 160'),(colocaciones_08['myVarname'] == 'Unnamed: 161'),
                                (colocaciones_08['myVarname'] == 'Unnamed: 162'),(colocaciones_08['myVarname'] == 'Unnamed: 163'),(colocaciones_08['myVarname'] == 'Unnamed: 164'),(colocaciones_08['myVarname'] == 'Unnamed: 165'),(colocaciones_08['myVarname'] == 'Unnamed: 166')
                                ]

In [139]:
colocaciones_08['Fecha'] = np.select(conditions_8, values)

In [140]:
colocaciones_08

,Unnamed: 1,myVarname,Valor,Fecha
5,Banco Bice,Unnamed: 2,117084,2008-01-31
6,Banco BTG Pactual Chile (9),Unnamed: 2,ND,2008-01-31
7,Banco Consorcio (1),Unnamed: 2,1503,2008-01-31
8,Banco de Chile (2),Unnamed: 2,823462,2008-01-31
9,Banco de Crédito e Inversiones,Unnamed: 2,400895,2008-01-31
...,...,...,...,...
26,"JP Morgan Chase Bank, N.A.",Unnamed: 166,0,2021-09-30
27,Rabobank Chile (15),Unnamed: 166,ND,2021-09-30
28,Scotiabank Chile (3) (17),Unnamed: 166,814126.607977,2021-09-30
29,The Bank of Tokyo - Mitsubishi Ufj. Ltd. (19),Unnamed: 166,ND,2021-09-30
30,Bank of China (16),Unnamed: 166,0,2021-09-30

In [141]:
colocaciones_08.pop("myVarname")

5       Unnamed: 2
6       Unnamed: 2
7       Unnamed: 2
8       Unnamed: 2
9       Unnamed: 2
          ...
26    Unnamed: 166
27    Unnamed: 166
28    Unnamed: 166
29    Unnamed: 166
30    Unnamed: 166
Name: myVarname, Length: 4290, dtype: object

In [142]:
colocaciones_08.rename(columns={"Unnamed: 1": "Institucion"}, inplace=True)

In [143]:
colocaciones_08

                                      Institucion          Valor       Fecha
5                                      Banco Bice         117084  2008-01-31
6                     Banco BTG Pactual Chile (9)             ND  2008-01-31
7                             Banco Consorcio (1)           1503  2008-01-31
8                              Banco de Chile (2)         823462  2008-01-31
9                  Banco de Crédito e Inversiones         400895  2008-01-31
..                                            ...            ...         ...
26                     JP Morgan Chase Bank, N.A.              0  2021-09-30
27                            Rabobank Chile (15)             ND  2021-09-30
28                      Scotiabank Chile (3) (17)  814126.607977  2021-09-30
29  The Bank of Tokyo - Mitsubishi Ufj. Ltd. (19)             ND  2021-09-30
30                             Bank of China (16)              0  2021-09-30

[4290 rows x 3 columns]

In [144]:
colocaciones_08['Tipo'] = "Colocación"
colocaciones_08['Subtipo'] = "Colocaciones contingentes en moneda nacional"
colocaciones_08['Tipo de Moneda'] = "Saldos en millones de pesos"

In [145]:
new_cols = ["Fecha","Institucion","Tipo","Subtipo","Valor","Tipo de Moneda"]
colocaciones_08 = colocaciones_08.reindex(columns=new_cols)

In [146]:
colocaciones_08

,Fecha,Institucion,Tipo,Subtipo,Valor,Tipo de Moneda
5,2008-01-31,Banco Bice,Colocación,Colocaciones contingentes en moneda nacional,117084,Saldos en millones de pesos
6,2008-01-31,Banco BTG Pactual Chile (9),Colocación,Colocaciones contingentes en moneda nacional,ND,Saldos en millones de pesos
7,2008-01-31,Banco Consorcio (1),Colocación,Colocaciones contingentes en moneda nacional,1503,Saldos en millones de pesos
8,2008-01-31,Banco de Chile (2),Colocación,Colocaciones contingentes en moneda nacional,823462,Saldos en millones de pesos
9,2008-01-31,Banco de Crédito e Inversiones,Colocación,Colocaciones contingentes en moneda nacional,400895,Saldos en millones de pesos
...,...,...,...,...,...,...
26,2021-09-30,"JP Morgan Chase Bank, N.A.",Colocación,Colocaciones contingentes en moneda nacional,0,Saldos en millones de pesos
27,2021-09-30,Rabobank Chile (15),Colocación,Colocaciones contingentes en moneda nacional,ND,Saldos en millones de pesos
28,2021-09-30,Scotiabank Chile (3) (17),Colocación,Colocaciones contingentes en moneda nacional,814126.607977,Saldos en millones de pesos
29,2021-09-30,The Bank of Tokyo - Mitsubishi Ufj. Ltd. (19),Colocación,Colocaciones contingentes en moneda nacional,ND,Saldos en millones de pesos
30,2021-09-30,Bank of China (16),Colocación,Colocaciones contingentes en moneda nacional,0,Saldos en millones de pesos

## Colocación 09

In [147]:
colocaciones_09.head(5)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,Unnamed: 161,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166
0,Índice general,Cuadro 1.09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Notas generales,Colocaciones efectivas en moneda extranjera,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Conceptualización,Saldos en millones de dólares,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,2008-01-31 00:00:00,2008-02-29 00:00:00,2008-03-31 00:00:00,2008-04-30 00:00:00,2008-05-31 00:00:00,2008-06-30 00:00:00,2008-07-31 00:00:00,2008-08-31 00:00:00,...,2020-12-31 00:00:00,2021-01-31 00:00:00,2021-02-28 00:00:00,2021-03-31 00:00:00,2021-04-30 00:00:00,2021-05-31 00:00:00,2021-06-30 00:00:00,2021-07-31 00:00:00,2021-08-31 00:00:00,2021-09-30 00:00:00

In [148]:
colocaciones_09.pop("Unnamed: 0")

0        Índice general
1       Notas generales
2     Conceptualización
3                   NaN
4                   NaN
5                   NaN
6                   NaN
7                   NaN
8                   NaN
9                   NaN
10                  NaN
11                  NaN
12                  NaN
13                  NaN
14                  NaN
15                  NaN
16                  NaN
17                  NaN
18                  NaN
19                  NaN
20                  NaN
21                  NaN
22                  NaN
23                  NaN
24                  NaN
25                  NaN
26                  NaN
27                  NaN
28                  NaN
29                  NaN
30                  NaN
31                  NaN
32                  NaN
33                  NaN
34                  NaN
35                  NaN
36                  NaN
Name: Unnamed: 0, dtype: object

In [149]:
colocaciones_09 = colocaciones_09.iloc[5:]

In [150]:
colocaciones_09.tail(7)

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,Unnamed: 161,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166
30,Bank of China (16),ND,ND,ND,ND,ND,ND,ND,ND,ND,...,0,0,0,0,0,0,0,0,0,0
31,Total,11922.494,12181.864,12555.185,13341.216,14027.05,14649.006,14471.373,14228.669,14408.74,...,22680.554079,22521.283741,23854.239241,22732.25085,23114.495771,22720.685261,22911.566122,23289.648476,22820.20753,23738.76732
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,ND : No existe dato,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,Conceptualización: Vínculo que remite al docum...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [151]:
colocaciones_09.drop(colocaciones_09.tail(6).index,inplace=True)

In [152]:
colocaciones_09

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,Unnamed: 161,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166
5,Banco Bice,410.266,435.569,478.342,508.379,519.746,527.824,529.796,517.23,518.633,...,983.498506,957.478371,1005.294352,937.166951,1008.478022,1020.343418,1018.409979,1054.529628,1027.160019,1053.210641
6,Banco BTG Pactual Chile (9),ND,ND,ND,ND,ND,ND,ND,ND,ND,...,290.92934,287.715256,299.231128,287.761923,263.469904,260.922672,239.306103,229.249861,222.383545,224.016816
7,Banco Consorcio (1),3.491,2.692,2.647,2.042,2,2.342,2.243,2.091,2.007,...,555.08327,542.933773,571.524774,567.857182,576.589198,560.573805,553.696615,551.780019,550.024089,600.658456
8,Banco de Chile (2),2526.652,2458.932,2491.509,2828.557,3099.345,3109.682,3087.683,3253.723,3210.906,...,3173.562777,3022.221233,3458.024065,3264.78734,3227.845142,3141.83561,3196.468265,3096.104883,3108.012211,3418.130272
9,Banco de Crédito e Inversiones,2227.232,2449.835,2346.014,2397.684,2404.609,2664.487,2640.963,2646.073,2608.121,...,2790.662876,2789.538669,2900.210508,2693.772041,2966.67706,2962.514162,2909.129463,3052.085039,2904.481396,3008.501274
10,Banco de la Nación Argentina (18),13.148,16.815,16.482,21.204,18.199,13.993,16.602,26.641,25.856,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
11,Banco del Estado de Chile,600.798,575.885,684.49,612.725,669.725,720.11,827.742,684.672,670.623,...,1872.586131,2066.977174,2132.932749,2091.455098,1902.468766,1870.70574,2046.161949,2127.87753,2096.759386,2089.188814
12,Banco do Brasil S.A.,39.666,46.118,38.422,47.291,48.738,53.421,60.035,66.985,65.201,...,14.267384,11.540978,8.949435,6.715188,12.495406,10.83613,9.677622,6.543935,0,0
13,Banco Falabella,0.133,0.2,0.371,0.206,0.244,0.173,0.164,0.156,0.271,...,0,0,0,0,0,0,0,0,0,0
14,Banco Internacional,47.945,48.795,53.632,55.102,59.771,60.853,60.691,71.937,72.352,...,164.479828,167.513895,177.100905,163.557321,170.960352,174.516196,166.949792,160.550748,161.483472,168.761777
15,Banco Itaú Corpbanca (10),1509.185,1502.915,1536.921,1655.146,1735.431,1797.418,1852.845,1752.006,1835.428,...,2995.510315,2927.970706,3043.931485,2925.965115,2998.655383,2998.162774,3017.957576,3067.630645,2873.995037,2935.577309
16,Banco Paris (13),0.016,0.019,0.014,0.012,0.017,0.013,0.016,0.016,0.02,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
17,Banco Penta (14),0,0,0,0,0,0,0,0,0,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
18,Banco Ripley,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,Banco Santander - Chile,1750.13,1701.488,1869.889,2051.62,2195.68,2501.507,2207.869,2090.914,2241.436,...,3621.103504,3397.835495,3621.404234,3406.721704,3391.783511,3293.552432,3381.411241,3604.085224,3594.442736,3784.87299
20,Banco Security,437.331,452.123,480.514,500.715,512.183,523.412,543.486,519.001,552.326,...,885.751888,875.906585,918.033074,906.536584,924.838907,897.103562,874.676364,898.45266,882.160732,897.658235
21,Banco Sudamericano (4) (5) (6),176.15,211.074,228.709,246.216,265.935,221.258,171.528,169.527,199.972,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
22,"China Construction Bank, Agencia en Chile (11)",ND,ND,ND,ND,ND,ND,ND,ND,ND,...,106.412499,101.102438,105.848119,111.173247,111.927899,111.604591,101.760963,116.345256,116.425069,132.816641
23,Deutsche Bank (Chile) (12),0,0,0,0,0,0,0,0,0,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
24,DnB NOR Bank ASA (7) (8),ND,ND,ND,ND,ND,ND,ND,ND,ND,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
25,HSBC Bank (Chile),93.669,100.267,110.347,130.209,134.761,123.234,111.915,131.784,158.239,...,61.606505,61.023964,59.652715,55.968029,37.172809,36.826585,24.464181,24.163614,24.198276,23.638365
26,"JP Morgan Chase Bank, N.A.",10,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,Rabobank Chile (15),51.499,58.565,59.561,63.207,83.783,87.553,86.1,87.337,87.463,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
28,Scotiabank Chile (3) (17),1952.649,2065.822,2123.928,2175.102,2223.308,2190.941,2220.341,2132.592,2085.761,...,5165.099256,5311.525205,5552.101697,5312.813127,5521.133413,5381.187582,5371.496009,5300.249436,5258.681563,5401.73573
29,The Bank of Tokyo - Mitsubishi Ufj. Ltd. (19),72.534,54.75,33.393,45.799,53.575,50.785,51.354,75.984,74.125,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
30,Bank of China (16),ND,ND,ND,ND,ND,ND,ND,ND,ND,...,0,0,0,0,0,0,0,0,0,0

In [153]:
colocaciones_09.head(3)

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,Unnamed: 161,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166
5,Banco Bice,410.266,435.569,478.342,508.379,519.746,527.824,529.796,517.23,518.633,...,983.498506,957.478371,1005.294352,937.166951,1008.478022,1020.343418,1018.409979,1054.529628,1027.160019,1053.210641
6,Banco BTG Pactual Chile (9),ND,ND,ND,ND,ND,ND,ND,ND,ND,...,290.92934,287.715256,299.231128,287.761923,263.469904,260.922672,239.306103,229.249861,222.383545,224.016816
7,Banco Consorcio (1),3.491,2.692,2.647,2.042,2,2.342,2.243,2.091,2.007,...,555.08327,542.933773,571.524774,567.857182,576.589198,560.573805,553.696615,551.780019,550.024089,600.658456

In [154]:
colocaciones_09 = colocaciones_09.melt(id_vars=['Unnamed: 1'], value_vars=['Unnamed: 2','Unnamed: 3','Unnamed: 4','Unnamed: 5','Unnamed: 6','Unnamed: 7','Unnamed: 8','Unnamed: 9','Unnamed: 10','Unnamed: 11',
                                                   'Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19','Unnamed: 20','Unnamed: 21',
                                                   'Unnamed: 22','Unnamed: 23','Unnamed: 24','Unnamed: 25','Unnamed: 26','Unnamed: 27','Unnamed: 28','Unnamed: 29','Unnamed: 30','Unnamed: 31',
                                                   'Unnamed: 32','Unnamed: 33','Unnamed: 34','Unnamed: 35','Unnamed: 36','Unnamed: 37','Unnamed: 38','Unnamed: 39','Unnamed: 40','Unnamed: 41',
                                                   'Unnamed: 42','Unnamed: 43','Unnamed: 44','Unnamed: 45','Unnamed: 46','Unnamed: 47','Unnamed: 48','Unnamed: 49','Unnamed: 50','Unnamed: 51',
                                                   'Unnamed: 52','Unnamed: 53','Unnamed: 54','Unnamed: 55','Unnamed: 56','Unnamed: 57','Unnamed: 58','Unnamed: 59','Unnamed: 60','Unnamed: 61',
                                                   'Unnamed: 62','Unnamed: 63','Unnamed: 64','Unnamed: 65','Unnamed: 66','Unnamed: 67','Unnamed: 68','Unnamed: 69','Unnamed: 70','Unnamed: 71',
                                                   'Unnamed: 72','Unnamed: 73','Unnamed: 74','Unnamed: 75','Unnamed: 76','Unnamed: 77','Unnamed: 78','Unnamed: 79','Unnamed: 80','Unnamed: 81',
                                                   'Unnamed: 82','Unnamed: 83','Unnamed: 84','Unnamed: 85','Unnamed: 86','Unnamed: 87','Unnamed: 88','Unnamed: 89','Unnamed: 90','Unnamed: 91',
                                                   'Unnamed: 92','Unnamed: 93','Unnamed: 94','Unnamed: 95','Unnamed: 96','Unnamed: 97','Unnamed: 98','Unnamed: 99','Unnamed: 100','Unnamed: 101',
                                                   'Unnamed: 102','Unnamed: 103','Unnamed: 104','Unnamed: 105','Unnamed: 106','Unnamed: 107','Unnamed: 108','Unnamed: 109','Unnamed: 110','Unnamed: 111',
                                                   'Unnamed: 112','Unnamed: 113','Unnamed: 114','Unnamed: 115','Unnamed: 116','Unnamed: 117','Unnamed: 118','Unnamed: 119','Unnamed: 120','Unnamed: 121',
                                                   'Unnamed: 122','Unnamed: 123','Unnamed: 124','Unnamed: 125','Unnamed: 126','Unnamed: 127','Unnamed: 128','Unnamed: 129','Unnamed: 130','Unnamed: 131',
                                                   'Unnamed: 132','Unnamed: 133','Unnamed: 134','Unnamed: 135','Unnamed: 136','Unnamed: 137','Unnamed: 138','Unnamed: 139','Unnamed: 140','Unnamed: 141',
                                                   'Unnamed: 142','Unnamed: 143','Unnamed: 144','Unnamed: 145','Unnamed: 146','Unnamed: 147','Unnamed: 148','Unnamed: 149','Unnamed: 150','Unnamed: 151',
                                                   'Unnamed: 152','Unnamed: 153','Unnamed: 154','Unnamed: 155','Unnamed: 156','Unnamed: 157','Unnamed: 158','Unnamed: 159','Unnamed: 160','Unnamed: 161',
                                                   'Unnamed: 162','Unnamed: 163','Unnamed: 164','Unnamed: 165','Unnamed: 166'],
               var_name='myVarname',
               value_name='Valor',
               ignore_index=False
               )

In [155]:
colocaciones_09

                                       Unnamed: 1     myVarname       Valor
5                                      Banco Bice    Unnamed: 2     410.266
6                     Banco BTG Pactual Chile (9)    Unnamed: 2          ND
7                             Banco Consorcio (1)    Unnamed: 2       3.491
8                              Banco de Chile (2)    Unnamed: 2    2526.652
9                  Banco de Crédito e Inversiones    Unnamed: 2    2227.232
..                                            ...           ...         ...
26                     JP Morgan Chase Bank, N.A.  Unnamed: 166           0
27                            Rabobank Chile (15)  Unnamed: 166          ND
28                      Scotiabank Chile (3) (17)  Unnamed: 166  5401.73573
29  The Bank of Tokyo - Mitsubishi Ufj. Ltd. (19)  Unnamed: 166          ND
30                             Bank of China (16)  Unnamed: 166           0

[4290 rows x 3 columns]

In [156]:
# create a list of our conditions
conditions_9 = [(colocaciones_09['myVarname'] == 'Unnamed: 2'),(colocaciones_09['myVarname'] == 'Unnamed: 3'),(colocaciones_09['myVarname'] == 'Unnamed: 4'),(colocaciones_09['myVarname'] == 'Unnamed: 5'),(colocaciones_09['myVarname'] == 'Unnamed: 6'),
 (colocaciones_09['myVarname'] == 'Unnamed: 7'),(colocaciones_09['myVarname'] == 'Unnamed: 8'),(colocaciones_09['myVarname'] == 'Unnamed: 9'),(colocaciones_09['myVarname'] == 'Unnamed: 10'),(colocaciones_09['myVarname'] == 'Unnamed: 11'),
  (colocaciones_09['myVarname'] == 'Unnamed: 12'),(colocaciones_09['myVarname'] == 'Unnamed: 13'),(colocaciones_09['myVarname'] == 'Unnamed: 14'),(colocaciones_09['myVarname'] == 'Unnamed: 15'),(colocaciones_09['myVarname'] == 'Unnamed: 16'),
   (colocaciones_09['myVarname'] == 'Unnamed: 17'),(colocaciones_09['myVarname'] == 'Unnamed: 18'),(colocaciones_09['myVarname'] == 'Unnamed: 19'),(colocaciones_09['myVarname'] == 'Unnamed: 20'),(colocaciones_09['myVarname'] == 'Unnamed: 21'),
    (colocaciones_09['myVarname'] == 'Unnamed: 22'),(colocaciones_09['myVarname'] == 'Unnamed: 23'),(colocaciones_09['myVarname'] == 'Unnamed: 24'),(colocaciones_09['myVarname'] == 'Unnamed: 25'),(colocaciones_09['myVarname'] == 'Unnamed: 26'),
     (colocaciones_09['myVarname'] == 'Unnamed: 27'),(colocaciones_09['myVarname'] == 'Unnamed: 28'),(colocaciones_09['myVarname'] == 'Unnamed: 29'),(colocaciones_09['myVarname'] == 'Unnamed: 30'),(colocaciones_09['myVarname'] == 'Unnamed: 31'),
      (colocaciones_09['myVarname'] == 'Unnamed: 32'),(colocaciones_09['myVarname'] == 'Unnamed: 33'),(colocaciones_09['myVarname'] == 'Unnamed: 34'),(colocaciones_09['myVarname'] == 'Unnamed: 35'),(colocaciones_09['myVarname'] == 'Unnamed: 36'),
       (colocaciones_09['myVarname'] == 'Unnamed: 37'),(colocaciones_09['myVarname'] == 'Unnamed: 38'),(colocaciones_09['myVarname'] == 'Unnamed: 39'),(colocaciones_09['myVarname'] == 'Unnamed: 40'),(colocaciones_09['myVarname'] == 'Unnamed: 41'),
        (colocaciones_09['myVarname'] == 'Unnamed: 42'),(colocaciones_09['myVarname'] == 'Unnamed: 43'),(colocaciones_09['myVarname'] == 'Unnamed: 44'),(colocaciones_09['myVarname'] == 'Unnamed: 45'),(colocaciones_09['myVarname'] == 'Unnamed: 46'),
         (colocaciones_09['myVarname'] == 'Unnamed: 47'),(colocaciones_09['myVarname'] == 'Unnamed: 48'),(colocaciones_09['myVarname'] == 'Unnamed: 49'),(colocaciones_09['myVarname'] == 'Unnamed: 50'),(colocaciones_09['myVarname'] == 'Unnamed: 51'),
          (colocaciones_09['myVarname'] == 'Unnamed: 52'),(colocaciones_09['myVarname'] == 'Unnamed: 53'),(colocaciones_09['myVarname'] == 'Unnamed: 54'),(colocaciones_09['myVarname'] == 'Unnamed: 55'),(colocaciones_09['myVarname'] == 'Unnamed: 56'),
           (colocaciones_09['myVarname'] == 'Unnamed: 57'),(colocaciones_09['myVarname'] == 'Unnamed: 58'),(colocaciones_09['myVarname'] == 'Unnamed: 59'),(colocaciones_09['myVarname'] == 'Unnamed: 60'),(colocaciones_09['myVarname'] == 'Unnamed: 61'),
            (colocaciones_09['myVarname'] == 'Unnamed: 62'),(colocaciones_09['myVarname'] == 'Unnamed: 63'),(colocaciones_09['myVarname'] == 'Unnamed: 64'),(colocaciones_09['myVarname'] == 'Unnamed: 65'),(colocaciones_09['myVarname'] == 'Unnamed: 66'),
             (colocaciones_09['myVarname'] == 'Unnamed: 67'),(colocaciones_09['myVarname'] == 'Unnamed: 68'),(colocaciones_09['myVarname'] == 'Unnamed: 69'),(colocaciones_09['myVarname'] == 'Unnamed: 70'),(colocaciones_09['myVarname'] == 'Unnamed: 71'),
              (colocaciones_09['myVarname'] == 'Unnamed: 72'),(colocaciones_09['myVarname'] == 'Unnamed: 73'),(colocaciones_09['myVarname'] == 'Unnamed: 74'),(colocaciones_09['myVarname'] == 'Unnamed: 75'),(colocaciones_09['myVarname'] == 'Unnamed: 76'),
               (colocaciones_09['myVarname'] == 'Unnamed: 77'),(colocaciones_09['myVarname'] == 'Unnamed: 78'),(colocaciones_09['myVarname'] == 'Unnamed: 79'),(colocaciones_09['myVarname'] == 'Unnamed: 80'),(colocaciones_09['myVarname'] == 'Unnamed: 81'),
                (colocaciones_09['myVarname'] == 'Unnamed: 82'),(colocaciones_09['myVarname'] == 'Unnamed: 83'),(colocaciones_09['myVarname'] == 'Unnamed: 84'),(colocaciones_09['myVarname'] == 'Unnamed: 85'),(colocaciones_09['myVarname'] == 'Unnamed: 86'),
                 (colocaciones_09['myVarname'] == 'Unnamed: 87'),(colocaciones_09['myVarname'] == 'Unnamed: 88'),(colocaciones_09['myVarname'] == 'Unnamed: 89'),(colocaciones_09['myVarname'] == 'Unnamed: 90'),(colocaciones_09['myVarname'] == 'Unnamed: 91'),
                  (colocaciones_09['myVarname'] == 'Unnamed: 92'),(colocaciones_09['myVarname'] == 'Unnamed: 93'),(colocaciones_09['myVarname'] == 'Unnamed: 94'),(colocaciones_09['myVarname'] == 'Unnamed: 95'),(colocaciones_09['myVarname'] == 'Unnamed: 96'),
                   (colocaciones_09['myVarname'] == 'Unnamed: 97'),(colocaciones_09['myVarname'] == 'Unnamed: 98'),(colocaciones_09['myVarname'] == 'Unnamed: 99'),(colocaciones_09['myVarname'] == 'Unnamed: 100'),(colocaciones_09['myVarname'] == 'Unnamed: 101'),
                    (colocaciones_09['myVarname'] == 'Unnamed: 102'),(colocaciones_09['myVarname'] == 'Unnamed: 103'),(colocaciones_09['myVarname'] == 'Unnamed: 104'),(colocaciones_09['myVarname'] == 'Unnamed: 105'),(colocaciones_09['myVarname'] == 'Unnamed: 106'),
                     (colocaciones_09['myVarname'] == 'Unnamed: 107'),(colocaciones_09['myVarname'] == 'Unnamed: 108'),(colocaciones_09['myVarname'] == 'Unnamed: 109'),(colocaciones_09['myVarname'] == 'Unnamed: 110'),(colocaciones_09['myVarname'] == 'Unnamed: 111'),
                      (colocaciones_09['myVarname'] == 'Unnamed: 112'),(colocaciones_09['myVarname'] == 'Unnamed: 113'),(colocaciones_09['myVarname'] == 'Unnamed: 114'),(colocaciones_09['myVarname'] == 'Unnamed: 115'),(colocaciones_09['myVarname'] == 'Unnamed: 116'),
                       (colocaciones_09['myVarname'] == 'Unnamed: 117'),(colocaciones_09['myVarname'] == 'Unnamed: 118'),(colocaciones_09['myVarname'] == 'Unnamed: 119'),(colocaciones_09['myVarname'] == 'Unnamed: 120'),(colocaciones_09['myVarname'] == 'Unnamed: 121'),
                        (colocaciones_09['myVarname'] == 'Unnamed: 122'),(colocaciones_09['myVarname'] == 'Unnamed: 123'),(colocaciones_09['myVarname'] == 'Unnamed: 124'),(colocaciones_09['myVarname'] == 'Unnamed: 125'),(colocaciones_09['myVarname'] == 'Unnamed: 126'),
                         (colocaciones_09['myVarname'] == 'Unnamed: 127'),(colocaciones_09['myVarname'] == 'Unnamed: 128'),(colocaciones_09['myVarname'] == 'Unnamed: 129'),(colocaciones_09['myVarname'] == 'Unnamed: 130'),(colocaciones_09['myVarname'] == 'Unnamed: 131'),
                          (colocaciones_09['myVarname'] == 'Unnamed: 132'),(colocaciones_09['myVarname'] == 'Unnamed: 133'),(colocaciones_09['myVarname'] == 'Unnamed: 134'),(colocaciones_09['myVarname'] == 'Unnamed: 135'),(colocaciones_09['myVarname'] == 'Unnamed: 136'),
                           (colocaciones_09['myVarname'] == 'Unnamed: 137'),(colocaciones_09['myVarname'] == 'Unnamed: 138'),(colocaciones_09['myVarname'] == 'Unnamed: 139'),(colocaciones_09['myVarname'] == 'Unnamed: 140'),(colocaciones_09['myVarname'] == 'Unnamed: 141'),
                            (colocaciones_09['myVarname'] == 'Unnamed: 142'),(colocaciones_09['myVarname'] == 'Unnamed: 143'),(colocaciones_09['myVarname'] == 'Unnamed: 144'),(colocaciones_09['myVarname'] == 'Unnamed: 145'),(colocaciones_09['myVarname'] == 'Unnamed: 146'),
                             (colocaciones_09['myVarname'] == 'Unnamed: 147'),(colocaciones_09['myVarname'] == 'Unnamed: 148'),(colocaciones_09['myVarname'] == 'Unnamed: 149'),(colocaciones_09['myVarname'] == 'Unnamed: 150'),(colocaciones_09['myVarname'] == 'Unnamed: 151'),
                              (colocaciones_09['myVarname'] == 'Unnamed: 152'),(colocaciones_09['myVarname'] == 'Unnamed: 153'),(colocaciones_09['myVarname'] == 'Unnamed: 154'),(colocaciones_09['myVarname'] == 'Unnamed: 155'),(colocaciones_09['myVarname'] == 'Unnamed: 156'),
                               (colocaciones_09['myVarname'] == 'Unnamed: 157'),(colocaciones_09['myVarname'] == 'Unnamed: 158'),(colocaciones_09['myVarname'] == 'Unnamed: 159'),(colocaciones_09['myVarname'] == 'Unnamed: 160'),(colocaciones_09['myVarname'] == 'Unnamed: 161'),
                                (colocaciones_09['myVarname'] == 'Unnamed: 162'),(colocaciones_09['myVarname'] == 'Unnamed: 163'),(colocaciones_09['myVarname'] == 'Unnamed: 164'),(colocaciones_09['myVarname'] == 'Unnamed: 165'),(colocaciones_09['myVarname'] == 'Unnamed: 166')
                                ]

In [157]:
colocaciones_09['Fecha'] = np.select(conditions_9, values)

In [158]:
colocaciones_09

,Unnamed: 1,myVarname,Valor,Fecha
5,Banco Bice,Unnamed: 2,410.266,2008-01-31
6,Banco BTG Pactual Chile (9),Unnamed: 2,ND,2008-01-31
7,Banco Consorcio (1),Unnamed: 2,3.491,2008-01-31
8,Banco de Chile (2),Unnamed: 2,2526.652,2008-01-31
9,Banco de Crédito e Inversiones,Unnamed: 2,2227.232,2008-01-31
...,...,...,...,...
26,"JP Morgan Chase Bank, N.A.",Unnamed: 166,0,2021-09-30
27,Rabobank Chile (15),Unnamed: 166,ND,2021-09-30
28,Scotiabank Chile (3) (17),Unnamed: 166,5401.73573,2021-09-30
29,The Bank of Tokyo - Mitsubishi Ufj. Ltd. (19),Unnamed: 166,ND,2021-09-30
30,Bank of China (16),Unnamed: 166,0,2021-09-30

In [159]:
colocaciones_09.pop("myVarname")

5       Unnamed: 2
6       Unnamed: 2
7       Unnamed: 2
8       Unnamed: 2
9       Unnamed: 2
          ...
26    Unnamed: 166
27    Unnamed: 166
28    Unnamed: 166
29    Unnamed: 166
30    Unnamed: 166
Name: myVarname, Length: 4290, dtype: object

In [160]:
colocaciones_09.rename(columns={"Unnamed: 1": "Institucion"}, inplace=True)

In [161]:
colocaciones_09

                                      Institucion       Valor       Fecha
5                                      Banco Bice     410.266  2008-01-31
6                     Banco BTG Pactual Chile (9)          ND  2008-01-31
7                             Banco Consorcio (1)       3.491  2008-01-31
8                              Banco de Chile (2)    2526.652  2008-01-31
9                  Banco de Crédito e Inversiones    2227.232  2008-01-31
..                                            ...         ...         ...
26                     JP Morgan Chase Bank, N.A.           0  2021-09-30
27                            Rabobank Chile (15)          ND  2021-09-30
28                      Scotiabank Chile (3) (17)  5401.73573  2021-09-30
29  The Bank of Tokyo - Mitsubishi Ufj. Ltd. (19)          ND  2021-09-30
30                             Bank of China (16)           0  2021-09-30

[4290 rows x 3 columns]

In [162]:
colocaciones_09['Tipo'] = "Colocación"
colocaciones_09['Subtipo'] = "Colocaciones efectivas en moneda extranjera"
colocaciones_09['Tipo de Moneda'] = "Saldos en millones de dólares"

In [163]:
new_cols = ["Fecha","Institucion","Tipo","Subtipo","Valor","Tipo de Moneda"]
colocaciones_09 = colocaciones_09.reindex(columns=new_cols)

In [164]:
colocaciones_09

,Fecha,Institucion,Tipo,Subtipo,Valor,Tipo de Moneda
5,2008-01-31,Banco Bice,Colocación,Colocaciones efectivas en moneda extranjera,410.266,Saldos en millones de dólares
6,2008-01-31,Banco BTG Pactual Chile (9),Colocación,Colocaciones efectivas en moneda extranjera,ND,Saldos en millones de dólares
7,2008-01-31,Banco Consorcio (1),Colocación,Colocaciones efectivas en moneda extranjera,3.491,Saldos en millones de dólares
8,2008-01-31,Banco de Chile (2),Colocación,Colocaciones efectivas en moneda extranjera,2526.652,Saldos en millones de dólares
9,2008-01-31,Banco de Crédito e Inversiones,Colocación,Colocaciones efectivas en moneda extranjera,2227.232,Saldos en millones de dólares
...,...,...,...,...,...,...
26,2021-09-30,"JP Morgan Chase Bank, N.A.",Colocación,Colocaciones efectivas en moneda extranjera,0,Saldos en millones de dólares
27,2021-09-30,Rabobank Chile (15),Colocación,Colocaciones efectivas en moneda extranjera,ND,Saldos en millones de dólares
28,2021-09-30,Scotiabank Chile (3) (17),Colocación,Colocaciones efectivas en moneda extranjera,5401.73573,Saldos en millones de dólares
29,2021-09-30,The Bank of Tokyo - Mitsubishi Ufj. Ltd. (19),Colocación,Colocaciones efectivas en moneda extranjera,ND,Saldos en millones de dólares
30,2021-09-30,Bank of China (16),Colocación,Colocaciones efectivas en moneda extranjera,0,Saldos en millones de dólares

## Colocación 10

In [165]:
colocaciones_10.head(5)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,Unnamed: 161,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166
0,Índice general,Cuadro 1.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Notas generales,Colocaciones contingentes en moneda extranjera,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Conceptualización,Saldos en millones de dólares,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,2008-01-31 00:00:00,2008-02-29 00:00:00,2008-03-31 00:00:00,2008-04-30 00:00:00,2008-05-31 00:00:00,2008-06-30 00:00:00,2008-07-31 00:00:00,2008-08-31 00:00:00,...,2020-12-31 00:00:00,2021-01-31 00:00:00,2021-02-28 00:00:00,2021-03-31 00:00:00,2021-04-30 00:00:00,2021-05-31 00:00:00,2021-06-30 00:00:00,2021-07-31 00:00:00,2021-08-31 00:00:00,2021-09-30 00:00:00

In [166]:
colocaciones_10.pop("Unnamed: 0")

0        Índice general
1       Notas generales
2     Conceptualización
3                   NaN
4                   NaN
5                   NaN
6                   NaN
7                   NaN
8                   NaN
9                   NaN
10                  NaN
11                  NaN
12                  NaN
13                  NaN
14                  NaN
15                  NaN
16                  NaN
17                  NaN
18                  NaN
19                  NaN
20                  NaN
21                  NaN
22                  NaN
23                  NaN
24                  NaN
25                  NaN
26                  NaN
27                  NaN
28                  NaN
29                  NaN
30                  NaN
31                  NaN
32                  NaN
33                  NaN
34                  NaN
35                  NaN
36                  NaN
Name: Unnamed: 0, dtype: object

In [167]:
colocaciones_10 = colocaciones_10.iloc[5:]

In [168]:
colocaciones_10.tail(7)

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,Unnamed: 161,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166
30,Bank of China (16),ND,ND,ND,ND,ND,ND,ND,ND,ND,...,0,0,0,0,0,0,0,0,0,0
31,Total,4840.408,5291.047,5297.422,5455.062,5544.199,5886.826,5633.291,5783.068,5691.632,...,5235.602704,5410.121849,5602.312334,5617.311114,5827.328488,6016.652344,6117.123245,6687.547708,6811.702822,6898.585475
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,ND : No existe dato,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,Conceptualización: Vínculo que remite al docum...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [169]:
colocaciones_10.drop(colocaciones_10.tail(6).index,inplace=True)

<ipython-input-169-40218fd23cd7>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  colocaciones_10.drop(colocaciones_10.tail(6).index,inplace=True)

In [170]:
colocaciones_10

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,Unnamed: 161,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166
5,Banco Bice,141.415,159.112,145.231,147.826,165.579,157.662,146.6,130.27,126.731,...,100.029371,127.175419,137.015462,149.520636,182.807744,162.956589,133.240385,110.992968,144.97426,163.535263
6,Banco BTG Pactual Chile (9),ND,ND,ND,ND,ND,ND,ND,ND,ND,...,9.120316,9.019227,8.352838,8.011573,8.479528,1.08177,8.379465,8.448903,1.077642,8.230603
7,Banco Consorcio (1),0.139,0.139,0.115,0.407,0.407,0.407,0.727,0.403,0.403,...,9.726882,9.463846,12.56283,15.089762,15.209068,17.38402,9.874372,12.05126,16.777442,44.048197
8,Banco de Chile (2),992.281,1168.13,1102.702,1272.695,1019.182,991.339,1004.899,1378.356,1418.127,...,1123.645828,1208.444983,1368.280145,1375.220027,1308.49896,1447.493913,1397.570844,1510.992709,1538.858534,1514.480787
9,Banco de Crédito e Inversiones,769.702,840.014,776.684,791.688,793.224,856.807,820.528,850.114,893.028,...,1161.498476,1174.092605,1225.422712,1248.084979,1194.908541,1263.378763,1241.245567,1346.10866,1359.157498,1442.553565
10,Banco de la Nación Argentina (18),5.277,6.18,4.436,1.44,5.141,6.651,7.615,6.325,5.158,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
11,Banco del Estado de Chile,345.989,391.295,340.79,387.509,442.766,551.122,380.243,378.549,292.462,...,635.233509,730.402471,660.357343,575.868157,654.150496,669.249379,608.025291,675.309399,743.909546,763.904426
12,Banco do Brasil S.A.,37.351,36.258,37.646,56,62.589,57.539,56.657,76.255,51.013,...,0.501057,0.457958,0.172742,0.165566,0.20273,0.201067,0.200175,0.201303,0,0
13,Banco Falabella,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,Banco Internacional,10.367,11.269,13.935,26.022,23.658,25.79,27.774,24.19,26.967,...,8.155034,8.043429,11.096482,12.333873,13.450564,10.245928,11.905272,17.895156,27.584943,25.076194
15,Banco Itaú Corpbanca (10),431.815,385.091,499.833,437.626,461.789,505.764,472.325,457.186,473.496,...,733.356872,735.48773,744.648588,742.652624,828.689795,816.459634,940.718295,1003.643861,1002.728006,987.949876
16,Banco Paris (13),0,0,0,0,0,0,0.009,0,0,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
17,Banco Penta (14),0,0,0,0,0,0,0,0,0,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
18,Banco Ripley,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,Banco Santander - Chile,1266.637,1197.97,1297.656,1276.936,1433.276,1496.102,1488.38,1511.823,1359.642,...,671.910453,645.931735,700.082089,745.965381,835.954333,859.911226,935.179685,1110.167318,1066.046813,983.248921
20,Banco Security,108.391,102.443,111.241,127.367,155.624,194.616,202.531,193.195,163.875,...,92.371573,125.904899,137.143684,128.446773,149.984975,152.879915,169.842192,167.566618,161.707546,172.96398
21,Banco Sudamericano (4) (5) (6),27.263,24.344,26.193,21.028,38.541,45.158,29.136,34.302,41.314,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
22,"China Construction Bank, Agencia en Chile (11)",ND,ND,ND,ND,ND,ND,ND,ND,ND,...,21.502332,21.515565,21.516879,21.485282,21.519568,15.679689,9.508052,24.508052,24.508052,39.508052
23,Deutsche Bank (Chile) (12),0,0,0,0,0,0,0,0,0,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
24,DnB NOR Bank ASA (7) (8),ND,ND,ND,ND,ND,ND,ND,ND,ND,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
25,HSBC Bank (Chile),53.388,306.284,289.421,238.647,227.694,267.858,275.95,56.164,60.475,...,5.797998,5.728681,6.17302,11.631317,12.389476,6.785435,7.023274,7.061214,6.690034,6.804495
26,"JP Morgan Chase Bank, N.A.",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,Rabobank Chile (15),0,1.183,2.584,6.462,5.542,6.833,0,5.598,5.811,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
28,Scotiabank Chile (3) (17),647.401,658.489,646.139,660.578,706.498,720.655,719.299,679.634,772.117,...,662.753003,608.4533,569.487519,582.835164,601.086226,592.947042,644.410376,692.600288,717.682506,746.281117
29,The Bank of Tokyo - Mitsubishi Ufj. Ltd. (19),2.992,2.846,2.816,2.831,2.689,2.523,0.618,0.704,1.013,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
30,Bank of China (16),ND,ND,ND,ND,ND,ND,ND,ND,ND,...,0,0,0,0,0,0,0,0,0,0

In [171]:
colocaciones_10.head(3)

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,Unnamed: 161,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166
5,Banco Bice,141.415,159.112,145.231,147.826,165.579,157.662,146.6,130.27,126.731,...,100.029371,127.175419,137.015462,149.520636,182.807744,162.956589,133.240385,110.992968,144.97426,163.535263
6,Banco BTG Pactual Chile (9),ND,ND,ND,ND,ND,ND,ND,ND,ND,...,9.120316,9.019227,8.352838,8.011573,8.479528,1.08177,8.379465,8.448903,1.077642,8.230603
7,Banco Consorcio (1),0.139,0.139,0.115,0.407,0.407,0.407,0.727,0.403,0.403,...,9.726882,9.463846,12.56283,15.089762,15.209068,17.38402,9.874372,12.05126,16.777442,44.048197

In [172]:
colocaciones_10 = colocaciones_10.melt(id_vars=['Unnamed: 1'], value_vars=['Unnamed: 2','Unnamed: 3','Unnamed: 4','Unnamed: 5','Unnamed: 6','Unnamed: 7','Unnamed: 8','Unnamed: 9','Unnamed: 10','Unnamed: 11',
                                                   'Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19','Unnamed: 20','Unnamed: 21',
                                                   'Unnamed: 22','Unnamed: 23','Unnamed: 24','Unnamed: 25','Unnamed: 26','Unnamed: 27','Unnamed: 28','Unnamed: 29','Unnamed: 30','Unnamed: 31',
                                                   'Unnamed: 32','Unnamed: 33','Unnamed: 34','Unnamed: 35','Unnamed: 36','Unnamed: 37','Unnamed: 38','Unnamed: 39','Unnamed: 40','Unnamed: 41',
                                                   'Unnamed: 42','Unnamed: 43','Unnamed: 44','Unnamed: 45','Unnamed: 46','Unnamed: 47','Unnamed: 48','Unnamed: 49','Unnamed: 50','Unnamed: 51',
                                                   'Unnamed: 52','Unnamed: 53','Unnamed: 54','Unnamed: 55','Unnamed: 56','Unnamed: 57','Unnamed: 58','Unnamed: 59','Unnamed: 60','Unnamed: 61',
                                                   'Unnamed: 62','Unnamed: 63','Unnamed: 64','Unnamed: 65','Unnamed: 66','Unnamed: 67','Unnamed: 68','Unnamed: 69','Unnamed: 70','Unnamed: 71',
                                                   'Unnamed: 72','Unnamed: 73','Unnamed: 74','Unnamed: 75','Unnamed: 76','Unnamed: 77','Unnamed: 78','Unnamed: 79','Unnamed: 80','Unnamed: 81',
                                                   'Unnamed: 82','Unnamed: 83','Unnamed: 84','Unnamed: 85','Unnamed: 86','Unnamed: 87','Unnamed: 88','Unnamed: 89','Unnamed: 90','Unnamed: 91',
                                                   'Unnamed: 92','Unnamed: 93','Unnamed: 94','Unnamed: 95','Unnamed: 96','Unnamed: 97','Unnamed: 98','Unnamed: 99','Unnamed: 100','Unnamed: 101',
                                                   'Unnamed: 102','Unnamed: 103','Unnamed: 104','Unnamed: 105','Unnamed: 106','Unnamed: 107','Unnamed: 108','Unnamed: 109','Unnamed: 110','Unnamed: 111',
                                                   'Unnamed: 112','Unnamed: 113','Unnamed: 114','Unnamed: 115','Unnamed: 116','Unnamed: 117','Unnamed: 118','Unnamed: 119','Unnamed: 120','Unnamed: 121',
                                                   'Unnamed: 122','Unnamed: 123','Unnamed: 124','Unnamed: 125','Unnamed: 126','Unnamed: 127','Unnamed: 128','Unnamed: 129','Unnamed: 130','Unnamed: 131',
                                                   'Unnamed: 132','Unnamed: 133','Unnamed: 134','Unnamed: 135','Unnamed: 136','Unnamed: 137','Unnamed: 138','Unnamed: 139','Unnamed: 140','Unnamed: 141',
                                                   'Unnamed: 142','Unnamed: 143','Unnamed: 144','Unnamed: 145','Unnamed: 146','Unnamed: 147','Unnamed: 148','Unnamed: 149','Unnamed: 150','Unnamed: 151',
                                                   'Unnamed: 152','Unnamed: 153','Unnamed: 154','Unnamed: 155','Unnamed: 156','Unnamed: 157','Unnamed: 158','Unnamed: 159','Unnamed: 160','Unnamed: 161',
                                                   'Unnamed: 162','Unnamed: 163','Unnamed: 164','Unnamed: 165','Unnamed: 166'],
               var_name='myVarname',
               value_name='Valor',
               ignore_index=False
               )

In [173]:
colocaciones_10

                                       Unnamed: 1     myVarname       Valor
5                                      Banco Bice    Unnamed: 2     141.415
6                     Banco BTG Pactual Chile (9)    Unnamed: 2          ND
7                             Banco Consorcio (1)    Unnamed: 2       0.139
8                              Banco de Chile (2)    Unnamed: 2     992.281
9                  Banco de Crédito e Inversiones    Unnamed: 2     769.702
..                                            ...           ...         ...
26                     JP Morgan Chase Bank, N.A.  Unnamed: 166           0
27                            Rabobank Chile (15)  Unnamed: 166          ND
28                      Scotiabank Chile (3) (17)  Unnamed: 166  746.281117
29  The Bank of Tokyo - Mitsubishi Ufj. Ltd. (19)  Unnamed: 166          ND
30                             Bank of China (16)  Unnamed: 166           0

[4290 rows x 3 columns]

In [174]:
# create a list of our conditions
conditions_10 = [(colocaciones_10['myVarname'] == 'Unnamed: 2'),(colocaciones_10['myVarname'] == 'Unnamed: 3'),(colocaciones_10['myVarname'] == 'Unnamed: 4'),(colocaciones_10['myVarname'] == 'Unnamed: 5'),(colocaciones_10['myVarname'] == 'Unnamed: 6'),
 (colocaciones_10['myVarname'] == 'Unnamed: 7'),(colocaciones_10['myVarname'] == 'Unnamed: 8'),(colocaciones_10['myVarname'] == 'Unnamed: 9'),(colocaciones_10['myVarname'] == 'Unnamed: 10'),(colocaciones_10['myVarname'] == 'Unnamed: 11'),
  (colocaciones_10['myVarname'] == 'Unnamed: 12'),(colocaciones_10['myVarname'] == 'Unnamed: 13'),(colocaciones_10['myVarname'] == 'Unnamed: 14'),(colocaciones_10['myVarname'] == 'Unnamed: 15'),(colocaciones_10['myVarname'] == 'Unnamed: 16'),
   (colocaciones_10['myVarname'] == 'Unnamed: 17'),(colocaciones_10['myVarname'] == 'Unnamed: 18'),(colocaciones_10['myVarname'] == 'Unnamed: 19'),(colocaciones_10['myVarname'] == 'Unnamed: 20'),(colocaciones_10['myVarname'] == 'Unnamed: 21'),
    (colocaciones_10['myVarname'] == 'Unnamed: 22'),(colocaciones_10['myVarname'] == 'Unnamed: 23'),(colocaciones_10['myVarname'] == 'Unnamed: 24'),(colocaciones_10['myVarname'] == 'Unnamed: 25'),(colocaciones_10['myVarname'] == 'Unnamed: 26'),
     (colocaciones_10['myVarname'] == 'Unnamed: 27'),(colocaciones_10['myVarname'] == 'Unnamed: 28'),(colocaciones_10['myVarname'] == 'Unnamed: 29'),(colocaciones_10['myVarname'] == 'Unnamed: 30'),(colocaciones_10['myVarname'] == 'Unnamed: 31'),
      (colocaciones_10['myVarname'] == 'Unnamed: 32'),(colocaciones_10['myVarname'] == 'Unnamed: 33'),(colocaciones_10['myVarname'] == 'Unnamed: 34'),(colocaciones_10['myVarname'] == 'Unnamed: 35'),(colocaciones_10['myVarname'] == 'Unnamed: 36'),
       (colocaciones_10['myVarname'] == 'Unnamed: 37'),(colocaciones_10['myVarname'] == 'Unnamed: 38'),(colocaciones_10['myVarname'] == 'Unnamed: 39'),(colocaciones_10['myVarname'] == 'Unnamed: 40'),(colocaciones_10['myVarname'] == 'Unnamed: 41'),
        (colocaciones_10['myVarname'] == 'Unnamed: 42'),(colocaciones_10['myVarname'] == 'Unnamed: 43'),(colocaciones_10['myVarname'] == 'Unnamed: 44'),(colocaciones_10['myVarname'] == 'Unnamed: 45'),(colocaciones_10['myVarname'] == 'Unnamed: 46'),
         (colocaciones_10['myVarname'] == 'Unnamed: 47'),(colocaciones_10['myVarname'] == 'Unnamed: 48'),(colocaciones_10['myVarname'] == 'Unnamed: 49'),(colocaciones_10['myVarname'] == 'Unnamed: 50'),(colocaciones_10['myVarname'] == 'Unnamed: 51'),
          (colocaciones_10['myVarname'] == 'Unnamed: 52'),(colocaciones_10['myVarname'] == 'Unnamed: 53'),(colocaciones_10['myVarname'] == 'Unnamed: 54'),(colocaciones_10['myVarname'] == 'Unnamed: 55'),(colocaciones_10['myVarname'] == 'Unnamed: 56'),
           (colocaciones_10['myVarname'] == 'Unnamed: 57'),(colocaciones_10['myVarname'] == 'Unnamed: 58'),(colocaciones_10['myVarname'] == 'Unnamed: 59'),(colocaciones_10['myVarname'] == 'Unnamed: 60'),(colocaciones_10['myVarname'] == 'Unnamed: 61'),
            (colocaciones_10['myVarname'] == 'Unnamed: 62'),(colocaciones_10['myVarname'] == 'Unnamed: 63'),(colocaciones_10['myVarname'] == 'Unnamed: 64'),(colocaciones_10['myVarname'] == 'Unnamed: 65'),(colocaciones_10['myVarname'] == 'Unnamed: 66'),
             (colocaciones_10['myVarname'] == 'Unnamed: 67'),(colocaciones_10['myVarname'] == 'Unnamed: 68'),(colocaciones_10['myVarname'] == 'Unnamed: 69'),(colocaciones_10['myVarname'] == 'Unnamed: 70'),(colocaciones_10['myVarname'] == 'Unnamed: 71'),
              (colocaciones_10['myVarname'] == 'Unnamed: 72'),(colocaciones_10['myVarname'] == 'Unnamed: 73'),(colocaciones_10['myVarname'] == 'Unnamed: 74'),(colocaciones_10['myVarname'] == 'Unnamed: 75'),(colocaciones_10['myVarname'] == 'Unnamed: 76'),
               (colocaciones_10['myVarname'] == 'Unnamed: 77'),(colocaciones_10['myVarname'] == 'Unnamed: 78'),(colocaciones_10['myVarname'] == 'Unnamed: 79'),(colocaciones_10['myVarname'] == 'Unnamed: 80'),(colocaciones_10['myVarname'] == 'Unnamed: 81'),
                (colocaciones_10['myVarname'] == 'Unnamed: 82'),(colocaciones_10['myVarname'] == 'Unnamed: 83'),(colocaciones_10['myVarname'] == 'Unnamed: 84'),(colocaciones_10['myVarname'] == 'Unnamed: 85'),(colocaciones_10['myVarname'] == 'Unnamed: 86'),
                 (colocaciones_10['myVarname'] == 'Unnamed: 87'),(colocaciones_10['myVarname'] == 'Unnamed: 88'),(colocaciones_10['myVarname'] == 'Unnamed: 89'),(colocaciones_10['myVarname'] == 'Unnamed: 90'),(colocaciones_10['myVarname'] == 'Unnamed: 91'),
                  (colocaciones_10['myVarname'] == 'Unnamed: 92'),(colocaciones_10['myVarname'] == 'Unnamed: 93'),(colocaciones_10['myVarname'] == 'Unnamed: 94'),(colocaciones_10['myVarname'] == 'Unnamed: 95'),(colocaciones_10['myVarname'] == 'Unnamed: 96'),
                   (colocaciones_10['myVarname'] == 'Unnamed: 97'),(colocaciones_10['myVarname'] == 'Unnamed: 98'),(colocaciones_10['myVarname'] == 'Unnamed: 99'),(colocaciones_10['myVarname'] == 'Unnamed: 100'),(colocaciones_10['myVarname'] == 'Unnamed: 101'),
                    (colocaciones_10['myVarname'] == 'Unnamed: 102'),(colocaciones_10['myVarname'] == 'Unnamed: 103'),(colocaciones_10['myVarname'] == 'Unnamed: 104'),(colocaciones_10['myVarname'] == 'Unnamed: 105'),(colocaciones_10['myVarname'] == 'Unnamed: 106'),
                     (colocaciones_10['myVarname'] == 'Unnamed: 107'),(colocaciones_10['myVarname'] == 'Unnamed: 108'),(colocaciones_10['myVarname'] == 'Unnamed: 109'),(colocaciones_10['myVarname'] == 'Unnamed: 110'),(colocaciones_10['myVarname'] == 'Unnamed: 111'),
                      (colocaciones_10['myVarname'] == 'Unnamed: 112'),(colocaciones_10['myVarname'] == 'Unnamed: 113'),(colocaciones_10['myVarname'] == 'Unnamed: 114'),(colocaciones_10['myVarname'] == 'Unnamed: 115'),(colocaciones_10['myVarname'] == 'Unnamed: 116'),
                       (colocaciones_10['myVarname'] == 'Unnamed: 117'),(colocaciones_10['myVarname'] == 'Unnamed: 118'),(colocaciones_10['myVarname'] == 'Unnamed: 119'),(colocaciones_10['myVarname'] == 'Unnamed: 120'),(colocaciones_10['myVarname'] == 'Unnamed: 121'),
                        (colocaciones_10['myVarname'] == 'Unnamed: 122'),(colocaciones_10['myVarname'] == 'Unnamed: 123'),(colocaciones_10['myVarname'] == 'Unnamed: 124'),(colocaciones_10['myVarname'] == 'Unnamed: 125'),(colocaciones_10['myVarname'] == 'Unnamed: 126'),
                         (colocaciones_10['myVarname'] == 'Unnamed: 127'),(colocaciones_10['myVarname'] == 'Unnamed: 128'),(colocaciones_10['myVarname'] == 'Unnamed: 129'),(colocaciones_10['myVarname'] == 'Unnamed: 130'),(colocaciones_10['myVarname'] == 'Unnamed: 131'),
                          (colocaciones_10['myVarname'] == 'Unnamed: 132'),(colocaciones_10['myVarname'] == 'Unnamed: 133'),(colocaciones_10['myVarname'] == 'Unnamed: 134'),(colocaciones_10['myVarname'] == 'Unnamed: 135'),(colocaciones_10['myVarname'] == 'Unnamed: 136'),
                           (colocaciones_10['myVarname'] == 'Unnamed: 137'),(colocaciones_10['myVarname'] == 'Unnamed: 138'),(colocaciones_10['myVarname'] == 'Unnamed: 139'),(colocaciones_10['myVarname'] == 'Unnamed: 140'),(colocaciones_10['myVarname'] == 'Unnamed: 141'),
                            (colocaciones_10['myVarname'] == 'Unnamed: 142'),(colocaciones_10['myVarname'] == 'Unnamed: 143'),(colocaciones_10['myVarname'] == 'Unnamed: 144'),(colocaciones_10['myVarname'] == 'Unnamed: 145'),(colocaciones_10['myVarname'] == 'Unnamed: 146'),
                             (colocaciones_10['myVarname'] == 'Unnamed: 147'),(colocaciones_10['myVarname'] == 'Unnamed: 148'),(colocaciones_10['myVarname'] == 'Unnamed: 149'),(colocaciones_10['myVarname'] == 'Unnamed: 150'),(colocaciones_10['myVarname'] == 'Unnamed: 151'),
                              (colocaciones_10['myVarname'] == 'Unnamed: 152'),(colocaciones_10['myVarname'] == 'Unnamed: 153'),(colocaciones_10['myVarname'] == 'Unnamed: 154'),(colocaciones_10['myVarname'] == 'Unnamed: 155'),(colocaciones_10['myVarname'] == 'Unnamed: 156'),
                               (colocaciones_10['myVarname'] == 'Unnamed: 157'),(colocaciones_10['myVarname'] == 'Unnamed: 158'),(colocaciones_10['myVarname'] == 'Unnamed: 159'),(colocaciones_10['myVarname'] == 'Unnamed: 160'),(colocaciones_10['myVarname'] == 'Unnamed: 161'),
                                (colocaciones_10['myVarname'] == 'Unnamed: 162'),(colocaciones_10['myVarname'] == 'Unnamed: 163'),(colocaciones_10['myVarname'] == 'Unnamed: 164'),(colocaciones_10['myVarname'] == 'Unnamed: 165'),(colocaciones_10['myVarname'] == 'Unnamed: 166')
                                ]

In [175]:
colocaciones_10['Fecha'] = np.select(conditions_10, values)

In [176]:
colocaciones_10

,Unnamed: 1,myVarname,Valor,Fecha
5,Banco Bice,Unnamed: 2,141.415,2008-01-31
6,Banco BTG Pactual Chile (9),Unnamed: 2,ND,2008-01-31
7,Banco Consorcio (1),Unnamed: 2,0.139,2008-01-31
8,Banco de Chile (2),Unnamed: 2,992.281,2008-01-31
9,Banco de Crédito e Inversiones,Unnamed: 2,769.702,2008-01-31
...,...,...,...,...
26,"JP Morgan Chase Bank, N.A.",Unnamed: 166,0,2021-09-30
27,Rabobank Chile (15),Unnamed: 166,ND,2021-09-30
28,Scotiabank Chile (3) (17),Unnamed: 166,746.281117,2021-09-30
29,The Bank of Tokyo - Mitsubishi Ufj. Ltd. (19),Unnamed: 166,ND,2021-09-30
30,Bank of China (16),Unnamed: 166,0,2021-09-30

In [177]:
colocaciones_10.pop("myVarname")

5       Unnamed: 2
6       Unnamed: 2
7       Unnamed: 2
8       Unnamed: 2
9       Unnamed: 2
          ...
26    Unnamed: 166
27    Unnamed: 166
28    Unnamed: 166
29    Unnamed: 166
30    Unnamed: 166
Name: myVarname, Length: 4290, dtype: object

In [178]:
colocaciones_10.rename(columns={"Unnamed: 1": "Institucion"}, inplace=True)

In [179]:
colocaciones_10

                                      Institucion       Valor       Fecha
5                                      Banco Bice     141.415  2008-01-31
6                     Banco BTG Pactual Chile (9)          ND  2008-01-31
7                             Banco Consorcio (1)       0.139  2008-01-31
8                              Banco de Chile (2)     992.281  2008-01-31
9                  Banco de Crédito e Inversiones     769.702  2008-01-31
..                                            ...         ...         ...
26                     JP Morgan Chase Bank, N.A.           0  2021-09-30
27                            Rabobank Chile (15)          ND  2021-09-30
28                      Scotiabank Chile (3) (17)  746.281117  2021-09-30
29  The Bank of Tokyo - Mitsubishi Ufj. Ltd. (19)          ND  2021-09-30
30                             Bank of China (16)           0  2021-09-30

[4290 rows x 3 columns]

In [180]:
colocaciones_10['Tipo'] = "Colocación"
colocaciones_10['Subtipo'] = "Colocaciones contingentes en moneda extranjera"
colocaciones_10['Tipo de Moneda'] = "Saldos en millones de dólares"

In [181]:
new_cols = ["Fecha","Institucion","Tipo","Subtipo","Valor","Tipo de Moneda"]
colocaciones10 = colocaciones_10.reindex(columns=new_cols)

In [182]:
colocaciones_10

,Institucion,Valor,Fecha,Tipo,Subtipo,Tipo de Moneda
5,Banco Bice,141.415,2008-01-31,Colocación,Colocaciones contingentes en moneda extranjera,Saldos en millones de dólares
6,Banco BTG Pactual Chile (9),ND,2008-01-31,Colocación,Colocaciones contingentes en moneda extranjera,Saldos en millones de dólares
7,Banco Consorcio (1),0.139,2008-01-31,Colocación,Colocaciones contingentes en moneda extranjera,Saldos en millones de dólares
8,Banco de Chile (2),992.281,2008-01-31,Colocación,Colocaciones contingentes en moneda extranjera,Saldos en millones de dólares
9,Banco de Crédito e Inversiones,769.702,2008-01-31,Colocación,Colocaciones contingentes en moneda extranjera,Saldos en millones de dólares
...,...,...,...,...,...,...
26,"JP Morgan Chase Bank, N.A.",0,2021-09-30,Colocación,Colocaciones contingentes en moneda extranjera,Saldos en millones de dólares
27,Rabobank Chile (15),ND,2021-09-30,Colocación,Colocaciones contingentes en moneda extranjera,Saldos en millones de dólares
28,Scotiabank Chile (3) (17),746.281117,2021-09-30,Colocación,Colocaciones contingentes en moneda extranjera,Saldos en millones de dólares
29,The Bank of Tokyo - Mitsubishi Ufj. Ltd. (19),ND,2021-09-30,Colocación,Colocaciones contingentes en moneda extranjera,Saldos en millones de dólares
30,Bank of China (16),0,2021-09-30,Colocación,Colocaciones contingentes en moneda extranjera,Saldos en millones de dólares

# Depósitos

In [183]:
#depositos
depositos_01 = pd.read_excel('/content/sdbdep_092021.xlsx',sheet_name='2_01')
depositos_02 = pd.read_excel('/content/sdbdep_092021.xlsx',sheet_name='2_02')
depositos_03 = pd.read_excel('/content/sdbdep_092021.xlsx',sheet_name='2_03')
depositos_04 = pd.read_excel('/content/sdbdep_092021.xlsx',sheet_name='2_04')
depositos_05 = pd.read_excel('/content/sdbdep_092021.xlsx',sheet_name='2_05')
depositos_06 = pd.read_excel('/content/sdbdep_092021.xlsx',sheet_name='2_06')
depositos_07 = pd.read_excel('/content/sdbdep_092021.xlsx',sheet_name='2_07')
depositos_08 = pd.read_excel('/content/sdbdep_092021.xlsx',sheet_name='2_08')
depositos_09 = pd.read_excel('/content/sdbdep_092021.xlsx',sheet_name='2_09')

## Depósito 01

In [184]:
depositos_01.head(5)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,Unnamed: 161,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166
0,Índice general,Cuadro 2.01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Notas generales,Total de depósitos y captaciones en moneda nac...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Saldos en millones de pesos,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,2008-01-31 00:00:00,2008-02-29 00:00:00,2008-03-31 00:00:00,2008-04-30 00:00:00,2008-05-31 00:00:00,2008-06-30 00:00:00,2008-07-31 00:00:00,2008-08-31 00:00:00,...,2020-12-31 00:00:00,2021-01-31 00:00:00,2021-02-28 00:00:00,2021-03-31 00:00:00,2021-04-30 00:00:00,2021-05-31 00:00:00,2021-06-30 00:00:00,2021-07-31 00:00:00,2021-08-31 00:00:00,2021-09-30 00:00:00

In [185]:
depositos_01.pop("Unnamed: 0")

0      Índice general
1     Notas generales
2                 NaN
3                 NaN
4                 NaN
5                 NaN
6                 NaN
7                 NaN
8                 NaN
9                 NaN
10                NaN
11                NaN
12                NaN
13                NaN
14                NaN
15                NaN
16                NaN
17                NaN
18                NaN
19                NaN
20                NaN
21                NaN
22                NaN
23                NaN
24                NaN
25                NaN
26                NaN
27                NaN
28                NaN
29                NaN
30                NaN
31                NaN
32                NaN
33                NaN
34                NaN
Name: Unnamed: 0, dtype: object

In [186]:
depositos_01 = depositos_01.iloc[5:]

In [187]:
depositos_01.tail(7)

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,Unnamed: 161,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166
28,Scotiabank Chile (3) (17),7819739.843782,7613858.993884,7860055.218457,7966271.1234,7952344.265245,7844997.542448,7884183.618629,7997966.039043,8084463.222345,...,18983004.949847,18998960.129133,18634989.355365,18851133.413666,18869144.204771,18977564.989189,18778064.755103,19085754.375145,18545535.960817,18914640.913769
29,The Bank of Tokyo - Mitsubishi Ufj. Ltd. (19),15949.94476,21152.853304,17081.062719,13633.55934,10808,11308.530986,11460.429552,18264.426798,16775.443883,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
30,Bank of China (16),ND,ND,ND,ND,ND,ND,ND,ND,ND,...,183.13234,283.278183,484.528258,476.59168,88.388217,93.341356,89.642678,289.533944,259.794562,192.749815
31,Total,55311058.175889,55296153.067447,56443768.86689,57767540.878023,57571584.822978,57378897.656096,57068078.444874,57112522.72123,59067769.520009,...,164320475.259392,160889316.233274,160297897.622378,159941418.795797,160421876.308104,169598974.687415,167615541.252977,168162625.553939,167337264.926973,167562934.949937
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,ND : No existe dato,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [188]:
depositos_01.drop(depositos_01.tail(4).index,inplace=True)

<ipython-input-188-b354760258ee>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  depositos_01.drop(depositos_01.tail(4).index,inplace=True)

In [189]:
depositos_01

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,Unnamed: 161,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166
5,Banco Bice,1664974.257994,1589216.875918,1542217.284431,1576172.980908,1614458.49492,1610399.93193,1551606.073614,1535597.880996,1617078.2478,...,5867940.500464,5830057.037309,5846735.463343,5865836.150869,5616739.879909,5808805.017656,5582545.007859,5596874.589997,5260018.189872,5705623.524636
6,Banco BTG Pactual Chile (9),ND,ND,ND,ND,ND,ND,ND,ND,ND,...,812378.370024,849885.495622,741747.536612,791403.779995,740531.891074,824531.875553,867708.930155,757116.667724,722017.060879,779079.095824
7,Banco Consorcio (1),46886,52209.89463,45016.031596,41240.159,43479.550185,61636.196908,33377.144365,37253.499132,46786.459566,...,3349112.923216,3514295.339204,3631660.566105,3628801.038454,3472845.147116,3352720.283867,3386916.001589,3495815.669848,3565464.342615,3533451.802465
8,Banco de Chile (2),9840744.71966,9748011.906596,10158266.214898,10342056.312701,10343856.048687,10300099.517409,10205958.604508,10102523.483612,10513341.375771,...,26820814.975813,26592450.313986,26816922.178423,26677183.408841,26547495.954125,27707780.779428,27625090.202447,28099759.347375,28205655.795786,28281173.2637
9,Banco de Crédito e Inversiones,6301615.124066,6410901.900188,6617596.762906,7096114.537399,6974644.86355,6859098.567331,6837417.807971,6983168.217367,7233530.664063,...,20516962.081191,20529515.329273,19534772.468436,19797063.933309,19937589.340467,21127497.99532,20186153.645761,20844697.370824,20218682.636281,20594515.916386
10,Banco de la Nación Argentina (18),319,342,388,366,348,369,351,348,470,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
11,Banco del Estado de Chile,9955495.286867,9978725.267561,9982329.520814,10209691.09242,10189649.90478,9892155.916195,9873879.335467,9943292.281823,9995373.693017,...,32908968.404991,31645706.687463,31847376.527194,30489431.839009,31250962.217911,34969666.140936,34975228.593881,35027539.026927,35622241.909698,35401329.781754
12,Banco do Brasil S.A.,1525,1266,1597,1440,1468,1742,1822,2060,1809,...,1412.63074,1618.334265,1002.019363,860.812017,714.204272,627.957919,626.331162,386.092116,0,0
13,Banco Falabella,484156.235321,495749.406193,491095.451714,496920.700944,480100.425621,510699.82082,529978.850172,546792.098532,567630.431464,...,2959229.35008,2939285.533784,2825538.158976,2818853.851433,2888386.313184,3178646.354545,3157491.52161,3044410.747057,3080943.570653,3173068.884454
14,Banco Internacional,224783.124665,224636.076519,227921.623862,237727.19273,251937.309214,249961.172734,239163.686327,247027.04455,254661.654352,...,2045734.924022,1961259.932209,2005056.212006,2166472.618167,2017877.893749,2148079.716235,2170338.611003,2143747.059467,2107587.227282,2102658.714311
15,Banco Itaú Corpbanca (10),4769471.912736,4764320.016636,4961127.060768,5082264.557486,5194929.270654,5192868.597497,5320591.265038,5263938.234659,5393262.827866,...,16495400.781604,15736132.699478,15751005.314179,15766097.076217,15743453.047643,16014529.575053,15563590.386947,15300491.949465,15236147.364507,14818227.001728
16,Banco Paris (13),149671.721906,147038.158745,148475.089456,150894.364451,144270.016518,147595.234637,149554.612936,152764.516845,164500.675759,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
17,Banco Penta (14),53251.2489,45246.388762,48894,44836,40169.82918,40648.954376,41660.581304,29877.45468,40168.424464,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
18,Banco Ripley,231634.735027,227703.090671,229570.653508,229620.129225,226343.133883,237810.698259,227768.667711,224451.351308,225598.895472,...,810314.797359,803617.56817,813377.574317,795927.204335,768950.609496,798778.869777,743055.054014,708910.315435,695957.666531,705791.91301
19,Banco Santander - Chile,11143310.596861,11384975.020923,11455408.981592,11668974.686597,11642227.411507,11853298.554535,11619015.222536,11459405.655948,12157817.526303,...,27539026.963435,26330036.365657,26752737.300431,26806167.252221,26951800.880387,28898810.323698,29145935.717863,28185691.705625,27972647.618952,27385189.939644
20,Banco Security,1738354.979716,1712669.980161,1773015.313484,1752104.380953,1708836.781115,1774342.829802,1757856.072767,1815254.713198,1998619.290104,...,4728986.60923,4721539.130897,4681554.978197,4687003.955564,4672196.306247,4595821.653074,4694182.441133,4879550.298285,4892843.381771,4936819.539575
21,Banco Sudamericano (4) (5) (6),286742,275600,204653,304137,241682,264652,212112,244304,174212,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
22,"China Construction Bank, Agencia en Chile (11)",ND,ND,ND,ND,ND,ND,ND,ND,ND,...,1911.588353,1632.14635,24250.004234,46529.933776,2485.798824,36596.071032,41604.538598,36970.801838,87601.854261,85765.892434
23,Deutsche Bank (Chile) (12),118902.651415,129794.559904,87401.299014,40242.780907,33117.480234,29293.77206,82617.467478,32085.138572,10961.114302,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
24,DnB NOR Bank ASA (7) (8),ND,ND,ND,ND,ND,ND,ND,ND,ND,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
25,HSBC Bank (Chile),229911.792213,243574.676852,240898.297671,267024.291008,274763.720576,296801.818169,294790.004499,297951.684167,377760.503478,...,314503.814149,272057.233079,252957.959863,268932.564725,503023.51757,616305.160163,480698.482361,642257.860139,828224.374175,826200.666827
26,"JP Morgan Chase Bank, N.A.",143017,135989,217925,109783,102051,101270,103415,99730,104040,...,164588.462534,160983.679212,135729.477076,483243.371519,437590.713142,542118.582614,216221.388813,312362.142728,295436.178331,319205.349605
27,Rabobank Chile (15),90601,93171,132836,136026.028554,100099.317109,97847,89499,78467,88908.07,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
28,Scotiabank Chile (3) (17),7819739.843782,7613858.993884,7860055.218457,7966271.1234,7952344.265245,7844997.542448,7884183.618629,7997966.039043,8084463.222345,...,18983004.949847,18998960.129133,18634989.355365,18851133.413666,18869144.204771,18977564.989189,18778064.755103,19085754.375145,18545535.960817,18914640.913769
29,The Bank of Tokyo - Mitsubishi Ufj. Ltd. (19),15949.94476,21152.853304,17081.062719,13633.55934,10808,11308.530986,11460.429552,18264.426798,16775.443883,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
30,Bank of China (16),ND,ND,ND,ND,ND,ND,ND,ND,ND,...,183.13234,283.278183,484.528258,476.59168,88.388217,93.341356,89.642678,289.533944,259.794562,192.749815

In [190]:
depositos_01.head(3)

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,Unnamed: 161,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166
5,Banco Bice,1664974.257994,1589216.875918,1542217.284431,1576172.980908,1614458.49492,1610399.93193,1551606.073614,1535597.880996,1617078.2478,...,5867940.500464,5830057.037309,5846735.463343,5865836.150869,5616739.879909,5808805.017656,5582545.007859,5596874.589997,5260018.189872,5705623.524636
6,Banco BTG Pactual Chile (9),ND,ND,ND,ND,ND,ND,ND,ND,ND,...,812378.370024,849885.495622,741747.536612,791403.779995,740531.891074,824531.875553,867708.930155,757116.667724,722017.060879,779079.095824
7,Banco Consorcio (1),46886,52209.89463,45016.031596,41240.159,43479.550185,61636.196908,33377.144365,37253.499132,46786.459566,...,3349112.923216,3514295.339204,3631660.566105,3628801.038454,3472845.147116,3352720.283867,3386916.001589,3495815.669848,3565464.342615,3533451.802465

In [191]:
depositos_01 = depositos_01.melt(id_vars=['Unnamed: 1'], value_vars=['Unnamed: 2','Unnamed: 3','Unnamed: 4','Unnamed: 5','Unnamed: 6','Unnamed: 7','Unnamed: 8','Unnamed: 9','Unnamed: 10','Unnamed: 11',
                                                   'Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19','Unnamed: 20','Unnamed: 21',
                                                   'Unnamed: 22','Unnamed: 23','Unnamed: 24','Unnamed: 25','Unnamed: 26','Unnamed: 27','Unnamed: 28','Unnamed: 29','Unnamed: 30','Unnamed: 31',
                                                   'Unnamed: 32','Unnamed: 33','Unnamed: 34','Unnamed: 35','Unnamed: 36','Unnamed: 37','Unnamed: 38','Unnamed: 39','Unnamed: 40','Unnamed: 41',
                                                   'Unnamed: 42','Unnamed: 43','Unnamed: 44','Unnamed: 45','Unnamed: 46','Unnamed: 47','Unnamed: 48','Unnamed: 49','Unnamed: 50','Unnamed: 51',
                                                   'Unnamed: 52','Unnamed: 53','Unnamed: 54','Unnamed: 55','Unnamed: 56','Unnamed: 57','Unnamed: 58','Unnamed: 59','Unnamed: 60','Unnamed: 61',
                                                   'Unnamed: 62','Unnamed: 63','Unnamed: 64','Unnamed: 65','Unnamed: 66','Unnamed: 67','Unnamed: 68','Unnamed: 69','Unnamed: 70','Unnamed: 71',
                                                   'Unnamed: 72','Unnamed: 73','Unnamed: 74','Unnamed: 75','Unnamed: 76','Unnamed: 77','Unnamed: 78','Unnamed: 79','Unnamed: 80','Unnamed: 81',
                                                   'Unnamed: 82','Unnamed: 83','Unnamed: 84','Unnamed: 85','Unnamed: 86','Unnamed: 87','Unnamed: 88','Unnamed: 89','Unnamed: 90','Unnamed: 91',
                                                   'Unnamed: 92','Unnamed: 93','Unnamed: 94','Unnamed: 95','Unnamed: 96','Unnamed: 97','Unnamed: 98','Unnamed: 99','Unnamed: 100','Unnamed: 101',
                                                   'Unnamed: 102','Unnamed: 103','Unnamed: 104','Unnamed: 105','Unnamed: 106','Unnamed: 107','Unnamed: 108','Unnamed: 109','Unnamed: 110','Unnamed: 111',
                                                   'Unnamed: 112','Unnamed: 113','Unnamed: 114','Unnamed: 115','Unnamed: 116','Unnamed: 117','Unnamed: 118','Unnamed: 119','Unnamed: 120','Unnamed: 121',
                                                   'Unnamed: 122','Unnamed: 123','Unnamed: 124','Unnamed: 125','Unnamed: 126','Unnamed: 127','Unnamed: 128','Unnamed: 129','Unnamed: 130','Unnamed: 131',
                                                   'Unnamed: 132','Unnamed: 133','Unnamed: 134','Unnamed: 135','Unnamed: 136','Unnamed: 137','Unnamed: 138','Unnamed: 139','Unnamed: 140','Unnamed: 141',
                                                   'Unnamed: 142','Unnamed: 143','Unnamed: 144','Unnamed: 145','Unnamed: 146','Unnamed: 147','Unnamed: 148','Unnamed: 149','Unnamed: 150','Unnamed: 151',
                                                   'Unnamed: 152','Unnamed: 153','Unnamed: 154','Unnamed: 155','Unnamed: 156','Unnamed: 157','Unnamed: 158','Unnamed: 159','Unnamed: 160','Unnamed: 161',
                                                   'Unnamed: 162','Unnamed: 163','Unnamed: 164','Unnamed: 165','Unnamed: 166'],
               var_name='myVarname',
               value_name='Valor',
               ignore_index=False
               )

In [192]:
depositos_01

,Unnamed: 1,myVarname,Valor
5,Banco Bice,Unnamed: 2,1664974.257994
6,Banco BTG Pactual Chile (9),Unnamed: 2,ND
7,Banco Consorcio (1),Unnamed: 2,46886
8,Banco de Chile (2),Unnamed: 2,9840744.71966
9,Banco de Crédito e Inversiones,Unnamed: 2,6301615.124066
...,...,...,...
26,"JP Morgan Chase Bank, N.A.",Unnamed: 166,319205.349605
27,Rabobank Chile (15),Unnamed: 166,ND
28,Scotiabank Chile (3) (17),Unnamed: 166,18914640.913769
29,The Bank of Tokyo - Mitsubishi Ufj. Ltd. (19),Unnamed: 166,ND
30,Bank of China (16),Unnamed: 166,192.749815

In [193]:
# create a list of our conditions
conditions_1 = [(depositos_01['myVarname'] == 'Unnamed: 2'),(depositos_01['myVarname'] == 'Unnamed: 3'),(depositos_01['myVarname'] == 'Unnamed: 4'),(depositos_01['myVarname'] == 'Unnamed: 5'),(depositos_01['myVarname'] == 'Unnamed: 6'),
 (depositos_01['myVarname'] == 'Unnamed: 7'),(depositos_01['myVarname'] == 'Unnamed: 8'),(depositos_01['myVarname'] == 'Unnamed: 9'),(depositos_01['myVarname'] == 'Unnamed: 10'),(depositos_01['myVarname'] == 'Unnamed: 11'),
  (depositos_01['myVarname'] == 'Unnamed: 12'),(depositos_01['myVarname'] == 'Unnamed: 13'),(depositos_01['myVarname'] == 'Unnamed: 14'),(depositos_01['myVarname'] == 'Unnamed: 15'),(depositos_01['myVarname'] == 'Unnamed: 16'),
   (depositos_01['myVarname'] == 'Unnamed: 17'),(depositos_01['myVarname'] == 'Unnamed: 18'),(depositos_01['myVarname'] == 'Unnamed: 19'),(depositos_01['myVarname'] == 'Unnamed: 20'),(depositos_01['myVarname'] == 'Unnamed: 21'),
    (depositos_01['myVarname'] == 'Unnamed: 22'),(depositos_01['myVarname'] == 'Unnamed: 23'),(depositos_01['myVarname'] == 'Unnamed: 24'),(depositos_01['myVarname'] == 'Unnamed: 25'),(depositos_01['myVarname'] == 'Unnamed: 26'),
     (depositos_01['myVarname'] == 'Unnamed: 27'),(depositos_01['myVarname'] == 'Unnamed: 28'),(depositos_01['myVarname'] == 'Unnamed: 29'),(depositos_01['myVarname'] == 'Unnamed: 30'),(depositos_01['myVarname'] == 'Unnamed: 31'),
      (depositos_01['myVarname'] == 'Unnamed: 32'),(depositos_01['myVarname'] == 'Unnamed: 33'),(depositos_01['myVarname'] == 'Unnamed: 34'),(depositos_01['myVarname'] == 'Unnamed: 35'),(depositos_01['myVarname'] == 'Unnamed: 36'),
       (depositos_01['myVarname'] == 'Unnamed: 37'),(depositos_01['myVarname'] == 'Unnamed: 38'),(depositos_01['myVarname'] == 'Unnamed: 39'),(depositos_01['myVarname'] == 'Unnamed: 40'),(depositos_01['myVarname'] == 'Unnamed: 41'),
        (depositos_01['myVarname'] == 'Unnamed: 42'),(depositos_01['myVarname'] == 'Unnamed: 43'),(depositos_01['myVarname'] == 'Unnamed: 44'),(depositos_01['myVarname'] == 'Unnamed: 45'),(depositos_01['myVarname'] == 'Unnamed: 46'),
         (depositos_01['myVarname'] == 'Unnamed: 47'),(depositos_01['myVarname'] == 'Unnamed: 48'),(depositos_01['myVarname'] == 'Unnamed: 49'),(depositos_01['myVarname'] == 'Unnamed: 50'),(depositos_01['myVarname'] == 'Unnamed: 51'),
          (depositos_01['myVarname'] == 'Unnamed: 52'),(depositos_01['myVarname'] == 'Unnamed: 53'),(depositos_01['myVarname'] == 'Unnamed: 54'),(depositos_01['myVarname'] == 'Unnamed: 55'),(depositos_01['myVarname'] == 'Unnamed: 56'),
           (depositos_01['myVarname'] == 'Unnamed: 57'),(depositos_01['myVarname'] == 'Unnamed: 58'),(depositos_01['myVarname'] == 'Unnamed: 59'),(depositos_01['myVarname'] == 'Unnamed: 60'),(depositos_01['myVarname'] == 'Unnamed: 61'),
            (depositos_01['myVarname'] == 'Unnamed: 62'),(depositos_01['myVarname'] == 'Unnamed: 63'),(depositos_01['myVarname'] == 'Unnamed: 64'),(depositos_01['myVarname'] == 'Unnamed: 65'),(depositos_01['myVarname'] == 'Unnamed: 66'),
             (depositos_01['myVarname'] == 'Unnamed: 67'),(depositos_01['myVarname'] == 'Unnamed: 68'),(depositos_01['myVarname'] == 'Unnamed: 69'),(depositos_01['myVarname'] == 'Unnamed: 70'),(depositos_01['myVarname'] == 'Unnamed: 71'),
              (depositos_01['myVarname'] == 'Unnamed: 72'),(depositos_01['myVarname'] == 'Unnamed: 73'),(depositos_01['myVarname'] == 'Unnamed: 74'),(depositos_01['myVarname'] == 'Unnamed: 75'),(depositos_01['myVarname'] == 'Unnamed: 76'),
               (depositos_01['myVarname'] == 'Unnamed: 77'),(depositos_01['myVarname'] == 'Unnamed: 78'),(depositos_01['myVarname'] == 'Unnamed: 79'),(depositos_01['myVarname'] == 'Unnamed: 80'),(depositos_01['myVarname'] == 'Unnamed: 81'),
                (depositos_01['myVarname'] == 'Unnamed: 82'),(depositos_01['myVarname'] == 'Unnamed: 83'),(depositos_01['myVarname'] == 'Unnamed: 84'),(depositos_01['myVarname'] == 'Unnamed: 85'),(depositos_01['myVarname'] == 'Unnamed: 86'),
                 (depositos_01['myVarname'] == 'Unnamed: 87'),(depositos_01['myVarname'] == 'Unnamed: 88'),(depositos_01['myVarname'] == 'Unnamed: 89'),(depositos_01['myVarname'] == 'Unnamed: 90'),(depositos_01['myVarname'] == 'Unnamed: 91'),
                  (depositos_01['myVarname'] == 'Unnamed: 92'),(depositos_01['myVarname'] == 'Unnamed: 93'),(depositos_01['myVarname'] == 'Unnamed: 94'),(depositos_01['myVarname'] == 'Unnamed: 95'),(depositos_01['myVarname'] == 'Unnamed: 96'),
                   (depositos_01['myVarname'] == 'Unnamed: 97'),(depositos_01['myVarname'] == 'Unnamed: 98'),(depositos_01['myVarname'] == 'Unnamed: 99'),(depositos_01['myVarname'] == 'Unnamed: 100'),(depositos_01['myVarname'] == 'Unnamed: 101'),
                    (depositos_01['myVarname'] == 'Unnamed: 102'),(depositos_01['myVarname'] == 'Unnamed: 103'),(depositos_01['myVarname'] == 'Unnamed: 104'),(depositos_01['myVarname'] == 'Unnamed: 105'),(depositos_01['myVarname'] == 'Unnamed: 106'),
                     (depositos_01['myVarname'] == 'Unnamed: 107'),(depositos_01['myVarname'] == 'Unnamed: 108'),(depositos_01['myVarname'] == 'Unnamed: 109'),(depositos_01['myVarname'] == 'Unnamed: 110'),(depositos_01['myVarname'] == 'Unnamed: 111'),
                      (depositos_01['myVarname'] == 'Unnamed: 112'),(depositos_01['myVarname'] == 'Unnamed: 113'),(depositos_01['myVarname'] == 'Unnamed: 114'),(depositos_01['myVarname'] == 'Unnamed: 115'),(depositos_01['myVarname'] == 'Unnamed: 116'),
                       (depositos_01['myVarname'] == 'Unnamed: 117'),(depositos_01['myVarname'] == 'Unnamed: 118'),(depositos_01['myVarname'] == 'Unnamed: 119'),(depositos_01['myVarname'] == 'Unnamed: 120'),(depositos_01['myVarname'] == 'Unnamed: 121'),
                        (depositos_01['myVarname'] == 'Unnamed: 122'),(depositos_01['myVarname'] == 'Unnamed: 123'),(depositos_01['myVarname'] == 'Unnamed: 124'),(depositos_01['myVarname'] == 'Unnamed: 125'),(depositos_01['myVarname'] == 'Unnamed: 126'),
                         (depositos_01['myVarname'] == 'Unnamed: 127'),(depositos_01['myVarname'] == 'Unnamed: 128'),(depositos_01['myVarname'] == 'Unnamed: 129'),(depositos_01['myVarname'] == 'Unnamed: 130'),(depositos_01['myVarname'] == 'Unnamed: 131'),
                          (depositos_01['myVarname'] == 'Unnamed: 132'),(depositos_01['myVarname'] == 'Unnamed: 133'),(depositos_01['myVarname'] == 'Unnamed: 134'),(depositos_01['myVarname'] == 'Unnamed: 135'),(depositos_01['myVarname'] == 'Unnamed: 136'),
                           (depositos_01['myVarname'] == 'Unnamed: 137'),(depositos_01['myVarname'] == 'Unnamed: 138'),(depositos_01['myVarname'] == 'Unnamed: 139'),(depositos_01['myVarname'] == 'Unnamed: 140'),(depositos_01['myVarname'] == 'Unnamed: 141'),
                            (depositos_01['myVarname'] == 'Unnamed: 142'),(depositos_01['myVarname'] == 'Unnamed: 143'),(depositos_01['myVarname'] == 'Unnamed: 144'),(depositos_01['myVarname'] == 'Unnamed: 145'),(depositos_01['myVarname'] == 'Unnamed: 146'),
                             (depositos_01['myVarname'] == 'Unnamed: 147'),(depositos_01['myVarname'] == 'Unnamed: 148'),(depositos_01['myVarname'] == 'Unnamed: 149'),(depositos_01['myVarname'] == 'Unnamed: 150'),(depositos_01['myVarname'] == 'Unnamed: 151'),
                              (depositos_01['myVarname'] == 'Unnamed: 152'),(depositos_01['myVarname'] == 'Unnamed: 153'),(depositos_01['myVarname'] == 'Unnamed: 154'),(depositos_01['myVarname'] == 'Unnamed: 155'),(depositos_01['myVarname'] == 'Unnamed: 156'),
                               (depositos_01['myVarname'] == 'Unnamed: 157'),(depositos_01['myVarname'] == 'Unnamed: 158'),(depositos_01['myVarname'] == 'Unnamed: 159'),(depositos_01['myVarname'] == 'Unnamed: 160'),(depositos_01['myVarname'] == 'Unnamed: 161'),
                                (depositos_01['myVarname'] == 'Unnamed: 162'),(depositos_01['myVarname'] == 'Unnamed: 163'),(depositos_01['myVarname'] == 'Unnamed: 164'),(depositos_01['myVarname'] == 'Unnamed: 165'),(depositos_01['myVarname'] == 'Unnamed: 166')
                                ]

In [194]:
depositos_01['Fecha'] = np.select(conditions_1, values)

In [195]:
depositos_01

,Unnamed: 1,myVarname,Valor,Fecha
5,Banco Bice,Unnamed: 2,1664974.257994,2008-01-31
6,Banco BTG Pactual Chile (9),Unnamed: 2,ND,2008-01-31
7,Banco Consorcio (1),Unnamed: 2,46886,2008-01-31
8,Banco de Chile (2),Unnamed: 2,9840744.71966,2008-01-31
9,Banco de Crédito e Inversiones,Unnamed: 2,6301615.124066,2008-01-31
...,...,...,...,...
26,"JP Morgan Chase Bank, N.A.",Unnamed: 166,319205.349605,2021-09-30
27,Rabobank Chile (15),Unnamed: 166,ND,2021-09-30
28,Scotiabank Chile (3) (17),Unnamed: 166,18914640.913769,2021-09-30
29,The Bank of Tokyo - Mitsubishi Ufj. Ltd. (19),Unnamed: 166,ND,2021-09-30
30,Bank of China (16),Unnamed: 166,192.749815,2021-09-30

In [196]:
depositos_01.pop("myVarname")

5       Unnamed: 2
6       Unnamed: 2
7       Unnamed: 2
8       Unnamed: 2
9       Unnamed: 2
          ...
26    Unnamed: 166
27    Unnamed: 166
28    Unnamed: 166
29    Unnamed: 166
30    Unnamed: 166
Name: myVarname, Length: 4290, dtype: object

In [197]:
depositos_01.rename(columns={"Unnamed: 1": "Institucion"}, inplace=True)

In [198]:
depositos_01

                                      Institucion            Valor       Fecha
5                                      Banco Bice   1664974.257994  2008-01-31
6                     Banco BTG Pactual Chile (9)               ND  2008-01-31
7                             Banco Consorcio (1)            46886  2008-01-31
8                              Banco de Chile (2)    9840744.71966  2008-01-31
9                  Banco de Crédito e Inversiones   6301615.124066  2008-01-31
..                                            ...              ...         ...
26                     JP Morgan Chase Bank, N.A.    319205.349605  2021-09-30
27                            Rabobank Chile (15)               ND  2021-09-30
28                      Scotiabank Chile (3) (17)  18914640.913769  2021-09-30
29  The Bank of Tokyo - Mitsubishi Ufj. Ltd. (19)               ND  2021-09-30
30                             Bank of China (16)       192.749815  2021-09-30

[4290 rows x 3 columns]

In [199]:
depositos_01['Tipo'] = "Depósito"
depositos_01['Subtipo'] = "Total de depósitos y captaciones en moneda nacional"
depositos_01['Tipo de Moneda'] = "Saldos en millones de pesos"

In [200]:
new_cols = ["Fecha","Institucion","Tipo","Subtipo","Valor","Tipo de Moneda"]
depositos_01 = depositos_01.reindex(columns=new_cols)

In [201]:
depositos_01

,Fecha,Institucion,Tipo,Subtipo,Valor,Tipo de Moneda
5,2008-01-31,Banco Bice,Depósito,Total de depósitos y captaciones en moneda nac...,1664974.257994,Saldos en millones de pesos
6,2008-01-31,Banco BTG Pactual Chile (9),Depósito,Total de depósitos y captaciones en moneda nac...,ND,Saldos en millones de pesos
7,2008-01-31,Banco Consorcio (1),Depósito,Total de depósitos y captaciones en moneda nac...,46886,Saldos en millones de pesos
8,2008-01-31,Banco de Chile (2),Depósito,Total de depósitos y captaciones en moneda nac...,9840744.71966,Saldos en millones de pesos
9,2008-01-31,Banco de Crédito e Inversiones,Depósito,Total de depósitos y captaciones en moneda nac...,6301615.124066,Saldos en millones de pesos
...,...,...,...,...,...,...
26,2021-09-30,"JP Morgan Chase Bank, N.A.",Depósito,Total de depósitos y captaciones en moneda nac...,319205.349605,Saldos en millones de pesos
27,2021-09-30,Rabobank Chile (15),Depósito,Total de depósitos y captaciones en moneda nac...,ND,Saldos en millones de pesos
28,2021-09-30,Scotiabank Chile (3) (17),Depósito,Total de depósitos y captaciones en moneda nac...,18914640.913769,Saldos en millones de pesos
29,2021-09-30,The Bank of Tokyo - Mitsubishi Ufj. Ltd. (19),Depósito,Total de depósitos y captaciones en moneda nac...,ND,Saldos en millones de pesos
30,2021-09-30,Bank of China (16),Depósito,Total de depósitos y captaciones en moneda nac...,192.749815,Saldos en millones de pesos

##############################################################################################33

## Depósito 02

In [202]:
depositos_02.head(5)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,Unnamed: 161,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166
0,Índice general,Cuadro 2.02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Notas generales,Total de depósitos en moneda nacional,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Saldos en millones de pesos,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,2008-01-31 00:00:00,2008-02-29 00:00:00,2008-03-31 00:00:00,2008-04-30 00:00:00,2008-05-31 00:00:00,2008-06-30 00:00:00,2008-07-31 00:00:00,2008-08-31 00:00:00,...,2020-12-31 00:00:00,2021-01-31 00:00:00,2021-02-28 00:00:00,2021-03-31 00:00:00,2021-04-30 00:00:00,2021-05-31 00:00:00,2021-06-30 00:00:00,2021-07-31 00:00:00,2021-08-31 00:00:00,2021-09-30 00:00:00

In [203]:
depositos_02.pop("Unnamed: 0")

0      Índice general
1     Notas generales
2                 NaN
3                 NaN
4                 NaN
5                 NaN
6                 NaN
7                 NaN
8                 NaN
9                 NaN
10                NaN
11                NaN
12                NaN
13                NaN
14                NaN
15                NaN
16                NaN
17                NaN
18                NaN
19                NaN
20                NaN
21                NaN
22                NaN
23                NaN
24                NaN
25                NaN
26                NaN
27                NaN
28                NaN
29                NaN
30                NaN
31                NaN
32                NaN
33                NaN
34                NaN
Name: Unnamed: 0, dtype: object

In [204]:
depositos_02 = depositos_02.iloc[5:]

In [205]:
depositos_02.tail(7)

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,Unnamed: 161,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166
28,Scotiabank Chile (3) (17),7110236,6887145,7123817,7219678,7193462,7107628,7146797,7164289,7302865,...,18680492.612787,18814977.460689,18388341.297667,18588819.147286,18735761.522119,18863550.560006,18670091.038201,18977924.41143,18206704.910668,18717246.314497
29,The Bank of Tokyo - Mitsubishi Ufj. Ltd. (19),13353,17798,14557,12253,10808,9920,7606,14446,11221,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
30,Bank of China (16),ND,ND,ND,ND,ND,ND,ND,ND,ND,...,183.13234,283.278183,484.528258,476.59168,88.388217,93.341356,89.642678,289.533944,259.794562,192.749815
31,Total,50061000,50261274,51276828,52412974,52119907,52227438,51901111,51783755,53076249,...,161615740.236583,159366775.306796,157997137.875261,158548564.854394,158861771.223217,168172594.966349,166041781.676898,166851189.50031,165971279.165028,166031246.153145
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,ND : No existe dato,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [206]:
depositos_02.drop(depositos_02.tail(4).index,inplace=True)

In [207]:
depositos_02

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,Unnamed: 161,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166
5,Banco Bice,1599945,1522756,1478967,1507907,1558582,1539837,1502414,1477911,1565394,...,5831281.087169,5775800.112518,5844290.881435,5865023.352037,5616071.492761,5808144.44444,5581882.558734,5596304.985703,5259456.121365,5705059.083519
6,Banco BTG Pactual Chile (9),ND,ND,ND,ND,ND,ND,ND,ND,ND,...,811378.463869,849885.495622,721748.336575,789353.902988,725033.130974,824531.875553,867708.930155,728872.03415,710021.85896,779079.095824
7,Banco Consorcio (1),46836,52170,44765,41090,42602,40636,33329,35373,42407,...,3279729.986668,3445082.842603,3552420.96982,3528869.853524,3462585.72814,3341511.605867,3325902.921542,3485048.727515,3554472.601276,3532580.585999
8,Banco de Chile (2),9357494,9256667,9662825,9860654,9887260,9797725,9745703,9653669,9929979,...,26803839.407857,26582090.600582,26804921.938896,26668206.734514,26530822.374458,27697931.459097,27619052.960962,28077283.955285,28199017.844345,28273996.518575
9,Banco de Crédito e Inversiones,5973570,6085339,6290255,6818933,6674789,6560198,6545046,6700678,6879305,...,20501888.352552,20518544.700977,19526230.209962,19790135.228512,19932439.852033,21118329.167193,20175230.787404,20838494.948027,20210790.295724,20440983.183657
10,Banco de la Nación Argentina (18),319,342,388,366,348,369,351,348,470,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
11,Banco del Estado de Chile,7592241,7795460,7684548,7640834,7677995,7605153,7609194,7561690,7588405,...,32087344.603326,30668941.519072,30189440.550164,29832612.887354,30414406.836852,34208913.986553,33896481.013265,34289890.538226,34860106.374357,34595451.413082
12,Banco do Brasil S.A.,1525,1266,1597,1440,1468,1742,1822,2060,1809,...,1412.63074,1618.334265,1002.019363,860.812017,714.204272,627.957919,626.331162,386.092116,0,0
13,Banco Falabella,386402,393934,389946,397902,378293,396402,418312,432443,450071,...,2894872.338245,2878013.37778,2763697.506727,2756562.209177,2828798.702625,3118599.407861,3097032.58479,2986995.006127,3022974.991708,3114593.637309
14,Banco Internacional,218249,218172,222010,231834,245688,243644,232938,240141,247630,...,2033210.505212,1949098.927547,1992892.721179,2154243.708581,2006039.388526,2136250.785293,2158491.630014,2132498.656801,2096331.436023,2091351.613296
15,Banco Itaú Corpbanca (10),4260647,4266909,4451560,4593673,4680987,4685906,4807020,4762887,4771141,...,16159279.312449,15692222.54305,15722168.427748,15627303.848207,15360865.337762,15674601.078729,15448792.698772,15085356.091984,15210932.217913,14772955.755788
16,Banco Paris (13),142622,139703,140977,143283,136606,139241,140698,143277,154383,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
17,Banco Penta (14),39533,41510,48609,44606,34728,35934,35889,23022,34369,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
18,Banco Ripley,194068,189116,190238,191190,185801,195880,183304,178263,178224,...,789741.413428,784664.181098,794252.006916,776661.685375,750605.17517,780288.787773,724453.148187,691327.169743,678201.430884,687881.383524
19,Banco Santander - Chile,10631390,10910531,11022738,11242048,11107128,11444760,11085765,10975473,11367935,...,26542081.730754,26269054.183123,26611469.528348,26717500.127313,26886431.311836,28810283.365697,29073172.644946,28091171.669484,27889681.225103,27313400.176499
20,Banco Security,1627974,1607788,1659262,1648423,1586376,1675353,1660770,1679151,1841506,...,4718000.794151,4710824.892713,4670839.51103,4653228.895809,4668007.747936,4593917.329203,4692281.869027,4877754.87507,4891066.488707,4935044.169421
21,Banco Sudamericano (4) (5) (6),286742,275600,204653,304137,241682,264652,212112,244304,174212,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
22,"China Construction Bank, Agencia en Chile (11)",ND,ND,ND,ND,ND,ND,ND,ND,ND,...,1911.588353,1632.14635,24250.004234,46529.933776,2485.798824,36596.071032,41604.538598,36970.801838,87601.854261,85765.892434
23,Deutsche Bank (Chile) (12),118046,128938,70812,30652,17482,11099,82517,32026,10919,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
24,DnB NOR Bank ASA (7) (8),ND,ND,ND,ND,ND,ND,ND,ND,ND,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
25,HSBC Bank (Chile),226190,240970,223543,240269,256268,272242,256610,284107,331678,...,314503.814149,263057.031412,252957.959863,268932.564725,503023.51757,616305.160163,452664.989648,642257.860139,798223.540841,666459.230301
26,"JP Morgan Chase Bank, N.A.",143017,135989,217925,109783,102051,101270,103415,99730,104040,...,164588.462534,160983.679212,135729.477076,483243.371519,437590.713142,542118.582614,216221.388813,312362.142728,295436.178331,319205.349605
27,Rabobank Chile (15),90601,93171,132836,132019,99503,97847,89499,78467,88286,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
28,Scotiabank Chile (3) (17),7110236,6887145,7123817,7219678,7193462,7107628,7146797,7164289,7302865,...,18680492.612787,18814977.460689,18388341.297667,18588819.147286,18735761.522119,18863550.560006,18670091.038201,18977924.41143,18206704.910668,18717246.314497
29,The Bank of Tokyo - Mitsubishi Ufj. Ltd. (19),13353,17798,14557,12253,10808,9920,7606,14446,11221,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
30,Bank of China (16),ND,ND,ND,ND,ND,ND,ND,ND,ND,...,183.13234,283.278183,484.528258,476.59168,88.388217,93.341356,89.642678,289.533944,259.794562,192.749815

In [208]:
depositos_02.head(3)

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,Unnamed: 161,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166
5,Banco Bice,1599945,1522756,1478967,1507907,1558582,1539837,1502414,1477911,1565394,...,5831281.087169,5775800.112518,5844290.881435,5865023.352037,5616071.492761,5808144.44444,5581882.558734,5596304.985703,5259456.121365,5705059.083519
6,Banco BTG Pactual Chile (9),ND,ND,ND,ND,ND,ND,ND,ND,ND,...,811378.463869,849885.495622,721748.336575,789353.902988,725033.130974,824531.875553,867708.930155,728872.03415,710021.85896,779079.095824
7,Banco Consorcio (1),46836,52170,44765,41090,42602,40636,33329,35373,42407,...,3279729.986668,3445082.842603,3552420.96982,3528869.853524,3462585.72814,3341511.605867,3325902.921542,3485048.727515,3554472.601276,3532580.585999

In [209]:
depositos_02 = depositos_02.melt(id_vars=['Unnamed: 1'], value_vars=['Unnamed: 2','Unnamed: 3','Unnamed: 4','Unnamed: 5','Unnamed: 6','Unnamed: 7','Unnamed: 8','Unnamed: 9','Unnamed: 10','Unnamed: 11',
                                                   'Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19','Unnamed: 20','Unnamed: 21',
                                                   'Unnamed: 22','Unnamed: 23','Unnamed: 24','Unnamed: 25','Unnamed: 26','Unnamed: 27','Unnamed: 28','Unnamed: 29','Unnamed: 30','Unnamed: 31',
                                                   'Unnamed: 32','Unnamed: 33','Unnamed: 34','Unnamed: 35','Unnamed: 36','Unnamed: 37','Unnamed: 38','Unnamed: 39','Unnamed: 40','Unnamed: 41',
                                                   'Unnamed: 42','Unnamed: 43','Unnamed: 44','Unnamed: 45','Unnamed: 46','Unnamed: 47','Unnamed: 48','Unnamed: 49','Unnamed: 50','Unnamed: 51',
                                                   'Unnamed: 52','Unnamed: 53','Unnamed: 54','Unnamed: 55','Unnamed: 56','Unnamed: 57','Unnamed: 58','Unnamed: 59','Unnamed: 60','Unnamed: 61',
                                                   'Unnamed: 62','Unnamed: 63','Unnamed: 64','Unnamed: 65','Unnamed: 66','Unnamed: 67','Unnamed: 68','Unnamed: 69','Unnamed: 70','Unnamed: 71',
                                                   'Unnamed: 72','Unnamed: 73','Unnamed: 74','Unnamed: 75','Unnamed: 76','Unnamed: 77','Unnamed: 78','Unnamed: 79','Unnamed: 80','Unnamed: 81',
                                                   'Unnamed: 82','Unnamed: 83','Unnamed: 84','Unnamed: 85','Unnamed: 86','Unnamed: 87','Unnamed: 88','Unnamed: 89','Unnamed: 90','Unnamed: 91',
                                                   'Unnamed: 92','Unnamed: 93','Unnamed: 94','Unnamed: 95','Unnamed: 96','Unnamed: 97','Unnamed: 98','Unnamed: 99','Unnamed: 100','Unnamed: 101',
                                                   'Unnamed: 102','Unnamed: 103','Unnamed: 104','Unnamed: 105','Unnamed: 106','Unnamed: 107','Unnamed: 108','Unnamed: 109','Unnamed: 110','Unnamed: 111',
                                                   'Unnamed: 112','Unnamed: 113','Unnamed: 114','Unnamed: 115','Unnamed: 116','Unnamed: 117','Unnamed: 118','Unnamed: 119','Unnamed: 120','Unnamed: 121',
                                                   'Unnamed: 122','Unnamed: 123','Unnamed: 124','Unnamed: 125','Unnamed: 126','Unnamed: 127','Unnamed: 128','Unnamed: 129','Unnamed: 130','Unnamed: 131',
                                                   'Unnamed: 132','Unnamed: 133','Unnamed: 134','Unnamed: 135','Unnamed: 136','Unnamed: 137','Unnamed: 138','Unnamed: 139','Unnamed: 140','Unnamed: 141',
                                                   'Unnamed: 142','Unnamed: 143','Unnamed: 144','Unnamed: 145','Unnamed: 146','Unnamed: 147','Unnamed: 148','Unnamed: 149','Unnamed: 150','Unnamed: 151',
                                                   'Unnamed: 152','Unnamed: 153','Unnamed: 154','Unnamed: 155','Unnamed: 156','Unnamed: 157','Unnamed: 158','Unnamed: 159','Unnamed: 160','Unnamed: 161',
                                                   'Unnamed: 162','Unnamed: 163','Unnamed: 164','Unnamed: 165','Unnamed: 166'],
               var_name='myVarname',
               value_name='Valor',
               ignore_index=False
               )

In [210]:
depositos_02

,Unnamed: 1,myVarname,Valor
5,Banco Bice,Unnamed: 2,1599945
6,Banco BTG Pactual Chile (9),Unnamed: 2,ND
7,Banco Consorcio (1),Unnamed: 2,46836
8,Banco de Chile (2),Unnamed: 2,9357494
9,Banco de Crédito e Inversiones,Unnamed: 2,5973570
...,...,...,...
26,"JP Morgan Chase Bank, N.A.",Unnamed: 166,319205.349605
27,Rabobank Chile (15),Unnamed: 166,ND
28,Scotiabank Chile (3) (17),Unnamed: 166,18717246.314497
29,The Bank of Tokyo - Mitsubishi Ufj. Ltd. (19),Unnamed: 166,ND
30,Bank of China (16),Unnamed: 166,192.749815

In [211]:
# create a list of our conditions
conditions_2 = [(depositos_02['myVarname'] == 'Unnamed: 2'),(depositos_02['myVarname'] == 'Unnamed: 3'),(depositos_02['myVarname'] == 'Unnamed: 4'),(depositos_02['myVarname'] == 'Unnamed: 5'),(depositos_02['myVarname'] == 'Unnamed: 6'),
 (depositos_02['myVarname'] == 'Unnamed: 7'),(depositos_02['myVarname'] == 'Unnamed: 8'),(depositos_02['myVarname'] == 'Unnamed: 9'),(depositos_02['myVarname'] == 'Unnamed: 10'),(depositos_02['myVarname'] == 'Unnamed: 11'),
  (depositos_02['myVarname'] == 'Unnamed: 12'),(depositos_02['myVarname'] == 'Unnamed: 13'),(depositos_02['myVarname'] == 'Unnamed: 14'),(depositos_02['myVarname'] == 'Unnamed: 15'),(depositos_02['myVarname'] == 'Unnamed: 16'),
   (depositos_02['myVarname'] == 'Unnamed: 17'),(depositos_02['myVarname'] == 'Unnamed: 18'),(depositos_02['myVarname'] == 'Unnamed: 19'),(depositos_02['myVarname'] == 'Unnamed: 20'),(depositos_02['myVarname'] == 'Unnamed: 21'),
    (depositos_02['myVarname'] == 'Unnamed: 22'),(depositos_02['myVarname'] == 'Unnamed: 23'),(depositos_02['myVarname'] == 'Unnamed: 24'),(depositos_02['myVarname'] == 'Unnamed: 25'),(depositos_02['myVarname'] == 'Unnamed: 26'),
     (depositos_02['myVarname'] == 'Unnamed: 27'),(depositos_02['myVarname'] == 'Unnamed: 28'),(depositos_02['myVarname'] == 'Unnamed: 29'),(depositos_02['myVarname'] == 'Unnamed: 30'),(depositos_02['myVarname'] == 'Unnamed: 31'),
      (depositos_02['myVarname'] == 'Unnamed: 32'),(depositos_02['myVarname'] == 'Unnamed: 33'),(depositos_02['myVarname'] == 'Unnamed: 34'),(depositos_02['myVarname'] == 'Unnamed: 35'),(depositos_02['myVarname'] == 'Unnamed: 36'),
       (depositos_02['myVarname'] == 'Unnamed: 37'),(depositos_02['myVarname'] == 'Unnamed: 38'),(depositos_02['myVarname'] == 'Unnamed: 39'),(depositos_02['myVarname'] == 'Unnamed: 40'),(depositos_02['myVarname'] == 'Unnamed: 41'),
        (depositos_02['myVarname'] == 'Unnamed: 42'),(depositos_02['myVarname'] == 'Unnamed: 43'),(depositos_02['myVarname'] == 'Unnamed: 44'),(depositos_02['myVarname'] == 'Unnamed: 45'),(depositos_02['myVarname'] == 'Unnamed: 46'),
         (depositos_02['myVarname'] == 'Unnamed: 47'),(depositos_02['myVarname'] == 'Unnamed: 48'),(depositos_02['myVarname'] == 'Unnamed: 49'),(depositos_02['myVarname'] == 'Unnamed: 50'),(depositos_02['myVarname'] == 'Unnamed: 51'),
          (depositos_02['myVarname'] == 'Unnamed: 52'),(depositos_02['myVarname'] == 'Unnamed: 53'),(depositos_02['myVarname'] == 'Unnamed: 54'),(depositos_02['myVarname'] == 'Unnamed: 55'),(depositos_02['myVarname'] == 'Unnamed: 56'),
           (depositos_02['myVarname'] == 'Unnamed: 57'),(depositos_02['myVarname'] == 'Unnamed: 58'),(depositos_02['myVarname'] == 'Unnamed: 59'),(depositos_02['myVarname'] == 'Unnamed: 60'),(depositos_02['myVarname'] == 'Unnamed: 61'),
            (depositos_02['myVarname'] == 'Unnamed: 62'),(depositos_02['myVarname'] == 'Unnamed: 63'),(depositos_02['myVarname'] == 'Unnamed: 64'),(depositos_02['myVarname'] == 'Unnamed: 65'),(depositos_02['myVarname'] == 'Unnamed: 66'),
             (depositos_02['myVarname'] == 'Unnamed: 67'),(depositos_02['myVarname'] == 'Unnamed: 68'),(depositos_02['myVarname'] == 'Unnamed: 69'),(depositos_02['myVarname'] == 'Unnamed: 70'),(depositos_02['myVarname'] == 'Unnamed: 71'),
              (depositos_02['myVarname'] == 'Unnamed: 72'),(depositos_02['myVarname'] == 'Unnamed: 73'),(depositos_02['myVarname'] == 'Unnamed: 74'),(depositos_02['myVarname'] == 'Unnamed: 75'),(depositos_02['myVarname'] == 'Unnamed: 76'),
               (depositos_02['myVarname'] == 'Unnamed: 77'),(depositos_02['myVarname'] == 'Unnamed: 78'),(depositos_02['myVarname'] == 'Unnamed: 79'),(depositos_02['myVarname'] == 'Unnamed: 80'),(depositos_02['myVarname'] == 'Unnamed: 81'),
                (depositos_02['myVarname'] == 'Unnamed: 82'),(depositos_02['myVarname'] == 'Unnamed: 83'),(depositos_02['myVarname'] == 'Unnamed: 84'),(depositos_02['myVarname'] == 'Unnamed: 85'),(depositos_02['myVarname'] == 'Unnamed: 86'),
                 (depositos_02['myVarname'] == 'Unnamed: 87'),(depositos_02['myVarname'] == 'Unnamed: 88'),(depositos_02['myVarname'] == 'Unnamed: 89'),(depositos_02['myVarname'] == 'Unnamed: 90'),(depositos_02['myVarname'] == 'Unnamed: 91'),
                  (depositos_02['myVarname'] == 'Unnamed: 92'),(depositos_02['myVarname'] == 'Unnamed: 93'),(depositos_02['myVarname'] == 'Unnamed: 94'),(depositos_02['myVarname'] == 'Unnamed: 95'),(depositos_02['myVarname'] == 'Unnamed: 96'),
                   (depositos_02['myVarname'] == 'Unnamed: 97'),(depositos_02['myVarname'] == 'Unnamed: 98'),(depositos_02['myVarname'] == 'Unnamed: 99'),(depositos_02['myVarname'] == 'Unnamed: 100'),(depositos_02['myVarname'] == 'Unnamed: 101'),
                    (depositos_02['myVarname'] == 'Unnamed: 102'),(depositos_02['myVarname'] == 'Unnamed: 103'),(depositos_02['myVarname'] == 'Unnamed: 104'),(depositos_02['myVarname'] == 'Unnamed: 105'),(depositos_02['myVarname'] == 'Unnamed: 106'),
                     (depositos_02['myVarname'] == 'Unnamed: 107'),(depositos_02['myVarname'] == 'Unnamed: 108'),(depositos_02['myVarname'] == 'Unnamed: 109'),(depositos_02['myVarname'] == 'Unnamed: 110'),(depositos_02['myVarname'] == 'Unnamed: 111'),
                      (depositos_02['myVarname'] == 'Unnamed: 112'),(depositos_02['myVarname'] == 'Unnamed: 113'),(depositos_02['myVarname'] == 'Unnamed: 114'),(depositos_02['myVarname'] == 'Unnamed: 115'),(depositos_02['myVarname'] == 'Unnamed: 116'),
                       (depositos_02['myVarname'] == 'Unnamed: 117'),(depositos_02['myVarname'] == 'Unnamed: 118'),(depositos_02['myVarname'] == 'Unnamed: 119'),(depositos_02['myVarname'] == 'Unnamed: 120'),(depositos_02['myVarname'] == 'Unnamed: 121'),
                        (depositos_02['myVarname'] == 'Unnamed: 122'),(depositos_02['myVarname'] == 'Unnamed: 123'),(depositos_02['myVarname'] == 'Unnamed: 124'),(depositos_02['myVarname'] == 'Unnamed: 125'),(depositos_02['myVarname'] == 'Unnamed: 126'),
                         (depositos_02['myVarname'] == 'Unnamed: 127'),(depositos_02['myVarname'] == 'Unnamed: 128'),(depositos_02['myVarname'] == 'Unnamed: 129'),(depositos_02['myVarname'] == 'Unnamed: 130'),(depositos_02['myVarname'] == 'Unnamed: 131'),
                          (depositos_02['myVarname'] == 'Unnamed: 132'),(depositos_02['myVarname'] == 'Unnamed: 133'),(depositos_02['myVarname'] == 'Unnamed: 134'),(depositos_02['myVarname'] == 'Unnamed: 135'),(depositos_02['myVarname'] == 'Unnamed: 136'),
                           (depositos_02['myVarname'] == 'Unnamed: 137'),(depositos_02['myVarname'] == 'Unnamed: 138'),(depositos_02['myVarname'] == 'Unnamed: 139'),(depositos_02['myVarname'] == 'Unnamed: 140'),(depositos_02['myVarname'] == 'Unnamed: 141'),
                            (depositos_02['myVarname'] == 'Unnamed: 142'),(depositos_02['myVarname'] == 'Unnamed: 143'),(depositos_02['myVarname'] == 'Unnamed: 144'),(depositos_02['myVarname'] == 'Unnamed: 145'),(depositos_02['myVarname'] == 'Unnamed: 146'),
                             (depositos_02['myVarname'] == 'Unnamed: 147'),(depositos_02['myVarname'] == 'Unnamed: 148'),(depositos_02['myVarname'] == 'Unnamed: 149'),(depositos_02['myVarname'] == 'Unnamed: 150'),(depositos_02['myVarname'] == 'Unnamed: 151'),
                              (depositos_02['myVarname'] == 'Unnamed: 152'),(depositos_02['myVarname'] == 'Unnamed: 153'),(depositos_02['myVarname'] == 'Unnamed: 154'),(depositos_02['myVarname'] == 'Unnamed: 155'),(depositos_02['myVarname'] == 'Unnamed: 156'),
                               (depositos_02['myVarname'] == 'Unnamed: 157'),(depositos_02['myVarname'] == 'Unnamed: 158'),(depositos_02['myVarname'] == 'Unnamed: 159'),(depositos_02['myVarname'] == 'Unnamed: 160'),(depositos_02['myVarname'] == 'Unnamed: 161'),
                                (depositos_02['myVarname'] == 'Unnamed: 162'),(depositos_02['myVarname'] == 'Unnamed: 163'),(depositos_02['myVarname'] == 'Unnamed: 164'),(depositos_02['myVarname'] == 'Unnamed: 165'),(depositos_02['myVarname'] == 'Unnamed: 166')
                                ]

In [212]:
depositos_02['Fecha'] = np.select(conditions_2, values)

In [213]:
depositos_02

,Unnamed: 1,myVarname,Valor,Fecha
5,Banco Bice,Unnamed: 2,1599945,2008-01-31
6,Banco BTG Pactual Chile (9),Unnamed: 2,ND,2008-01-31
7,Banco Consorcio (1),Unnamed: 2,46836,2008-01-31
8,Banco de Chile (2),Unnamed: 2,9357494,2008-01-31
9,Banco de Crédito e Inversiones,Unnamed: 2,5973570,2008-01-31
...,...,...,...,...
26,"JP Morgan Chase Bank, N.A.",Unnamed: 166,319205.349605,2021-09-30
27,Rabobank Chile (15),Unnamed: 166,ND,2021-09-30
28,Scotiabank Chile (3) (17),Unnamed: 166,18717246.314497,2021-09-30
29,The Bank of Tokyo - Mitsubishi Ufj. Ltd. (19),Unnamed: 166,ND,2021-09-30
30,Bank of China (16),Unnamed: 166,192.749815,2021-09-30

In [214]:
depositos_02.pop("myVarname")

5       Unnamed: 2
6       Unnamed: 2
7       Unnamed: 2
8       Unnamed: 2
9       Unnamed: 2
          ...
26    Unnamed: 166
27    Unnamed: 166
28    Unnamed: 166
29    Unnamed: 166
30    Unnamed: 166
Name: myVarname, Length: 4290, dtype: object

In [215]:
depositos_02.rename(columns={"Unnamed: 1": "Institucion"}, inplace=True)

In [216]:
depositos_02

                                      Institucion            Valor       Fecha
5                                      Banco Bice          1599945  2008-01-31
6                     Banco BTG Pactual Chile (9)               ND  2008-01-31
7                             Banco Consorcio (1)            46836  2008-01-31
8                              Banco de Chile (2)          9357494  2008-01-31
9                  Banco de Crédito e Inversiones          5973570  2008-01-31
..                                            ...              ...         ...
26                     JP Morgan Chase Bank, N.A.    319205.349605  2021-09-30
27                            Rabobank Chile (15)               ND  2021-09-30
28                      Scotiabank Chile (3) (17)  18717246.314497  2021-09-30
29  The Bank of Tokyo - Mitsubishi Ufj. Ltd. (19)               ND  2021-09-30
30                             Bank of China (16)       192.749815  2021-09-30

[4290 rows x 3 columns]

In [217]:
depositos_02['Tipo'] = "Depósito"
depositos_02['Subtipo'] = "Total de depósitos en moneda nacional"
depositos_02['Tipo de Moneda'] = "Saldos en millones de pesos"

In [218]:
new_cols = ["Fecha","Institucion","Tipo","Subtipo","Valor","Tipo de Moneda"]
depositos_02 = depositos_02.reindex(columns=new_cols)

In [219]:
depositos_02

,Fecha,Institucion,Tipo,Subtipo,Valor,Tipo de Moneda
5,2008-01-31,Banco Bice,Depósito,Total de depósitos en moneda nacional,1599945,Saldos en millones de pesos
6,2008-01-31,Banco BTG Pactual Chile (9),Depósito,Total de depósitos en moneda nacional,ND,Saldos en millones de pesos
7,2008-01-31,Banco Consorcio (1),Depósito,Total de depósitos en moneda nacional,46836,Saldos en millones de pesos
8,2008-01-31,Banco de Chile (2),Depósito,Total de depósitos en moneda nacional,9357494,Saldos en millones de pesos
9,2008-01-31,Banco de Crédito e Inversiones,Depósito,Total de depósitos en moneda nacional,5973570,Saldos en millones de pesos
...,...,...,...,...,...,...
26,2021-09-30,"JP Morgan Chase Bank, N.A.",Depósito,Total de depósitos en moneda nacional,319205.349605,Saldos en millones de pesos
27,2021-09-30,Rabobank Chile (15),Depósito,Total de depósitos en moneda nacional,ND,Saldos en millones de pesos
28,2021-09-30,Scotiabank Chile (3) (17),Depósito,Total de depósitos en moneda nacional,18717246.314497,Saldos en millones de pesos
29,2021-09-30,The Bank of Tokyo - Mitsubishi Ufj. Ltd. (19),Depósito,Total de depósitos en moneda nacional,ND,Saldos en millones de pesos
30,2021-09-30,Bank of China (16),Depósito,Total de depósitos en moneda nacional,192.749815,Saldos en millones de pesos

## Depósito 03

In [220]:
depositos_03.head(5)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,Unnamed: 161,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166
0,Índice general,Cuadro 2.03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Notas generales,Depósitos a menos de un mes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Saldos en millones de pesos,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,2008-01-31 00:00:00,2008-02-29 00:00:00,2008-03-31 00:00:00,2008-04-30 00:00:00,2008-05-31 00:00:00,2008-06-30 00:00:00,2008-07-31 00:00:00,2008-08-31 00:00:00,...,2020-12-31 00:00:00,2021-01-31 00:00:00,2021-02-28 00:00:00,2021-03-31 00:00:00,2021-04-30 00:00:00,2021-05-31 00:00:00,2021-06-30 00:00:00,2021-07-31 00:00:00,2021-08-31 00:00:00,2021-09-30 00:00:00

In [221]:
depositos_03.pop("Unnamed: 0")

0      Índice general
1     Notas generales
2                 NaN
3                 NaN
4                 NaN
5                 NaN
6                 NaN
7                 NaN
8                 NaN
9                 NaN
10                NaN
11                NaN
12                NaN
13                NaN
14                NaN
15                NaN
16                NaN
17                NaN
18                NaN
19                NaN
20                NaN
21                NaN
22                NaN
23                NaN
24                NaN
25                NaN
26                NaN
27                NaN
28                NaN
29                NaN
30                NaN
31                NaN
32                NaN
33                NaN
34                NaN
Name: Unnamed: 0, dtype: object

In [222]:
depositos_03.head(7)

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,Unnamed: 161,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166
0,Cuadro 2.03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Depósitos a menos de un mes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Saldos en millones de pesos,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,2008-01-31 00:00:00,2008-02-29 00:00:00,2008-03-31 00:00:00,2008-04-30 00:00:00,2008-05-31 00:00:00,2008-06-30 00:00:00,2008-07-31 00:00:00,2008-08-31 00:00:00,2008-09-30 00:00:00,...,2020-12-31 00:00:00,2021-01-31 00:00:00,2021-02-28 00:00:00,2021-03-31 00:00:00,2021-04-30 00:00:00,2021-05-31 00:00:00,2021-06-30 00:00:00,2021-07-31 00:00:00,2021-08-31 00:00:00,2021-09-30 00:00:00
5,Banco Bice,203980,182443,201542,234648,210894,210576,193215,195650,244597,...,1486880.573041,1372524.826165,1401218.660252,1461389.384402,1468541.148511,1684519.817359,1662296.086308,1812263.520792,1700867.717021,1813779.932901
6,Banco BTG Pactual Chile (9),ND,ND,ND,ND,ND,ND,ND,ND,ND,...,83840.775047,138951.46503,93538.952476,133673.376305,129244.839941,139950.409075,174074.435899,149989.632897,117961.666853,150762.478529

In [223]:
depositos_03 = depositos_03.iloc[5:]

In [224]:
depositos_03.tail(7)

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,Unnamed: 161,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166
28,Scotiabank Chile (3) (17),1145692,994897,992332,1010881,985033,996374,892414,888439,924251,...,6269030.866989,6474668.958715,6211211.875493,6392124.185411,6213437.227891,6683443.245309,6800148.131738,6942158.804656,6535602.903652,6823118.622918
29,The Bank of Tokyo - Mitsubishi Ufj. Ltd. (19),13352,17797,14556,12252,10807,9919,7605,14445,11220,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
30,Bank of China (16),ND,ND,ND,ND,ND,ND,ND,ND,ND,...,183.13234,283.278183,484.528258,476.59168,88.388217,93.341356,89.642678,289.533944,259.794562,192.749815
31,Total,10728343,10299885,10700514,11162930,11277275,11387276,10620751,10432393,10918160,...,62896955.286482,62611464.387332,62311398.604534,63596815.998057,63965221.52206,73358920.152621,72380166.231071,72919129.152559,72584964.114709,72245367.676996
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,ND : No existe dato,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [225]:
depositos_03.drop(depositos_03.tail(4).index,inplace=True)

<ipython-input-225-113bb162bea7>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  depositos_03.drop(depositos_03.tail(4).index,inplace=True)

In [226]:
depositos_03.head(3)

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,Unnamed: 161,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166
5,Banco Bice,203980,182443,201542,234648,210894,210576,193215,195650,244597,...,1486880.573041,1372524.826165,1401218.660252,1461389.384402,1468541.148511,1684519.817359,1662296.086308,1812263.520792,1700867.717021,1813779.932901
6,Banco BTG Pactual Chile (9),ND,ND,ND,ND,ND,ND,ND,ND,ND,...,83840.775047,138951.46503,93538.952476,133673.376305,129244.839941,139950.409075,174074.435899,149989.632897,117961.666853,150762.478529
7,Banco Consorcio (1),2288,3167,5274,5450,5472,5861,4121,4539,3986,...,268869.620342,274857.055643,274496.617054,310594.125965,303899.07826,340684.422385,337967.262908,342192.632355,370028.219909,349527.831827

In [227]:
depositos_03 = depositos_03.melt(id_vars=['Unnamed: 1'], value_vars=['Unnamed: 2','Unnamed: 3','Unnamed: 4','Unnamed: 5','Unnamed: 6','Unnamed: 7','Unnamed: 8','Unnamed: 9','Unnamed: 10','Unnamed: 11',
                                                   'Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19','Unnamed: 20','Unnamed: 21',
                                                   'Unnamed: 22','Unnamed: 23','Unnamed: 24','Unnamed: 25','Unnamed: 26','Unnamed: 27','Unnamed: 28','Unnamed: 29','Unnamed: 30','Unnamed: 31',
                                                   'Unnamed: 32','Unnamed: 33','Unnamed: 34','Unnamed: 35','Unnamed: 36','Unnamed: 37','Unnamed: 38','Unnamed: 39','Unnamed: 40','Unnamed: 41',
                                                   'Unnamed: 42','Unnamed: 43','Unnamed: 44','Unnamed: 45','Unnamed: 46','Unnamed: 47','Unnamed: 48','Unnamed: 49','Unnamed: 50','Unnamed: 51',
                                                   'Unnamed: 52','Unnamed: 53','Unnamed: 54','Unnamed: 55','Unnamed: 56','Unnamed: 57','Unnamed: 58','Unnamed: 59','Unnamed: 60','Unnamed: 61',
                                                   'Unnamed: 62','Unnamed: 63','Unnamed: 64','Unnamed: 65','Unnamed: 66','Unnamed: 67','Unnamed: 68','Unnamed: 69','Unnamed: 70','Unnamed: 71',
                                                   'Unnamed: 72','Unnamed: 73','Unnamed: 74','Unnamed: 75','Unnamed: 76','Unnamed: 77','Unnamed: 78','Unnamed: 79','Unnamed: 80','Unnamed: 81',
                                                   'Unnamed: 82','Unnamed: 83','Unnamed: 84','Unnamed: 85','Unnamed: 86','Unnamed: 87','Unnamed: 88','Unnamed: 89','Unnamed: 90','Unnamed: 91',
                                                   'Unnamed: 92','Unnamed: 93','Unnamed: 94','Unnamed: 95','Unnamed: 96','Unnamed: 97','Unnamed: 98','Unnamed: 99','Unnamed: 100','Unnamed: 101',
                                                   'Unnamed: 102','Unnamed: 103','Unnamed: 104','Unnamed: 105','Unnamed: 106','Unnamed: 107','Unnamed: 108','Unnamed: 109','Unnamed: 110','Unnamed: 111',
                                                   'Unnamed: 112','Unnamed: 113','Unnamed: 114','Unnamed: 115','Unnamed: 116','Unnamed: 117','Unnamed: 118','Unnamed: 119','Unnamed: 120','Unnamed: 121',
                                                   'Unnamed: 122','Unnamed: 123','Unnamed: 124','Unnamed: 125','Unnamed: 126','Unnamed: 127','Unnamed: 128','Unnamed: 129','Unnamed: 130','Unnamed: 131',
                                                   'Unnamed: 132','Unnamed: 133','Unnamed: 134','Unnamed: 135','Unnamed: 136','Unnamed: 137','Unnamed: 138','Unnamed: 139','Unnamed: 140','Unnamed: 141',
                                                   'Unnamed: 142','Unnamed: 143','Unnamed: 144','Unnamed: 145','Unnamed: 146','Unnamed: 147','Unnamed: 148','Unnamed: 149','Unnamed: 150','Unnamed: 151',
                                                   'Unnamed: 152','Unnamed: 153','Unnamed: 154','Unnamed: 155','Unnamed: 156','Unnamed: 157','Unnamed: 158','Unnamed: 159','Unnamed: 160','Unnamed: 161',
                                                   'Unnamed: 162','Unnamed: 163','Unnamed: 164','Unnamed: 165','Unnamed: 166'],
               var_name='myVarname',
               value_name='Valor',
               ignore_index=False
               )

In [228]:
depositos_03

,Unnamed: 1,myVarname,Valor
5,Banco Bice,Unnamed: 2,203980
6,Banco BTG Pactual Chile (9),Unnamed: 2,ND
7,Banco Consorcio (1),Unnamed: 2,2288
8,Banco de Chile (2),Unnamed: 2,2420269
9,Banco de Crédito e Inversiones,Unnamed: 2,1566985
...,...,...,...
26,"JP Morgan Chase Bank, N.A.",Unnamed: 166,259167.753004
27,Rabobank Chile (15),Unnamed: 166,ND
28,Scotiabank Chile (3) (17),Unnamed: 166,6823118.622918
29,The Bank of Tokyo - Mitsubishi Ufj. Ltd. (19),Unnamed: 166,ND
30,Bank of China (16),Unnamed: 166,192.749815

In [229]:
# create a list of our conditions
conditions_3 = [(depositos_03['myVarname'] == 'Unnamed: 2'),(depositos_03['myVarname'] == 'Unnamed: 3'),(depositos_03['myVarname'] == 'Unnamed: 4'),(depositos_03['myVarname'] == 'Unnamed: 5'),(depositos_03['myVarname'] == 'Unnamed: 6'),
 (depositos_03['myVarname'] == 'Unnamed: 7'),(depositos_03['myVarname'] == 'Unnamed: 8'),(depositos_03['myVarname'] == 'Unnamed: 9'),(depositos_03['myVarname'] == 'Unnamed: 10'),(depositos_03['myVarname'] == 'Unnamed: 11'),
  (depositos_03['myVarname'] == 'Unnamed: 12'),(depositos_03['myVarname'] == 'Unnamed: 13'),(depositos_03['myVarname'] == 'Unnamed: 14'),(depositos_03['myVarname'] == 'Unnamed: 15'),(depositos_03['myVarname'] == 'Unnamed: 16'),
   (depositos_03['myVarname'] == 'Unnamed: 17'),(depositos_03['myVarname'] == 'Unnamed: 18'),(depositos_03['myVarname'] == 'Unnamed: 19'),(depositos_03['myVarname'] == 'Unnamed: 20'),(depositos_03['myVarname'] == 'Unnamed: 21'),
    (depositos_03['myVarname'] == 'Unnamed: 22'),(depositos_03['myVarname'] == 'Unnamed: 23'),(depositos_03['myVarname'] == 'Unnamed: 24'),(depositos_03['myVarname'] == 'Unnamed: 25'),(depositos_03['myVarname'] == 'Unnamed: 26'),
     (depositos_03['myVarname'] == 'Unnamed: 27'),(depositos_03['myVarname'] == 'Unnamed: 28'),(depositos_03['myVarname'] == 'Unnamed: 29'),(depositos_03['myVarname'] == 'Unnamed: 30'),(depositos_03['myVarname'] == 'Unnamed: 31'),
      (depositos_03['myVarname'] == 'Unnamed: 32'),(depositos_03['myVarname'] == 'Unnamed: 33'),(depositos_03['myVarname'] == 'Unnamed: 34'),(depositos_03['myVarname'] == 'Unnamed: 35'),(depositos_03['myVarname'] == 'Unnamed: 36'),
       (depositos_03['myVarname'] == 'Unnamed: 37'),(depositos_03['myVarname'] == 'Unnamed: 38'),(depositos_03['myVarname'] == 'Unnamed: 39'),(depositos_03['myVarname'] == 'Unnamed: 40'),(depositos_03['myVarname'] == 'Unnamed: 41'),
        (depositos_03['myVarname'] == 'Unnamed: 42'),(depositos_03['myVarname'] == 'Unnamed: 43'),(depositos_03['myVarname'] == 'Unnamed: 44'),(depositos_03['myVarname'] == 'Unnamed: 45'),(depositos_03['myVarname'] == 'Unnamed: 46'),
         (depositos_03['myVarname'] == 'Unnamed: 47'),(depositos_03['myVarname'] == 'Unnamed: 48'),(depositos_03['myVarname'] == 'Unnamed: 49'),(depositos_03['myVarname'] == 'Unnamed: 50'),(depositos_03['myVarname'] == 'Unnamed: 51'),
          (depositos_03['myVarname'] == 'Unnamed: 52'),(depositos_03['myVarname'] == 'Unnamed: 53'),(depositos_03['myVarname'] == 'Unnamed: 54'),(depositos_03['myVarname'] == 'Unnamed: 55'),(depositos_03['myVarname'] == 'Unnamed: 56'),
           (depositos_03['myVarname'] == 'Unnamed: 57'),(depositos_03['myVarname'] == 'Unnamed: 58'),(depositos_03['myVarname'] == 'Unnamed: 59'),(depositos_03['myVarname'] == 'Unnamed: 60'),(depositos_03['myVarname'] == 'Unnamed: 61'),
            (depositos_03['myVarname'] == 'Unnamed: 62'),(depositos_03['myVarname'] == 'Unnamed: 63'),(depositos_03['myVarname'] == 'Unnamed: 64'),(depositos_03['myVarname'] == 'Unnamed: 65'),(depositos_03['myVarname'] == 'Unnamed: 66'),
             (depositos_03['myVarname'] == 'Unnamed: 67'),(depositos_03['myVarname'] == 'Unnamed: 68'),(depositos_03['myVarname'] == 'Unnamed: 69'),(depositos_03['myVarname'] == 'Unnamed: 70'),(depositos_03['myVarname'] == 'Unnamed: 71'),
              (depositos_03['myVarname'] == 'Unnamed: 72'),(depositos_03['myVarname'] == 'Unnamed: 73'),(depositos_03['myVarname'] == 'Unnamed: 74'),(depositos_03['myVarname'] == 'Unnamed: 75'),(depositos_03['myVarname'] == 'Unnamed: 76'),
               (depositos_03['myVarname'] == 'Unnamed: 77'),(depositos_03['myVarname'] == 'Unnamed: 78'),(depositos_03['myVarname'] == 'Unnamed: 79'),(depositos_03['myVarname'] == 'Unnamed: 80'),(depositos_03['myVarname'] == 'Unnamed: 81'),
                (depositos_03['myVarname'] == 'Unnamed: 82'),(depositos_03['myVarname'] == 'Unnamed: 83'),(depositos_03['myVarname'] == 'Unnamed: 84'),(depositos_03['myVarname'] == 'Unnamed: 85'),(depositos_03['myVarname'] == 'Unnamed: 86'),
                 (depositos_03['myVarname'] == 'Unnamed: 87'),(depositos_03['myVarname'] == 'Unnamed: 88'),(depositos_03['myVarname'] == 'Unnamed: 89'),(depositos_03['myVarname'] == 'Unnamed: 90'),(depositos_03['myVarname'] == 'Unnamed: 91'),
                  (depositos_03['myVarname'] == 'Unnamed: 92'),(depositos_03['myVarname'] == 'Unnamed: 93'),(depositos_03['myVarname'] == 'Unnamed: 94'),(depositos_03['myVarname'] == 'Unnamed: 95'),(depositos_03['myVarname'] == 'Unnamed: 96'),
                   (depositos_03['myVarname'] == 'Unnamed: 97'),(depositos_03['myVarname'] == 'Unnamed: 98'),(depositos_03['myVarname'] == 'Unnamed: 99'),(depositos_03['myVarname'] == 'Unnamed: 100'),(depositos_03['myVarname'] == 'Unnamed: 101'),
                    (depositos_03['myVarname'] == 'Unnamed: 102'),(depositos_03['myVarname'] == 'Unnamed: 103'),(depositos_03['myVarname'] == 'Unnamed: 104'),(depositos_03['myVarname'] == 'Unnamed: 105'),(depositos_03['myVarname'] == 'Unnamed: 106'),
                     (depositos_03['myVarname'] == 'Unnamed: 107'),(depositos_03['myVarname'] == 'Unnamed: 108'),(depositos_03['myVarname'] == 'Unnamed: 109'),(depositos_03['myVarname'] == 'Unnamed: 110'),(depositos_03['myVarname'] == 'Unnamed: 111'),
                      (depositos_03['myVarname'] == 'Unnamed: 112'),(depositos_03['myVarname'] == 'Unnamed: 113'),(depositos_03['myVarname'] == 'Unnamed: 114'),(depositos_03['myVarname'] == 'Unnamed: 115'),(depositos_03['myVarname'] == 'Unnamed: 116'),
                       (depositos_03['myVarname'] == 'Unnamed: 117'),(depositos_03['myVarname'] == 'Unnamed: 118'),(depositos_03['myVarname'] == 'Unnamed: 119'),(depositos_03['myVarname'] == 'Unnamed: 120'),(depositos_03['myVarname'] == 'Unnamed: 121'),
                        (depositos_03['myVarname'] == 'Unnamed: 122'),(depositos_03['myVarname'] == 'Unnamed: 123'),(depositos_03['myVarname'] == 'Unnamed: 124'),(depositos_03['myVarname'] == 'Unnamed: 125'),(depositos_03['myVarname'] == 'Unnamed: 126'),
                         (depositos_03['myVarname'] == 'Unnamed: 127'),(depositos_03['myVarname'] == 'Unnamed: 128'),(depositos_03['myVarname'] == 'Unnamed: 129'),(depositos_03['myVarname'] == 'Unnamed: 130'),(depositos_03['myVarname'] == 'Unnamed: 131'),
                          (depositos_03['myVarname'] == 'Unnamed: 132'),(depositos_03['myVarname'] == 'Unnamed: 133'),(depositos_03['myVarname'] == 'Unnamed: 134'),(depositos_03['myVarname'] == 'Unnamed: 135'),(depositos_03['myVarname'] == 'Unnamed: 136'),
                           (depositos_03['myVarname'] == 'Unnamed: 137'),(depositos_03['myVarname'] == 'Unnamed: 138'),(depositos_03['myVarname'] == 'Unnamed: 139'),(depositos_03['myVarname'] == 'Unnamed: 140'),(depositos_03['myVarname'] == 'Unnamed: 141'),
                            (depositos_03['myVarname'] == 'Unnamed: 142'),(depositos_03['myVarname'] == 'Unnamed: 143'),(depositos_03['myVarname'] == 'Unnamed: 144'),(depositos_03['myVarname'] == 'Unnamed: 145'),(depositos_03['myVarname'] == 'Unnamed: 146'),
                             (depositos_03['myVarname'] == 'Unnamed: 147'),(depositos_03['myVarname'] == 'Unnamed: 148'),(depositos_03['myVarname'] == 'Unnamed: 149'),(depositos_03['myVarname'] == 'Unnamed: 150'),(depositos_03['myVarname'] == 'Unnamed: 151'),
                              (depositos_03['myVarname'] == 'Unnamed: 152'),(depositos_03['myVarname'] == 'Unnamed: 153'),(depositos_03['myVarname'] == 'Unnamed: 154'),(depositos_03['myVarname'] == 'Unnamed: 155'),(depositos_03['myVarname'] == 'Unnamed: 156'),
                               (depositos_03['myVarname'] == 'Unnamed: 157'),(depositos_03['myVarname'] == 'Unnamed: 158'),(depositos_03['myVarname'] == 'Unnamed: 159'),(depositos_03['myVarname'] == 'Unnamed: 160'),(depositos_03['myVarname'] == 'Unnamed: 161'),
                                (depositos_03['myVarname'] == 'Unnamed: 162'),(depositos_03['myVarname'] == 'Unnamed: 163'),(depositos_03['myVarname'] == 'Unnamed: 164'),(depositos_03['myVarname'] == 'Unnamed: 165'),(depositos_03['myVarname'] == 'Unnamed: 166')
                                ]

In [230]:
depositos_03['Fecha'] = np.select(conditions_3, values)

In [231]:
depositos_03

,Unnamed: 1,myVarname,Valor,Fecha
5,Banco Bice,Unnamed: 2,203980,2008-01-31
6,Banco BTG Pactual Chile (9),Unnamed: 2,ND,2008-01-31
7,Banco Consorcio (1),Unnamed: 2,2288,2008-01-31
8,Banco de Chile (2),Unnamed: 2,2420269,2008-01-31
9,Banco de Crédito e Inversiones,Unnamed: 2,1566985,2008-01-31
...,...,...,...,...
26,"JP Morgan Chase Bank, N.A.",Unnamed: 166,259167.753004,2021-09-30
27,Rabobank Chile (15),Unnamed: 166,ND,2021-09-30
28,Scotiabank Chile (3) (17),Unnamed: 166,6823118.622918,2021-09-30
29,The Bank of Tokyo - Mitsubishi Ufj. Ltd. (19),Unnamed: 166,ND,2021-09-30
30,Bank of China (16),Unnamed: 166,192.749815,2021-09-30

In [232]:
depositos_03.pop("myVarname")

5       Unnamed: 2
6       Unnamed: 2
7       Unnamed: 2
8       Unnamed: 2
9       Unnamed: 2
          ...
26    Unnamed: 166
27    Unnamed: 166
28    Unnamed: 166
29    Unnamed: 166
30    Unnamed: 166
Name: myVarname, Length: 4290, dtype: object

In [233]:
depositos_03.rename(columns={"Unnamed: 1": "Institucion"}, inplace=True)

In [234]:
depositos_03

                                      Institucion           Valor       Fecha
5                                      Banco Bice          203980  2008-01-31
6                     Banco BTG Pactual Chile (9)              ND  2008-01-31
7                             Banco Consorcio (1)            2288  2008-01-31
8                              Banco de Chile (2)         2420269  2008-01-31
9                  Banco de Crédito e Inversiones         1566985  2008-01-31
..                                            ...             ...         ...
26                     JP Morgan Chase Bank, N.A.   259167.753004  2021-09-30
27                            Rabobank Chile (15)              ND  2021-09-30
28                      Scotiabank Chile (3) (17)  6823118.622918  2021-09-30
29  The Bank of Tokyo - Mitsubishi Ufj. Ltd. (19)              ND  2021-09-30
30                             Bank of China (16)      192.749815  2021-09-30

[4290 rows x 3 columns]

In [235]:
depositos_03['Tipo'] = "Depósito"
depositos_03['Subtipo'] = "Depósitos a menos de un mes"
depositos_03['Tipo de Moneda'] = "Saldos en millones de pesos"

In [236]:
depositos_03.head(5)

,Institucion,Valor,Fecha,Tipo,Subtipo,Tipo de Moneda
5,Banco Bice,203980,2008-01-31,Depósito,Depósitos a menos de un mes,Saldos en millones de pesos
6,Banco BTG Pactual Chile (9),ND,2008-01-31,Depósito,Depósitos a menos de un mes,Saldos en millones de pesos
7,Banco Consorcio (1),2288,2008-01-31,Depósito,Depósitos a menos de un mes,Saldos en millones de pesos
8,Banco de Chile (2),2420269,2008-01-31,Depósito,Depósitos a menos de un mes,Saldos en millones de pesos
9,Banco de Crédito e Inversiones,1566985,2008-01-31,Depósito,Depósitos a menos de un mes,Saldos en millones de pesos

In [237]:
new_cols = ["Fecha","Institucion","Tipo","Subtipo","Valor","Tipo de Moneda"]
depositos_03 = depositos_03.reindex(columns=new_cols)

In [238]:
depositos_03.head(5)

,Fecha,Institucion,Tipo,Subtipo,Valor,Tipo de Moneda
5,2008-01-31,Banco Bice,Depósito,Depósitos a menos de un mes,203980,Saldos en millones de pesos
6,2008-01-31,Banco BTG Pactual Chile (9),Depósito,Depósitos a menos de un mes,ND,Saldos en millones de pesos
7,2008-01-31,Banco Consorcio (1),Depósito,Depósitos a menos de un mes,2288,Saldos en millones de pesos
8,2008-01-31,Banco de Chile (2),Depósito,Depósitos a menos de un mes,2420269,Saldos en millones de pesos
9,2008-01-31,Banco de Crédito e Inversiones,Depósito,Depósitos a menos de un mes,1566985,Saldos en millones de pesos

## Depósito 04

In [239]:
depositos_04.head(5)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,Unnamed: 161,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166
0,Índice general,Cuadro 2.04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Notas generales,Depósitos a más de un mes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Saldos en millones de pesos,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,2008-01-31 00:00:00,2008-02-29 00:00:00,2008-03-31 00:00:00,2008-04-30 00:00:00,2008-05-31 00:00:00,2008-06-30 00:00:00,2008-07-31 00:00:00,2008-08-31 00:00:00,...,2020-12-31 00:00:00,2021-01-31 00:00:00,2021-02-28 00:00:00,2021-03-31 00:00:00,2021-04-30 00:00:00,2021-05-31 00:00:00,2021-06-30 00:00:00,2021-07-31 00:00:00,2021-08-31 00:00:00,2021-09-30 00:00:00

In [240]:
depositos_04.pop("Unnamed: 0")

0      Índice general
1     Notas generales
2                 NaN
3                 NaN
4                 NaN
5                 NaN
6                 NaN
7                 NaN
8                 NaN
9                 NaN
10                NaN
11                NaN
12                NaN
13                NaN
14                NaN
15                NaN
16                NaN
17                NaN
18                NaN
19                NaN
20                NaN
21                NaN
22                NaN
23                NaN
24                NaN
25                NaN
26                NaN
27                NaN
28                NaN
29                NaN
30                NaN
31                NaN
32                NaN
33                NaN
34                NaN
Name: Unnamed: 0, dtype: object

In [241]:
depositos_04.head(7)

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,Unnamed: 161,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166
0,Cuadro 2.04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Depósitos a más de un mes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Saldos en millones de pesos,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,2008-01-31 00:00:00,2008-02-29 00:00:00,2008-03-31 00:00:00,2008-04-30 00:00:00,2008-05-31 00:00:00,2008-06-30 00:00:00,2008-07-31 00:00:00,2008-08-31 00:00:00,2008-09-30 00:00:00,...,2020-12-31 00:00:00,2021-01-31 00:00:00,2021-02-28 00:00:00,2021-03-31 00:00:00,2021-04-30 00:00:00,2021-05-31 00:00:00,2021-06-30 00:00:00,2021-07-31 00:00:00,2021-08-31 00:00:00,2021-09-30 00:00:00
5,Banco Bice,1395965,1340313,1277425,1273259,1347688,1329261,1309199,1282261,1320797,...,4344400.514128,4403275.286353,4443072.221183,4403633.967635,4147530.34425,4123624.627081,3919586.472426,3784041.464911,3558588.404344,3891279.150618
6,Banco BTG Pactual Chile (9),ND,ND,ND,ND,ND,ND,ND,ND,ND,...,727537.688822,710934.030592,628209.384099,655680.526683,595788.291033,684581.466478,693634.494256,578882.401253,592060.192107,628316.617295

In [242]:
depositos_04 = depositos_04.iloc[5:]

In [243]:
depositos_04.tail(7)

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,Unnamed: 161,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166
28,Scotiabank Chile (3) (17),5964544,5892248,6131485,6208797,6208429,6111254,6254383,6275850,6378614,...,12411461.745798,12340308.501974,12177129.422174,12196694.961875,12522324.294228,12180107.314697,11869942.906463,12035765.606774,11671102.007016,11894127.691579
29,The Bank of Tokyo - Mitsubishi Ufj. Ltd. (19),1,1,1,1,1,1,1,1,1,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
30,Bank of China (16),ND,ND,ND,ND,ND,ND,ND,ND,ND,...,0,0,0,0,0,0,0,0,0,0
31,Total,39332657,39961389,40576314,41250044,40842632,40840162,41280360,41351362,42158089,...,98718784.950101,96755310.919464,95685739.270727,94951748.856337,94896549.701157,94813674.813728,93661615.445827,93932060.347751,93386315.050319,93785878.476149
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,ND : No existe dato,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [244]:
depositos_04.drop(depositos_04.tail(4).index,inplace=True)

<ipython-input-244-2efae5e9354d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  depositos_04.drop(depositos_04.tail(4).index,inplace=True)

In [245]:
depositos_04.head(3)

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,Unnamed: 161,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166
5,Banco Bice,1395965,1340313,1277425,1273259,1347688,1329261,1309199,1282261,1320797,...,4344400.514128,4403275.286353,4443072.221183,4403633.967635,4147530.34425,4123624.627081,3919586.472426,3784041.464911,3558588.404344,3891279.150618
6,Banco BTG Pactual Chile (9),ND,ND,ND,ND,ND,ND,ND,ND,ND,...,727537.688822,710934.030592,628209.384099,655680.526683,595788.291033,684581.466478,693634.494256,578882.401253,592060.192107,628316.617295
7,Banco Consorcio (1),44548,49003,39491,35640,37130,34775,29208,30834,38421,...,3010860.366326,3170225.78696,3277924.352766,3218275.727559,3158686.64988,3000827.183482,2987935.658634,3142856.09516,3184444.381367,3183052.754172

In [246]:
depositos_04 = depositos_04.melt(id_vars=['Unnamed: 1'], value_vars=['Unnamed: 2','Unnamed: 3','Unnamed: 4','Unnamed: 5','Unnamed: 6','Unnamed: 7','Unnamed: 8','Unnamed: 9','Unnamed: 10','Unnamed: 11',
                                                   'Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19','Unnamed: 20','Unnamed: 21',
                                                   'Unnamed: 22','Unnamed: 23','Unnamed: 24','Unnamed: 25','Unnamed: 26','Unnamed: 27','Unnamed: 28','Unnamed: 29','Unnamed: 30','Unnamed: 31',
                                                   'Unnamed: 32','Unnamed: 33','Unnamed: 34','Unnamed: 35','Unnamed: 36','Unnamed: 37','Unnamed: 38','Unnamed: 39','Unnamed: 40','Unnamed: 41',
                                                   'Unnamed: 42','Unnamed: 43','Unnamed: 44','Unnamed: 45','Unnamed: 46','Unnamed: 47','Unnamed: 48','Unnamed: 49','Unnamed: 50','Unnamed: 51',
                                                   'Unnamed: 52','Unnamed: 53','Unnamed: 54','Unnamed: 55','Unnamed: 56','Unnamed: 57','Unnamed: 58','Unnamed: 59','Unnamed: 60','Unnamed: 61',
                                                   'Unnamed: 62','Unnamed: 63','Unnamed: 64','Unnamed: 65','Unnamed: 66','Unnamed: 67','Unnamed: 68','Unnamed: 69','Unnamed: 70','Unnamed: 71',
                                                   'Unnamed: 72','Unnamed: 73','Unnamed: 74','Unnamed: 75','Unnamed: 76','Unnamed: 77','Unnamed: 78','Unnamed: 79','Unnamed: 80','Unnamed: 81',
                                                   'Unnamed: 82','Unnamed: 83','Unnamed: 84','Unnamed: 85','Unnamed: 86','Unnamed: 87','Unnamed: 88','Unnamed: 89','Unnamed: 90','Unnamed: 91',
                                                   'Unnamed: 92','Unnamed: 93','Unnamed: 94','Unnamed: 95','Unnamed: 96','Unnamed: 97','Unnamed: 98','Unnamed: 99','Unnamed: 100','Unnamed: 101',
                                                   'Unnamed: 102','Unnamed: 103','Unnamed: 104','Unnamed: 105','Unnamed: 106','Unnamed: 107','Unnamed: 108','Unnamed: 109','Unnamed: 110','Unnamed: 111',
                                                   'Unnamed: 112','Unnamed: 113','Unnamed: 114','Unnamed: 115','Unnamed: 116','Unnamed: 117','Unnamed: 118','Unnamed: 119','Unnamed: 120','Unnamed: 121',
                                                   'Unnamed: 122','Unnamed: 123','Unnamed: 124','Unnamed: 125','Unnamed: 126','Unnamed: 127','Unnamed: 128','Unnamed: 129','Unnamed: 130','Unnamed: 131',
                                                   'Unnamed: 132','Unnamed: 133','Unnamed: 134','Unnamed: 135','Unnamed: 136','Unnamed: 137','Unnamed: 138','Unnamed: 139','Unnamed: 140','Unnamed: 141',
                                                   'Unnamed: 142','Unnamed: 143','Unnamed: 144','Unnamed: 145','Unnamed: 146','Unnamed: 147','Unnamed: 148','Unnamed: 149','Unnamed: 150','Unnamed: 151',
                                                   'Unnamed: 152','Unnamed: 153','Unnamed: 154','Unnamed: 155','Unnamed: 156','Unnamed: 157','Unnamed: 158','Unnamed: 159','Unnamed: 160','Unnamed: 161',
                                                   'Unnamed: 162','Unnamed: 163','Unnamed: 164','Unnamed: 165','Unnamed: 166'],
               var_name='myVarname',
               value_name='Valor',
               ignore_index=False
               )

In [247]:
depositos_04

,Unnamed: 1,myVarname,Valor
5,Banco Bice,Unnamed: 2,1395965
6,Banco BTG Pactual Chile (9),Unnamed: 2,ND
7,Banco Consorcio (1),Unnamed: 2,44548
8,Banco de Chile (2),Unnamed: 2,6937225
9,Banco de Crédito e Inversiones,Unnamed: 2,4406585
...,...,...,...
26,"JP Morgan Chase Bank, N.A.",Unnamed: 166,60037.596601
27,Rabobank Chile (15),Unnamed: 166,ND
28,Scotiabank Chile (3) (17),Unnamed: 166,11894127.691579
29,The Bank of Tokyo - Mitsubishi Ufj. Ltd. (19),Unnamed: 166,ND
30,Bank of China (16),Unnamed: 166,0

In [248]:
# create a list of our conditions
conditions_4 = [(depositos_04['myVarname'] == 'Unnamed: 2'),(depositos_04['myVarname'] == 'Unnamed: 3'),(depositos_04['myVarname'] == 'Unnamed: 4'),(depositos_04['myVarname'] == 'Unnamed: 5'),(depositos_04['myVarname'] == 'Unnamed: 6'),
 (depositos_04['myVarname'] == 'Unnamed: 7'),(depositos_04['myVarname'] == 'Unnamed: 8'),(depositos_04['myVarname'] == 'Unnamed: 9'),(depositos_04['myVarname'] == 'Unnamed: 10'),(depositos_04['myVarname'] == 'Unnamed: 11'),
  (depositos_04['myVarname'] == 'Unnamed: 12'),(depositos_04['myVarname'] == 'Unnamed: 13'),(depositos_04['myVarname'] == 'Unnamed: 14'),(depositos_04['myVarname'] == 'Unnamed: 15'),(depositos_04['myVarname'] == 'Unnamed: 16'),
   (depositos_04['myVarname'] == 'Unnamed: 17'),(depositos_04['myVarname'] == 'Unnamed: 18'),(depositos_04['myVarname'] == 'Unnamed: 19'),(depositos_04['myVarname'] == 'Unnamed: 20'),(depositos_04['myVarname'] == 'Unnamed: 21'),
    (depositos_04['myVarname'] == 'Unnamed: 22'),(depositos_04['myVarname'] == 'Unnamed: 23'),(depositos_04['myVarname'] == 'Unnamed: 24'),(depositos_04['myVarname'] == 'Unnamed: 25'),(depositos_04['myVarname'] == 'Unnamed: 26'),
     (depositos_04['myVarname'] == 'Unnamed: 27'),(depositos_04['myVarname'] == 'Unnamed: 28'),(depositos_04['myVarname'] == 'Unnamed: 29'),(depositos_04['myVarname'] == 'Unnamed: 30'),(depositos_04['myVarname'] == 'Unnamed: 31'),
      (depositos_04['myVarname'] == 'Unnamed: 32'),(depositos_04['myVarname'] == 'Unnamed: 33'),(depositos_04['myVarname'] == 'Unnamed: 34'),(depositos_04['myVarname'] == 'Unnamed: 35'),(depositos_04['myVarname'] == 'Unnamed: 36'),
       (depositos_04['myVarname'] == 'Unnamed: 37'),(depositos_04['myVarname'] == 'Unnamed: 38'),(depositos_04['myVarname'] == 'Unnamed: 39'),(depositos_04['myVarname'] == 'Unnamed: 40'),(depositos_04['myVarname'] == 'Unnamed: 41'),
        (depositos_04['myVarname'] == 'Unnamed: 42'),(depositos_04['myVarname'] == 'Unnamed: 43'),(depositos_04['myVarname'] == 'Unnamed: 44'),(depositos_04['myVarname'] == 'Unnamed: 45'),(depositos_04['myVarname'] == 'Unnamed: 46'),
         (depositos_04['myVarname'] == 'Unnamed: 47'),(depositos_04['myVarname'] == 'Unnamed: 48'),(depositos_04['myVarname'] == 'Unnamed: 49'),(depositos_04['myVarname'] == 'Unnamed: 50'),(depositos_04['myVarname'] == 'Unnamed: 51'),
          (depositos_04['myVarname'] == 'Unnamed: 52'),(depositos_04['myVarname'] == 'Unnamed: 53'),(depositos_04['myVarname'] == 'Unnamed: 54'),(depositos_04['myVarname'] == 'Unnamed: 55'),(depositos_04['myVarname'] == 'Unnamed: 56'),
           (depositos_04['myVarname'] == 'Unnamed: 57'),(depositos_04['myVarname'] == 'Unnamed: 58'),(depositos_04['myVarname'] == 'Unnamed: 59'),(depositos_04['myVarname'] == 'Unnamed: 60'),(depositos_04['myVarname'] == 'Unnamed: 61'),
            (depositos_04['myVarname'] == 'Unnamed: 62'),(depositos_04['myVarname'] == 'Unnamed: 63'),(depositos_04['myVarname'] == 'Unnamed: 64'),(depositos_04['myVarname'] == 'Unnamed: 65'),(depositos_04['myVarname'] == 'Unnamed: 66'),
             (depositos_04['myVarname'] == 'Unnamed: 67'),(depositos_04['myVarname'] == 'Unnamed: 68'),(depositos_04['myVarname'] == 'Unnamed: 69'),(depositos_04['myVarname'] == 'Unnamed: 70'),(depositos_04['myVarname'] == 'Unnamed: 71'),
              (depositos_04['myVarname'] == 'Unnamed: 72'),(depositos_04['myVarname'] == 'Unnamed: 73'),(depositos_04['myVarname'] == 'Unnamed: 74'),(depositos_04['myVarname'] == 'Unnamed: 75'),(depositos_04['myVarname'] == 'Unnamed: 76'),
               (depositos_04['myVarname'] == 'Unnamed: 77'),(depositos_04['myVarname'] == 'Unnamed: 78'),(depositos_04['myVarname'] == 'Unnamed: 79'),(depositos_04['myVarname'] == 'Unnamed: 80'),(depositos_04['myVarname'] == 'Unnamed: 81'),
                (depositos_04['myVarname'] == 'Unnamed: 82'),(depositos_04['myVarname'] == 'Unnamed: 83'),(depositos_04['myVarname'] == 'Unnamed: 84'),(depositos_04['myVarname'] == 'Unnamed: 85'),(depositos_04['myVarname'] == 'Unnamed: 86'),
                 (depositos_04['myVarname'] == 'Unnamed: 87'),(depositos_04['myVarname'] == 'Unnamed: 88'),(depositos_04['myVarname'] == 'Unnamed: 89'),(depositos_04['myVarname'] == 'Unnamed: 90'),(depositos_04['myVarname'] == 'Unnamed: 91'),
                  (depositos_04['myVarname'] == 'Unnamed: 92'),(depositos_04['myVarname'] == 'Unnamed: 93'),(depositos_04['myVarname'] == 'Unnamed: 94'),(depositos_04['myVarname'] == 'Unnamed: 95'),(depositos_04['myVarname'] == 'Unnamed: 96'),
                   (depositos_04['myVarname'] == 'Unnamed: 97'),(depositos_04['myVarname'] == 'Unnamed: 98'),(depositos_04['myVarname'] == 'Unnamed: 99'),(depositos_04['myVarname'] == 'Unnamed: 100'),(depositos_04['myVarname'] == 'Unnamed: 101'),
                    (depositos_04['myVarname'] == 'Unnamed: 102'),(depositos_04['myVarname'] == 'Unnamed: 103'),(depositos_04['myVarname'] == 'Unnamed: 104'),(depositos_04['myVarname'] == 'Unnamed: 105'),(depositos_04['myVarname'] == 'Unnamed: 106'),
                     (depositos_04['myVarname'] == 'Unnamed: 107'),(depositos_04['myVarname'] == 'Unnamed: 108'),(depositos_04['myVarname'] == 'Unnamed: 109'),(depositos_04['myVarname'] == 'Unnamed: 110'),(depositos_04['myVarname'] == 'Unnamed: 111'),
                      (depositos_04['myVarname'] == 'Unnamed: 112'),(depositos_04['myVarname'] == 'Unnamed: 113'),(depositos_04['myVarname'] == 'Unnamed: 114'),(depositos_04['myVarname'] == 'Unnamed: 115'),(depositos_04['myVarname'] == 'Unnamed: 116'),
                       (depositos_04['myVarname'] == 'Unnamed: 117'),(depositos_04['myVarname'] == 'Unnamed: 118'),(depositos_04['myVarname'] == 'Unnamed: 119'),(depositos_04['myVarname'] == 'Unnamed: 120'),(depositos_04['myVarname'] == 'Unnamed: 121'),
                        (depositos_04['myVarname'] == 'Unnamed: 122'),(depositos_04['myVarname'] == 'Unnamed: 123'),(depositos_04['myVarname'] == 'Unnamed: 124'),(depositos_04['myVarname'] == 'Unnamed: 125'),(depositos_04['myVarname'] == 'Unnamed: 126'),
                         (depositos_04['myVarname'] == 'Unnamed: 127'),(depositos_04['myVarname'] == 'Unnamed: 128'),(depositos_04['myVarname'] == 'Unnamed: 129'),(depositos_04['myVarname'] == 'Unnamed: 130'),(depositos_04['myVarname'] == 'Unnamed: 131'),
                          (depositos_04['myVarname'] == 'Unnamed: 132'),(depositos_04['myVarname'] == 'Unnamed: 133'),(depositos_04['myVarname'] == 'Unnamed: 134'),(depositos_04['myVarname'] == 'Unnamed: 135'),(depositos_04['myVarname'] == 'Unnamed: 136'),
                           (depositos_04['myVarname'] == 'Unnamed: 137'),(depositos_04['myVarname'] == 'Unnamed: 138'),(depositos_04['myVarname'] == 'Unnamed: 139'),(depositos_04['myVarname'] == 'Unnamed: 140'),(depositos_04['myVarname'] == 'Unnamed: 141'),
                            (depositos_04['myVarname'] == 'Unnamed: 142'),(depositos_04['myVarname'] == 'Unnamed: 143'),(depositos_04['myVarname'] == 'Unnamed: 144'),(depositos_04['myVarname'] == 'Unnamed: 145'),(depositos_04['myVarname'] == 'Unnamed: 146'),
                             (depositos_04['myVarname'] == 'Unnamed: 147'),(depositos_04['myVarname'] == 'Unnamed: 148'),(depositos_04['myVarname'] == 'Unnamed: 149'),(depositos_04['myVarname'] == 'Unnamed: 150'),(depositos_04['myVarname'] == 'Unnamed: 151'),
                              (depositos_04['myVarname'] == 'Unnamed: 152'),(depositos_04['myVarname'] == 'Unnamed: 153'),(depositos_04['myVarname'] == 'Unnamed: 154'),(depositos_04['myVarname'] == 'Unnamed: 155'),(depositos_04['myVarname'] == 'Unnamed: 156'),
                               (depositos_04['myVarname'] == 'Unnamed: 157'),(depositos_04['myVarname'] == 'Unnamed: 158'),(depositos_04['myVarname'] == 'Unnamed: 159'),(depositos_04['myVarname'] == 'Unnamed: 160'),(depositos_04['myVarname'] == 'Unnamed: 161'),
                                (depositos_04['myVarname'] == 'Unnamed: 162'),(depositos_04['myVarname'] == 'Unnamed: 163'),(depositos_04['myVarname'] == 'Unnamed: 164'),(depositos_04['myVarname'] == 'Unnamed: 165'),(depositos_04['myVarname'] == 'Unnamed: 166')
                                ]

In [249]:
depositos_04['Fecha'] = np.select(conditions_4, values)

In [250]:
depositos_04

,Unnamed: 1,myVarname,Valor,Fecha
5,Banco Bice,Unnamed: 2,1395965,2008-01-31
6,Banco BTG Pactual Chile (9),Unnamed: 2,ND,2008-01-31
7,Banco Consorcio (1),Unnamed: 2,44548,2008-01-31
8,Banco de Chile (2),Unnamed: 2,6937225,2008-01-31
9,Banco de Crédito e Inversiones,Unnamed: 2,4406585,2008-01-31
...,...,...,...,...
26,"JP Morgan Chase Bank, N.A.",Unnamed: 166,60037.596601,2021-09-30
27,Rabobank Chile (15),Unnamed: 166,ND,2021-09-30
28,Scotiabank Chile (3) (17),Unnamed: 166,11894127.691579,2021-09-30
29,The Bank of Tokyo - Mitsubishi Ufj. Ltd. (19),Unnamed: 166,ND,2021-09-30
30,Bank of China (16),Unnamed: 166,0,2021-09-30

In [251]:
depositos_04.pop("myVarname")

5       Unnamed: 2
6       Unnamed: 2
7       Unnamed: 2
8       Unnamed: 2
9       Unnamed: 2
          ...
26    Unnamed: 166
27    Unnamed: 166
28    Unnamed: 166
29    Unnamed: 166
30    Unnamed: 166
Name: myVarname, Length: 4290, dtype: object

In [252]:
depositos_04.rename(columns={"Unnamed: 1": "Institucion"}, inplace=True)

In [253]:
depositos_04

                                      Institucion            Valor       Fecha
5                                      Banco Bice          1395965  2008-01-31
6                     Banco BTG Pactual Chile (9)               ND  2008-01-31
7                             Banco Consorcio (1)            44548  2008-01-31
8                              Banco de Chile (2)          6937225  2008-01-31
9                  Banco de Crédito e Inversiones          4406585  2008-01-31
..                                            ...              ...         ...
26                     JP Morgan Chase Bank, N.A.     60037.596601  2021-09-30
27                            Rabobank Chile (15)               ND  2021-09-30
28                      Scotiabank Chile (3) (17)  11894127.691579  2021-09-30
29  The Bank of Tokyo - Mitsubishi Ufj. Ltd. (19)               ND  2021-09-30
30                             Bank of China (16)                0  2021-09-30

[4290 rows x 3 columns]

In [254]:
depositos_04['Tipo'] = "Depósito"
depositos_04['Subtipo'] = "Depósitos a más de un mes"
depositos_04['Tipo de Moneda'] = "Saldos en millones de pesos"

In [255]:
depositos_04.head(5)

,Institucion,Valor,Fecha,Tipo,Subtipo,Tipo de Moneda
5,Banco Bice,1395965,2008-01-31,Depósito,Depósitos a más de un mes,Saldos en millones de pesos
6,Banco BTG Pactual Chile (9),ND,2008-01-31,Depósito,Depósitos a más de un mes,Saldos en millones de pesos
7,Banco Consorcio (1),44548,2008-01-31,Depósito,Depósitos a más de un mes,Saldos en millones de pesos
8,Banco de Chile (2),6937225,2008-01-31,Depósito,Depósitos a más de un mes,Saldos en millones de pesos
9,Banco de Crédito e Inversiones,4406585,2008-01-31,Depósito,Depósitos a más de un mes,Saldos en millones de pesos

In [256]:
new_cols = ["Fecha","Institucion","Tipo","Subtipo","Valor","Tipo de Moneda"]
depositos_04 = depositos_04.reindex(columns=new_cols)

In [257]:
depositos_04.head(5)

,Fecha,Institucion,Tipo,Subtipo,Valor,Tipo de Moneda
5,2008-01-31,Banco Bice,Depósito,Depósitos a más de un mes,1395965,Saldos en millones de pesos
6,2008-01-31,Banco BTG Pactual Chile (9),Depósito,Depósitos a más de un mes,ND,Saldos en millones de pesos
7,2008-01-31,Banco Consorcio (1),Depósito,Depósitos a más de un mes,44548,Saldos en millones de pesos
8,2008-01-31,Banco de Chile (2),Depósito,Depósitos a más de un mes,6937225,Saldos en millones de pesos
9,2008-01-31,Banco de Crédito e Inversiones,Depósito,Depósitos a más de un mes,4406585,Saldos en millones de pesos

## Depósito 05

In [258]:
depositos_05.head(5)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,Unnamed: 161,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166
0,Índice general,Cuadro 2.05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Notas generales,Ventas de títulos con pacto de retrocompra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Saldos en millones de pesos,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,2008-01-31 00:00:00,2008-02-29 00:00:00,2008-03-31 00:00:00,2008-04-30 00:00:00,2008-05-31 00:00:00,2008-06-30 00:00:00,2008-07-31 00:00:00,2008-08-31 00:00:00,...,2020-12-31 00:00:00,2021-01-31 00:00:00,2021-02-28 00:00:00,2021-03-31 00:00:00,2021-04-30 00:00:00,2021-05-31 00:00:00,2021-06-30 00:00:00,2021-07-31 00:00:00,2021-08-31 00:00:00,2021-09-30 00:00:00

In [259]:
depositos_05.pop("Unnamed: 0")

0      Índice general
1     Notas generales
2                 NaN
3                 NaN
4                 NaN
5                 NaN
6                 NaN
7                 NaN
8                 NaN
9                 NaN
10                NaN
11                NaN
12                NaN
13                NaN
14                NaN
15                NaN
16                NaN
17                NaN
18                NaN
19                NaN
20                NaN
21                NaN
22                NaN
23                NaN
24                NaN
25                NaN
26                NaN
27                NaN
28                NaN
29                NaN
30                NaN
31                NaN
32                NaN
33                NaN
34                NaN
Name: Unnamed: 0, dtype: object

In [260]:
depositos_05.head(7)

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,Unnamed: 161,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166
0,Cuadro 2.05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Ventas de títulos con pacto de retrocompra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Saldos en millones de pesos,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,2008-01-31 00:00:00,2008-02-29 00:00:00,2008-03-31 00:00:00,2008-04-30 00:00:00,2008-05-31 00:00:00,2008-06-30 00:00:00,2008-07-31 00:00:00,2008-08-31 00:00:00,2008-09-30 00:00:00,...,2020-12-31 00:00:00,2021-01-31 00:00:00,2021-02-28 00:00:00,2021-03-31 00:00:00,2021-04-30 00:00:00,2021-05-31 00:00:00,2021-06-30 00:00:00,2021-07-31 00:00:00,2021-08-31 00:00:00,2021-09-30 00:00:00
5,Banco Bice,12435.568209,14199.12428,11233.769121,17414.870202,4940.309217,20706.667967,10158.459678,18690.077914,12422.282014,...,35795.954533,53442.1376,1635.0654,0,0,0,0,0,0,0
6,Banco BTG Pactual Chile (9),ND,ND,ND,ND,ND,ND,ND,ND,ND,...,999.906155,0,19999.200037,2049.877007,15498.7601,0,0,28244.633574,11995.201919,0

In [261]:
depositos_05 = depositos_05.iloc[5:]

In [262]:
depositos_05.tail(7)

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,Unnamed: 161,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166
28,Scotiabank Chile (3) (17),1467.863802,12359.252272,19181.892183,29421.55381,29355.015279,10399.947538,2150.27712,87375.769862,40157.894086,...,185006.383446,66682.266802,128537.741674,149023.611319,19999.200037,0,0,0,230012.797813,88001.140088
29,The Bank of Tokyo - Mitsubishi Ufj. Ltd. (19),2596.94476,3354.853304,2524.062719,1380.55934,0,1388.530986,3854.429552,3818.426798,5554.443883,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
30,Bank of China (16),ND,ND,ND,ND,ND,ND,ND,ND,ND,...,0,0,0,0,0,0,0,0,0,0
31,Total,675254.461568,445687.096637,557029.910554,869813.160468,927514.167402,582383.61821,712236.991146,813575.26084,1444339.88362,...,1898163.940588,755448.268577,1529783.7814,625146.761415,833102.71135,698856.407796,851092.562129,623396.587164,674141.853296,837187.198303
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,ND : No existe dato,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [263]:
depositos_05.drop(depositos_05.tail(4).index,inplace=True)

In [264]:
depositos_05.head(3)

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,Unnamed: 161,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166
5,Banco Bice,12435.568209,14199.12428,11233.769121,17414.870202,4940.309217,20706.667967,10158.459678,18690.077914,12422.282014,...,35795.954533,53442.1376,1635.0654,0,0,0,0,0,0,0
6,Banco BTG Pactual Chile (9),ND,ND,ND,ND,ND,ND,ND,ND,ND,...,999.906155,0,19999.200037,2049.877007,15498.7601,0,0,28244.633574,11995.201919,0
7,Banco Consorcio (1),50,39.89463,251.031596,150.159,877.550185,21000.196908,48.144365,1880.499132,4379.459566,...,69382.936548,69212.496601,79239.596285,99931.18493,10259.418976,11208.678,61013.080047,10766.942333,10991.741339,871.216466

In [265]:
depositos_05 = depositos_05.melt(id_vars=['Unnamed: 1'], value_vars=['Unnamed: 2','Unnamed: 3','Unnamed: 4','Unnamed: 5','Unnamed: 6','Unnamed: 7','Unnamed: 8','Unnamed: 9','Unnamed: 10','Unnamed: 11',
                                                   'Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19','Unnamed: 20','Unnamed: 21',
                                                   'Unnamed: 22','Unnamed: 23','Unnamed: 24','Unnamed: 25','Unnamed: 26','Unnamed: 27','Unnamed: 28','Unnamed: 29','Unnamed: 30','Unnamed: 31',
                                                   'Unnamed: 32','Unnamed: 33','Unnamed: 34','Unnamed: 35','Unnamed: 36','Unnamed: 37','Unnamed: 38','Unnamed: 39','Unnamed: 40','Unnamed: 41',
                                                   'Unnamed: 42','Unnamed: 43','Unnamed: 44','Unnamed: 45','Unnamed: 46','Unnamed: 47','Unnamed: 48','Unnamed: 49','Unnamed: 50','Unnamed: 51',
                                                   'Unnamed: 52','Unnamed: 53','Unnamed: 54','Unnamed: 55','Unnamed: 56','Unnamed: 57','Unnamed: 58','Unnamed: 59','Unnamed: 60','Unnamed: 61',
                                                   'Unnamed: 62','Unnamed: 63','Unnamed: 64','Unnamed: 65','Unnamed: 66','Unnamed: 67','Unnamed: 68','Unnamed: 69','Unnamed: 70','Unnamed: 71',
                                                   'Unnamed: 72','Unnamed: 73','Unnamed: 74','Unnamed: 75','Unnamed: 76','Unnamed: 77','Unnamed: 78','Unnamed: 79','Unnamed: 80','Unnamed: 81',
                                                   'Unnamed: 82','Unnamed: 83','Unnamed: 84','Unnamed: 85','Unnamed: 86','Unnamed: 87','Unnamed: 88','Unnamed: 89','Unnamed: 90','Unnamed: 91',
                                                   'Unnamed: 92','Unnamed: 93','Unnamed: 94','Unnamed: 95','Unnamed: 96','Unnamed: 97','Unnamed: 98','Unnamed: 99','Unnamed: 100','Unnamed: 101',
                                                   'Unnamed: 102','Unnamed: 103','Unnamed: 104','Unnamed: 105','Unnamed: 106','Unnamed: 107','Unnamed: 108','Unnamed: 109','Unnamed: 110','Unnamed: 111',
                                                   'Unnamed: 112','Unnamed: 113','Unnamed: 114','Unnamed: 115','Unnamed: 116','Unnamed: 117','Unnamed: 118','Unnamed: 119','Unnamed: 120','Unnamed: 121',
                                                   'Unnamed: 122','Unnamed: 123','Unnamed: 124','Unnamed: 125','Unnamed: 126','Unnamed: 127','Unnamed: 128','Unnamed: 129','Unnamed: 130','Unnamed: 131',
                                                   'Unnamed: 132','Unnamed: 133','Unnamed: 134','Unnamed: 135','Unnamed: 136','Unnamed: 137','Unnamed: 138','Unnamed: 139','Unnamed: 140','Unnamed: 141',
                                                   'Unnamed: 142','Unnamed: 143','Unnamed: 144','Unnamed: 145','Unnamed: 146','Unnamed: 147','Unnamed: 148','Unnamed: 149','Unnamed: 150','Unnamed: 151',
                                                   'Unnamed: 152','Unnamed: 153','Unnamed: 154','Unnamed: 155','Unnamed: 156','Unnamed: 157','Unnamed: 158','Unnamed: 159','Unnamed: 160','Unnamed: 161',
                                                   'Unnamed: 162','Unnamed: 163','Unnamed: 164','Unnamed: 165','Unnamed: 166'],
               var_name='myVarname',
               value_name='Valor',
               ignore_index=False
               )

In [266]:
depositos_05

                                       Unnamed: 1     myVarname          Valor
5                                      Banco Bice    Unnamed: 2   12435.568209
6                     Banco BTG Pactual Chile (9)    Unnamed: 2             ND
7                             Banco Consorcio (1)    Unnamed: 2             50
8                              Banco de Chile (2)    Unnamed: 2   77540.383926
9                  Banco de Crédito e Inversiones    Unnamed: 2  101799.791935
..                                            ...           ...            ...
26                     JP Morgan Chase Bank, N.A.  Unnamed: 166              0
27                            Rabobank Chile (15)  Unnamed: 166             ND
28                      Scotiabank Chile (3) (17)  Unnamed: 166   88001.140088
29  The Bank of Tokyo - Mitsubishi Ufj. Ltd. (19)  Unnamed: 166             ND
30                             Bank of China (16)  Unnamed: 166              0

[4290 rows x 3 columns]

In [267]:
# create a list of our conditions
conditions_5 = [(depositos_05['myVarname'] == 'Unnamed: 2'),(depositos_05['myVarname'] == 'Unnamed: 3'),(depositos_05['myVarname'] == 'Unnamed: 4'),(depositos_05['myVarname'] == 'Unnamed: 5'),(depositos_05['myVarname'] == 'Unnamed: 6'),
 (depositos_05['myVarname'] == 'Unnamed: 7'),(depositos_05['myVarname'] == 'Unnamed: 8'),(depositos_05['myVarname'] == 'Unnamed: 9'),(depositos_05['myVarname'] == 'Unnamed: 10'),(depositos_05['myVarname'] == 'Unnamed: 11'),
  (depositos_05['myVarname'] == 'Unnamed: 12'),(depositos_05['myVarname'] == 'Unnamed: 13'),(depositos_05['myVarname'] == 'Unnamed: 14'),(depositos_05['myVarname'] == 'Unnamed: 15'),(depositos_05['myVarname'] == 'Unnamed: 16'),
   (depositos_05['myVarname'] == 'Unnamed: 17'),(depositos_05['myVarname'] == 'Unnamed: 18'),(depositos_05['myVarname'] == 'Unnamed: 19'),(depositos_05['myVarname'] == 'Unnamed: 20'),(depositos_05['myVarname'] == 'Unnamed: 21'),
    (depositos_05['myVarname'] == 'Unnamed: 22'),(depositos_05['myVarname'] == 'Unnamed: 23'),(depositos_05['myVarname'] == 'Unnamed: 24'),(depositos_05['myVarname'] == 'Unnamed: 25'),(depositos_05['myVarname'] == 'Unnamed: 26'),
     (depositos_05['myVarname'] == 'Unnamed: 27'),(depositos_05['myVarname'] == 'Unnamed: 28'),(depositos_05['myVarname'] == 'Unnamed: 29'),(depositos_05['myVarname'] == 'Unnamed: 30'),(depositos_05['myVarname'] == 'Unnamed: 31'),
      (depositos_05['myVarname'] == 'Unnamed: 32'),(depositos_05['myVarname'] == 'Unnamed: 33'),(depositos_05['myVarname'] == 'Unnamed: 34'),(depositos_05['myVarname'] == 'Unnamed: 35'),(depositos_05['myVarname'] == 'Unnamed: 36'),
       (depositos_05['myVarname'] == 'Unnamed: 37'),(depositos_05['myVarname'] == 'Unnamed: 38'),(depositos_05['myVarname'] == 'Unnamed: 39'),(depositos_05['myVarname'] == 'Unnamed: 40'),(depositos_05['myVarname'] == 'Unnamed: 41'),
        (depositos_05['myVarname'] == 'Unnamed: 42'),(depositos_05['myVarname'] == 'Unnamed: 43'),(depositos_05['myVarname'] == 'Unnamed: 44'),(depositos_05['myVarname'] == 'Unnamed: 45'),(depositos_05['myVarname'] == 'Unnamed: 46'),
         (depositos_05['myVarname'] == 'Unnamed: 47'),(depositos_05['myVarname'] == 'Unnamed: 48'),(depositos_05['myVarname'] == 'Unnamed: 49'),(depositos_05['myVarname'] == 'Unnamed: 50'),(depositos_05['myVarname'] == 'Unnamed: 51'),
          (depositos_05['myVarname'] == 'Unnamed: 52'),(depositos_05['myVarname'] == 'Unnamed: 53'),(depositos_05['myVarname'] == 'Unnamed: 54'),(depositos_05['myVarname'] == 'Unnamed: 55'),(depositos_05['myVarname'] == 'Unnamed: 56'),
           (depositos_05['myVarname'] == 'Unnamed: 57'),(depositos_05['myVarname'] == 'Unnamed: 58'),(depositos_05['myVarname'] == 'Unnamed: 59'),(depositos_05['myVarname'] == 'Unnamed: 60'),(depositos_05['myVarname'] == 'Unnamed: 61'),
            (depositos_05['myVarname'] == 'Unnamed: 62'),(depositos_05['myVarname'] == 'Unnamed: 63'),(depositos_05['myVarname'] == 'Unnamed: 64'),(depositos_05['myVarname'] == 'Unnamed: 65'),(depositos_05['myVarname'] == 'Unnamed: 66'),
             (depositos_05['myVarname'] == 'Unnamed: 67'),(depositos_05['myVarname'] == 'Unnamed: 68'),(depositos_05['myVarname'] == 'Unnamed: 69'),(depositos_05['myVarname'] == 'Unnamed: 70'),(depositos_05['myVarname'] == 'Unnamed: 71'),
              (depositos_05['myVarname'] == 'Unnamed: 72'),(depositos_05['myVarname'] == 'Unnamed: 73'),(depositos_05['myVarname'] == 'Unnamed: 74'),(depositos_05['myVarname'] == 'Unnamed: 75'),(depositos_05['myVarname'] == 'Unnamed: 76'),
               (depositos_05['myVarname'] == 'Unnamed: 77'),(depositos_05['myVarname'] == 'Unnamed: 78'),(depositos_05['myVarname'] == 'Unnamed: 79'),(depositos_05['myVarname'] == 'Unnamed: 80'),(depositos_05['myVarname'] == 'Unnamed: 81'),
                (depositos_05['myVarname'] == 'Unnamed: 82'),(depositos_05['myVarname'] == 'Unnamed: 83'),(depositos_05['myVarname'] == 'Unnamed: 84'),(depositos_05['myVarname'] == 'Unnamed: 85'),(depositos_05['myVarname'] == 'Unnamed: 86'),
                 (depositos_05['myVarname'] == 'Unnamed: 87'),(depositos_05['myVarname'] == 'Unnamed: 88'),(depositos_05['myVarname'] == 'Unnamed: 89'),(depositos_05['myVarname'] == 'Unnamed: 90'),(depositos_05['myVarname'] == 'Unnamed: 91'),
                  (depositos_05['myVarname'] == 'Unnamed: 92'),(depositos_05['myVarname'] == 'Unnamed: 93'),(depositos_05['myVarname'] == 'Unnamed: 94'),(depositos_05['myVarname'] == 'Unnamed: 95'),(depositos_05['myVarname'] == 'Unnamed: 96'),
                   (depositos_05['myVarname'] == 'Unnamed: 97'),(depositos_05['myVarname'] == 'Unnamed: 98'),(depositos_05['myVarname'] == 'Unnamed: 99'),(depositos_05['myVarname'] == 'Unnamed: 100'),(depositos_05['myVarname'] == 'Unnamed: 101'),
                    (depositos_05['myVarname'] == 'Unnamed: 102'),(depositos_05['myVarname'] == 'Unnamed: 103'),(depositos_05['myVarname'] == 'Unnamed: 104'),(depositos_05['myVarname'] == 'Unnamed: 105'),(depositos_05['myVarname'] == 'Unnamed: 106'),
                     (depositos_05['myVarname'] == 'Unnamed: 107'),(depositos_05['myVarname'] == 'Unnamed: 108'),(depositos_05['myVarname'] == 'Unnamed: 109'),(depositos_05['myVarname'] == 'Unnamed: 110'),(depositos_05['myVarname'] == 'Unnamed: 111'),
                      (depositos_05['myVarname'] == 'Unnamed: 112'),(depositos_05['myVarname'] == 'Unnamed: 113'),(depositos_05['myVarname'] == 'Unnamed: 114'),(depositos_05['myVarname'] == 'Unnamed: 115'),(depositos_05['myVarname'] == 'Unnamed: 116'),
                       (depositos_05['myVarname'] == 'Unnamed: 117'),(depositos_05['myVarname'] == 'Unnamed: 118'),(depositos_05['myVarname'] == 'Unnamed: 119'),(depositos_05['myVarname'] == 'Unnamed: 120'),(depositos_05['myVarname'] == 'Unnamed: 121'),
                        (depositos_05['myVarname'] == 'Unnamed: 122'),(depositos_05['myVarname'] == 'Unnamed: 123'),(depositos_05['myVarname'] == 'Unnamed: 124'),(depositos_05['myVarname'] == 'Unnamed: 125'),(depositos_05['myVarname'] == 'Unnamed: 126'),
                         (depositos_05['myVarname'] == 'Unnamed: 127'),(depositos_05['myVarname'] == 'Unnamed: 128'),(depositos_05['myVarname'] == 'Unnamed: 129'),(depositos_05['myVarname'] == 'Unnamed: 130'),(depositos_05['myVarname'] == 'Unnamed: 131'),
                          (depositos_05['myVarname'] == 'Unnamed: 132'),(depositos_05['myVarname'] == 'Unnamed: 133'),(depositos_05['myVarname'] == 'Unnamed: 134'),(depositos_05['myVarname'] == 'Unnamed: 135'),(depositos_05['myVarname'] == 'Unnamed: 136'),
                           (depositos_05['myVarname'] == 'Unnamed: 137'),(depositos_05['myVarname'] == 'Unnamed: 138'),(depositos_05['myVarname'] == 'Unnamed: 139'),(depositos_05['myVarname'] == 'Unnamed: 140'),(depositos_05['myVarname'] == 'Unnamed: 141'),
                            (depositos_05['myVarname'] == 'Unnamed: 142'),(depositos_05['myVarname'] == 'Unnamed: 143'),(depositos_05['myVarname'] == 'Unnamed: 144'),(depositos_05['myVarname'] == 'Unnamed: 145'),(depositos_05['myVarname'] == 'Unnamed: 146'),
                             (depositos_05['myVarname'] == 'Unnamed: 147'),(depositos_05['myVarname'] == 'Unnamed: 148'),(depositos_05['myVarname'] == 'Unnamed: 149'),(depositos_05['myVarname'] == 'Unnamed: 150'),(depositos_05['myVarname'] == 'Unnamed: 151'),
                              (depositos_05['myVarname'] == 'Unnamed: 152'),(depositos_05['myVarname'] == 'Unnamed: 153'),(depositos_05['myVarname'] == 'Unnamed: 154'),(depositos_05['myVarname'] == 'Unnamed: 155'),(depositos_05['myVarname'] == 'Unnamed: 156'),
                               (depositos_05['myVarname'] == 'Unnamed: 157'),(depositos_05['myVarname'] == 'Unnamed: 158'),(depositos_05['myVarname'] == 'Unnamed: 159'),(depositos_05['myVarname'] == 'Unnamed: 160'),(depositos_05['myVarname'] == 'Unnamed: 161'),
                                (depositos_05['myVarname'] == 'Unnamed: 162'),(depositos_05['myVarname'] == 'Unnamed: 163'),(depositos_05['myVarname'] == 'Unnamed: 164'),(depositos_05['myVarname'] == 'Unnamed: 165'),(depositos_05['myVarname'] == 'Unnamed: 166')
                                ]

In [268]:
depositos_05['Fecha'] = np.select(conditions_5, values)

In [269]:
depositos_05

,Unnamed: 1,myVarname,Valor,Fecha
5,Banco Bice,Unnamed: 2,12435.568209,2008-01-31
6,Banco BTG Pactual Chile (9),Unnamed: 2,ND,2008-01-31
7,Banco Consorcio (1),Unnamed: 2,50,2008-01-31
8,Banco de Chile (2),Unnamed: 2,77540.383926,2008-01-31
9,Banco de Crédito e Inversiones,Unnamed: 2,101799.791935,2008-01-31
...,...,...,...,...
26,"JP Morgan Chase Bank, N.A.",Unnamed: 166,0,2021-09-30
27,Rabobank Chile (15),Unnamed: 166,ND,2021-09-30
28,Scotiabank Chile (3) (17),Unnamed: 166,88001.140088,2021-09-30
29,The Bank of Tokyo - Mitsubishi Ufj. Ltd. (19),Unnamed: 166,ND,2021-09-30
30,Bank of China (16),Unnamed: 166,0,2021-09-30

In [270]:
depositos_05.pop("myVarname")

5       Unnamed: 2
6       Unnamed: 2
7       Unnamed: 2
8       Unnamed: 2
9       Unnamed: 2
          ...
26    Unnamed: 166
27    Unnamed: 166
28    Unnamed: 166
29    Unnamed: 166
30    Unnamed: 166
Name: myVarname, Length: 4290, dtype: object

In [271]:
depositos_05.rename(columns={"Unnamed: 1": "Institucion"}, inplace=True)

In [272]:
depositos_05

                                      Institucion          Valor       Fecha
5                                      Banco Bice   12435.568209  2008-01-31
6                     Banco BTG Pactual Chile (9)             ND  2008-01-31
7                             Banco Consorcio (1)             50  2008-01-31
8                              Banco de Chile (2)   77540.383926  2008-01-31
9                  Banco de Crédito e Inversiones  101799.791935  2008-01-31
..                                            ...            ...         ...
26                     JP Morgan Chase Bank, N.A.              0  2021-09-30
27                            Rabobank Chile (15)             ND  2021-09-30
28                      Scotiabank Chile (3) (17)   88001.140088  2021-09-30
29  The Bank of Tokyo - Mitsubishi Ufj. Ltd. (19)             ND  2021-09-30
30                             Bank of China (16)              0  2021-09-30

[4290 rows x 3 columns]

In [273]:
depositos_05['Tipo'] = "Depósito"
depositos_05['Subtipo'] = "Ventas de títulos con pacto de retrocompra"
depositos_05['Tipo de Moneda'] = "Saldos en millones de pesos"

In [274]:
depositos_05.head(5)

,Institucion,Valor,Fecha,Tipo,Subtipo,Tipo de Moneda
5,Banco Bice,12435.568209,2008-01-31,Depósito,Ventas de títulos con pacto de retrocompra,Saldos en millones de pesos
6,Banco BTG Pactual Chile (9),ND,2008-01-31,Depósito,Ventas de títulos con pacto de retrocompra,Saldos en millones de pesos
7,Banco Consorcio (1),50,2008-01-31,Depósito,Ventas de títulos con pacto de retrocompra,Saldos en millones de pesos
8,Banco de Chile (2),77540.383926,2008-01-31,Depósito,Ventas de títulos con pacto de retrocompra,Saldos en millones de pesos
9,Banco de Crédito e Inversiones,101799.791935,2008-01-31,Depósito,Ventas de títulos con pacto de retrocompra,Saldos en millones de pesos

In [275]:
new_cols = ["Fecha","Institucion","Tipo","Subtipo","Valor","Tipo de Moneda"]
depositos_05 = depositos_05.reindex(columns=new_cols)

In [276]:
depositos_05.head(7)

,Fecha,Institucion,Tipo,Subtipo,Valor,Tipo de Moneda
5,2008-01-31,Banco Bice,Depósito,Ventas de títulos con pacto de retrocompra,12435.568209,Saldos en millones de pesos
6,2008-01-31,Banco BTG Pactual Chile (9),Depósito,Ventas de títulos con pacto de retrocompra,ND,Saldos en millones de pesos
7,2008-01-31,Banco Consorcio (1),Depósito,Ventas de títulos con pacto de retrocompra,50,Saldos en millones de pesos
8,2008-01-31,Banco de Chile (2),Depósito,Ventas de títulos con pacto de retrocompra,77540.383926,Saldos en millones de pesos
9,2008-01-31,Banco de Crédito e Inversiones,Depósito,Ventas de títulos con pacto de retrocompra,101799.791935,Saldos en millones de pesos
10,2008-01-31,Banco de la Nación Argentina (18),Depósito,Ventas de títulos con pacto de retrocompra,0,Saldos en millones de pesos
11,2008-01-31,Banco del Estado de Chile,Depósito,Ventas de títulos con pacto de retrocompra,354060.711174,Saldos en millones de pesos

## Depósito 06

In [277]:
depositos_06.head(5)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,Unnamed: 161,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166
0,Índice general,Cuadro 2.06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Notas generales,Obligaciones en letras de crédito,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Saldos en millones de pesos,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,2008-01-31 00:00:00,2008-02-29 00:00:00,2008-03-31 00:00:00,2008-04-30 00:00:00,2008-05-31 00:00:00,2008-06-30 00:00:00,2008-07-31 00:00:00,2008-08-31 00:00:00,...,2020-12-31 00:00:00,2021-01-31 00:00:00,2021-02-28 00:00:00,2021-03-31 00:00:00,2021-04-30 00:00:00,2021-05-31 00:00:00,2021-06-30 00:00:00,2021-07-31 00:00:00,2021-08-31 00:00:00,2021-09-30 00:00:00

In [278]:
depositos_06.pop("Unnamed: 0")

0      Índice general
1     Notas generales
2                 NaN
3                 NaN
4                 NaN
5                 NaN
6                 NaN
7                 NaN
8                 NaN
9                 NaN
10                NaN
11                NaN
12                NaN
13                NaN
14                NaN
15                NaN
16                NaN
17                NaN
18                NaN
19                NaN
20                NaN
21                NaN
22                NaN
23                NaN
24                NaN
25                NaN
26                NaN
27                NaN
28                NaN
29                NaN
30                NaN
31                NaN
32                NaN
33                NaN
34                NaN
Name: Unnamed: 0, dtype: object

In [279]:
depositos_06.head(7)

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,Unnamed: 161,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166
0,Cuadro 2.06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Obligaciones en letras de crédito,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Saldos en millones de pesos,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,2008-01-31 00:00:00,2008-02-29 00:00:00,2008-03-31 00:00:00,2008-04-30 00:00:00,2008-05-31 00:00:00,2008-06-30 00:00:00,2008-07-31 00:00:00,2008-08-31 00:00:00,2008-09-30 00:00:00,...,2020-12-31 00:00:00,2021-01-31 00:00:00,2021-02-28 00:00:00,2021-03-31 00:00:00,2021-04-30 00:00:00,2021-05-31 00:00:00,2021-06-30 00:00:00,2021-07-31 00:00:00,2021-08-31 00:00:00,2021-09-30 00:00:00
5,Banco Bice,52593.689785,52261.751638,52016.51531,50851.110706,50936.185703,49856.263963,39033.613936,38996.803082,39261.965786,...,863.458762,814.787191,809.516508,812.798832,668.387148,660.573216,662.449125,569.604294,562.068507,564.441117
6,Banco BTG Pactual Chile (9),ND,ND,ND,ND,ND,ND,ND,ND,ND,...,0,0,0,0,0,0,0,0,0,0

In [280]:
depositos_06 = depositos_06.iloc[5:]

In [281]:
depositos_06.tail(7)

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,Unnamed: 161,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166
28,Scotiabank Chile (3) (17),708035.97998,714354.741612,717056.326274,717171.56959,729527.249966,726969.59491,735236.341509,746301.269181,741440.328259,...,117505.953614,117300.401642,118110.316024,113290.655061,113383.482615,114014.429183,107973.716902,107829.963715,108818.252336,109393.459184
29,The Bank of Tokyo - Mitsubishi Ufj. Ltd. (19),0,0,0,0,0,0,0,0,0,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
30,Bank of China (16),ND,ND,ND,ND,ND,ND,ND,ND,ND,...,0,0,0,0,0,0,0,0,0,0
31,Total,4574803.714321,4589191.97081,4609910.956336,4484753.717555,4524163.655576,4569076.037886,4454730.453728,4515192.46039,4547180.636389,...,806571.082221,767092.657901,770975.965717,767707.179988,727002.373537,727523.31327,722667.01395,688039.466465,691843.908649,694501.598489
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,ND : No existe dato,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [282]:
depositos_06.drop(depositos_06.tail(4).index,inplace=True)

In [283]:
depositos_06.head(3)

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,Unnamed: 161,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166
5,Banco Bice,52593.689785,52261.751638,52016.51531,50851.110706,50936.185703,49856.263963,39033.613936,38996.803082,39261.965786,...,863.458762,814.787191,809.516508,812.798832,668.387148,660.573216,662.449125,569.604294,562.068507,564.441117
6,Banco BTG Pactual Chile (9),ND,ND,ND,ND,ND,ND,ND,ND,ND,...,0,0,0,0,0,0,0,0,0,0
7,Banco Consorcio (1),0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [284]:
depositos_06 = depositos_06.melt(id_vars=['Unnamed: 1'], value_vars=['Unnamed: 2','Unnamed: 3','Unnamed: 4','Unnamed: 5','Unnamed: 6','Unnamed: 7','Unnamed: 8','Unnamed: 9','Unnamed: 10','Unnamed: 11',
                                                   'Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19','Unnamed: 20','Unnamed: 21',
                                                   'Unnamed: 22','Unnamed: 23','Unnamed: 24','Unnamed: 25','Unnamed: 26','Unnamed: 27','Unnamed: 28','Unnamed: 29','Unnamed: 30','Unnamed: 31',
                                                   'Unnamed: 32','Unnamed: 33','Unnamed: 34','Unnamed: 35','Unnamed: 36','Unnamed: 37','Unnamed: 38','Unnamed: 39','Unnamed: 40','Unnamed: 41',
                                                   'Unnamed: 42','Unnamed: 43','Unnamed: 44','Unnamed: 45','Unnamed: 46','Unnamed: 47','Unnamed: 48','Unnamed: 49','Unnamed: 50','Unnamed: 51',
                                                   'Unnamed: 52','Unnamed: 53','Unnamed: 54','Unnamed: 55','Unnamed: 56','Unnamed: 57','Unnamed: 58','Unnamed: 59','Unnamed: 60','Unnamed: 61',
                                                   'Unnamed: 62','Unnamed: 63','Unnamed: 64','Unnamed: 65','Unnamed: 66','Unnamed: 67','Unnamed: 68','Unnamed: 69','Unnamed: 70','Unnamed: 71',
                                                   'Unnamed: 72','Unnamed: 73','Unnamed: 74','Unnamed: 75','Unnamed: 76','Unnamed: 77','Unnamed: 78','Unnamed: 79','Unnamed: 80','Unnamed: 81',
                                                   'Unnamed: 82','Unnamed: 83','Unnamed: 84','Unnamed: 85','Unnamed: 86','Unnamed: 87','Unnamed: 88','Unnamed: 89','Unnamed: 90','Unnamed: 91',
                                                   'Unnamed: 92','Unnamed: 93','Unnamed: 94','Unnamed: 95','Unnamed: 96','Unnamed: 97','Unnamed: 98','Unnamed: 99','Unnamed: 100','Unnamed: 101',
                                                   'Unnamed: 102','Unnamed: 103','Unnamed: 104','Unnamed: 105','Unnamed: 106','Unnamed: 107','Unnamed: 108','Unnamed: 109','Unnamed: 110','Unnamed: 111',
                                                   'Unnamed: 112','Unnamed: 113','Unnamed: 114','Unnamed: 115','Unnamed: 116','Unnamed: 117','Unnamed: 118','Unnamed: 119','Unnamed: 120','Unnamed: 121',
                                                   'Unnamed: 122','Unnamed: 123','Unnamed: 124','Unnamed: 125','Unnamed: 126','Unnamed: 127','Unnamed: 128','Unnamed: 129','Unnamed: 130','Unnamed: 131',
                                                   'Unnamed: 132','Unnamed: 133','Unnamed: 134','Unnamed: 135','Unnamed: 136','Unnamed: 137','Unnamed: 138','Unnamed: 139','Unnamed: 140','Unnamed: 141',
                                                   'Unnamed: 142','Unnamed: 143','Unnamed: 144','Unnamed: 145','Unnamed: 146','Unnamed: 147','Unnamed: 148','Unnamed: 149','Unnamed: 150','Unnamed: 151',
                                                   'Unnamed: 152','Unnamed: 153','Unnamed: 154','Unnamed: 155','Unnamed: 156','Unnamed: 157','Unnamed: 158','Unnamed: 159','Unnamed: 160','Unnamed: 161',
                                                   'Unnamed: 162','Unnamed: 163','Unnamed: 164','Unnamed: 165','Unnamed: 166'],
               var_name='myVarname',
               value_name='Valor',
               ignore_index=False
               )

In [285]:
depositos_06

                                       Unnamed: 1     myVarname          Valor
5                                      Banco Bice    Unnamed: 2   52593.689785
6                     Banco BTG Pactual Chile (9)    Unnamed: 2             ND
7                             Banco Consorcio (1)    Unnamed: 2              0
8                              Banco de Chile (2)    Unnamed: 2  405710.335734
9                  Banco de Crédito e Inversiones    Unnamed: 2  226245.332131
..                                            ...           ...            ...
26                     JP Morgan Chase Bank, N.A.  Unnamed: 166              0
27                            Rabobank Chile (15)  Unnamed: 166             ND
28                      Scotiabank Chile (3) (17)  Unnamed: 166  109393.459184
29  The Bank of Tokyo - Mitsubishi Ufj. Ltd. (19)  Unnamed: 166             ND
30                             Bank of China (16)  Unnamed: 166              0

[4290 rows x 3 columns]

In [286]:
# create a list of our conditions
conditions_6 = [(depositos_06['myVarname'] == 'Unnamed: 2'),(depositos_06['myVarname'] == 'Unnamed: 3'),(depositos_06['myVarname'] == 'Unnamed: 4'),(depositos_06['myVarname'] == 'Unnamed: 5'),(depositos_06['myVarname'] == 'Unnamed: 6'),
 (depositos_06['myVarname'] == 'Unnamed: 7'),(depositos_06['myVarname'] == 'Unnamed: 8'),(depositos_06['myVarname'] == 'Unnamed: 9'),(depositos_06['myVarname'] == 'Unnamed: 10'),(depositos_06['myVarname'] == 'Unnamed: 11'),
  (depositos_06['myVarname'] == 'Unnamed: 12'),(depositos_06['myVarname'] == 'Unnamed: 13'),(depositos_06['myVarname'] == 'Unnamed: 14'),(depositos_06['myVarname'] == 'Unnamed: 15'),(depositos_06['myVarname'] == 'Unnamed: 16'),
   (depositos_06['myVarname'] == 'Unnamed: 17'),(depositos_06['myVarname'] == 'Unnamed: 18'),(depositos_06['myVarname'] == 'Unnamed: 19'),(depositos_06['myVarname'] == 'Unnamed: 20'),(depositos_06['myVarname'] == 'Unnamed: 21'),
    (depositos_06['myVarname'] == 'Unnamed: 22'),(depositos_06['myVarname'] == 'Unnamed: 23'),(depositos_06['myVarname'] == 'Unnamed: 24'),(depositos_06['myVarname'] == 'Unnamed: 25'),(depositos_06['myVarname'] == 'Unnamed: 26'),
     (depositos_06['myVarname'] == 'Unnamed: 27'),(depositos_06['myVarname'] == 'Unnamed: 28'),(depositos_06['myVarname'] == 'Unnamed: 29'),(depositos_06['myVarname'] == 'Unnamed: 30'),(depositos_06['myVarname'] == 'Unnamed: 31'),
      (depositos_06['myVarname'] == 'Unnamed: 32'),(depositos_06['myVarname'] == 'Unnamed: 33'),(depositos_06['myVarname'] == 'Unnamed: 34'),(depositos_06['myVarname'] == 'Unnamed: 35'),(depositos_06['myVarname'] == 'Unnamed: 36'),
       (depositos_06['myVarname'] == 'Unnamed: 37'),(depositos_06['myVarname'] == 'Unnamed: 38'),(depositos_06['myVarname'] == 'Unnamed: 39'),(depositos_06['myVarname'] == 'Unnamed: 40'),(depositos_06['myVarname'] == 'Unnamed: 41'),
        (depositos_06['myVarname'] == 'Unnamed: 42'),(depositos_06['myVarname'] == 'Unnamed: 43'),(depositos_06['myVarname'] == 'Unnamed: 44'),(depositos_06['myVarname'] == 'Unnamed: 45'),(depositos_06['myVarname'] == 'Unnamed: 46'),
         (depositos_06['myVarname'] == 'Unnamed: 47'),(depositos_06['myVarname'] == 'Unnamed: 48'),(depositos_06['myVarname'] == 'Unnamed: 49'),(depositos_06['myVarname'] == 'Unnamed: 50'),(depositos_06['myVarname'] == 'Unnamed: 51'),
          (depositos_06['myVarname'] == 'Unnamed: 52'),(depositos_06['myVarname'] == 'Unnamed: 53'),(depositos_06['myVarname'] == 'Unnamed: 54'),(depositos_06['myVarname'] == 'Unnamed: 55'),(depositos_06['myVarname'] == 'Unnamed: 56'),
           (depositos_06['myVarname'] == 'Unnamed: 57'),(depositos_06['myVarname'] == 'Unnamed: 58'),(depositos_06['myVarname'] == 'Unnamed: 59'),(depositos_06['myVarname'] == 'Unnamed: 60'),(depositos_06['myVarname'] == 'Unnamed: 61'),
            (depositos_06['myVarname'] == 'Unnamed: 62'),(depositos_06['myVarname'] == 'Unnamed: 63'),(depositos_06['myVarname'] == 'Unnamed: 64'),(depositos_06['myVarname'] == 'Unnamed: 65'),(depositos_06['myVarname'] == 'Unnamed: 66'),
             (depositos_06['myVarname'] == 'Unnamed: 67'),(depositos_06['myVarname'] == 'Unnamed: 68'),(depositos_06['myVarname'] == 'Unnamed: 69'),(depositos_06['myVarname'] == 'Unnamed: 70'),(depositos_06['myVarname'] == 'Unnamed: 71'),
              (depositos_06['myVarname'] == 'Unnamed: 72'),(depositos_06['myVarname'] == 'Unnamed: 73'),(depositos_06['myVarname'] == 'Unnamed: 74'),(depositos_06['myVarname'] == 'Unnamed: 75'),(depositos_06['myVarname'] == 'Unnamed: 76'),
               (depositos_06['myVarname'] == 'Unnamed: 77'),(depositos_06['myVarname'] == 'Unnamed: 78'),(depositos_06['myVarname'] == 'Unnamed: 79'),(depositos_06['myVarname'] == 'Unnamed: 80'),(depositos_06['myVarname'] == 'Unnamed: 81'),
                (depositos_06['myVarname'] == 'Unnamed: 82'),(depositos_06['myVarname'] == 'Unnamed: 83'),(depositos_06['myVarname'] == 'Unnamed: 84'),(depositos_06['myVarname'] == 'Unnamed: 85'),(depositos_06['myVarname'] == 'Unnamed: 86'),
                 (depositos_06['myVarname'] == 'Unnamed: 87'),(depositos_06['myVarname'] == 'Unnamed: 88'),(depositos_06['myVarname'] == 'Unnamed: 89'),(depositos_06['myVarname'] == 'Unnamed: 90'),(depositos_06['myVarname'] == 'Unnamed: 91'),
                  (depositos_06['myVarname'] == 'Unnamed: 92'),(depositos_06['myVarname'] == 'Unnamed: 93'),(depositos_06['myVarname'] == 'Unnamed: 94'),(depositos_06['myVarname'] == 'Unnamed: 95'),(depositos_06['myVarname'] == 'Unnamed: 96'),
                   (depositos_06['myVarname'] == 'Unnamed: 97'),(depositos_06['myVarname'] == 'Unnamed: 98'),(depositos_06['myVarname'] == 'Unnamed: 99'),(depositos_06['myVarname'] == 'Unnamed: 100'),(depositos_06['myVarname'] == 'Unnamed: 101'),
                    (depositos_06['myVarname'] == 'Unnamed: 102'),(depositos_06['myVarname'] == 'Unnamed: 103'),(depositos_06['myVarname'] == 'Unnamed: 104'),(depositos_06['myVarname'] == 'Unnamed: 105'),(depositos_06['myVarname'] == 'Unnamed: 106'),
                     (depositos_06['myVarname'] == 'Unnamed: 107'),(depositos_06['myVarname'] == 'Unnamed: 108'),(depositos_06['myVarname'] == 'Unnamed: 109'),(depositos_06['myVarname'] == 'Unnamed: 110'),(depositos_06['myVarname'] == 'Unnamed: 111'),
                      (depositos_06['myVarname'] == 'Unnamed: 112'),(depositos_06['myVarname'] == 'Unnamed: 113'),(depositos_06['myVarname'] == 'Unnamed: 114'),(depositos_06['myVarname'] == 'Unnamed: 115'),(depositos_06['myVarname'] == 'Unnamed: 116'),
                       (depositos_06['myVarname'] == 'Unnamed: 117'),(depositos_06['myVarname'] == 'Unnamed: 118'),(depositos_06['myVarname'] == 'Unnamed: 119'),(depositos_06['myVarname'] == 'Unnamed: 120'),(depositos_06['myVarname'] == 'Unnamed: 121'),
                        (depositos_06['myVarname'] == 'Unnamed: 122'),(depositos_06['myVarname'] == 'Unnamed: 123'),(depositos_06['myVarname'] == 'Unnamed: 124'),(depositos_06['myVarname'] == 'Unnamed: 125'),(depositos_06['myVarname'] == 'Unnamed: 126'),
                         (depositos_06['myVarname'] == 'Unnamed: 127'),(depositos_06['myVarname'] == 'Unnamed: 128'),(depositos_06['myVarname'] == 'Unnamed: 129'),(depositos_06['myVarname'] == 'Unnamed: 130'),(depositos_06['myVarname'] == 'Unnamed: 131'),
                          (depositos_06['myVarname'] == 'Unnamed: 132'),(depositos_06['myVarname'] == 'Unnamed: 133'),(depositos_06['myVarname'] == 'Unnamed: 134'),(depositos_06['myVarname'] == 'Unnamed: 135'),(depositos_06['myVarname'] == 'Unnamed: 136'),
                           (depositos_06['myVarname'] == 'Unnamed: 137'),(depositos_06['myVarname'] == 'Unnamed: 138'),(depositos_06['myVarname'] == 'Unnamed: 139'),(depositos_06['myVarname'] == 'Unnamed: 140'),(depositos_06['myVarname'] == 'Unnamed: 141'),
                            (depositos_06['myVarname'] == 'Unnamed: 142'),(depositos_06['myVarname'] == 'Unnamed: 143'),(depositos_06['myVarname'] == 'Unnamed: 144'),(depositos_06['myVarname'] == 'Unnamed: 145'),(depositos_06['myVarname'] == 'Unnamed: 146'),
                             (depositos_06['myVarname'] == 'Unnamed: 147'),(depositos_06['myVarname'] == 'Unnamed: 148'),(depositos_06['myVarname'] == 'Unnamed: 149'),(depositos_06['myVarname'] == 'Unnamed: 150'),(depositos_06['myVarname'] == 'Unnamed: 151'),
                              (depositos_06['myVarname'] == 'Unnamed: 152'),(depositos_06['myVarname'] == 'Unnamed: 153'),(depositos_06['myVarname'] == 'Unnamed: 154'),(depositos_06['myVarname'] == 'Unnamed: 155'),(depositos_06['myVarname'] == 'Unnamed: 156'),
                               (depositos_06['myVarname'] == 'Unnamed: 157'),(depositos_06['myVarname'] == 'Unnamed: 158'),(depositos_06['myVarname'] == 'Unnamed: 159'),(depositos_06['myVarname'] == 'Unnamed: 160'),(depositos_06['myVarname'] == 'Unnamed: 161'),
                                (depositos_06['myVarname'] == 'Unnamed: 162'),(depositos_06['myVarname'] == 'Unnamed: 163'),(depositos_06['myVarname'] == 'Unnamed: 164'),(depositos_06['myVarname'] == 'Unnamed: 165'),(depositos_06['myVarname'] == 'Unnamed: 166')
                                ]

In [287]:
depositos_06['Fecha'] = np.select(conditions_6, values)

In [288]:
depositos_06.pop("myVarname")

5       Unnamed: 2
6       Unnamed: 2
7       Unnamed: 2
8       Unnamed: 2
9       Unnamed: 2
          ...
26    Unnamed: 166
27    Unnamed: 166
28    Unnamed: 166
29    Unnamed: 166
30    Unnamed: 166
Name: myVarname, Length: 4290, dtype: object

In [289]:
depositos_06.rename(columns={"Unnamed: 1": "Institucion"}, inplace=True)

In [290]:
depositos_06['Tipo'] = "Depósito"
depositos_06['Subtipo'] = "Obligaciones en letras de crédito"
depositos_06['Tipo de Moneda'] = "Saldos en millones de pesos"

In [291]:
depositos_06.head(5)

,Institucion,Valor,Fecha,Tipo,Subtipo,Tipo de Moneda
5,Banco Bice,52593.689785,2008-01-31,Depósito,Obligaciones en letras de crédito,Saldos en millones de pesos
6,Banco BTG Pactual Chile (9),ND,2008-01-31,Depósito,Obligaciones en letras de crédito,Saldos en millones de pesos
7,Banco Consorcio (1),0,2008-01-31,Depósito,Obligaciones en letras de crédito,Saldos en millones de pesos
8,Banco de Chile (2),405710.335734,2008-01-31,Depósito,Obligaciones en letras de crédito,Saldos en millones de pesos
9,Banco de Crédito e Inversiones,226245.332131,2008-01-31,Depósito,Obligaciones en letras de crédito,Saldos en millones de pesos

In [292]:
new_cols = ["Fecha","Institucion","Tipo","Subtipo","Valor","Tipo de Moneda"]
depositos_06 = depositos_06.reindex(columns=new_cols)

In [293]:
depositos_06.head(7)

,Fecha,Institucion,Tipo,Subtipo,Valor,Tipo de Moneda
5,2008-01-31,Banco Bice,Depósito,Obligaciones en letras de crédito,52593.689785,Saldos en millones de pesos
6,2008-01-31,Banco BTG Pactual Chile (9),Depósito,Obligaciones en letras de crédito,ND,Saldos en millones de pesos
7,2008-01-31,Banco Consorcio (1),Depósito,Obligaciones en letras de crédito,0,Saldos en millones de pesos
8,2008-01-31,Banco de Chile (2),Depósito,Obligaciones en letras de crédito,405710.335734,Saldos en millones de pesos
9,2008-01-31,Banco de Crédito e Inversiones,Depósito,Obligaciones en letras de crédito,226245.332131,Saldos en millones de pesos
10,2008-01-31,Banco de la Nación Argentina (18),Depósito,Obligaciones en letras de crédito,0,Saldos en millones de pesos
11,2008-01-31,Banco del Estado de Chile,Depósito,Obligaciones en letras de crédito,2009193.575693,Saldos en millones de pesos

## Depósito 07

In [294]:
depositos_07.head(5)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,Unnamed: 161,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166
0,Índice general,Cuadro 2.07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Notas generales,Total depósitos en moneda extranjera,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Saldos en millones de dólares,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,2008-01-31 00:00:00,2008-02-29 00:00:00,2008-03-31 00:00:00,2008-04-30 00:00:00,2008-05-31 00:00:00,2008-06-30 00:00:00,2008-07-31 00:00:00,2008-08-31 00:00:00,...,2020-12-31 00:00:00,2021-01-31 00:00:00,2021-02-28 00:00:00,2021-03-31 00:00:00,2021-04-30 00:00:00,2021-05-31 00:00:00,2021-06-30 00:00:00,2021-07-31 00:00:00,2021-08-31 00:00:00,2021-09-30 00:00:00

In [295]:
depositos_07.pop("Unnamed: 0")

0      Índice general
1     Notas generales
2                 NaN
3                 NaN
4                 NaN
5                 NaN
6                 NaN
7                 NaN
8                 NaN
9                 NaN
10                NaN
11                NaN
12                NaN
13                NaN
14                NaN
15                NaN
16                NaN
17                NaN
18                NaN
19                NaN
20                NaN
21                NaN
22                NaN
23                NaN
24                NaN
25                NaN
26                NaN
27                NaN
28                NaN
29                NaN
30                NaN
31                NaN
32                NaN
33                NaN
34                NaN
Name: Unnamed: 0, dtype: object

In [296]:
depositos_07.head(7)

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,Unnamed: 161,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166
0,Cuadro 2.07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Total depósitos en moneda extranjera,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Saldos en millones de dólares,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,2008-01-31 00:00:00,2008-02-29 00:00:00,2008-03-31 00:00:00,2008-04-30 00:00:00,2008-05-31 00:00:00,2008-06-30 00:00:00,2008-07-31 00:00:00,2008-08-31 00:00:00,2008-09-30 00:00:00,...,2020-12-31 00:00:00,2021-01-31 00:00:00,2021-02-28 00:00:00,2021-03-31 00:00:00,2021-04-30 00:00:00,2021-05-31 00:00:00,2021-06-30 00:00:00,2021-07-31 00:00:00,2021-08-31 00:00:00,2021-09-30 00:00:00
5,Banco Bice,187.862,206.237,196.636,177.428,195.294,214.293,254.027,283.658,327.843,...,1329.846754,1186.93873,1317.395089,1266.149819,1422.233578,1505.186571,1648.564799,1751.322925,1540.464648,1810.416219
6,Banco BTG Pactual Chile (9),ND,ND,ND,ND,ND,ND,ND,ND,ND,...,458.15382,430.830742,493.087142,461.50322,550.341237,596.789234,578.928574,541.628219,558.764345,579.471064

In [297]:
depositos_07 = depositos_07.iloc[5:]

In [298]:
depositos_07.tail(7)

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,Unnamed: 161,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166
28,Scotiabank Chile (3) (17),940.286,835.837,897.587,738.66,952.455,1087.514,1276.247,1441.695,1133.838,...,4079.315728,4281.857202,4436.395308,4628.330115,4666.034307,4424.87517,4884.164809,4560.424851,4546.233135,4996.226763
29,The Bank of Tokyo - Mitsubishi Ufj. Ltd. (19),87.011,91.798,65.405,73.235,77.88,76.513,99.132,110.533,100.226,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
30,Bank of China (16),ND,ND,ND,ND,ND,ND,ND,ND,ND,...,2.939706,2.396075,2.618156,3.60419,3.580946,16.644598,20.704917,6.514916,6.276338,5.824359
31,Total,11794.215,11780.928,12293.677,13257.389,13772.713,15208.4,16038.178,16277.716,15578.994,...,39397.175922,38977.641508,40193.184486,39997.201782,42804.281616,41256.434132,41591.514218,42599.865395,42799.598211,45478.155352
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,ND : No existe dato,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [299]:
depositos_07.drop(depositos_07.tail(4).index,inplace=True)

<ipython-input-299-e9adff5cf60b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  depositos_07.drop(depositos_07.tail(4).index,inplace=True)

In [300]:
depositos_07.head(3)

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,Unnamed: 161,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166
5,Banco Bice,187.862,206.237,196.636,177.428,195.294,214.293,254.027,283.658,327.843,...,1329.846754,1186.93873,1317.395089,1266.149819,1422.233578,1505.186571,1648.564799,1751.322925,1540.464648,1810.416219
6,Banco BTG Pactual Chile (9),ND,ND,ND,ND,ND,ND,ND,ND,ND,...,458.15382,430.830742,493.087142,461.50322,550.341237,596.789234,578.928574,541.628219,558.764345,579.471064
7,Banco Consorcio (1),10.771,9.598,18.549,19.987,23.997,24.864,26.873,15.864,15.386,...,808.511252,871.817788,911.074533,892.403743,773.956613,814.526647,789.556629,778.615229,657.129682,1053.642254

In [301]:
depositos_07 = depositos_07.melt(id_vars=['Unnamed: 1'], value_vars=['Unnamed: 2','Unnamed: 3','Unnamed: 4','Unnamed: 5','Unnamed: 6','Unnamed: 7','Unnamed: 8','Unnamed: 9','Unnamed: 10','Unnamed: 11',
                                                   'Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19','Unnamed: 20','Unnamed: 21',
                                                   'Unnamed: 22','Unnamed: 23','Unnamed: 24','Unnamed: 25','Unnamed: 26','Unnamed: 27','Unnamed: 28','Unnamed: 29','Unnamed: 30','Unnamed: 31',
                                                   'Unnamed: 32','Unnamed: 33','Unnamed: 34','Unnamed: 35','Unnamed: 36','Unnamed: 37','Unnamed: 38','Unnamed: 39','Unnamed: 40','Unnamed: 41',
                                                   'Unnamed: 42','Unnamed: 43','Unnamed: 44','Unnamed: 45','Unnamed: 46','Unnamed: 47','Unnamed: 48','Unnamed: 49','Unnamed: 50','Unnamed: 51',
                                                   'Unnamed: 52','Unnamed: 53','Unnamed: 54','Unnamed: 55','Unnamed: 56','Unnamed: 57','Unnamed: 58','Unnamed: 59','Unnamed: 60','Unnamed: 61',
                                                   'Unnamed: 62','Unnamed: 63','Unnamed: 64','Unnamed: 65','Unnamed: 66','Unnamed: 67','Unnamed: 68','Unnamed: 69','Unnamed: 70','Unnamed: 71',
                                                   'Unnamed: 72','Unnamed: 73','Unnamed: 74','Unnamed: 75','Unnamed: 76','Unnamed: 77','Unnamed: 78','Unnamed: 79','Unnamed: 80','Unnamed: 81',
                                                   'Unnamed: 82','Unnamed: 83','Unnamed: 84','Unnamed: 85','Unnamed: 86','Unnamed: 87','Unnamed: 88','Unnamed: 89','Unnamed: 90','Unnamed: 91',
                                                   'Unnamed: 92','Unnamed: 93','Unnamed: 94','Unnamed: 95','Unnamed: 96','Unnamed: 97','Unnamed: 98','Unnamed: 99','Unnamed: 100','Unnamed: 101',
                                                   'Unnamed: 102','Unnamed: 103','Unnamed: 104','Unnamed: 105','Unnamed: 106','Unnamed: 107','Unnamed: 108','Unnamed: 109','Unnamed: 110','Unnamed: 111',
                                                   'Unnamed: 112','Unnamed: 113','Unnamed: 114','Unnamed: 115','Unnamed: 116','Unnamed: 117','Unnamed: 118','Unnamed: 119','Unnamed: 120','Unnamed: 121',
                                                   'Unnamed: 122','Unnamed: 123','Unnamed: 124','Unnamed: 125','Unnamed: 126','Unnamed: 127','Unnamed: 128','Unnamed: 129','Unnamed: 130','Unnamed: 131',
                                                   'Unnamed: 132','Unnamed: 133','Unnamed: 134','Unnamed: 135','Unnamed: 136','Unnamed: 137','Unnamed: 138','Unnamed: 139','Unnamed: 140','Unnamed: 141',
                                                   'Unnamed: 142','Unnamed: 143','Unnamed: 144','Unnamed: 145','Unnamed: 146','Unnamed: 147','Unnamed: 148','Unnamed: 149','Unnamed: 150','Unnamed: 151',
                                                   'Unnamed: 152','Unnamed: 153','Unnamed: 154','Unnamed: 155','Unnamed: 156','Unnamed: 157','Unnamed: 158','Unnamed: 159','Unnamed: 160','Unnamed: 161',
                                                   'Unnamed: 162','Unnamed: 163','Unnamed: 164','Unnamed: 165','Unnamed: 166'],
               var_name='myVarname',
               value_name='Valor',
               ignore_index=False
               )

In [302]:
# create a list of our conditions
conditions_7 = [(depositos_07['myVarname'] == 'Unnamed: 2'),(depositos_07['myVarname'] == 'Unnamed: 3'),(depositos_07['myVarname'] == 'Unnamed: 4'),(depositos_07['myVarname'] == 'Unnamed: 5'),(depositos_07['myVarname'] == 'Unnamed: 6'),
 (depositos_07['myVarname'] == 'Unnamed: 7'),(depositos_07['myVarname'] == 'Unnamed: 8'),(depositos_07['myVarname'] == 'Unnamed: 9'),(depositos_07['myVarname'] == 'Unnamed: 10'),(depositos_07['myVarname'] == 'Unnamed: 11'),
  (depositos_07['myVarname'] == 'Unnamed: 12'),(depositos_07['myVarname'] == 'Unnamed: 13'),(depositos_07['myVarname'] == 'Unnamed: 14'),(depositos_07['myVarname'] == 'Unnamed: 15'),(depositos_07['myVarname'] == 'Unnamed: 16'),
   (depositos_07['myVarname'] == 'Unnamed: 17'),(depositos_07['myVarname'] == 'Unnamed: 18'),(depositos_07['myVarname'] == 'Unnamed: 19'),(depositos_07['myVarname'] == 'Unnamed: 20'),(depositos_07['myVarname'] == 'Unnamed: 21'),
    (depositos_07['myVarname'] == 'Unnamed: 22'),(depositos_07['myVarname'] == 'Unnamed: 23'),(depositos_07['myVarname'] == 'Unnamed: 24'),(depositos_07['myVarname'] == 'Unnamed: 25'),(depositos_07['myVarname'] == 'Unnamed: 26'),
     (depositos_07['myVarname'] == 'Unnamed: 27'),(depositos_07['myVarname'] == 'Unnamed: 28'),(depositos_07['myVarname'] == 'Unnamed: 29'),(depositos_07['myVarname'] == 'Unnamed: 30'),(depositos_07['myVarname'] == 'Unnamed: 31'),
      (depositos_07['myVarname'] == 'Unnamed: 32'),(depositos_07['myVarname'] == 'Unnamed: 33'),(depositos_07['myVarname'] == 'Unnamed: 34'),(depositos_07['myVarname'] == 'Unnamed: 35'),(depositos_07['myVarname'] == 'Unnamed: 36'),
       (depositos_07['myVarname'] == 'Unnamed: 37'),(depositos_07['myVarname'] == 'Unnamed: 38'),(depositos_07['myVarname'] == 'Unnamed: 39'),(depositos_07['myVarname'] == 'Unnamed: 40'),(depositos_07['myVarname'] == 'Unnamed: 41'),
        (depositos_07['myVarname'] == 'Unnamed: 42'),(depositos_07['myVarname'] == 'Unnamed: 43'),(depositos_07['myVarname'] == 'Unnamed: 44'),(depositos_07['myVarname'] == 'Unnamed: 45'),(depositos_07['myVarname'] == 'Unnamed: 46'),
         (depositos_07['myVarname'] == 'Unnamed: 47'),(depositos_07['myVarname'] == 'Unnamed: 48'),(depositos_07['myVarname'] == 'Unnamed: 49'),(depositos_07['myVarname'] == 'Unnamed: 50'),(depositos_07['myVarname'] == 'Unnamed: 51'),
          (depositos_07['myVarname'] == 'Unnamed: 52'),(depositos_07['myVarname'] == 'Unnamed: 53'),(depositos_07['myVarname'] == 'Unnamed: 54'),(depositos_07['myVarname'] == 'Unnamed: 55'),(depositos_07['myVarname'] == 'Unnamed: 56'),
           (depositos_07['myVarname'] == 'Unnamed: 57'),(depositos_07['myVarname'] == 'Unnamed: 58'),(depositos_07['myVarname'] == 'Unnamed: 59'),(depositos_07['myVarname'] == 'Unnamed: 60'),(depositos_07['myVarname'] == 'Unnamed: 61'),
            (depositos_07['myVarname'] == 'Unnamed: 62'),(depositos_07['myVarname'] == 'Unnamed: 63'),(depositos_07['myVarname'] == 'Unnamed: 64'),(depositos_07['myVarname'] == 'Unnamed: 65'),(depositos_07['myVarname'] == 'Unnamed: 66'),
             (depositos_07['myVarname'] == 'Unnamed: 67'),(depositos_07['myVarname'] == 'Unnamed: 68'),(depositos_07['myVarname'] == 'Unnamed: 69'),(depositos_07['myVarname'] == 'Unnamed: 70'),(depositos_07['myVarname'] == 'Unnamed: 71'),
              (depositos_07['myVarname'] == 'Unnamed: 72'),(depositos_07['myVarname'] == 'Unnamed: 73'),(depositos_07['myVarname'] == 'Unnamed: 74'),(depositos_07['myVarname'] == 'Unnamed: 75'),(depositos_07['myVarname'] == 'Unnamed: 76'),
               (depositos_07['myVarname'] == 'Unnamed: 77'),(depositos_07['myVarname'] == 'Unnamed: 78'),(depositos_07['myVarname'] == 'Unnamed: 79'),(depositos_07['myVarname'] == 'Unnamed: 80'),(depositos_07['myVarname'] == 'Unnamed: 81'),
                (depositos_07['myVarname'] == 'Unnamed: 82'),(depositos_07['myVarname'] == 'Unnamed: 83'),(depositos_07['myVarname'] == 'Unnamed: 84'),(depositos_07['myVarname'] == 'Unnamed: 85'),(depositos_07['myVarname'] == 'Unnamed: 86'),
                 (depositos_07['myVarname'] == 'Unnamed: 87'),(depositos_07['myVarname'] == 'Unnamed: 88'),(depositos_07['myVarname'] == 'Unnamed: 89'),(depositos_07['myVarname'] == 'Unnamed: 90'),(depositos_07['myVarname'] == 'Unnamed: 91'),
                  (depositos_07['myVarname'] == 'Unnamed: 92'),(depositos_07['myVarname'] == 'Unnamed: 93'),(depositos_07['myVarname'] == 'Unnamed: 94'),(depositos_07['myVarname'] == 'Unnamed: 95'),(depositos_07['myVarname'] == 'Unnamed: 96'),
                   (depositos_07['myVarname'] == 'Unnamed: 97'),(depositos_07['myVarname'] == 'Unnamed: 98'),(depositos_07['myVarname'] == 'Unnamed: 99'),(depositos_07['myVarname'] == 'Unnamed: 100'),(depositos_07['myVarname'] == 'Unnamed: 101'),
                    (depositos_07['myVarname'] == 'Unnamed: 102'),(depositos_07['myVarname'] == 'Unnamed: 103'),(depositos_07['myVarname'] == 'Unnamed: 104'),(depositos_07['myVarname'] == 'Unnamed: 105'),(depositos_07['myVarname'] == 'Unnamed: 106'),
                     (depositos_07['myVarname'] == 'Unnamed: 107'),(depositos_07['myVarname'] == 'Unnamed: 108'),(depositos_07['myVarname'] == 'Unnamed: 109'),(depositos_07['myVarname'] == 'Unnamed: 110'),(depositos_07['myVarname'] == 'Unnamed: 111'),
                      (depositos_07['myVarname'] == 'Unnamed: 112'),(depositos_07['myVarname'] == 'Unnamed: 113'),(depositos_07['myVarname'] == 'Unnamed: 114'),(depositos_07['myVarname'] == 'Unnamed: 115'),(depositos_07['myVarname'] == 'Unnamed: 116'),
                       (depositos_07['myVarname'] == 'Unnamed: 117'),(depositos_07['myVarname'] == 'Unnamed: 118'),(depositos_07['myVarname'] == 'Unnamed: 119'),(depositos_07['myVarname'] == 'Unnamed: 120'),(depositos_07['myVarname'] == 'Unnamed: 121'),
                        (depositos_07['myVarname'] == 'Unnamed: 122'),(depositos_07['myVarname'] == 'Unnamed: 123'),(depositos_07['myVarname'] == 'Unnamed: 124'),(depositos_07['myVarname'] == 'Unnamed: 125'),(depositos_07['myVarname'] == 'Unnamed: 126'),
                         (depositos_07['myVarname'] == 'Unnamed: 127'),(depositos_07['myVarname'] == 'Unnamed: 128'),(depositos_07['myVarname'] == 'Unnamed: 129'),(depositos_07['myVarname'] == 'Unnamed: 130'),(depositos_07['myVarname'] == 'Unnamed: 131'),
                          (depositos_07['myVarname'] == 'Unnamed: 132'),(depositos_07['myVarname'] == 'Unnamed: 133'),(depositos_07['myVarname'] == 'Unnamed: 134'),(depositos_07['myVarname'] == 'Unnamed: 135'),(depositos_07['myVarname'] == 'Unnamed: 136'),
                           (depositos_07['myVarname'] == 'Unnamed: 137'),(depositos_07['myVarname'] == 'Unnamed: 138'),(depositos_07['myVarname'] == 'Unnamed: 139'),(depositos_07['myVarname'] == 'Unnamed: 140'),(depositos_07['myVarname'] == 'Unnamed: 141'),
                            (depositos_07['myVarname'] == 'Unnamed: 142'),(depositos_07['myVarname'] == 'Unnamed: 143'),(depositos_07['myVarname'] == 'Unnamed: 144'),(depositos_07['myVarname'] == 'Unnamed: 145'),(depositos_07['myVarname'] == 'Unnamed: 146'),
                             (depositos_07['myVarname'] == 'Unnamed: 147'),(depositos_07['myVarname'] == 'Unnamed: 148'),(depositos_07['myVarname'] == 'Unnamed: 149'),(depositos_07['myVarname'] == 'Unnamed: 150'),(depositos_07['myVarname'] == 'Unnamed: 151'),
                              (depositos_07['myVarname'] == 'Unnamed: 152'),(depositos_07['myVarname'] == 'Unnamed: 153'),(depositos_07['myVarname'] == 'Unnamed: 154'),(depositos_07['myVarname'] == 'Unnamed: 155'),(depositos_07['myVarname'] == 'Unnamed: 156'),
                               (depositos_07['myVarname'] == 'Unnamed: 157'),(depositos_07['myVarname'] == 'Unnamed: 158'),(depositos_07['myVarname'] == 'Unnamed: 159'),(depositos_07['myVarname'] == 'Unnamed: 160'),(depositos_07['myVarname'] == 'Unnamed: 161'),
                                (depositos_07['myVarname'] == 'Unnamed: 162'),(depositos_07['myVarname'] == 'Unnamed: 163'),(depositos_07['myVarname'] == 'Unnamed: 164'),(depositos_07['myVarname'] == 'Unnamed: 165'),(depositos_07['myVarname'] == 'Unnamed: 166')
                                ]

In [303]:
depositos_07['Fecha'] = np.select(conditions_7, values)

In [304]:
depositos_07.pop("myVarname")

5       Unnamed: 2
6       Unnamed: 2
7       Unnamed: 2
8       Unnamed: 2
9       Unnamed: 2
          ...
26    Unnamed: 166
27    Unnamed: 166
28    Unnamed: 166
29    Unnamed: 166
30    Unnamed: 166
Name: myVarname, Length: 4290, dtype: object

In [305]:
depositos_07.rename(columns={"Unnamed: 1": "Institucion"}, inplace=True)

In [306]:
depositos_07['Tipo'] = "Depósito"
depositos_07['Subtipo'] = "Total depósitos en moneda extranjera"
depositos_07['Tipo de Moneda'] = "Saldos en millones de dólares"

In [307]:
depositos_07.head(5)

,Institucion,Valor,Fecha,Tipo,Subtipo,Tipo de Moneda
5,Banco Bice,187.862,2008-01-31,Depósito,Total depósitos en moneda extranjera,Saldos en millones de dólares
6,Banco BTG Pactual Chile (9),ND,2008-01-31,Depósito,Total depósitos en moneda extranjera,Saldos en millones de dólares
7,Banco Consorcio (1),10.771,2008-01-31,Depósito,Total depósitos en moneda extranjera,Saldos en millones de dólares
8,Banco de Chile (2),2591.701,2008-01-31,Depósito,Total depósitos en moneda extranjera,Saldos en millones de dólares
9,Banco de Crédito e Inversiones,1367.473,2008-01-31,Depósito,Total depósitos en moneda extranjera,Saldos en millones de dólares

In [308]:
new_cols = ["Fecha","Institucion","Tipo","Subtipo","Valor","Tipo de Moneda"]
depositos_07 = depositos_07.reindex(columns=new_cols)

In [309]:
depositos_07.head(7)

,Fecha,Institucion,Tipo,Subtipo,Valor,Tipo de Moneda
5,2008-01-31,Banco Bice,Depósito,Total depósitos en moneda extranjera,187.862,Saldos en millones de dólares
6,2008-01-31,Banco BTG Pactual Chile (9),Depósito,Total depósitos en moneda extranjera,ND,Saldos en millones de dólares
7,2008-01-31,Banco Consorcio (1),Depósito,Total depósitos en moneda extranjera,10.771,Saldos en millones de dólares
8,2008-01-31,Banco de Chile (2),Depósito,Total depósitos en moneda extranjera,2591.701,Saldos en millones de dólares
9,2008-01-31,Banco de Crédito e Inversiones,Depósito,Total depósitos en moneda extranjera,1367.473,Saldos en millones de dólares
10,2008-01-31,Banco de la Nación Argentina (18),Depósito,Total depósitos en moneda extranjera,5.618,Saldos en millones de dólares
11,2008-01-31,Banco del Estado de Chile,Depósito,Total depósitos en moneda extranjera,1212.856,Saldos en millones de dólares

## Depósito 08

In [310]:
depositos_08.head(5)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,Unnamed: 161,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166
0,Índice general,Cuadro 2.08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Notas generales,Depósitos a la vista,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Saldos en millones de dólares,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,2008-01-31 00:00:00,2008-02-29 00:00:00,2008-03-31 00:00:00,2008-04-30 00:00:00,2008-05-31 00:00:00,2008-06-30 00:00:00,2008-07-31 00:00:00,2008-08-31 00:00:00,...,2020-12-31 00:00:00,2021-01-31 00:00:00,2021-02-28 00:00:00,2021-03-31 00:00:00,2021-04-30 00:00:00,2021-05-31 00:00:00,2021-06-30 00:00:00,2021-07-31 00:00:00,2021-08-31 00:00:00,2021-09-30 00:00:00

In [311]:
depositos_08.pop("Unnamed: 0")

0      Índice general
1     Notas generales
2                 NaN
3                 NaN
4                 NaN
5                 NaN
6                 NaN
7                 NaN
8                 NaN
9                 NaN
10                NaN
11                NaN
12                NaN
13                NaN
14                NaN
15                NaN
16                NaN
17                NaN
18                NaN
19                NaN
20                NaN
21                NaN
22                NaN
23                NaN
24                NaN
25                NaN
26                NaN
27                NaN
28                NaN
29                NaN
30                NaN
31                NaN
32                NaN
33                NaN
34                NaN
Name: Unnamed: 0, dtype: object

In [312]:
depositos_08.head(7)

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,Unnamed: 161,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166
0,Cuadro 2.08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Depósitos a la vista,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Saldos en millones de dólares,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,2008-01-31 00:00:00,2008-02-29 00:00:00,2008-03-31 00:00:00,2008-04-30 00:00:00,2008-05-31 00:00:00,2008-06-30 00:00:00,2008-07-31 00:00:00,2008-08-31 00:00:00,2008-09-30 00:00:00,...,2020-12-31 00:00:00,2021-01-31 00:00:00,2021-02-28 00:00:00,2021-03-31 00:00:00,2021-04-30 00:00:00,2021-05-31 00:00:00,2021-06-30 00:00:00,2021-07-31 00:00:00,2021-08-31 00:00:00,2021-09-30 00:00:00
5,Banco Bice,56.474,60.294,61.08,58.283,59.136,66.552,57.174,56.73,119.606,...,811.980086,696.98543,676.274411,633.491194,791.936932,916.062307,972.659415,1060.037391,820.021713,960.379657
6,Banco BTG Pactual Chile (9),ND,ND,ND,ND,ND,ND,ND,ND,ND,...,30.6014,30.320933,78.560412,69.971679,25.350882,19.778963,20.547616,20.683404,29.877213,48.328307

In [313]:
depositos_08 = depositos_08.iloc[5:]

In [314]:
depositos_08.tail(7)

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,Unnamed: 161,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166
28,Scotiabank Chile (3) (17),115.007,108.153,156.677,146.123,121.036,145.061,136.801,144.31,301.145,...,663.977154,633.32184,610.977034,674.045941,684.054927,750.223329,706.850385,654.040518,731.149041,668.181264
29,The Bank of Tokyo - Mitsubishi Ufj. Ltd. (19),11.788,29.981,34.325,25.458,28.028,30.08,51.817,32.899,23.593,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
30,Bank of China (16),ND,ND,ND,ND,ND,ND,ND,ND,ND,...,2.939706,2.396075,2.618156,3.60419,3.429868,1.705724,5.775421,5.511651,5.283511,4.813659
31,Total,2104.346,1928.102,2165.995,2156.634,2074.725,2176.851,1995.279,2066.861,2326.275,...,10485.997168,10079.121203,10459.708189,10569.767995,12348.864958,11513.73188,11810.175311,11685.826343,11604.674399,11623.238504
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,ND : No existe dato,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [315]:
depositos_08.drop(depositos_08.tail(4).index,inplace=True)

<ipython-input-315-3f5cbe3d697d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  depositos_08.drop(depositos_08.tail(4).index,inplace=True)

In [316]:
depositos_08.head(3)

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,Unnamed: 161,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166
5,Banco Bice,56.474,60.294,61.08,58.283,59.136,66.552,57.174,56.73,119.606,...,811.980086,696.98543,676.274411,633.491194,791.936932,916.062307,972.659415,1060.037391,820.021713,960.379657
6,Banco BTG Pactual Chile (9),ND,ND,ND,ND,ND,ND,ND,ND,ND,...,30.6014,30.320933,78.560412,69.971679,25.350882,19.778963,20.547616,20.683404,29.877213,48.328307
7,Banco Consorcio (1),5.036,3.79,5.531,3.535,5.822,5.767,6.174,1.839,1.89,...,65.76699,57.390278,61.515354,75.220955,59.279668,109.154387,106.137358,131.083624,63.275453,62.479351

In [317]:
depositos_08 = depositos_08.melt(id_vars=['Unnamed: 1'], value_vars=['Unnamed: 2','Unnamed: 3','Unnamed: 4','Unnamed: 5','Unnamed: 6','Unnamed: 7','Unnamed: 8','Unnamed: 9','Unnamed: 10','Unnamed: 11',
                                                   'Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19','Unnamed: 20','Unnamed: 21',
                                                   'Unnamed: 22','Unnamed: 23','Unnamed: 24','Unnamed: 25','Unnamed: 26','Unnamed: 27','Unnamed: 28','Unnamed: 29','Unnamed: 30','Unnamed: 31',
                                                   'Unnamed: 32','Unnamed: 33','Unnamed: 34','Unnamed: 35','Unnamed: 36','Unnamed: 37','Unnamed: 38','Unnamed: 39','Unnamed: 40','Unnamed: 41',
                                                   'Unnamed: 42','Unnamed: 43','Unnamed: 44','Unnamed: 45','Unnamed: 46','Unnamed: 47','Unnamed: 48','Unnamed: 49','Unnamed: 50','Unnamed: 51',
                                                   'Unnamed: 52','Unnamed: 53','Unnamed: 54','Unnamed: 55','Unnamed: 56','Unnamed: 57','Unnamed: 58','Unnamed: 59','Unnamed: 60','Unnamed: 61',
                                                   'Unnamed: 62','Unnamed: 63','Unnamed: 64','Unnamed: 65','Unnamed: 66','Unnamed: 67','Unnamed: 68','Unnamed: 69','Unnamed: 70','Unnamed: 71',
                                                   'Unnamed: 72','Unnamed: 73','Unnamed: 74','Unnamed: 75','Unnamed: 76','Unnamed: 77','Unnamed: 78','Unnamed: 79','Unnamed: 80','Unnamed: 81',
                                                   'Unnamed: 82','Unnamed: 83','Unnamed: 84','Unnamed: 85','Unnamed: 86','Unnamed: 87','Unnamed: 88','Unnamed: 89','Unnamed: 90','Unnamed: 91',
                                                   'Unnamed: 92','Unnamed: 93','Unnamed: 94','Unnamed: 95','Unnamed: 96','Unnamed: 97','Unnamed: 98','Unnamed: 99','Unnamed: 100','Unnamed: 101',
                                                   'Unnamed: 102','Unnamed: 103','Unnamed: 104','Unnamed: 105','Unnamed: 106','Unnamed: 107','Unnamed: 108','Unnamed: 109','Unnamed: 110','Unnamed: 111',
                                                   'Unnamed: 112','Unnamed: 113','Unnamed: 114','Unnamed: 115','Unnamed: 116','Unnamed: 117','Unnamed: 118','Unnamed: 119','Unnamed: 120','Unnamed: 121',
                                                   'Unnamed: 122','Unnamed: 123','Unnamed: 124','Unnamed: 125','Unnamed: 126','Unnamed: 127','Unnamed: 128','Unnamed: 129','Unnamed: 130','Unnamed: 131',
                                                   'Unnamed: 132','Unnamed: 133','Unnamed: 134','Unnamed: 135','Unnamed: 136','Unnamed: 137','Unnamed: 138','Unnamed: 139','Unnamed: 140','Unnamed: 141',
                                                   'Unnamed: 142','Unnamed: 143','Unnamed: 144','Unnamed: 145','Unnamed: 146','Unnamed: 147','Unnamed: 148','Unnamed: 149','Unnamed: 150','Unnamed: 151',
                                                   'Unnamed: 152','Unnamed: 153','Unnamed: 154','Unnamed: 155','Unnamed: 156','Unnamed: 157','Unnamed: 158','Unnamed: 159','Unnamed: 160','Unnamed: 161',
                                                   'Unnamed: 162','Unnamed: 163','Unnamed: 164','Unnamed: 165','Unnamed: 166'],
               var_name='myVarname',
               value_name='Valor',
               ignore_index=False
               )

In [318]:
# create a list of our conditions
conditions_8 = [(depositos_08['myVarname'] == 'Unnamed: 2'),(depositos_08['myVarname'] == 'Unnamed: 3'),(depositos_08['myVarname'] == 'Unnamed: 4'),(depositos_08['myVarname'] == 'Unnamed: 5'),(depositos_08['myVarname'] == 'Unnamed: 6'),
 (depositos_08['myVarname'] == 'Unnamed: 7'),(depositos_08['myVarname'] == 'Unnamed: 8'),(depositos_08['myVarname'] == 'Unnamed: 9'),(depositos_08['myVarname'] == 'Unnamed: 10'),(depositos_08['myVarname'] == 'Unnamed: 11'),
  (depositos_08['myVarname'] == 'Unnamed: 12'),(depositos_08['myVarname'] == 'Unnamed: 13'),(depositos_08['myVarname'] == 'Unnamed: 14'),(depositos_08['myVarname'] == 'Unnamed: 15'),(depositos_08['myVarname'] == 'Unnamed: 16'),
   (depositos_08['myVarname'] == 'Unnamed: 17'),(depositos_08['myVarname'] == 'Unnamed: 18'),(depositos_08['myVarname'] == 'Unnamed: 19'),(depositos_08['myVarname'] == 'Unnamed: 20'),(depositos_08['myVarname'] == 'Unnamed: 21'),
    (depositos_08['myVarname'] == 'Unnamed: 22'),(depositos_08['myVarname'] == 'Unnamed: 23'),(depositos_08['myVarname'] == 'Unnamed: 24'),(depositos_08['myVarname'] == 'Unnamed: 25'),(depositos_08['myVarname'] == 'Unnamed: 26'),
     (depositos_08['myVarname'] == 'Unnamed: 27'),(depositos_08['myVarname'] == 'Unnamed: 28'),(depositos_08['myVarname'] == 'Unnamed: 29'),(depositos_08['myVarname'] == 'Unnamed: 30'),(depositos_08['myVarname'] == 'Unnamed: 31'),
      (depositos_08['myVarname'] == 'Unnamed: 32'),(depositos_08['myVarname'] == 'Unnamed: 33'),(depositos_08['myVarname'] == 'Unnamed: 34'),(depositos_08['myVarname'] == 'Unnamed: 35'),(depositos_08['myVarname'] == 'Unnamed: 36'),
       (depositos_08['myVarname'] == 'Unnamed: 37'),(depositos_08['myVarname'] == 'Unnamed: 38'),(depositos_08['myVarname'] == 'Unnamed: 39'),(depositos_08['myVarname'] == 'Unnamed: 40'),(depositos_08['myVarname'] == 'Unnamed: 41'),
        (depositos_08['myVarname'] == 'Unnamed: 42'),(depositos_08['myVarname'] == 'Unnamed: 43'),(depositos_08['myVarname'] == 'Unnamed: 44'),(depositos_08['myVarname'] == 'Unnamed: 45'),(depositos_08['myVarname'] == 'Unnamed: 46'),
         (depositos_08['myVarname'] == 'Unnamed: 47'),(depositos_08['myVarname'] == 'Unnamed: 48'),(depositos_08['myVarname'] == 'Unnamed: 49'),(depositos_08['myVarname'] == 'Unnamed: 50'),(depositos_08['myVarname'] == 'Unnamed: 51'),
          (depositos_08['myVarname'] == 'Unnamed: 52'),(depositos_08['myVarname'] == 'Unnamed: 53'),(depositos_08['myVarname'] == 'Unnamed: 54'),(depositos_08['myVarname'] == 'Unnamed: 55'),(depositos_08['myVarname'] == 'Unnamed: 56'),
           (depositos_08['myVarname'] == 'Unnamed: 57'),(depositos_08['myVarname'] == 'Unnamed: 58'),(depositos_08['myVarname'] == 'Unnamed: 59'),(depositos_08['myVarname'] == 'Unnamed: 60'),(depositos_08['myVarname'] == 'Unnamed: 61'),
            (depositos_08['myVarname'] == 'Unnamed: 62'),(depositos_08['myVarname'] == 'Unnamed: 63'),(depositos_08['myVarname'] == 'Unnamed: 64'),(depositos_08['myVarname'] == 'Unnamed: 65'),(depositos_08['myVarname'] == 'Unnamed: 66'),
             (depositos_08['myVarname'] == 'Unnamed: 67'),(depositos_08['myVarname'] == 'Unnamed: 68'),(depositos_08['myVarname'] == 'Unnamed: 69'),(depositos_08['myVarname'] == 'Unnamed: 70'),(depositos_08['myVarname'] == 'Unnamed: 71'),
              (depositos_08['myVarname'] == 'Unnamed: 72'),(depositos_08['myVarname'] == 'Unnamed: 73'),(depositos_08['myVarname'] == 'Unnamed: 74'),(depositos_08['myVarname'] == 'Unnamed: 75'),(depositos_08['myVarname'] == 'Unnamed: 76'),
               (depositos_08['myVarname'] == 'Unnamed: 77'),(depositos_08['myVarname'] == 'Unnamed: 78'),(depositos_08['myVarname'] == 'Unnamed: 79'),(depositos_08['myVarname'] == 'Unnamed: 80'),(depositos_08['myVarname'] == 'Unnamed: 81'),
                (depositos_08['myVarname'] == 'Unnamed: 82'),(depositos_08['myVarname'] == 'Unnamed: 83'),(depositos_08['myVarname'] == 'Unnamed: 84'),(depositos_08['myVarname'] == 'Unnamed: 85'),(depositos_08['myVarname'] == 'Unnamed: 86'),
                 (depositos_08['myVarname'] == 'Unnamed: 87'),(depositos_08['myVarname'] == 'Unnamed: 88'),(depositos_08['myVarname'] == 'Unnamed: 89'),(depositos_08['myVarname'] == 'Unnamed: 90'),(depositos_08['myVarname'] == 'Unnamed: 91'),
                  (depositos_08['myVarname'] == 'Unnamed: 92'),(depositos_08['myVarname'] == 'Unnamed: 93'),(depositos_08['myVarname'] == 'Unnamed: 94'),(depositos_08['myVarname'] == 'Unnamed: 95'),(depositos_08['myVarname'] == 'Unnamed: 96'),
                   (depositos_08['myVarname'] == 'Unnamed: 97'),(depositos_08['myVarname'] == 'Unnamed: 98'),(depositos_08['myVarname'] == 'Unnamed: 99'),(depositos_08['myVarname'] == 'Unnamed: 100'),(depositos_08['myVarname'] == 'Unnamed: 101'),
                    (depositos_08['myVarname'] == 'Unnamed: 102'),(depositos_08['myVarname'] == 'Unnamed: 103'),(depositos_08['myVarname'] == 'Unnamed: 104'),(depositos_08['myVarname'] == 'Unnamed: 105'),(depositos_08['myVarname'] == 'Unnamed: 106'),
                     (depositos_08['myVarname'] == 'Unnamed: 107'),(depositos_08['myVarname'] == 'Unnamed: 108'),(depositos_08['myVarname'] == 'Unnamed: 109'),(depositos_08['myVarname'] == 'Unnamed: 110'),(depositos_08['myVarname'] == 'Unnamed: 111'),
                      (depositos_08['myVarname'] == 'Unnamed: 112'),(depositos_08['myVarname'] == 'Unnamed: 113'),(depositos_08['myVarname'] == 'Unnamed: 114'),(depositos_08['myVarname'] == 'Unnamed: 115'),(depositos_08['myVarname'] == 'Unnamed: 116'),
                       (depositos_08['myVarname'] == 'Unnamed: 117'),(depositos_08['myVarname'] == 'Unnamed: 118'),(depositos_08['myVarname'] == 'Unnamed: 119'),(depositos_08['myVarname'] == 'Unnamed: 120'),(depositos_08['myVarname'] == 'Unnamed: 121'),
                        (depositos_08['myVarname'] == 'Unnamed: 122'),(depositos_08['myVarname'] == 'Unnamed: 123'),(depositos_08['myVarname'] == 'Unnamed: 124'),(depositos_08['myVarname'] == 'Unnamed: 125'),(depositos_08['myVarname'] == 'Unnamed: 126'),
                         (depositos_08['myVarname'] == 'Unnamed: 127'),(depositos_08['myVarname'] == 'Unnamed: 128'),(depositos_08['myVarname'] == 'Unnamed: 129'),(depositos_08['myVarname'] == 'Unnamed: 130'),(depositos_08['myVarname'] == 'Unnamed: 131'),
                          (depositos_08['myVarname'] == 'Unnamed: 132'),(depositos_08['myVarname'] == 'Unnamed: 133'),(depositos_08['myVarname'] == 'Unnamed: 134'),(depositos_08['myVarname'] == 'Unnamed: 135'),(depositos_08['myVarname'] == 'Unnamed: 136'),
                           (depositos_08['myVarname'] == 'Unnamed: 137'),(depositos_08['myVarname'] == 'Unnamed: 138'),(depositos_08['myVarname'] == 'Unnamed: 139'),(depositos_08['myVarname'] == 'Unnamed: 140'),(depositos_08['myVarname'] == 'Unnamed: 141'),
                            (depositos_08['myVarname'] == 'Unnamed: 142'),(depositos_08['myVarname'] == 'Unnamed: 143'),(depositos_08['myVarname'] == 'Unnamed: 144'),(depositos_08['myVarname'] == 'Unnamed: 145'),(depositos_08['myVarname'] == 'Unnamed: 146'),
                             (depositos_08['myVarname'] == 'Unnamed: 147'),(depositos_08['myVarname'] == 'Unnamed: 148'),(depositos_08['myVarname'] == 'Unnamed: 149'),(depositos_08['myVarname'] == 'Unnamed: 150'),(depositos_08['myVarname'] == 'Unnamed: 151'),
                              (depositos_08['myVarname'] == 'Unnamed: 152'),(depositos_08['myVarname'] == 'Unnamed: 153'),(depositos_08['myVarname'] == 'Unnamed: 154'),(depositos_08['myVarname'] == 'Unnamed: 155'),(depositos_08['myVarname'] == 'Unnamed: 156'),
                               (depositos_08['myVarname'] == 'Unnamed: 157'),(depositos_08['myVarname'] == 'Unnamed: 158'),(depositos_08['myVarname'] == 'Unnamed: 159'),(depositos_08['myVarname'] == 'Unnamed: 160'),(depositos_08['myVarname'] == 'Unnamed: 161'),
                                (depositos_08['myVarname'] == 'Unnamed: 162'),(depositos_08['myVarname'] == 'Unnamed: 163'),(depositos_08['myVarname'] == 'Unnamed: 164'),(depositos_08['myVarname'] == 'Unnamed: 165'),(depositos_08['myVarname'] == 'Unnamed: 166')
                                ]

In [319]:
depositos_08['Fecha'] = np.select(conditions_8, values)

In [320]:
depositos_08.pop("myVarname")

5       Unnamed: 2
6       Unnamed: 2
7       Unnamed: 2
8       Unnamed: 2
9       Unnamed: 2
          ...
26    Unnamed: 166
27    Unnamed: 166
28    Unnamed: 166
29    Unnamed: 166
30    Unnamed: 166
Name: myVarname, Length: 4290, dtype: object

In [321]:
depositos_08.rename(columns={"Unnamed: 1": "Institucion"}, inplace=True)

In [322]:
depositos_08['Tipo'] = "Depósito"
depositos_08['Subtipo'] = "Depósitos a la vista"
depositos_08['Tipo de Moneda'] = "Saldos en millones de dólares"

In [323]:
depositos_08.head(5)

,Institucion,Valor,Fecha,Tipo,Subtipo,Tipo de Moneda
5,Banco Bice,56.474,2008-01-31,Depósito,Depósitos a la vista,Saldos en millones de dólares
6,Banco BTG Pactual Chile (9),ND,2008-01-31,Depósito,Depósitos a la vista,Saldos en millones de dólares
7,Banco Consorcio (1),5.036,2008-01-31,Depósito,Depósitos a la vista,Saldos en millones de dólares
8,Banco de Chile (2),812.854,2008-01-31,Depósito,Depósitos a la vista,Saldos en millones de dólares
9,Banco de Crédito e Inversiones,274.444,2008-01-31,Depósito,Depósitos a la vista,Saldos en millones de dólares

In [324]:
new_cols = ["Fecha","Institucion","Tipo","Subtipo","Valor","Tipo de Moneda"]
depositos_08 = depositos_08.reindex(columns=new_cols)

In [325]:
depositos_08.head(7)

,Fecha,Institucion,Tipo,Subtipo,Valor,Tipo de Moneda
5,2008-01-31,Banco Bice,Depósito,Depósitos a la vista,56.474,Saldos en millones de dólares
6,2008-01-31,Banco BTG Pactual Chile (9),Depósito,Depósitos a la vista,ND,Saldos en millones de dólares
7,2008-01-31,Banco Consorcio (1),Depósito,Depósitos a la vista,5.036,Saldos en millones de dólares
8,2008-01-31,Banco de Chile (2),Depósito,Depósitos a la vista,812.854,Saldos en millones de dólares
9,2008-01-31,Banco de Crédito e Inversiones,Depósito,Depósitos a la vista,274.444,Saldos en millones de dólares
10,2008-01-31,Banco de la Nación Argentina (18),Depósito,Depósitos a la vista,1.147,Saldos en millones de dólares
11,2008-01-31,Banco del Estado de Chile,Depósito,Depósitos a la vista,131.656,Saldos en millones de dólares

## Depósito 09

In [326]:
depositos_09.head(5)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,Unnamed: 161,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166
0,Índice general,Cuadro 2.09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Notas generales,Depósitos a plazo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Saldos en millones de dólares,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,2008-01-31 00:00:00,2008-02-29 00:00:00,2008-03-31 00:00:00,2008-04-30 00:00:00,2008-05-31 00:00:00,2008-06-30 00:00:00,2008-07-31 00:00:00,2008-08-31 00:00:00,...,2020-12-31 00:00:00,2021-01-31 00:00:00,2021-02-28 00:00:00,2021-03-31 00:00:00,2021-04-30 00:00:00,2021-05-31 00:00:00,2021-06-30 00:00:00,2021-07-31 00:00:00,2021-08-31 00:00:00,2021-09-30 00:00:00

In [327]:
depositos_09.pop("Unnamed: 0")

0      Índice general
1     Notas generales
2                 NaN
3                 NaN
4                 NaN
5                 NaN
6                 NaN
7                 NaN
8                 NaN
9                 NaN
10                NaN
11                NaN
12                NaN
13                NaN
14                NaN
15                NaN
16                NaN
17                NaN
18                NaN
19                NaN
20                NaN
21                NaN
22                NaN
23                NaN
24                NaN
25                NaN
26                NaN
27                NaN
28                NaN
29                NaN
30                NaN
31                NaN
32                NaN
33                NaN
34                NaN
Name: Unnamed: 0, dtype: object

In [328]:
depositos_09.head(7)

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,Unnamed: 161,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166
0,Cuadro 2.09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Depósitos a plazo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Saldos en millones de dólares,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,2008-01-31 00:00:00,2008-02-29 00:00:00,2008-03-31 00:00:00,2008-04-30 00:00:00,2008-05-31 00:00:00,2008-06-30 00:00:00,2008-07-31 00:00:00,2008-08-31 00:00:00,2008-09-30 00:00:00,...,2020-12-31 00:00:00,2021-01-31 00:00:00,2021-02-28 00:00:00,2021-03-31 00:00:00,2021-04-30 00:00:00,2021-05-31 00:00:00,2021-06-30 00:00:00,2021-07-31 00:00:00,2021-08-31 00:00:00,2021-09-30 00:00:00
5,Banco Bice,131.388,145.943,135.556,119.145,136.158,147.741,196.853,226.928,208.237,...,517.866668,489.9533,641.120678,632.658626,630.296646,589.124265,675.905384,691.285534,720.442935,850.036562
6,Banco BTG Pactual Chile (9),ND,ND,ND,ND,ND,ND,ND,ND,ND,...,427.55242,400.509809,414.52673,391.53154,524.990354,577.010271,558.380957,520.944815,528.887132,531.142757

In [329]:
depositos_09 = depositos_09.iloc[5:]

In [330]:
depositos_09.tail(7)

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,Unnamed: 161,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166
28,Scotiabank Chile (3) (17),825.279,727.684,740.91,592.537,831.419,942.453,1139.446,1297.385,832.693,...,3415.338574,3648.535362,3825.418274,3954.284174,3981.97938,3674.651841,4177.314425,3906.384333,3815.084094,4328.045499
29,The Bank of Tokyo - Mitsubishi Ufj. Ltd. (19),75.223,61.817,31.08,47.777,49.852,46.433,47.315,77.634,76.633,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
30,Bank of China (16),ND,ND,ND,ND,ND,ND,ND,ND,ND,...,0,0,0,0,0.151078,14.938874,14.929496,1.003265,0.992827,1.010701
31,Total,9689.869,9852.826,10127.682,11100.755,11697.988,13031.549,14042.899,14210.855,13252.719,...,28911.178754,28898.520305,29733.476297,29427.433788,30455.416658,29742.702252,29781.338907,30914.039053,31194.923812,33854.916848
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,ND : No existe dato,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [331]:
depositos_09.drop(depositos_09.tail(4).index,inplace=True)

<ipython-input-331-ebce5348bf9b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  depositos_09.drop(depositos_09.tail(4).index,inplace=True)

In [332]:
depositos_09.head(3)

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,Unnamed: 161,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166
5,Banco Bice,131.388,145.943,135.556,119.145,136.158,147.741,196.853,226.928,208.237,...,517.866668,489.9533,641.120678,632.658626,630.296646,589.124265,675.905384,691.285534,720.442935,850.036562
6,Banco BTG Pactual Chile (9),ND,ND,ND,ND,ND,ND,ND,ND,ND,...,427.55242,400.509809,414.52673,391.53154,524.990354,577.010271,558.380957,520.944815,528.887132,531.142757
7,Banco Consorcio (1),5.735,5.808,13.018,16.452,18.175,19.097,20.699,14.025,13.496,...,742.744262,814.42751,849.559179,817.182788,714.676944,705.37226,683.41927,647.531605,593.854229,991.162904

In [333]:
depositos_09 = depositos_09.melt(id_vars=['Unnamed: 1'], value_vars=['Unnamed: 2','Unnamed: 3','Unnamed: 4','Unnamed: 5','Unnamed: 6','Unnamed: 7','Unnamed: 8','Unnamed: 9','Unnamed: 10','Unnamed: 11',
                                                   'Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19','Unnamed: 20','Unnamed: 21',
                                                   'Unnamed: 22','Unnamed: 23','Unnamed: 24','Unnamed: 25','Unnamed: 26','Unnamed: 27','Unnamed: 28','Unnamed: 29','Unnamed: 30','Unnamed: 31',
                                                   'Unnamed: 32','Unnamed: 33','Unnamed: 34','Unnamed: 35','Unnamed: 36','Unnamed: 37','Unnamed: 38','Unnamed: 39','Unnamed: 40','Unnamed: 41',
                                                   'Unnamed: 42','Unnamed: 43','Unnamed: 44','Unnamed: 45','Unnamed: 46','Unnamed: 47','Unnamed: 48','Unnamed: 49','Unnamed: 50','Unnamed: 51',
                                                   'Unnamed: 52','Unnamed: 53','Unnamed: 54','Unnamed: 55','Unnamed: 56','Unnamed: 57','Unnamed: 58','Unnamed: 59','Unnamed: 60','Unnamed: 61',
                                                   'Unnamed: 62','Unnamed: 63','Unnamed: 64','Unnamed: 65','Unnamed: 66','Unnamed: 67','Unnamed: 68','Unnamed: 69','Unnamed: 70','Unnamed: 71',
                                                   'Unnamed: 72','Unnamed: 73','Unnamed: 74','Unnamed: 75','Unnamed: 76','Unnamed: 77','Unnamed: 78','Unnamed: 79','Unnamed: 80','Unnamed: 81',
                                                   'Unnamed: 82','Unnamed: 83','Unnamed: 84','Unnamed: 85','Unnamed: 86','Unnamed: 87','Unnamed: 88','Unnamed: 89','Unnamed: 90','Unnamed: 91',
                                                   'Unnamed: 92','Unnamed: 93','Unnamed: 94','Unnamed: 95','Unnamed: 96','Unnamed: 97','Unnamed: 98','Unnamed: 99','Unnamed: 100','Unnamed: 101',
                                                   'Unnamed: 102','Unnamed: 103','Unnamed: 104','Unnamed: 105','Unnamed: 106','Unnamed: 107','Unnamed: 108','Unnamed: 109','Unnamed: 110','Unnamed: 111',
                                                   'Unnamed: 112','Unnamed: 113','Unnamed: 114','Unnamed: 115','Unnamed: 116','Unnamed: 117','Unnamed: 118','Unnamed: 119','Unnamed: 120','Unnamed: 121',
                                                   'Unnamed: 122','Unnamed: 123','Unnamed: 124','Unnamed: 125','Unnamed: 126','Unnamed: 127','Unnamed: 128','Unnamed: 129','Unnamed: 130','Unnamed: 131',
                                                   'Unnamed: 132','Unnamed: 133','Unnamed: 134','Unnamed: 135','Unnamed: 136','Unnamed: 137','Unnamed: 138','Unnamed: 139','Unnamed: 140','Unnamed: 141',
                                                   'Unnamed: 142','Unnamed: 143','Unnamed: 144','Unnamed: 145','Unnamed: 146','Unnamed: 147','Unnamed: 148','Unnamed: 149','Unnamed: 150','Unnamed: 151',
                                                   'Unnamed: 152','Unnamed: 153','Unnamed: 154','Unnamed: 155','Unnamed: 156','Unnamed: 157','Unnamed: 158','Unnamed: 159','Unnamed: 160','Unnamed: 161',
                                                   'Unnamed: 162','Unnamed: 163','Unnamed: 164','Unnamed: 165','Unnamed: 166'],
               var_name='myVarname',
               value_name='Valor',
               ignore_index=False
               )

In [334]:
# create a list of our conditions
conditions_9 = [(depositos_09['myVarname'] == 'Unnamed: 2'),(depositos_09['myVarname'] == 'Unnamed: 3'),(depositos_09['myVarname'] == 'Unnamed: 4'),(depositos_09['myVarname'] == 'Unnamed: 5'),(depositos_09['myVarname'] == 'Unnamed: 6'),
 (depositos_09['myVarname'] == 'Unnamed: 7'),(depositos_09['myVarname'] == 'Unnamed: 8'),(depositos_09['myVarname'] == 'Unnamed: 9'),(depositos_09['myVarname'] == 'Unnamed: 10'),(depositos_09['myVarname'] == 'Unnamed: 11'),
  (depositos_09['myVarname'] == 'Unnamed: 12'),(depositos_09['myVarname'] == 'Unnamed: 13'),(depositos_09['myVarname'] == 'Unnamed: 14'),(depositos_09['myVarname'] == 'Unnamed: 15'),(depositos_09['myVarname'] == 'Unnamed: 16'),
   (depositos_09['myVarname'] == 'Unnamed: 17'),(depositos_09['myVarname'] == 'Unnamed: 18'),(depositos_09['myVarname'] == 'Unnamed: 19'),(depositos_09['myVarname'] == 'Unnamed: 20'),(depositos_09['myVarname'] == 'Unnamed: 21'),
    (depositos_09['myVarname'] == 'Unnamed: 22'),(depositos_09['myVarname'] == 'Unnamed: 23'),(depositos_09['myVarname'] == 'Unnamed: 24'),(depositos_09['myVarname'] == 'Unnamed: 25'),(depositos_09['myVarname'] == 'Unnamed: 26'),
     (depositos_09['myVarname'] == 'Unnamed: 27'),(depositos_09['myVarname'] == 'Unnamed: 28'),(depositos_09['myVarname'] == 'Unnamed: 29'),(depositos_09['myVarname'] == 'Unnamed: 30'),(depositos_09['myVarname'] == 'Unnamed: 31'),
      (depositos_09['myVarname'] == 'Unnamed: 32'),(depositos_09['myVarname'] == 'Unnamed: 33'),(depositos_09['myVarname'] == 'Unnamed: 34'),(depositos_09['myVarname'] == 'Unnamed: 35'),(depositos_09['myVarname'] == 'Unnamed: 36'),
       (depositos_09['myVarname'] == 'Unnamed: 37'),(depositos_09['myVarname'] == 'Unnamed: 38'),(depositos_09['myVarname'] == 'Unnamed: 39'),(depositos_09['myVarname'] == 'Unnamed: 40'),(depositos_09['myVarname'] == 'Unnamed: 41'),
        (depositos_09['myVarname'] == 'Unnamed: 42'),(depositos_09['myVarname'] == 'Unnamed: 43'),(depositos_09['myVarname'] == 'Unnamed: 44'),(depositos_09['myVarname'] == 'Unnamed: 45'),(depositos_09['myVarname'] == 'Unnamed: 46'),
         (depositos_09['myVarname'] == 'Unnamed: 47'),(depositos_09['myVarname'] == 'Unnamed: 48'),(depositos_09['myVarname'] == 'Unnamed: 49'),(depositos_09['myVarname'] == 'Unnamed: 50'),(depositos_09['myVarname'] == 'Unnamed: 51'),
          (depositos_09['myVarname'] == 'Unnamed: 52'),(depositos_09['myVarname'] == 'Unnamed: 53'),(depositos_09['myVarname'] == 'Unnamed: 54'),(depositos_09['myVarname'] == 'Unnamed: 55'),(depositos_09['myVarname'] == 'Unnamed: 56'),
           (depositos_09['myVarname'] == 'Unnamed: 57'),(depositos_09['myVarname'] == 'Unnamed: 58'),(depositos_09['myVarname'] == 'Unnamed: 59'),(depositos_09['myVarname'] == 'Unnamed: 60'),(depositos_09['myVarname'] == 'Unnamed: 61'),
            (depositos_09['myVarname'] == 'Unnamed: 62'),(depositos_09['myVarname'] == 'Unnamed: 63'),(depositos_09['myVarname'] == 'Unnamed: 64'),(depositos_09['myVarname'] == 'Unnamed: 65'),(depositos_09['myVarname'] == 'Unnamed: 66'),
             (depositos_09['myVarname'] == 'Unnamed: 67'),(depositos_09['myVarname'] == 'Unnamed: 68'),(depositos_09['myVarname'] == 'Unnamed: 69'),(depositos_09['myVarname'] == 'Unnamed: 70'),(depositos_09['myVarname'] == 'Unnamed: 71'),
              (depositos_09['myVarname'] == 'Unnamed: 72'),(depositos_09['myVarname'] == 'Unnamed: 73'),(depositos_09['myVarname'] == 'Unnamed: 74'),(depositos_09['myVarname'] == 'Unnamed: 75'),(depositos_09['myVarname'] == 'Unnamed: 76'),
               (depositos_09['myVarname'] == 'Unnamed: 77'),(depositos_09['myVarname'] == 'Unnamed: 78'),(depositos_09['myVarname'] == 'Unnamed: 79'),(depositos_09['myVarname'] == 'Unnamed: 80'),(depositos_09['myVarname'] == 'Unnamed: 81'),
                (depositos_09['myVarname'] == 'Unnamed: 82'),(depositos_09['myVarname'] == 'Unnamed: 83'),(depositos_09['myVarname'] == 'Unnamed: 84'),(depositos_09['myVarname'] == 'Unnamed: 85'),(depositos_09['myVarname'] == 'Unnamed: 86'),
                 (depositos_09['myVarname'] == 'Unnamed: 87'),(depositos_09['myVarname'] == 'Unnamed: 88'),(depositos_09['myVarname'] == 'Unnamed: 89'),(depositos_09['myVarname'] == 'Unnamed: 90'),(depositos_09['myVarname'] == 'Unnamed: 91'),
                  (depositos_09['myVarname'] == 'Unnamed: 92'),(depositos_09['myVarname'] == 'Unnamed: 93'),(depositos_09['myVarname'] == 'Unnamed: 94'),(depositos_09['myVarname'] == 'Unnamed: 95'),(depositos_09['myVarname'] == 'Unnamed: 96'),
                   (depositos_09['myVarname'] == 'Unnamed: 97'),(depositos_09['myVarname'] == 'Unnamed: 98'),(depositos_09['myVarname'] == 'Unnamed: 99'),(depositos_09['myVarname'] == 'Unnamed: 100'),(depositos_09['myVarname'] == 'Unnamed: 101'),
                    (depositos_09['myVarname'] == 'Unnamed: 102'),(depositos_09['myVarname'] == 'Unnamed: 103'),(depositos_09['myVarname'] == 'Unnamed: 104'),(depositos_09['myVarname'] == 'Unnamed: 105'),(depositos_09['myVarname'] == 'Unnamed: 106'),
                     (depositos_09['myVarname'] == 'Unnamed: 107'),(depositos_09['myVarname'] == 'Unnamed: 108'),(depositos_09['myVarname'] == 'Unnamed: 109'),(depositos_09['myVarname'] == 'Unnamed: 110'),(depositos_09['myVarname'] == 'Unnamed: 111'),
                      (depositos_09['myVarname'] == 'Unnamed: 112'),(depositos_09['myVarname'] == 'Unnamed: 113'),(depositos_09['myVarname'] == 'Unnamed: 114'),(depositos_09['myVarname'] == 'Unnamed: 115'),(depositos_09['myVarname'] == 'Unnamed: 116'),
                       (depositos_09['myVarname'] == 'Unnamed: 117'),(depositos_09['myVarname'] == 'Unnamed: 118'),(depositos_09['myVarname'] == 'Unnamed: 119'),(depositos_09['myVarname'] == 'Unnamed: 120'),(depositos_09['myVarname'] == 'Unnamed: 121'),
                        (depositos_09['myVarname'] == 'Unnamed: 122'),(depositos_09['myVarname'] == 'Unnamed: 123'),(depositos_09['myVarname'] == 'Unnamed: 124'),(depositos_09['myVarname'] == 'Unnamed: 125'),(depositos_09['myVarname'] == 'Unnamed: 126'),
                         (depositos_09['myVarname'] == 'Unnamed: 127'),(depositos_09['myVarname'] == 'Unnamed: 128'),(depositos_09['myVarname'] == 'Unnamed: 129'),(depositos_09['myVarname'] == 'Unnamed: 130'),(depositos_09['myVarname'] == 'Unnamed: 131'),
                          (depositos_09['myVarname'] == 'Unnamed: 132'),(depositos_09['myVarname'] == 'Unnamed: 133'),(depositos_09['myVarname'] == 'Unnamed: 134'),(depositos_09['myVarname'] == 'Unnamed: 135'),(depositos_09['myVarname'] == 'Unnamed: 136'),
                           (depositos_09['myVarname'] == 'Unnamed: 137'),(depositos_09['myVarname'] == 'Unnamed: 138'),(depositos_09['myVarname'] == 'Unnamed: 139'),(depositos_09['myVarname'] == 'Unnamed: 140'),(depositos_09['myVarname'] == 'Unnamed: 141'),
                            (depositos_09['myVarname'] == 'Unnamed: 142'),(depositos_09['myVarname'] == 'Unnamed: 143'),(depositos_09['myVarname'] == 'Unnamed: 144'),(depositos_09['myVarname'] == 'Unnamed: 145'),(depositos_09['myVarname'] == 'Unnamed: 146'),
                             (depositos_09['myVarname'] == 'Unnamed: 147'),(depositos_09['myVarname'] == 'Unnamed: 148'),(depositos_09['myVarname'] == 'Unnamed: 149'),(depositos_09['myVarname'] == 'Unnamed: 150'),(depositos_09['myVarname'] == 'Unnamed: 151'),
                              (depositos_09['myVarname'] == 'Unnamed: 152'),(depositos_09['myVarname'] == 'Unnamed: 153'),(depositos_09['myVarname'] == 'Unnamed: 154'),(depositos_09['myVarname'] == 'Unnamed: 155'),(depositos_09['myVarname'] == 'Unnamed: 156'),
                               (depositos_09['myVarname'] == 'Unnamed: 157'),(depositos_09['myVarname'] == 'Unnamed: 158'),(depositos_09['myVarname'] == 'Unnamed: 159'),(depositos_09['myVarname'] == 'Unnamed: 160'),(depositos_09['myVarname'] == 'Unnamed: 161'),
                                (depositos_09['myVarname'] == 'Unnamed: 162'),(depositos_09['myVarname'] == 'Unnamed: 163'),(depositos_09['myVarname'] == 'Unnamed: 164'),(depositos_09['myVarname'] == 'Unnamed: 165'),(depositos_09['myVarname'] == 'Unnamed: 166')
                                ]

In [335]:
depositos_09['Fecha'] = np.select(conditions_9, values)

In [336]:
depositos_09

,Unnamed: 1,myVarname,Valor,Fecha
5,Banco Bice,Unnamed: 2,131.388,2008-01-31
6,Banco BTG Pactual Chile (9),Unnamed: 2,ND,2008-01-31
7,Banco Consorcio (1),Unnamed: 2,5.735,2008-01-31
8,Banco de Chile (2),Unnamed: 2,1778.847,2008-01-31
9,Banco de Crédito e Inversiones,Unnamed: 2,1093.029,2008-01-31
...,...,...,...,...
26,"JP Morgan Chase Bank, N.A.",Unnamed: 166,0,2021-09-30
27,Rabobank Chile (15),Unnamed: 166,ND,2021-09-30
28,Scotiabank Chile (3) (17),Unnamed: 166,4328.045499,2021-09-30
29,The Bank of Tokyo - Mitsubishi Ufj. Ltd. (19),Unnamed: 166,ND,2021-09-30
30,Bank of China (16),Unnamed: 166,1.010701,2021-09-30

In [337]:
depositos_09.pop("myVarname")

5       Unnamed: 2
6       Unnamed: 2
7       Unnamed: 2
8       Unnamed: 2
9       Unnamed: 2
          ...
26    Unnamed: 166
27    Unnamed: 166
28    Unnamed: 166
29    Unnamed: 166
30    Unnamed: 166
Name: myVarname, Length: 4290, dtype: object

In [338]:
depositos_09.rename(columns={"Unnamed: 1": "Institucion"}, inplace=True)

In [339]:
depositos_09['Tipo'] = "Depósito"
depositos_09['Subtipo'] = "Depósitos a plazo"
depositos_09['Tipo de Moneda'] = "Saldos en millones de dólares"

In [340]:
depositos_09.head(5)

,Institucion,Valor,Fecha,Tipo,Subtipo,Tipo de Moneda
5,Banco Bice,131.388,2008-01-31,Depósito,Depósitos a plazo,Saldos en millones de dólares
6,Banco BTG Pactual Chile (9),ND,2008-01-31,Depósito,Depósitos a plazo,Saldos en millones de dólares
7,Banco Consorcio (1),5.735,2008-01-31,Depósito,Depósitos a plazo,Saldos en millones de dólares
8,Banco de Chile (2),1778.847,2008-01-31,Depósito,Depósitos a plazo,Saldos en millones de dólares
9,Banco de Crédito e Inversiones,1093.029,2008-01-31,Depósito,Depósitos a plazo,Saldos en millones de dólares

In [341]:
new_cols = ["Fecha","Institucion","Tipo","Subtipo","Valor","Tipo de Moneda"]
depositos_09 = depositos_09.reindex(columns=new_cols)

In [342]:
depositos_09.head(7)

,Fecha,Institucion,Tipo,Subtipo,Valor,Tipo de Moneda
5,2008-01-31,Banco Bice,Depósito,Depósitos a plazo,131.388,Saldos en millones de dólares
6,2008-01-31,Banco BTG Pactual Chile (9),Depósito,Depósitos a plazo,ND,Saldos en millones de dólares
7,2008-01-31,Banco Consorcio (1),Depósito,Depósitos a plazo,5.735,Saldos en millones de dólares
8,2008-01-31,Banco de Chile (2),Depósito,Depósitos a plazo,1778.847,Saldos en millones de dólares
9,2008-01-31,Banco de Crédito e Inversiones,Depósito,Depósitos a plazo,1093.029,Saldos en millones de dólares
10,2008-01-31,Banco de la Nación Argentina (18),Depósito,Depósitos a plazo,4.471,Saldos en millones de dólares
11,2008-01-31,Banco del Estado de Chile,Depósito,Depósitos a plazo,1081.2,Saldos en millones de dólares

# Inversiones

In [343]:
#inversiones
inversion_01 = pd.read_excel('/content/sdbinv_092021.xlsx',sheet_name='3_01')
inversion_02 = pd.read_excel('/content/sdbinv_092021.xlsx',sheet_name='3_02')
inversion_03 = pd.read_excel('/content/sdbinv_092021.xlsx',sheet_name='3_03')
inversion_04 = pd.read_excel('/content/sdbinv_092021.xlsx',sheet_name='3_04')
inversion_05 = pd.read_excel('/content/sdbinv_092021.xlsx',sheet_name='3_05')
inversion_06 = pd.read_excel('/content/sdbinv_092021.xlsx',sheet_name='3_06')
inversion_07 = pd.read_excel('/content/sdbinv_092021.xlsx',sheet_name='3_07')
inversion_08 = pd.read_excel('/content/sdbinv_092021.xlsx',sheet_name='3_08')
inversion_09 = pd.read_excel('/content/sdbinv_092021.xlsx',sheet_name='3_09')
inversion_10 = pd.read_excel('/content/sdbinv_092021.xlsx',sheet_name='3_10')
inversion_11 = pd.read_excel('/content/sdbinv_092021.xlsx',sheet_name='3_11')
inversion_12 = pd.read_excel('/content/sdbinv_092021.xlsx',sheet_name='3_12')
inversion_13 = pd.read_excel('/content/sdbinv_092021.xlsx',sheet_name='3_13')

## Inversión 01

In [344]:
inversion_01.head(5)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,Unnamed: 161,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166
0,Índice general,Cuadro 3.01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Notas generales,Total inversion moneda nacional,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Saldos en millones de pesos,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,2008-01-31 00:00:00,2008-02-29 00:00:00,2008-03-31 00:00:00,2008-04-30 00:00:00,2008-05-31 00:00:00,2008-06-30 00:00:00,2008-07-31 00:00:00,2008-08-31 00:00:00,...,2020-12-31 00:00:00,2021-01-31 00:00:00,2021-02-28 00:00:00,2021-03-31 00:00:00,2021-04-30 00:00:00,2021-05-31 00:00:00,2021-06-30 00:00:00,2021-07-31 00:00:00,2021-08-31 00:00:00,2021-09-30 00:00:00

In [345]:
inversion_01.pop("Unnamed: 0")

0      Índice general
1     Notas generales
2                 NaN
3                 NaN
4                 NaN
5                 NaN
6                 NaN
7                 NaN
8                 NaN
9                 NaN
10                NaN
11                NaN
12                NaN
13                NaN
14                NaN
15                NaN
16                NaN
17                NaN
18                NaN
19                NaN
20                NaN
21                NaN
22                NaN
23                NaN
24                NaN
25                NaN
26                NaN
27                NaN
28                NaN
29                NaN
30                NaN
31                NaN
32                NaN
33                NaN
34                NaN
Name: Unnamed: 0, dtype: object

In [346]:
inversion_01 = inversion_01.iloc[5:]

In [347]:
inversion_01.tail(7)

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,Unnamed: 161,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166
28,Scotiabank Chile (3) (17),758324.430573,745153.148096,740992.213673,770875.125107,699376.111298,665577.515652,595508.842317,796613.60623,700885.68304,...,2543236.524759,2776541.063731,2502120.354562,2945731.551422,2945244.609802,2841761.274193,2702635.470127,2781173.248097,2131920.59416,2513101.820225
29,The Bank of Tokyo - Mitsubishi Ufj. Ltd. (19),5453.081272,4964.377017,4959.982598,3969.86299,4963.601083,4952.366686,3977.075944,9466.804412,10960.026855,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
30,Bank of China (16),ND,ND,ND,ND,ND,ND,ND,ND,ND,...,28785.197194,17740.036991,11736.989988,18738.416412,17722.689896,14724.63744,14729.64154,20737.371171,21747.682712,22758.229068
31,Total,9239478.372692,9195212.392141,9292980.57044,9139987.286296,9228265.766792,8900155.109142,8630860.801666,8696848.561725,9100272.539792,...,32850069.96821,34870929.015879,32724354.728948,31944710.20427,34778299.965815,41356940.359548,41288979.160988,49651387.60864,41795117.385013,46717956.715926
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,ND : No existe dato,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [348]:
inversion_01.drop(inversion_01.tail(4).index,inplace=True)

<ipython-input-348-520095228c4b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  inversion_01.drop(inversion_01.tail(4).index,inplace=True)

In [349]:
inversion_01.head(3)

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,Unnamed: 161,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166
5,Banco Bice,436033.276665,444413.104734,288841.383071,309191.056784,290533.303262,284346.978034,264268.771935,273314.01844,250527.021304,...,1153036.089007,1153387.836155,1169224.732885,1206028.588168,1313833.175904,847919.864959,693303.508968,845458.769968,443483.110281,732261.152549
6,Banco BTG Pactual Chile (9),ND,ND,ND,ND,ND,ND,ND,ND,ND,...,344277.243006,221816.204426,212473.82062,310680.03077,240478.665027,271781.154961,332474.575173,261804.391697,205214.453665,202647.957354
7,Banco Consorcio (1),36917.250048,20420.11332,29007.05156,42279.811041,39700.518636,36900.204291,36773.955644,35108.397633,33233.902873,...,925829.940696,1250199.328486,937399.965603,1081701.534048,1073761.10513,1097641.666568,1100050.398588,1105124.914332,1130369.252735,1200871.935963

In [350]:
inversion_01 = inversion_01.melt(id_vars=['Unnamed: 1'], value_vars=['Unnamed: 2','Unnamed: 3','Unnamed: 4','Unnamed: 5','Unnamed: 6','Unnamed: 7','Unnamed: 8','Unnamed: 9','Unnamed: 10','Unnamed: 11',
                                                   'Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19','Unnamed: 20','Unnamed: 21',
                                                   'Unnamed: 22','Unnamed: 23','Unnamed: 24','Unnamed: 25','Unnamed: 26','Unnamed: 27','Unnamed: 28','Unnamed: 29','Unnamed: 30','Unnamed: 31',
                                                   'Unnamed: 32','Unnamed: 33','Unnamed: 34','Unnamed: 35','Unnamed: 36','Unnamed: 37','Unnamed: 38','Unnamed: 39','Unnamed: 40','Unnamed: 41',
                                                   'Unnamed: 42','Unnamed: 43','Unnamed: 44','Unnamed: 45','Unnamed: 46','Unnamed: 47','Unnamed: 48','Unnamed: 49','Unnamed: 50','Unnamed: 51',
                                                   'Unnamed: 52','Unnamed: 53','Unnamed: 54','Unnamed: 55','Unnamed: 56','Unnamed: 57','Unnamed: 58','Unnamed: 59','Unnamed: 60','Unnamed: 61',
                                                   'Unnamed: 62','Unnamed: 63','Unnamed: 64','Unnamed: 65','Unnamed: 66','Unnamed: 67','Unnamed: 68','Unnamed: 69','Unnamed: 70','Unnamed: 71',
                                                   'Unnamed: 72','Unnamed: 73','Unnamed: 74','Unnamed: 75','Unnamed: 76','Unnamed: 77','Unnamed: 78','Unnamed: 79','Unnamed: 80','Unnamed: 81',
                                                   'Unnamed: 82','Unnamed: 83','Unnamed: 84','Unnamed: 85','Unnamed: 86','Unnamed: 87','Unnamed: 88','Unnamed: 89','Unnamed: 90','Unnamed: 91',
                                                   'Unnamed: 92','Unnamed: 93','Unnamed: 94','Unnamed: 95','Unnamed: 96','Unnamed: 97','Unnamed: 98','Unnamed: 99','Unnamed: 100','Unnamed: 101',
                                                   'Unnamed: 102','Unnamed: 103','Unnamed: 104','Unnamed: 105','Unnamed: 106','Unnamed: 107','Unnamed: 108','Unnamed: 109','Unnamed: 110','Unnamed: 111',
                                                   'Unnamed: 112','Unnamed: 113','Unnamed: 114','Unnamed: 115','Unnamed: 116','Unnamed: 117','Unnamed: 118','Unnamed: 119','Unnamed: 120','Unnamed: 121',
                                                   'Unnamed: 122','Unnamed: 123','Unnamed: 124','Unnamed: 125','Unnamed: 126','Unnamed: 127','Unnamed: 128','Unnamed: 129','Unnamed: 130','Unnamed: 131',
                                                   'Unnamed: 132','Unnamed: 133','Unnamed: 134','Unnamed: 135','Unnamed: 136','Unnamed: 137','Unnamed: 138','Unnamed: 139','Unnamed: 140','Unnamed: 141',
                                                   'Unnamed: 142','Unnamed: 143','Unnamed: 144','Unnamed: 145','Unnamed: 146','Unnamed: 147','Unnamed: 148','Unnamed: 149','Unnamed: 150','Unnamed: 151',
                                                   'Unnamed: 152','Unnamed: 153','Unnamed: 154','Unnamed: 155','Unnamed: 156','Unnamed: 157','Unnamed: 158','Unnamed: 159','Unnamed: 160','Unnamed: 161',
                                                   'Unnamed: 162','Unnamed: 163','Unnamed: 164','Unnamed: 165','Unnamed: 166'],
               var_name='myVarname',
               value_name='Valor',
               ignore_index=False
               )

In [351]:
# create a list of our conditions
conditions_1 = [(inversion_01['myVarname'] == 'Unnamed: 2'),(inversion_01['myVarname'] == 'Unnamed: 3'),(inversion_01['myVarname'] == 'Unnamed: 4'),(inversion_01['myVarname'] == 'Unnamed: 5'),(inversion_01['myVarname'] == 'Unnamed: 6'),
 (inversion_01['myVarname'] == 'Unnamed: 7'),(inversion_01['myVarname'] == 'Unnamed: 8'),(inversion_01['myVarname'] == 'Unnamed: 9'),(inversion_01['myVarname'] == 'Unnamed: 10'),(inversion_01['myVarname'] == 'Unnamed: 11'),
  (inversion_01['myVarname'] == 'Unnamed: 12'),(inversion_01['myVarname'] == 'Unnamed: 13'),(inversion_01['myVarname'] == 'Unnamed: 14'),(inversion_01['myVarname'] == 'Unnamed: 15'),(inversion_01['myVarname'] == 'Unnamed: 16'),
   (inversion_01['myVarname'] == 'Unnamed: 17'),(inversion_01['myVarname'] == 'Unnamed: 18'),(inversion_01['myVarname'] == 'Unnamed: 19'),(inversion_01['myVarname'] == 'Unnamed: 20'),(inversion_01['myVarname'] == 'Unnamed: 21'),
    (inversion_01['myVarname'] == 'Unnamed: 22'),(inversion_01['myVarname'] == 'Unnamed: 23'),(inversion_01['myVarname'] == 'Unnamed: 24'),(inversion_01['myVarname'] == 'Unnamed: 25'),(inversion_01['myVarname'] == 'Unnamed: 26'),
     (inversion_01['myVarname'] == 'Unnamed: 27'),(inversion_01['myVarname'] == 'Unnamed: 28'),(inversion_01['myVarname'] == 'Unnamed: 29'),(inversion_01['myVarname'] == 'Unnamed: 30'),(inversion_01['myVarname'] == 'Unnamed: 31'),
      (inversion_01['myVarname'] == 'Unnamed: 32'),(inversion_01['myVarname'] == 'Unnamed: 33'),(inversion_01['myVarname'] == 'Unnamed: 34'),(inversion_01['myVarname'] == 'Unnamed: 35'),(inversion_01['myVarname'] == 'Unnamed: 36'),
       (inversion_01['myVarname'] == 'Unnamed: 37'),(inversion_01['myVarname'] == 'Unnamed: 38'),(inversion_01['myVarname'] == 'Unnamed: 39'),(inversion_01['myVarname'] == 'Unnamed: 40'),(inversion_01['myVarname'] == 'Unnamed: 41'),
        (inversion_01['myVarname'] == 'Unnamed: 42'),(inversion_01['myVarname'] == 'Unnamed: 43'),(inversion_01['myVarname'] == 'Unnamed: 44'),(inversion_01['myVarname'] == 'Unnamed: 45'),(inversion_01['myVarname'] == 'Unnamed: 46'),
         (inversion_01['myVarname'] == 'Unnamed: 47'),(inversion_01['myVarname'] == 'Unnamed: 48'),(inversion_01['myVarname'] == 'Unnamed: 49'),(inversion_01['myVarname'] == 'Unnamed: 50'),(inversion_01['myVarname'] == 'Unnamed: 51'),
          (inversion_01['myVarname'] == 'Unnamed: 52'),(inversion_01['myVarname'] == 'Unnamed: 53'),(inversion_01['myVarname'] == 'Unnamed: 54'),(inversion_01['myVarname'] == 'Unnamed: 55'),(inversion_01['myVarname'] == 'Unnamed: 56'),
           (inversion_01['myVarname'] == 'Unnamed: 57'),(inversion_01['myVarname'] == 'Unnamed: 58'),(inversion_01['myVarname'] == 'Unnamed: 59'),(inversion_01['myVarname'] == 'Unnamed: 60'),(inversion_01['myVarname'] == 'Unnamed: 61'),
            (inversion_01['myVarname'] == 'Unnamed: 62'),(inversion_01['myVarname'] == 'Unnamed: 63'),(inversion_01['myVarname'] == 'Unnamed: 64'),(inversion_01['myVarname'] == 'Unnamed: 65'),(inversion_01['myVarname'] == 'Unnamed: 66'),
             (inversion_01['myVarname'] == 'Unnamed: 67'),(inversion_01['myVarname'] == 'Unnamed: 68'),(inversion_01['myVarname'] == 'Unnamed: 69'),(inversion_01['myVarname'] == 'Unnamed: 70'),(inversion_01['myVarname'] == 'Unnamed: 71'),
              (inversion_01['myVarname'] == 'Unnamed: 72'),(inversion_01['myVarname'] == 'Unnamed: 73'),(inversion_01['myVarname'] == 'Unnamed: 74'),(inversion_01['myVarname'] == 'Unnamed: 75'),(inversion_01['myVarname'] == 'Unnamed: 76'),
               (inversion_01['myVarname'] == 'Unnamed: 77'),(inversion_01['myVarname'] == 'Unnamed: 78'),(inversion_01['myVarname'] == 'Unnamed: 79'),(inversion_01['myVarname'] == 'Unnamed: 80'),(inversion_01['myVarname'] == 'Unnamed: 81'),
                (inversion_01['myVarname'] == 'Unnamed: 82'),(inversion_01['myVarname'] == 'Unnamed: 83'),(inversion_01['myVarname'] == 'Unnamed: 84'),(inversion_01['myVarname'] == 'Unnamed: 85'),(inversion_01['myVarname'] == 'Unnamed: 86'),
                 (inversion_01['myVarname'] == 'Unnamed: 87'),(inversion_01['myVarname'] == 'Unnamed: 88'),(inversion_01['myVarname'] == 'Unnamed: 89'),(inversion_01['myVarname'] == 'Unnamed: 90'),(inversion_01['myVarname'] == 'Unnamed: 91'),
                  (inversion_01['myVarname'] == 'Unnamed: 92'),(inversion_01['myVarname'] == 'Unnamed: 93'),(inversion_01['myVarname'] == 'Unnamed: 94'),(inversion_01['myVarname'] == 'Unnamed: 95'),(inversion_01['myVarname'] == 'Unnamed: 96'),
                   (inversion_01['myVarname'] == 'Unnamed: 97'),(inversion_01['myVarname'] == 'Unnamed: 98'),(inversion_01['myVarname'] == 'Unnamed: 99'),(inversion_01['myVarname'] == 'Unnamed: 100'),(inversion_01['myVarname'] == 'Unnamed: 101'),
                    (inversion_01['myVarname'] == 'Unnamed: 102'),(inversion_01['myVarname'] == 'Unnamed: 103'),(inversion_01['myVarname'] == 'Unnamed: 104'),(inversion_01['myVarname'] == 'Unnamed: 105'),(inversion_01['myVarname'] == 'Unnamed: 106'),
                     (inversion_01['myVarname'] == 'Unnamed: 107'),(inversion_01['myVarname'] == 'Unnamed: 108'),(inversion_01['myVarname'] == 'Unnamed: 109'),(inversion_01['myVarname'] == 'Unnamed: 110'),(inversion_01['myVarname'] == 'Unnamed: 111'),
                      (inversion_01['myVarname'] == 'Unnamed: 112'),(inversion_01['myVarname'] == 'Unnamed: 113'),(inversion_01['myVarname'] == 'Unnamed: 114'),(inversion_01['myVarname'] == 'Unnamed: 115'),(inversion_01['myVarname'] == 'Unnamed: 116'),
                       (inversion_01['myVarname'] == 'Unnamed: 117'),(inversion_01['myVarname'] == 'Unnamed: 118'),(inversion_01['myVarname'] == 'Unnamed: 119'),(inversion_01['myVarname'] == 'Unnamed: 120'),(inversion_01['myVarname'] == 'Unnamed: 121'),
                        (inversion_01['myVarname'] == 'Unnamed: 122'),(inversion_01['myVarname'] == 'Unnamed: 123'),(inversion_01['myVarname'] == 'Unnamed: 124'),(inversion_01['myVarname'] == 'Unnamed: 125'),(inversion_01['myVarname'] == 'Unnamed: 126'),
                         (inversion_01['myVarname'] == 'Unnamed: 127'),(inversion_01['myVarname'] == 'Unnamed: 128'),(inversion_01['myVarname'] == 'Unnamed: 129'),(inversion_01['myVarname'] == 'Unnamed: 130'),(inversion_01['myVarname'] == 'Unnamed: 131'),
                          (inversion_01['myVarname'] == 'Unnamed: 132'),(inversion_01['myVarname'] == 'Unnamed: 133'),(inversion_01['myVarname'] == 'Unnamed: 134'),(inversion_01['myVarname'] == 'Unnamed: 135'),(inversion_01['myVarname'] == 'Unnamed: 136'),
                           (inversion_01['myVarname'] == 'Unnamed: 137'),(inversion_01['myVarname'] == 'Unnamed: 138'),(inversion_01['myVarname'] == 'Unnamed: 139'),(inversion_01['myVarname'] == 'Unnamed: 140'),(inversion_01['myVarname'] == 'Unnamed: 141'),
                            (inversion_01['myVarname'] == 'Unnamed: 142'),(inversion_01['myVarname'] == 'Unnamed: 143'),(inversion_01['myVarname'] == 'Unnamed: 144'),(inversion_01['myVarname'] == 'Unnamed: 145'),(inversion_01['myVarname'] == 'Unnamed: 146'),
                             (inversion_01['myVarname'] == 'Unnamed: 147'),(inversion_01['myVarname'] == 'Unnamed: 148'),(inversion_01['myVarname'] == 'Unnamed: 149'),(inversion_01['myVarname'] == 'Unnamed: 150'),(inversion_01['myVarname'] == 'Unnamed: 151'),
                              (inversion_01['myVarname'] == 'Unnamed: 152'),(inversion_01['myVarname'] == 'Unnamed: 153'),(inversion_01['myVarname'] == 'Unnamed: 154'),(inversion_01['myVarname'] == 'Unnamed: 155'),(inversion_01['myVarname'] == 'Unnamed: 156'),
                               (inversion_01['myVarname'] == 'Unnamed: 157'),(inversion_01['myVarname'] == 'Unnamed: 158'),(inversion_01['myVarname'] == 'Unnamed: 159'),(inversion_01['myVarname'] == 'Unnamed: 160'),(inversion_01['myVarname'] == 'Unnamed: 161'),
                                (inversion_01['myVarname'] == 'Unnamed: 162'),(inversion_01['myVarname'] == 'Unnamed: 163'),(inversion_01['myVarname'] == 'Unnamed: 164'),(inversion_01['myVarname'] == 'Unnamed: 165'),(inversion_01['myVarname'] == 'Unnamed: 166')
                                ]

In [352]:
inversion_01['Fecha'] = np.select(conditions_1, values)

In [353]:
inversion_01.pop("myVarname")

5       Unnamed: 2
6       Unnamed: 2
7       Unnamed: 2
8       Unnamed: 2
9       Unnamed: 2
          ...
26    Unnamed: 166
27    Unnamed: 166
28    Unnamed: 166
29    Unnamed: 166
30    Unnamed: 166
Name: myVarname, Length: 4290, dtype: object

In [354]:
inversion_01.rename(columns={"Unnamed: 1": "Institucion"}, inplace=True)

In [355]:
inversion_01['Tipo'] = "Inversión"
inversion_01['Subtipo'] = "Total inversion moneda nacional"
inversion_01['Tipo de Moneda'] = "Saldos en millones de pesos"

In [356]:
new_cols = ["Fecha","Institucion","Tipo","Subtipo","Valor","Tipo de Moneda"]
inversion_01 = inversion_01.reindex(columns=new_cols)

In [357]:
inversion_01.head(7)

,Fecha,Institucion,Tipo,Subtipo,Valor,Tipo de Moneda
5,2008-01-31,Banco Bice,Inversión,Total inversion moneda nacional,436033.276665,Saldos en millones de pesos
6,2008-01-31,Banco BTG Pactual Chile (9),Inversión,Total inversion moneda nacional,ND,Saldos en millones de pesos
7,2008-01-31,Banco Consorcio (1),Inversión,Total inversion moneda nacional,36917.250048,Saldos en millones de pesos
8,2008-01-31,Banco de Chile (2),Inversión,Total inversion moneda nacional,826278.725894,Saldos en millones de pesos
9,2008-01-31,Banco de Crédito e Inversiones,Inversión,Total inversion moneda nacional,732597.632347,Saldos en millones de pesos
10,2008-01-31,Banco de la Nación Argentina (18),Inversión,Total inversion moneda nacional,3077.726955,Saldos en millones de pesos
11,2008-01-31,Banco del Estado de Chile,Inversión,Total inversion moneda nacional,3527698.443268,Saldos en millones de pesos

## Inversión 02

In [358]:
inversion_02.head(5)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,Unnamed: 161,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166
0,Índice general,Cuadro 3.02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Notas generales,Documentos del Banco Central de Chile,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Saldos en millones de pesos,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,2008-01-31 00:00:00,2008-02-29 00:00:00,2008-03-31 00:00:00,2008-04-30 00:00:00,2008-05-31 00:00:00,2008-06-30 00:00:00,2008-07-31 00:00:00,2008-08-31 00:00:00,...,2020-12-31 00:00:00,2021-01-31 00:00:00,2021-02-28 00:00:00,2021-03-31 00:00:00,2021-04-30 00:00:00,2021-05-31 00:00:00,2021-06-30 00:00:00,2021-07-31 00:00:00,2021-08-31 00:00:00,2021-09-30 00:00:00

In [359]:
inversion_02.pop("Unnamed: 0")

0      Índice general
1     Notas generales
2                 NaN
3                 NaN
4                 NaN
5                 NaN
6                 NaN
7                 NaN
8                 NaN
9                 NaN
10                NaN
11                NaN
12                NaN
13                NaN
14                NaN
15                NaN
16                NaN
17                NaN
18                NaN
19                NaN
20                NaN
21                NaN
22                NaN
23                NaN
24                NaN
25                NaN
26                NaN
27                NaN
28                NaN
29                NaN
30                NaN
31                NaN
32                NaN
33                NaN
34                NaN
Name: Unnamed: 0, dtype: object

In [360]:
inversion_02 = inversion_02.iloc[5:]

In [361]:
inversion_02.tail(7)

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,Unnamed: 161,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166
28,Scotiabank Chile (3) (17),303758.460998,298877.253297,319779.176545,313954.245336,279639.67701,304174.317363,245496.139355,354463.376695,240541.383116,...,760333.719916,1084169.073558,816855.651767,1197006.667168,1240219.648784,1102672.579424,1116256.934706,1016897.645948,440123.795708,882234.996526
29,The Bank of Tokyo - Mitsubishi Ufj. Ltd. (19),5453.081272,4964.377017,4959.982598,3969.86299,4963.601083,4952.366686,3977.075944,9466.804412,10960.026855,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
30,Bank of China (16),ND,ND,ND,ND,ND,ND,ND,ND,ND,...,0,0,0,0,0,0,0,0,0,0
31,Total,4558005.330338,4503964.699789,4351965.373526,4326807.998141,4508492.396557,4636204.366174,4609771.35463,4409027.883314,4519336.37128,...,11601679.953514,14228700.320945,12580259.872046,12057297.20038,14985763.44072,20683804.18178,20180540.463962,27595758.067908,19568512.543674,23996419.712238
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,ND : No existe dato,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [362]:
inversion_02.drop(inversion_02.tail(4).index,inplace=True)

<ipython-input-362-ea5a7428f042>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  inversion_02.drop(inversion_02.tail(4).index,inplace=True)

In [363]:
inversion_02.head(3)

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,Unnamed: 161,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166
5,Banco Bice,254082.527019,272194.905169,145681.548055,144399.55842,135855.385419,146097.429082,138735.928324,130264.057823,110801.301344,...,734999.589394,740021.300386,784964.75188,777953.896164,914919.492988,440957.931427,305965.908863,443925.374999,1983.798975,1979.903975
6,Banco BTG Pactual Chile (9),ND,ND,ND,ND,ND,ND,ND,ND,ND,...,189862.384295,113712.228515,76257.104201,144265.922292,143253.649592,160614.169683,188019.609202,140564.321664,90601.544061,80556.046783
7,Banco Consorcio (1),35801.933737,19842.298851,26732.51547,40397.149374,37854.27307,35062.570896,33234.025126,32284.784778,31774.828551,...,5058.492155,306183.579492,8876.56409,52409.837902,54516.317728,32009.089383,24298.017286,24303.319412,34292.078445,64204.219832

In [364]:
inversion_02 = inversion_02.melt(id_vars=['Unnamed: 1'], value_vars=['Unnamed: 2','Unnamed: 3','Unnamed: 4','Unnamed: 5','Unnamed: 6','Unnamed: 7','Unnamed: 8','Unnamed: 9','Unnamed: 10','Unnamed: 11',
                                                   'Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19','Unnamed: 20','Unnamed: 21',
                                                   'Unnamed: 22','Unnamed: 23','Unnamed: 24','Unnamed: 25','Unnamed: 26','Unnamed: 27','Unnamed: 28','Unnamed: 29','Unnamed: 30','Unnamed: 31',
                                                   'Unnamed: 32','Unnamed: 33','Unnamed: 34','Unnamed: 35','Unnamed: 36','Unnamed: 37','Unnamed: 38','Unnamed: 39','Unnamed: 40','Unnamed: 41',
                                                   'Unnamed: 42','Unnamed: 43','Unnamed: 44','Unnamed: 45','Unnamed: 46','Unnamed: 47','Unnamed: 48','Unnamed: 49','Unnamed: 50','Unnamed: 51',
                                                   'Unnamed: 52','Unnamed: 53','Unnamed: 54','Unnamed: 55','Unnamed: 56','Unnamed: 57','Unnamed: 58','Unnamed: 59','Unnamed: 60','Unnamed: 61',
                                                   'Unnamed: 62','Unnamed: 63','Unnamed: 64','Unnamed: 65','Unnamed: 66','Unnamed: 67','Unnamed: 68','Unnamed: 69','Unnamed: 70','Unnamed: 71',
                                                   'Unnamed: 72','Unnamed: 73','Unnamed: 74','Unnamed: 75','Unnamed: 76','Unnamed: 77','Unnamed: 78','Unnamed: 79','Unnamed: 80','Unnamed: 81',
                                                   'Unnamed: 82','Unnamed: 83','Unnamed: 84','Unnamed: 85','Unnamed: 86','Unnamed: 87','Unnamed: 88','Unnamed: 89','Unnamed: 90','Unnamed: 91',
                                                   'Unnamed: 92','Unnamed: 93','Unnamed: 94','Unnamed: 95','Unnamed: 96','Unnamed: 97','Unnamed: 98','Unnamed: 99','Unnamed: 100','Unnamed: 101',
                                                   'Unnamed: 102','Unnamed: 103','Unnamed: 104','Unnamed: 105','Unnamed: 106','Unnamed: 107','Unnamed: 108','Unnamed: 109','Unnamed: 110','Unnamed: 111',
                                                   'Unnamed: 112','Unnamed: 113','Unnamed: 114','Unnamed: 115','Unnamed: 116','Unnamed: 117','Unnamed: 118','Unnamed: 119','Unnamed: 120','Unnamed: 121',
                                                   'Unnamed: 122','Unnamed: 123','Unnamed: 124','Unnamed: 125','Unnamed: 126','Unnamed: 127','Unnamed: 128','Unnamed: 129','Unnamed: 130','Unnamed: 131',
                                                   'Unnamed: 132','Unnamed: 133','Unnamed: 134','Unnamed: 135','Unnamed: 136','Unnamed: 137','Unnamed: 138','Unnamed: 139','Unnamed: 140','Unnamed: 141',
                                                   'Unnamed: 142','Unnamed: 143','Unnamed: 144','Unnamed: 145','Unnamed: 146','Unnamed: 147','Unnamed: 148','Unnamed: 149','Unnamed: 150','Unnamed: 151',
                                                   'Unnamed: 152','Unnamed: 153','Unnamed: 154','Unnamed: 155','Unnamed: 156','Unnamed: 157','Unnamed: 158','Unnamed: 159','Unnamed: 160','Unnamed: 161',
                                                   'Unnamed: 162','Unnamed: 163','Unnamed: 164','Unnamed: 165','Unnamed: 166'],
               var_name='myVarname',
               value_name='Valor',
               ignore_index=False
               )

In [365]:
# create a list of our conditions
conditions_2 = [(inversion_02['myVarname'] == 'Unnamed: 2'),(inversion_02['myVarname'] == 'Unnamed: 3'),(inversion_02['myVarname'] == 'Unnamed: 4'),(inversion_02['myVarname'] == 'Unnamed: 5'),(inversion_02['myVarname'] == 'Unnamed: 6'),
 (inversion_02['myVarname'] == 'Unnamed: 7'),(inversion_02['myVarname'] == 'Unnamed: 8'),(inversion_02['myVarname'] == 'Unnamed: 9'),(inversion_02['myVarname'] == 'Unnamed: 10'),(inversion_02['myVarname'] == 'Unnamed: 11'),
  (inversion_02['myVarname'] == 'Unnamed: 12'),(inversion_02['myVarname'] == 'Unnamed: 13'),(inversion_02['myVarname'] == 'Unnamed: 14'),(inversion_02['myVarname'] == 'Unnamed: 15'),(inversion_02['myVarname'] == 'Unnamed: 16'),
   (inversion_02['myVarname'] == 'Unnamed: 17'),(inversion_02['myVarname'] == 'Unnamed: 18'),(inversion_02['myVarname'] == 'Unnamed: 19'),(inversion_02['myVarname'] == 'Unnamed: 20'),(inversion_02['myVarname'] == 'Unnamed: 21'),
    (inversion_02['myVarname'] == 'Unnamed: 22'),(inversion_02['myVarname'] == 'Unnamed: 23'),(inversion_02['myVarname'] == 'Unnamed: 24'),(inversion_02['myVarname'] == 'Unnamed: 25'),(inversion_02['myVarname'] == 'Unnamed: 26'),
     (inversion_02['myVarname'] == 'Unnamed: 27'),(inversion_02['myVarname'] == 'Unnamed: 28'),(inversion_02['myVarname'] == 'Unnamed: 29'),(inversion_02['myVarname'] == 'Unnamed: 30'),(inversion_02['myVarname'] == 'Unnamed: 31'),
      (inversion_02['myVarname'] == 'Unnamed: 32'),(inversion_02['myVarname'] == 'Unnamed: 33'),(inversion_02['myVarname'] == 'Unnamed: 34'),(inversion_02['myVarname'] == 'Unnamed: 35'),(inversion_02['myVarname'] == 'Unnamed: 36'),
       (inversion_02['myVarname'] == 'Unnamed: 37'),(inversion_02['myVarname'] == 'Unnamed: 38'),(inversion_02['myVarname'] == 'Unnamed: 39'),(inversion_02['myVarname'] == 'Unnamed: 40'),(inversion_02['myVarname'] == 'Unnamed: 41'),
        (inversion_02['myVarname'] == 'Unnamed: 42'),(inversion_02['myVarname'] == 'Unnamed: 43'),(inversion_02['myVarname'] == 'Unnamed: 44'),(inversion_02['myVarname'] == 'Unnamed: 45'),(inversion_02['myVarname'] == 'Unnamed: 46'),
         (inversion_02['myVarname'] == 'Unnamed: 47'),(inversion_02['myVarname'] == 'Unnamed: 48'),(inversion_02['myVarname'] == 'Unnamed: 49'),(inversion_02['myVarname'] == 'Unnamed: 50'),(inversion_02['myVarname'] == 'Unnamed: 51'),
          (inversion_02['myVarname'] == 'Unnamed: 52'),(inversion_02['myVarname'] == 'Unnamed: 53'),(inversion_02['myVarname'] == 'Unnamed: 54'),(inversion_02['myVarname'] == 'Unnamed: 55'),(inversion_02['myVarname'] == 'Unnamed: 56'),
           (inversion_02['myVarname'] == 'Unnamed: 57'),(inversion_02['myVarname'] == 'Unnamed: 58'),(inversion_02['myVarname'] == 'Unnamed: 59'),(inversion_02['myVarname'] == 'Unnamed: 60'),(inversion_02['myVarname'] == 'Unnamed: 61'),
            (inversion_02['myVarname'] == 'Unnamed: 62'),(inversion_02['myVarname'] == 'Unnamed: 63'),(inversion_02['myVarname'] == 'Unnamed: 64'),(inversion_02['myVarname'] == 'Unnamed: 65'),(inversion_02['myVarname'] == 'Unnamed: 66'),
             (inversion_02['myVarname'] == 'Unnamed: 67'),(inversion_02['myVarname'] == 'Unnamed: 68'),(inversion_02['myVarname'] == 'Unnamed: 69'),(inversion_02['myVarname'] == 'Unnamed: 70'),(inversion_02['myVarname'] == 'Unnamed: 71'),
              (inversion_02['myVarname'] == 'Unnamed: 72'),(inversion_02['myVarname'] == 'Unnamed: 73'),(inversion_02['myVarname'] == 'Unnamed: 74'),(inversion_02['myVarname'] == 'Unnamed: 75'),(inversion_02['myVarname'] == 'Unnamed: 76'),
               (inversion_02['myVarname'] == 'Unnamed: 77'),(inversion_02['myVarname'] == 'Unnamed: 78'),(inversion_02['myVarname'] == 'Unnamed: 79'),(inversion_02['myVarname'] == 'Unnamed: 80'),(inversion_02['myVarname'] == 'Unnamed: 81'),
                (inversion_02['myVarname'] == 'Unnamed: 82'),(inversion_02['myVarname'] == 'Unnamed: 83'),(inversion_02['myVarname'] == 'Unnamed: 84'),(inversion_02['myVarname'] == 'Unnamed: 85'),(inversion_02['myVarname'] == 'Unnamed: 86'),
                 (inversion_02['myVarname'] == 'Unnamed: 87'),(inversion_02['myVarname'] == 'Unnamed: 88'),(inversion_02['myVarname'] == 'Unnamed: 89'),(inversion_02['myVarname'] == 'Unnamed: 90'),(inversion_02['myVarname'] == 'Unnamed: 91'),
                  (inversion_02['myVarname'] == 'Unnamed: 92'),(inversion_02['myVarname'] == 'Unnamed: 93'),(inversion_02['myVarname'] == 'Unnamed: 94'),(inversion_02['myVarname'] == 'Unnamed: 95'),(inversion_02['myVarname'] == 'Unnamed: 96'),
                   (inversion_02['myVarname'] == 'Unnamed: 97'),(inversion_02['myVarname'] == 'Unnamed: 98'),(inversion_02['myVarname'] == 'Unnamed: 99'),(inversion_02['myVarname'] == 'Unnamed: 100'),(inversion_02['myVarname'] == 'Unnamed: 101'),
                    (inversion_02['myVarname'] == 'Unnamed: 102'),(inversion_02['myVarname'] == 'Unnamed: 103'),(inversion_02['myVarname'] == 'Unnamed: 104'),(inversion_02['myVarname'] == 'Unnamed: 105'),(inversion_02['myVarname'] == 'Unnamed: 106'),
                     (inversion_02['myVarname'] == 'Unnamed: 107'),(inversion_02['myVarname'] == 'Unnamed: 108'),(inversion_02['myVarname'] == 'Unnamed: 109'),(inversion_02['myVarname'] == 'Unnamed: 110'),(inversion_02['myVarname'] == 'Unnamed: 111'),
                      (inversion_02['myVarname'] == 'Unnamed: 112'),(inversion_02['myVarname'] == 'Unnamed: 113'),(inversion_02['myVarname'] == 'Unnamed: 114'),(inversion_02['myVarname'] == 'Unnamed: 115'),(inversion_02['myVarname'] == 'Unnamed: 116'),
                       (inversion_02['myVarname'] == 'Unnamed: 117'),(inversion_02['myVarname'] == 'Unnamed: 118'),(inversion_02['myVarname'] == 'Unnamed: 119'),(inversion_02['myVarname'] == 'Unnamed: 120'),(inversion_02['myVarname'] == 'Unnamed: 121'),
                        (inversion_02['myVarname'] == 'Unnamed: 122'),(inversion_02['myVarname'] == 'Unnamed: 123'),(inversion_02['myVarname'] == 'Unnamed: 124'),(inversion_02['myVarname'] == 'Unnamed: 125'),(inversion_02['myVarname'] == 'Unnamed: 126'),
                         (inversion_02['myVarname'] == 'Unnamed: 127'),(inversion_02['myVarname'] == 'Unnamed: 128'),(inversion_02['myVarname'] == 'Unnamed: 129'),(inversion_02['myVarname'] == 'Unnamed: 130'),(inversion_02['myVarname'] == 'Unnamed: 131'),
                          (inversion_02['myVarname'] == 'Unnamed: 132'),(inversion_02['myVarname'] == 'Unnamed: 133'),(inversion_02['myVarname'] == 'Unnamed: 134'),(inversion_02['myVarname'] == 'Unnamed: 135'),(inversion_02['myVarname'] == 'Unnamed: 136'),
                           (inversion_02['myVarname'] == 'Unnamed: 137'),(inversion_02['myVarname'] == 'Unnamed: 138'),(inversion_02['myVarname'] == 'Unnamed: 139'),(inversion_02['myVarname'] == 'Unnamed: 140'),(inversion_02['myVarname'] == 'Unnamed: 141'),
                            (inversion_02['myVarname'] == 'Unnamed: 142'),(inversion_02['myVarname'] == 'Unnamed: 143'),(inversion_02['myVarname'] == 'Unnamed: 144'),(inversion_02['myVarname'] == 'Unnamed: 145'),(inversion_02['myVarname'] == 'Unnamed: 146'),
                             (inversion_02['myVarname'] == 'Unnamed: 147'),(inversion_02['myVarname'] == 'Unnamed: 148'),(inversion_02['myVarname'] == 'Unnamed: 149'),(inversion_02['myVarname'] == 'Unnamed: 150'),(inversion_02['myVarname'] == 'Unnamed: 151'),
                              (inversion_02['myVarname'] == 'Unnamed: 152'),(inversion_02['myVarname'] == 'Unnamed: 153'),(inversion_02['myVarname'] == 'Unnamed: 154'),(inversion_02['myVarname'] == 'Unnamed: 155'),(inversion_02['myVarname'] == 'Unnamed: 156'),
                               (inversion_02['myVarname'] == 'Unnamed: 157'),(inversion_02['myVarname'] == 'Unnamed: 158'),(inversion_02['myVarname'] == 'Unnamed: 159'),(inversion_02['myVarname'] == 'Unnamed: 160'),(inversion_02['myVarname'] == 'Unnamed: 161'),
                                (inversion_02['myVarname'] == 'Unnamed: 162'),(inversion_02['myVarname'] == 'Unnamed: 163'),(inversion_02['myVarname'] == 'Unnamed: 164'),(inversion_02['myVarname'] == 'Unnamed: 165'),(inversion_02['myVarname'] == 'Unnamed: 166')
                                ]

In [366]:
inversion_02['Fecha'] = np.select(conditions_2, values)

In [367]:
inversion_02.pop("myVarname")

5       Unnamed: 2
6       Unnamed: 2
7       Unnamed: 2
8       Unnamed: 2
9       Unnamed: 2
          ...
26    Unnamed: 166
27    Unnamed: 166
28    Unnamed: 166
29    Unnamed: 166
30    Unnamed: 166
Name: myVarname, Length: 4290, dtype: object

In [368]:
inversion_02.rename(columns={"Unnamed: 1": "Institucion"}, inplace=True)

In [369]:
inversion_02['Tipo'] = "Inversión"
inversion_02['Subtipo'] = "Documentos del Banco Central de Chile"
inversion_02['Tipo de Moneda'] = "Saldos en millones de pesos"

In [370]:
new_cols = ["Fecha","Institucion","Tipo","Subtipo","Valor","Tipo de Moneda"]
inversion_02 = inversion_02.reindex(columns=new_cols)

In [371]:
inversion_02.head(7)

,Fecha,Institucion,Tipo,Subtipo,Valor,Tipo de Moneda
5,2008-01-31,Banco Bice,Inversión,Documentos del Banco Central de Chile,254082.527019,Saldos en millones de pesos
6,2008-01-31,Banco BTG Pactual Chile (9),Inversión,Documentos del Banco Central de Chile,ND,Saldos en millones de pesos
7,2008-01-31,Banco Consorcio (1),Inversión,Documentos del Banco Central de Chile,35801.933737,Saldos en millones de pesos
8,2008-01-31,Banco de Chile (2),Inversión,Documentos del Banco Central de Chile,455717.858213,Saldos en millones de pesos
9,2008-01-31,Banco de Crédito e Inversiones,Inversión,Documentos del Banco Central de Chile,366371.739054,Saldos en millones de pesos
10,2008-01-31,Banco de la Nación Argentina (18),Inversión,Documentos del Banco Central de Chile,0,Saldos en millones de pesos
11,2008-01-31,Banco del Estado de Chile,Inversión,Documentos del Banco Central de Chile,1315881.755696,Saldos en millones de pesos

## Inversión 03

In [372]:
inversion_03.head(5)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,Unnamed: 161,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166
0,Índice general,Cuadro 3.03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Notas generales,Documentos de la Tesorería General de la Repúb...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Saldos en millones de pesos,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,2008-01-31 00:00:00,2008-02-29 00:00:00,2008-03-31 00:00:00,2008-04-30 00:00:00,2008-05-31 00:00:00,2008-06-30 00:00:00,2008-07-31 00:00:00,2008-08-31 00:00:00,...,2020-12-31 00:00:00,2021-01-31 00:00:00,2021-02-28 00:00:00,2021-03-31 00:00:00,2021-04-30 00:00:00,2021-05-31 00:00:00,2021-06-30 00:00:00,2021-07-31 00:00:00,2021-08-31 00:00:00,2021-09-30 00:00:00

In [373]:
inversion_03.pop("Unnamed: 0")

0      Índice general
1     Notas generales
2                 NaN
3                 NaN
4                 NaN
5                 NaN
6                 NaN
7                 NaN
8                 NaN
9                 NaN
10                NaN
11                NaN
12                NaN
13                NaN
14                NaN
15                NaN
16                NaN
17                NaN
18                NaN
19                NaN
20                NaN
21                NaN
22                NaN
23                NaN
24                NaN
25                NaN
26                NaN
27                NaN
28                NaN
29                NaN
30                NaN
31                NaN
32                NaN
33                NaN
34                NaN
Name: Unnamed: 0, dtype: object

In [374]:
inversion_03 = inversion_03.iloc[5:]

In [375]:
inversion_03.tail(7)

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,Unnamed: 161,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166
28,Scotiabank Chile (3) (17),4118.718476,6567.310353,3454.137099,15569.155483,14518.464872,16896.882178,16206.969231,24042.441372,17131.79984,...,1520367.346487,1431683.454066,1438049.663168,1465603.750664,1458006.096509,1498471.839921,1407844.643727,1533870.806446,1422646.55498,1302877.251654
29,The Bank of Tokyo - Mitsubishi Ufj. Ltd. (19),0,0,0,0,0,0,0,0,0,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
30,Bank of China (16),ND,ND,ND,ND,ND,ND,ND,ND,ND,...,0,0,0,0,0,0,0,0,0,0
31,Total,420611.249697,551734.918714,537352.261839,443509.651134,437144.421214,446268.8278,526666.681736,498705.731601,556672.142823,...,15443706.776366,15455020.071883,15327503.656995,15032809.265511,14979376.684942,16188478.042277,16683488.947516,17334762.127839,17191794.480369,16915560.836825
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,ND : No existe dato,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [376]:
inversion_03.drop(inversion_03.tail(4).index,inplace=True)

<ipython-input-376-b279aa588676>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  inversion_03.drop(inversion_03.tail(4).index,inplace=True)

In [377]:
inversion_03.head(3)

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,Unnamed: 161,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166
5,Banco Bice,36472.743341,37295.222063,39404.610892,39181.607209,39865.939029,41583.016194,41528.103923,42836.906061,39412.708257,...,365401.681327,358625.730101,329282.555653,374722.664832,347492.951869,341126.967155,320329.712504,308501.422238,337086.065365,589987.936129
6,Banco BTG Pactual Chile (9),ND,ND,ND,ND,ND,ND,ND,ND,ND,...,68584.004273,23687.801233,56090.600533,82342.26784,16610.067007,29494.348953,62038.105458,36670.701057,37199.784548,47096.865637
7,Banco Consorcio (1),1115.316311,577.814469,2274.53609,1882.661667,1846.245566,1837.633395,1398.535394,1403.23528,1459.074322,...,638078.508995,651940.173585,679948.683439,757611.951534,788700.753286,835364.332325,843893.156384,817525.748665,811756.243181,813875.601253

In [378]:
inversion_03 = inversion_03.melt(id_vars=['Unnamed: 1'], value_vars=['Unnamed: 2','Unnamed: 3','Unnamed: 4','Unnamed: 5','Unnamed: 6','Unnamed: 7','Unnamed: 8','Unnamed: 9','Unnamed: 10','Unnamed: 11',
                                                   'Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19','Unnamed: 20','Unnamed: 21',
                                                   'Unnamed: 22','Unnamed: 23','Unnamed: 24','Unnamed: 25','Unnamed: 26','Unnamed: 27','Unnamed: 28','Unnamed: 29','Unnamed: 30','Unnamed: 31',
                                                   'Unnamed: 32','Unnamed: 33','Unnamed: 34','Unnamed: 35','Unnamed: 36','Unnamed: 37','Unnamed: 38','Unnamed: 39','Unnamed: 40','Unnamed: 41',
                                                   'Unnamed: 42','Unnamed: 43','Unnamed: 44','Unnamed: 45','Unnamed: 46','Unnamed: 47','Unnamed: 48','Unnamed: 49','Unnamed: 50','Unnamed: 51',
                                                   'Unnamed: 52','Unnamed: 53','Unnamed: 54','Unnamed: 55','Unnamed: 56','Unnamed: 57','Unnamed: 58','Unnamed: 59','Unnamed: 60','Unnamed: 61',
                                                   'Unnamed: 62','Unnamed: 63','Unnamed: 64','Unnamed: 65','Unnamed: 66','Unnamed: 67','Unnamed: 68','Unnamed: 69','Unnamed: 70','Unnamed: 71',
                                                   'Unnamed: 72','Unnamed: 73','Unnamed: 74','Unnamed: 75','Unnamed: 76','Unnamed: 77','Unnamed: 78','Unnamed: 79','Unnamed: 80','Unnamed: 81',
                                                   'Unnamed: 82','Unnamed: 83','Unnamed: 84','Unnamed: 85','Unnamed: 86','Unnamed: 87','Unnamed: 88','Unnamed: 89','Unnamed: 90','Unnamed: 91',
                                                   'Unnamed: 92','Unnamed: 93','Unnamed: 94','Unnamed: 95','Unnamed: 96','Unnamed: 97','Unnamed: 98','Unnamed: 99','Unnamed: 100','Unnamed: 101',
                                                   'Unnamed: 102','Unnamed: 103','Unnamed: 104','Unnamed: 105','Unnamed: 106','Unnamed: 107','Unnamed: 108','Unnamed: 109','Unnamed: 110','Unnamed: 111',
                                                   'Unnamed: 112','Unnamed: 113','Unnamed: 114','Unnamed: 115','Unnamed: 116','Unnamed: 117','Unnamed: 118','Unnamed: 119','Unnamed: 120','Unnamed: 121',
                                                   'Unnamed: 122','Unnamed: 123','Unnamed: 124','Unnamed: 125','Unnamed: 126','Unnamed: 127','Unnamed: 128','Unnamed: 129','Unnamed: 130','Unnamed: 131',
                                                   'Unnamed: 132','Unnamed: 133','Unnamed: 134','Unnamed: 135','Unnamed: 136','Unnamed: 137','Unnamed: 138','Unnamed: 139','Unnamed: 140','Unnamed: 141',
                                                   'Unnamed: 142','Unnamed: 143','Unnamed: 144','Unnamed: 145','Unnamed: 146','Unnamed: 147','Unnamed: 148','Unnamed: 149','Unnamed: 150','Unnamed: 151',
                                                   'Unnamed: 152','Unnamed: 153','Unnamed: 154','Unnamed: 155','Unnamed: 156','Unnamed: 157','Unnamed: 158','Unnamed: 159','Unnamed: 160','Unnamed: 161',
                                                   'Unnamed: 162','Unnamed: 163','Unnamed: 164','Unnamed: 165','Unnamed: 166'],
               var_name='myVarname',
               value_name='Valor',
               ignore_index=False
               )

In [379]:
# create a list of our conditions
conditions_3 = [(inversion_03['myVarname'] == 'Unnamed: 2'),(inversion_03['myVarname'] == 'Unnamed: 3'),(inversion_03['myVarname'] == 'Unnamed: 4'),(inversion_03['myVarname'] == 'Unnamed: 5'),(inversion_03['myVarname'] == 'Unnamed: 6'),
 (inversion_03['myVarname'] == 'Unnamed: 7'),(inversion_03['myVarname'] == 'Unnamed: 8'),(inversion_03['myVarname'] == 'Unnamed: 9'),(inversion_03['myVarname'] == 'Unnamed: 10'),(inversion_03['myVarname'] == 'Unnamed: 11'),
  (inversion_03['myVarname'] == 'Unnamed: 12'),(inversion_03['myVarname'] == 'Unnamed: 13'),(inversion_03['myVarname'] == 'Unnamed: 14'),(inversion_03['myVarname'] == 'Unnamed: 15'),(inversion_03['myVarname'] == 'Unnamed: 16'),
   (inversion_03['myVarname'] == 'Unnamed: 17'),(inversion_03['myVarname'] == 'Unnamed: 18'),(inversion_03['myVarname'] == 'Unnamed: 19'),(inversion_03['myVarname'] == 'Unnamed: 20'),(inversion_03['myVarname'] == 'Unnamed: 21'),
    (inversion_03['myVarname'] == 'Unnamed: 22'),(inversion_03['myVarname'] == 'Unnamed: 23'),(inversion_03['myVarname'] == 'Unnamed: 24'),(inversion_03['myVarname'] == 'Unnamed: 25'),(inversion_03['myVarname'] == 'Unnamed: 26'),
     (inversion_03['myVarname'] == 'Unnamed: 27'),(inversion_03['myVarname'] == 'Unnamed: 28'),(inversion_03['myVarname'] == 'Unnamed: 29'),(inversion_03['myVarname'] == 'Unnamed: 30'),(inversion_03['myVarname'] == 'Unnamed: 31'),
      (inversion_03['myVarname'] == 'Unnamed: 32'),(inversion_03['myVarname'] == 'Unnamed: 33'),(inversion_03['myVarname'] == 'Unnamed: 34'),(inversion_03['myVarname'] == 'Unnamed: 35'),(inversion_03['myVarname'] == 'Unnamed: 36'),
       (inversion_03['myVarname'] == 'Unnamed: 37'),(inversion_03['myVarname'] == 'Unnamed: 38'),(inversion_03['myVarname'] == 'Unnamed: 39'),(inversion_03['myVarname'] == 'Unnamed: 40'),(inversion_03['myVarname'] == 'Unnamed: 41'),
        (inversion_03['myVarname'] == 'Unnamed: 42'),(inversion_03['myVarname'] == 'Unnamed: 43'),(inversion_03['myVarname'] == 'Unnamed: 44'),(inversion_03['myVarname'] == 'Unnamed: 45'),(inversion_03['myVarname'] == 'Unnamed: 46'),
         (inversion_03['myVarname'] == 'Unnamed: 47'),(inversion_03['myVarname'] == 'Unnamed: 48'),(inversion_03['myVarname'] == 'Unnamed: 49'),(inversion_03['myVarname'] == 'Unnamed: 50'),(inversion_03['myVarname'] == 'Unnamed: 51'),
          (inversion_03['myVarname'] == 'Unnamed: 52'),(inversion_03['myVarname'] == 'Unnamed: 53'),(inversion_03['myVarname'] == 'Unnamed: 54'),(inversion_03['myVarname'] == 'Unnamed: 55'),(inversion_03['myVarname'] == 'Unnamed: 56'),
           (inversion_03['myVarname'] == 'Unnamed: 57'),(inversion_03['myVarname'] == 'Unnamed: 58'),(inversion_03['myVarname'] == 'Unnamed: 59'),(inversion_03['myVarname'] == 'Unnamed: 60'),(inversion_03['myVarname'] == 'Unnamed: 61'),
            (inversion_03['myVarname'] == 'Unnamed: 62'),(inversion_03['myVarname'] == 'Unnamed: 63'),(inversion_03['myVarname'] == 'Unnamed: 64'),(inversion_03['myVarname'] == 'Unnamed: 65'),(inversion_03['myVarname'] == 'Unnamed: 66'),
             (inversion_03['myVarname'] == 'Unnamed: 67'),(inversion_03['myVarname'] == 'Unnamed: 68'),(inversion_03['myVarname'] == 'Unnamed: 69'),(inversion_03['myVarname'] == 'Unnamed: 70'),(inversion_03['myVarname'] == 'Unnamed: 71'),
              (inversion_03['myVarname'] == 'Unnamed: 72'),(inversion_03['myVarname'] == 'Unnamed: 73'),(inversion_03['myVarname'] == 'Unnamed: 74'),(inversion_03['myVarname'] == 'Unnamed: 75'),(inversion_03['myVarname'] == 'Unnamed: 76'),
               (inversion_03['myVarname'] == 'Unnamed: 77'),(inversion_03['myVarname'] == 'Unnamed: 78'),(inversion_03['myVarname'] == 'Unnamed: 79'),(inversion_03['myVarname'] == 'Unnamed: 80'),(inversion_03['myVarname'] == 'Unnamed: 81'),
                (inversion_03['myVarname'] == 'Unnamed: 82'),(inversion_03['myVarname'] == 'Unnamed: 83'),(inversion_03['myVarname'] == 'Unnamed: 84'),(inversion_03['myVarname'] == 'Unnamed: 85'),(inversion_03['myVarname'] == 'Unnamed: 86'),
                 (inversion_03['myVarname'] == 'Unnamed: 87'),(inversion_03['myVarname'] == 'Unnamed: 88'),(inversion_03['myVarname'] == 'Unnamed: 89'),(inversion_03['myVarname'] == 'Unnamed: 90'),(inversion_03['myVarname'] == 'Unnamed: 91'),
                  (inversion_03['myVarname'] == 'Unnamed: 92'),(inversion_03['myVarname'] == 'Unnamed: 93'),(inversion_03['myVarname'] == 'Unnamed: 94'),(inversion_03['myVarname'] == 'Unnamed: 95'),(inversion_03['myVarname'] == 'Unnamed: 96'),
                   (inversion_03['myVarname'] == 'Unnamed: 97'),(inversion_03['myVarname'] == 'Unnamed: 98'),(inversion_03['myVarname'] == 'Unnamed: 99'),(inversion_03['myVarname'] == 'Unnamed: 100'),(inversion_03['myVarname'] == 'Unnamed: 101'),
                    (inversion_03['myVarname'] == 'Unnamed: 102'),(inversion_03['myVarname'] == 'Unnamed: 103'),(inversion_03['myVarname'] == 'Unnamed: 104'),(inversion_03['myVarname'] == 'Unnamed: 105'),(inversion_03['myVarname'] == 'Unnamed: 106'),
                     (inversion_03['myVarname'] == 'Unnamed: 107'),(inversion_03['myVarname'] == 'Unnamed: 108'),(inversion_03['myVarname'] == 'Unnamed: 109'),(inversion_03['myVarname'] == 'Unnamed: 110'),(inversion_03['myVarname'] == 'Unnamed: 111'),
                      (inversion_03['myVarname'] == 'Unnamed: 112'),(inversion_03['myVarname'] == 'Unnamed: 113'),(inversion_03['myVarname'] == 'Unnamed: 114'),(inversion_03['myVarname'] == 'Unnamed: 115'),(inversion_03['myVarname'] == 'Unnamed: 116'),
                       (inversion_03['myVarname'] == 'Unnamed: 117'),(inversion_03['myVarname'] == 'Unnamed: 118'),(inversion_03['myVarname'] == 'Unnamed: 119'),(inversion_03['myVarname'] == 'Unnamed: 120'),(inversion_03['myVarname'] == 'Unnamed: 121'),
                        (inversion_03['myVarname'] == 'Unnamed: 122'),(inversion_03['myVarname'] == 'Unnamed: 123'),(inversion_03['myVarname'] == 'Unnamed: 124'),(inversion_03['myVarname'] == 'Unnamed: 125'),(inversion_03['myVarname'] == 'Unnamed: 126'),
                         (inversion_03['myVarname'] == 'Unnamed: 127'),(inversion_03['myVarname'] == 'Unnamed: 128'),(inversion_03['myVarname'] == 'Unnamed: 129'),(inversion_03['myVarname'] == 'Unnamed: 130'),(inversion_03['myVarname'] == 'Unnamed: 131'),
                          (inversion_03['myVarname'] == 'Unnamed: 132'),(inversion_03['myVarname'] == 'Unnamed: 133'),(inversion_03['myVarname'] == 'Unnamed: 134'),(inversion_03['myVarname'] == 'Unnamed: 135'),(inversion_03['myVarname'] == 'Unnamed: 136'),
                           (inversion_03['myVarname'] == 'Unnamed: 137'),(inversion_03['myVarname'] == 'Unnamed: 138'),(inversion_03['myVarname'] == 'Unnamed: 139'),(inversion_03['myVarname'] == 'Unnamed: 140'),(inversion_03['myVarname'] == 'Unnamed: 141'),
                            (inversion_03['myVarname'] == 'Unnamed: 142'),(inversion_03['myVarname'] == 'Unnamed: 143'),(inversion_03['myVarname'] == 'Unnamed: 144'),(inversion_03['myVarname'] == 'Unnamed: 145'),(inversion_03['myVarname'] == 'Unnamed: 146'),
                             (inversion_03['myVarname'] == 'Unnamed: 147'),(inversion_03['myVarname'] == 'Unnamed: 148'),(inversion_03['myVarname'] == 'Unnamed: 149'),(inversion_03['myVarname'] == 'Unnamed: 150'),(inversion_03['myVarname'] == 'Unnamed: 151'),
                              (inversion_03['myVarname'] == 'Unnamed: 152'),(inversion_03['myVarname'] == 'Unnamed: 153'),(inversion_03['myVarname'] == 'Unnamed: 154'),(inversion_03['myVarname'] == 'Unnamed: 155'),(inversion_03['myVarname'] == 'Unnamed: 156'),
                               (inversion_03['myVarname'] == 'Unnamed: 157'),(inversion_03['myVarname'] == 'Unnamed: 158'),(inversion_03['myVarname'] == 'Unnamed: 159'),(inversion_03['myVarname'] == 'Unnamed: 160'),(inversion_03['myVarname'] == 'Unnamed: 161'),
                                (inversion_03['myVarname'] == 'Unnamed: 162'),(inversion_03['myVarname'] == 'Unnamed: 163'),(inversion_03['myVarname'] == 'Unnamed: 164'),(inversion_03['myVarname'] == 'Unnamed: 165'),(inversion_03['myVarname'] == 'Unnamed: 166')
                                ]

In [380]:
inversion_03['Fecha'] = np.select(conditions_3, values)

In [381]:
inversion_03.pop("myVarname")

5       Unnamed: 2
6       Unnamed: 2
7       Unnamed: 2
8       Unnamed: 2
9       Unnamed: 2
          ...
26    Unnamed: 166
27    Unnamed: 166
28    Unnamed: 166
29    Unnamed: 166
30    Unnamed: 166
Name: myVarname, Length: 4290, dtype: object

In [382]:
inversion_03.rename(columns={"Unnamed: 1": "Institucion"}, inplace=True)

In [383]:
inversion_03['Tipo'] = "Inversión"
inversion_03['Subtipo'] = "Documentos de la Tesorería General de la República"
inversion_03['Tipo de Moneda'] = "Saldos en millones de pesos"

In [384]:
new_cols = ["Fecha","Institucion","Tipo","Subtipo","Valor","Tipo de Moneda"]
inversion_03 = inversion_03.reindex(columns=new_cols)

In [385]:
inversion_03.head(7)

,Fecha,Institucion,Tipo,Subtipo,Valor,Tipo de Moneda
5,2008-01-31,Banco Bice,Inversión,Documentos de la Tesorería General de la Repúb...,36472.743341,Saldos en millones de pesos
6,2008-01-31,Banco BTG Pactual Chile (9),Inversión,Documentos de la Tesorería General de la Repúb...,ND,Saldos en millones de pesos
7,2008-01-31,Banco Consorcio (1),Inversión,Documentos de la Tesorería General de la Repúb...,1115.316311,Saldos en millones de pesos
8,2008-01-31,Banco de Chile (2),Inversión,Documentos de la Tesorería General de la Repúb...,25574.73171,Saldos en millones de pesos
9,2008-01-31,Banco de Crédito e Inversiones,Inversión,Documentos de la Tesorería General de la Repúb...,7673.288211,Saldos en millones de pesos
10,2008-01-31,Banco de la Nación Argentina (18),Inversión,Documentos de la Tesorería General de la Repúb...,0,Saldos en millones de pesos
11,2008-01-31,Banco del Estado de Chile,Inversión,Documentos de la Tesorería General de la Repúb...,171996.292247,Saldos en millones de pesos

## Inversión 04

In [386]:
inversion_04.head(5)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,Unnamed: 161,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166
0,Índice general,Cuadro 3.04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Notas generales,Otros documentos emitidos por organismos fiscales,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Saldos en millones de pesos,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,2008-01-31 00:00:00,2008-02-29 00:00:00,2008-03-31 00:00:00,2008-04-30 00:00:00,2008-05-31 00:00:00,2008-06-30 00:00:00,2008-07-31 00:00:00,2008-08-31 00:00:00,...,2020-12-31 00:00:00,2021-01-31 00:00:00,2021-02-28 00:00:00,2021-03-31 00:00:00,2021-04-30 00:00:00,2021-05-31 00:00:00,2021-06-30 00:00:00,2021-07-31 00:00:00,2021-08-31 00:00:00,2021-09-30 00:00:00

In [387]:
inversion_04.pop("Unnamed: 0")

0      Índice general
1     Notas generales
2                 NaN
3                 NaN
4                 NaN
5                 NaN
6                 NaN
7                 NaN
8                 NaN
9                 NaN
10                NaN
11                NaN
12                NaN
13                NaN
14                NaN
15                NaN
16                NaN
17                NaN
18                NaN
19                NaN
20                NaN
21                NaN
22                NaN
23                NaN
24                NaN
25                NaN
26                NaN
27                NaN
28                NaN
29                NaN
30                NaN
31                NaN
32                NaN
33                NaN
34                NaN
Name: Unnamed: 0, dtype: object

In [388]:
inversion_04 = inversion_04.iloc[5:]

In [389]:
inversion_04.tail(7)

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,Unnamed: 161,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166
28,Scotiabank Chile (3) (17),0,0,766.919289,615.724512,592.337205,600.672206,570.455677,575.460634,570.817428,...,0,0,0,0,0,0,0,0,0,0
29,The Bank of Tokyo - Mitsubishi Ufj. Ltd. (19),0,0,0,0,0,0,0,0,0,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
30,Bank of China (16),ND,ND,ND,ND,ND,ND,ND,ND,ND,...,0,0,0,0,0,0,0,0,0,0
31,Total,73854.735321,69941.388009,70522.164442,72783.092113,75838.398395,73810.312262,71280.567883,70757.698702,68803.538731,...,19127.92076,18933.816074,18446.053974,17821.667182,17446.097635,17008.060292,16378.942978,15556.598958,15487.889731,14683.000064
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,ND : No existe dato,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [390]:
inversion_04.drop(inversion_04.tail(4).index,inplace=True)

<ipython-input-390-a00007025c00>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  inversion_04.drop(inversion_04.tail(4).index,inplace=True)

In [391]:
inversion_04.head(3)

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,Unnamed: 161,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166
5,Banco Bice,3027.489784,1991.776951,1776.576557,1472.674204,1025.76744,825.3062,237.858752,241.242852,0,...,0,0,0,0,0,0,0,0,0,0
6,Banco BTG Pactual Chile (9),ND,ND,ND,ND,ND,ND,ND,ND,ND,...,0,0,0,0,0,0,0,0,0,0
7,Banco Consorcio (1),0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [392]:
inversion_04 = inversion_04.melt(id_vars=['Unnamed: 1'], value_vars=['Unnamed: 2','Unnamed: 3','Unnamed: 4','Unnamed: 5','Unnamed: 6','Unnamed: 7','Unnamed: 8','Unnamed: 9','Unnamed: 10','Unnamed: 11',
                                                   'Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19','Unnamed: 20','Unnamed: 21',
                                                   'Unnamed: 22','Unnamed: 23','Unnamed: 24','Unnamed: 25','Unnamed: 26','Unnamed: 27','Unnamed: 28','Unnamed: 29','Unnamed: 30','Unnamed: 31',
                                                   'Unnamed: 32','Unnamed: 33','Unnamed: 34','Unnamed: 35','Unnamed: 36','Unnamed: 37','Unnamed: 38','Unnamed: 39','Unnamed: 40','Unnamed: 41',
                                                   'Unnamed: 42','Unnamed: 43','Unnamed: 44','Unnamed: 45','Unnamed: 46','Unnamed: 47','Unnamed: 48','Unnamed: 49','Unnamed: 50','Unnamed: 51',
                                                   'Unnamed: 52','Unnamed: 53','Unnamed: 54','Unnamed: 55','Unnamed: 56','Unnamed: 57','Unnamed: 58','Unnamed: 59','Unnamed: 60','Unnamed: 61',
                                                   'Unnamed: 62','Unnamed: 63','Unnamed: 64','Unnamed: 65','Unnamed: 66','Unnamed: 67','Unnamed: 68','Unnamed: 69','Unnamed: 70','Unnamed: 71',
                                                   'Unnamed: 72','Unnamed: 73','Unnamed: 74','Unnamed: 75','Unnamed: 76','Unnamed: 77','Unnamed: 78','Unnamed: 79','Unnamed: 80','Unnamed: 81',
                                                   'Unnamed: 82','Unnamed: 83','Unnamed: 84','Unnamed: 85','Unnamed: 86','Unnamed: 87','Unnamed: 88','Unnamed: 89','Unnamed: 90','Unnamed: 91',
                                                   'Unnamed: 92','Unnamed: 93','Unnamed: 94','Unnamed: 95','Unnamed: 96','Unnamed: 97','Unnamed: 98','Unnamed: 99','Unnamed: 100','Unnamed: 101',
                                                   'Unnamed: 102','Unnamed: 103','Unnamed: 104','Unnamed: 105','Unnamed: 106','Unnamed: 107','Unnamed: 108','Unnamed: 109','Unnamed: 110','Unnamed: 111',
                                                   'Unnamed: 112','Unnamed: 113','Unnamed: 114','Unnamed: 115','Unnamed: 116','Unnamed: 117','Unnamed: 118','Unnamed: 119','Unnamed: 120','Unnamed: 121',
                                                   'Unnamed: 122','Unnamed: 123','Unnamed: 124','Unnamed: 125','Unnamed: 126','Unnamed: 127','Unnamed: 128','Unnamed: 129','Unnamed: 130','Unnamed: 131',
                                                   'Unnamed: 132','Unnamed: 133','Unnamed: 134','Unnamed: 135','Unnamed: 136','Unnamed: 137','Unnamed: 138','Unnamed: 139','Unnamed: 140','Unnamed: 141',
                                                   'Unnamed: 142','Unnamed: 143','Unnamed: 144','Unnamed: 145','Unnamed: 146','Unnamed: 147','Unnamed: 148','Unnamed: 149','Unnamed: 150','Unnamed: 151',
                                                   'Unnamed: 152','Unnamed: 153','Unnamed: 154','Unnamed: 155','Unnamed: 156','Unnamed: 157','Unnamed: 158','Unnamed: 159','Unnamed: 160','Unnamed: 161',
                                                   'Unnamed: 162','Unnamed: 163','Unnamed: 164','Unnamed: 165','Unnamed: 166'],
               var_name='myVarname',
               value_name='Valor',
               ignore_index=False
               )

In [393]:
# create a list of our conditions
conditions_4 = [(inversion_04['myVarname'] == 'Unnamed: 2'),(inversion_04['myVarname'] == 'Unnamed: 3'),(inversion_04['myVarname'] == 'Unnamed: 4'),(inversion_04['myVarname'] == 'Unnamed: 5'),(inversion_04['myVarname'] == 'Unnamed: 6'),
 (inversion_04['myVarname'] == 'Unnamed: 7'),(inversion_04['myVarname'] == 'Unnamed: 8'),(inversion_04['myVarname'] == 'Unnamed: 9'),(inversion_04['myVarname'] == 'Unnamed: 10'),(inversion_04['myVarname'] == 'Unnamed: 11'),
  (inversion_04['myVarname'] == 'Unnamed: 12'),(inversion_04['myVarname'] == 'Unnamed: 13'),(inversion_04['myVarname'] == 'Unnamed: 14'),(inversion_04['myVarname'] == 'Unnamed: 15'),(inversion_04['myVarname'] == 'Unnamed: 16'),
   (inversion_04['myVarname'] == 'Unnamed: 17'),(inversion_04['myVarname'] == 'Unnamed: 18'),(inversion_04['myVarname'] == 'Unnamed: 19'),(inversion_04['myVarname'] == 'Unnamed: 20'),(inversion_04['myVarname'] == 'Unnamed: 21'),
    (inversion_04['myVarname'] == 'Unnamed: 22'),(inversion_04['myVarname'] == 'Unnamed: 23'),(inversion_04['myVarname'] == 'Unnamed: 24'),(inversion_04['myVarname'] == 'Unnamed: 25'),(inversion_04['myVarname'] == 'Unnamed: 26'),
     (inversion_04['myVarname'] == 'Unnamed: 27'),(inversion_04['myVarname'] == 'Unnamed: 28'),(inversion_04['myVarname'] == 'Unnamed: 29'),(inversion_04['myVarname'] == 'Unnamed: 30'),(inversion_04['myVarname'] == 'Unnamed: 31'),
      (inversion_04['myVarname'] == 'Unnamed: 32'),(inversion_04['myVarname'] == 'Unnamed: 33'),(inversion_04['myVarname'] == 'Unnamed: 34'),(inversion_04['myVarname'] == 'Unnamed: 35'),(inversion_04['myVarname'] == 'Unnamed: 36'),
       (inversion_04['myVarname'] == 'Unnamed: 37'),(inversion_04['myVarname'] == 'Unnamed: 38'),(inversion_04['myVarname'] == 'Unnamed: 39'),(inversion_04['myVarname'] == 'Unnamed: 40'),(inversion_04['myVarname'] == 'Unnamed: 41'),
        (inversion_04['myVarname'] == 'Unnamed: 42'),(inversion_04['myVarname'] == 'Unnamed: 43'),(inversion_04['myVarname'] == 'Unnamed: 44'),(inversion_04['myVarname'] == 'Unnamed: 45'),(inversion_04['myVarname'] == 'Unnamed: 46'),
         (inversion_04['myVarname'] == 'Unnamed: 47'),(inversion_04['myVarname'] == 'Unnamed: 48'),(inversion_04['myVarname'] == 'Unnamed: 49'),(inversion_04['myVarname'] == 'Unnamed: 50'),(inversion_04['myVarname'] == 'Unnamed: 51'),
          (inversion_04['myVarname'] == 'Unnamed: 52'),(inversion_04['myVarname'] == 'Unnamed: 53'),(inversion_04['myVarname'] == 'Unnamed: 54'),(inversion_04['myVarname'] == 'Unnamed: 55'),(inversion_04['myVarname'] == 'Unnamed: 56'),
           (inversion_04['myVarname'] == 'Unnamed: 57'),(inversion_04['myVarname'] == 'Unnamed: 58'),(inversion_04['myVarname'] == 'Unnamed: 59'),(inversion_04['myVarname'] == 'Unnamed: 60'),(inversion_04['myVarname'] == 'Unnamed: 61'),
            (inversion_04['myVarname'] == 'Unnamed: 62'),(inversion_04['myVarname'] == 'Unnamed: 63'),(inversion_04['myVarname'] == 'Unnamed: 64'),(inversion_04['myVarname'] == 'Unnamed: 65'),(inversion_04['myVarname'] == 'Unnamed: 66'),
             (inversion_04['myVarname'] == 'Unnamed: 67'),(inversion_04['myVarname'] == 'Unnamed: 68'),(inversion_04['myVarname'] == 'Unnamed: 69'),(inversion_04['myVarname'] == 'Unnamed: 70'),(inversion_04['myVarname'] == 'Unnamed: 71'),
              (inversion_04['myVarname'] == 'Unnamed: 72'),(inversion_04['myVarname'] == 'Unnamed: 73'),(inversion_04['myVarname'] == 'Unnamed: 74'),(inversion_04['myVarname'] == 'Unnamed: 75'),(inversion_04['myVarname'] == 'Unnamed: 76'),
               (inversion_04['myVarname'] == 'Unnamed: 77'),(inversion_04['myVarname'] == 'Unnamed: 78'),(inversion_04['myVarname'] == 'Unnamed: 79'),(inversion_04['myVarname'] == 'Unnamed: 80'),(inversion_04['myVarname'] == 'Unnamed: 81'),
                (inversion_04['myVarname'] == 'Unnamed: 82'),(inversion_04['myVarname'] == 'Unnamed: 83'),(inversion_04['myVarname'] == 'Unnamed: 84'),(inversion_04['myVarname'] == 'Unnamed: 85'),(inversion_04['myVarname'] == 'Unnamed: 86'),
                 (inversion_04['myVarname'] == 'Unnamed: 87'),(inversion_04['myVarname'] == 'Unnamed: 88'),(inversion_04['myVarname'] == 'Unnamed: 89'),(inversion_04['myVarname'] == 'Unnamed: 90'),(inversion_04['myVarname'] == 'Unnamed: 91'),
                  (inversion_04['myVarname'] == 'Unnamed: 92'),(inversion_04['myVarname'] == 'Unnamed: 93'),(inversion_04['myVarname'] == 'Unnamed: 94'),(inversion_04['myVarname'] == 'Unnamed: 95'),(inversion_04['myVarname'] == 'Unnamed: 96'),
                   (inversion_04['myVarname'] == 'Unnamed: 97'),(inversion_04['myVarname'] == 'Unnamed: 98'),(inversion_04['myVarname'] == 'Unnamed: 99'),(inversion_04['myVarname'] == 'Unnamed: 100'),(inversion_04['myVarname'] == 'Unnamed: 101'),
                    (inversion_04['myVarname'] == 'Unnamed: 102'),(inversion_04['myVarname'] == 'Unnamed: 103'),(inversion_04['myVarname'] == 'Unnamed: 104'),(inversion_04['myVarname'] == 'Unnamed: 105'),(inversion_04['myVarname'] == 'Unnamed: 106'),
                     (inversion_04['myVarname'] == 'Unnamed: 107'),(inversion_04['myVarname'] == 'Unnamed: 108'),(inversion_04['myVarname'] == 'Unnamed: 109'),(inversion_04['myVarname'] == 'Unnamed: 110'),(inversion_04['myVarname'] == 'Unnamed: 111'),
                      (inversion_04['myVarname'] == 'Unnamed: 112'),(inversion_04['myVarname'] == 'Unnamed: 113'),(inversion_04['myVarname'] == 'Unnamed: 114'),(inversion_04['myVarname'] == 'Unnamed: 115'),(inversion_04['myVarname'] == 'Unnamed: 116'),
                       (inversion_04['myVarname'] == 'Unnamed: 117'),(inversion_04['myVarname'] == 'Unnamed: 118'),(inversion_04['myVarname'] == 'Unnamed: 119'),(inversion_04['myVarname'] == 'Unnamed: 120'),(inversion_04['myVarname'] == 'Unnamed: 121'),
                        (inversion_04['myVarname'] == 'Unnamed: 122'),(inversion_04['myVarname'] == 'Unnamed: 123'),(inversion_04['myVarname'] == 'Unnamed: 124'),(inversion_04['myVarname'] == 'Unnamed: 125'),(inversion_04['myVarname'] == 'Unnamed: 126'),
                         (inversion_04['myVarname'] == 'Unnamed: 127'),(inversion_04['myVarname'] == 'Unnamed: 128'),(inversion_04['myVarname'] == 'Unnamed: 129'),(inversion_04['myVarname'] == 'Unnamed: 130'),(inversion_04['myVarname'] == 'Unnamed: 131'),
                          (inversion_04['myVarname'] == 'Unnamed: 132'),(inversion_04['myVarname'] == 'Unnamed: 133'),(inversion_04['myVarname'] == 'Unnamed: 134'),(inversion_04['myVarname'] == 'Unnamed: 135'),(inversion_04['myVarname'] == 'Unnamed: 136'),
                           (inversion_04['myVarname'] == 'Unnamed: 137'),(inversion_04['myVarname'] == 'Unnamed: 138'),(inversion_04['myVarname'] == 'Unnamed: 139'),(inversion_04['myVarname'] == 'Unnamed: 140'),(inversion_04['myVarname'] == 'Unnamed: 141'),
                            (inversion_04['myVarname'] == 'Unnamed: 142'),(inversion_04['myVarname'] == 'Unnamed: 143'),(inversion_04['myVarname'] == 'Unnamed: 144'),(inversion_04['myVarname'] == 'Unnamed: 145'),(inversion_04['myVarname'] == 'Unnamed: 146'),
                             (inversion_04['myVarname'] == 'Unnamed: 147'),(inversion_04['myVarname'] == 'Unnamed: 148'),(inversion_04['myVarname'] == 'Unnamed: 149'),(inversion_04['myVarname'] == 'Unnamed: 150'),(inversion_04['myVarname'] == 'Unnamed: 151'),
                              (inversion_04['myVarname'] == 'Unnamed: 152'),(inversion_04['myVarname'] == 'Unnamed: 153'),(inversion_04['myVarname'] == 'Unnamed: 154'),(inversion_04['myVarname'] == 'Unnamed: 155'),(inversion_04['myVarname'] == 'Unnamed: 156'),
                               (inversion_04['myVarname'] == 'Unnamed: 157'),(inversion_04['myVarname'] == 'Unnamed: 158'),(inversion_04['myVarname'] == 'Unnamed: 159'),(inversion_04['myVarname'] == 'Unnamed: 160'),(inversion_04['myVarname'] == 'Unnamed: 161'),
                                (inversion_04['myVarname'] == 'Unnamed: 162'),(inversion_04['myVarname'] == 'Unnamed: 163'),(inversion_04['myVarname'] == 'Unnamed: 164'),(inversion_04['myVarname'] == 'Unnamed: 165'),(inversion_04['myVarname'] == 'Unnamed: 166')
                                ]

In [394]:
inversion_04['Fecha'] = np.select(conditions_4, values)

In [395]:
inversion_04.pop("myVarname")

5       Unnamed: 2
6       Unnamed: 2
7       Unnamed: 2
8       Unnamed: 2
9       Unnamed: 2
          ...
26    Unnamed: 166
27    Unnamed: 166
28    Unnamed: 166
29    Unnamed: 166
30    Unnamed: 166
Name: myVarname, Length: 4290, dtype: object

In [396]:
inversion_04.rename(columns={"Unnamed: 1": "Institucion"}, inplace=True)

In [397]:
inversion_04['Tipo'] = "Inversión"
inversion_04['Subtipo'] = "Otros documentos emitidos por organismos fiscales"
inversion_04['Tipo de Moneda'] = "Saldos en millones de pesos"

In [398]:
new_cols = ["Fecha","Institucion","Tipo","Subtipo","Valor","Tipo de Moneda"]
inversion_04 = inversion_04.reindex(columns=new_cols)

In [399]:
inversion_04.head(7)

,Fecha,Institucion,Tipo,Subtipo,Valor,Tipo de Moneda
5,2008-01-31,Banco Bice,Inversión,Otros documentos emitidos por organismos fiscales,3027.489784,Saldos en millones de pesos
6,2008-01-31,Banco BTG Pactual Chile (9),Inversión,Otros documentos emitidos por organismos fiscales,ND,Saldos en millones de pesos
7,2008-01-31,Banco Consorcio (1),Inversión,Otros documentos emitidos por organismos fiscales,0,Saldos en millones de pesos
8,2008-01-31,Banco de Chile (2),Inversión,Otros documentos emitidos por organismos fiscales,385.009179,Saldos en millones de pesos
9,2008-01-31,Banco de Crédito e Inversiones,Inversión,Otros documentos emitidos por organismos fiscales,13702.300487,Saldos en millones de pesos
10,2008-01-31,Banco de la Nación Argentina (18),Inversión,Otros documentos emitidos por organismos fiscales,0,Saldos en millones de pesos
11,2008-01-31,Banco del Estado de Chile,Inversión,Otros documentos emitidos por organismos fiscales,2306.051512,Saldos en millones de pesos

## Inversión 05

In [400]:
inversion_05.head(5)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,Unnamed: 161,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166
0,Índice general,Cuadro 3.05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Notas generales,Otros documentos emitidos por otras institucio...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Saldos en millones de pesos,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,2008-01-31 00:00:00,2008-02-29 00:00:00,2008-03-31 00:00:00,2008-04-30 00:00:00,2008-05-31 00:00:00,2008-06-30 00:00:00,2008-07-31 00:00:00,2008-08-31 00:00:00,...,2020-12-31 00:00:00,2021-01-31 00:00:00,2021-02-28 00:00:00,2021-03-31 00:00:00,2021-04-30 00:00:00,2021-05-31 00:00:00,2021-06-30 00:00:00,2021-07-31 00:00:00,2021-08-31 00:00:00,2021-09-30 00:00:00

In [401]:
inversion_05.pop("Unnamed: 0")

0      Índice general
1     Notas generales
2                 NaN
3                 NaN
4                 NaN
5                 NaN
6                 NaN
7                 NaN
8                 NaN
9                 NaN
10                NaN
11                NaN
12                NaN
13                NaN
14                NaN
15                NaN
16                NaN
17                NaN
18                NaN
19                NaN
20                NaN
21                NaN
22                NaN
23                NaN
24                NaN
25                NaN
26                NaN
27                NaN
28                NaN
29                NaN
30                NaN
31                NaN
32                NaN
33                NaN
34                NaN
Name: Unnamed: 0, dtype: object

In [402]:
inversion_05 = inversion_05.iloc[5:]

In [403]:
inversion_05.tail(7)

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,Unnamed: 161,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166
28,Scotiabank Chile (3) (17),419408.121028,415938.149864,401218.756107,427041.846934,383291.270484,340314.07568,329503.239367,403543.947839,442121.886887,...,72449.758456,101371.173469,98544.427643,91522.00018,87013.108142,71647.770535,58491.605101,76326.957159,76030.858757,134984.905385
29,The Bank of Tokyo - Mitsubishi Ufj. Ltd. (19),0,0,0,0,0,0,0,0,0,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
30,Bank of China (16),ND,ND,ND,ND,ND,ND,ND,ND,ND,...,28785.197194,17740.036991,11736.989988,18738.416412,17722.689896,14724.63744,14729.64154,20737.371171,21747.682712,22758.229068
31,Total,3763360.415235,3825331.283078,4052381.978166,4015586.736323,3907817.460517,3504350.322084,3180686.270892,3516958.534013,3767229.730875,...,4418169.840841,3846812.989044,3471812.997498,3498951.097632,3561330.306484,3266377.012641,3297129.132383,3947512.40721,4188936.967706,4972233.941061
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,ND : No existe dato,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [404]:
inversion_05.drop(inversion_05.tail(4).index,inplace=True)

<ipython-input-404-370d203a7767>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  inversion_05.drop(inversion_05.tail(4).index,inplace=True)

In [405]:
inversion_05.head(3)

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,Unnamed: 161,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166
5,Banco Bice,141565.286649,132053.904926,101280.017188,123405.267375,113019.384115,89447.523658,83373.413615,97655.722899,99881.852583,...,343.714776,3348.965167,3348.898092,136.178879,133.351536,14761.568412,14879.468933,39538.411895,50437.493941,81836.893719
6,Banco BTG Pactual Chile (9),ND,ND,ND,ND,ND,ND,ND,ND,ND,...,18771.914458,15718.169611,11772.838617,14794.994324,22655.394189,24324.329384,25516.02958,23711.916096,15884.541381,15410.777071
7,Banco Consorcio (1),0,0,0,0,0,0,2139.746272,1420.495903,0,...,75320.000002,72501.838097,21009.358878,45422.981739,19986.925425,20196.076372,19083.544628,21794.798823,30729.232165,64299.106436

In [406]:
inversion_05 = inversion_05.melt(id_vars=['Unnamed: 1'], value_vars=['Unnamed: 2','Unnamed: 3','Unnamed: 4','Unnamed: 5','Unnamed: 6','Unnamed: 7','Unnamed: 8','Unnamed: 9','Unnamed: 10','Unnamed: 11',
                                                   'Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19','Unnamed: 20','Unnamed: 21',
                                                   'Unnamed: 22','Unnamed: 23','Unnamed: 24','Unnamed: 25','Unnamed: 26','Unnamed: 27','Unnamed: 28','Unnamed: 29','Unnamed: 30','Unnamed: 31',
                                                   'Unnamed: 32','Unnamed: 33','Unnamed: 34','Unnamed: 35','Unnamed: 36','Unnamed: 37','Unnamed: 38','Unnamed: 39','Unnamed: 40','Unnamed: 41',
                                                   'Unnamed: 42','Unnamed: 43','Unnamed: 44','Unnamed: 45','Unnamed: 46','Unnamed: 47','Unnamed: 48','Unnamed: 49','Unnamed: 50','Unnamed: 51',
                                                   'Unnamed: 52','Unnamed: 53','Unnamed: 54','Unnamed: 55','Unnamed: 56','Unnamed: 57','Unnamed: 58','Unnamed: 59','Unnamed: 60','Unnamed: 61',
                                                   'Unnamed: 62','Unnamed: 63','Unnamed: 64','Unnamed: 65','Unnamed: 66','Unnamed: 67','Unnamed: 68','Unnamed: 69','Unnamed: 70','Unnamed: 71',
                                                   'Unnamed: 72','Unnamed: 73','Unnamed: 74','Unnamed: 75','Unnamed: 76','Unnamed: 77','Unnamed: 78','Unnamed: 79','Unnamed: 80','Unnamed: 81',
                                                   'Unnamed: 82','Unnamed: 83','Unnamed: 84','Unnamed: 85','Unnamed: 86','Unnamed: 87','Unnamed: 88','Unnamed: 89','Unnamed: 90','Unnamed: 91',
                                                   'Unnamed: 92','Unnamed: 93','Unnamed: 94','Unnamed: 95','Unnamed: 96','Unnamed: 97','Unnamed: 98','Unnamed: 99','Unnamed: 100','Unnamed: 101',
                                                   'Unnamed: 102','Unnamed: 103','Unnamed: 104','Unnamed: 105','Unnamed: 106','Unnamed: 107','Unnamed: 108','Unnamed: 109','Unnamed: 110','Unnamed: 111',
                                                   'Unnamed: 112','Unnamed: 113','Unnamed: 114','Unnamed: 115','Unnamed: 116','Unnamed: 117','Unnamed: 118','Unnamed: 119','Unnamed: 120','Unnamed: 121',
                                                   'Unnamed: 122','Unnamed: 123','Unnamed: 124','Unnamed: 125','Unnamed: 126','Unnamed: 127','Unnamed: 128','Unnamed: 129','Unnamed: 130','Unnamed: 131',
                                                   'Unnamed: 132','Unnamed: 133','Unnamed: 134','Unnamed: 135','Unnamed: 136','Unnamed: 137','Unnamed: 138','Unnamed: 139','Unnamed: 140','Unnamed: 141',
                                                   'Unnamed: 142','Unnamed: 143','Unnamed: 144','Unnamed: 145','Unnamed: 146','Unnamed: 147','Unnamed: 148','Unnamed: 149','Unnamed: 150','Unnamed: 151',
                                                   'Unnamed: 152','Unnamed: 153','Unnamed: 154','Unnamed: 155','Unnamed: 156','Unnamed: 157','Unnamed: 158','Unnamed: 159','Unnamed: 160','Unnamed: 161',
                                                   'Unnamed: 162','Unnamed: 163','Unnamed: 164','Unnamed: 165','Unnamed: 166'],
               var_name='myVarname',
               value_name='Valor',
               ignore_index=False
               )

In [407]:
# create a list of our conditions
conditions_5 = [(inversion_05['myVarname'] == 'Unnamed: 2'),(inversion_05['myVarname'] == 'Unnamed: 3'),(inversion_05['myVarname'] == 'Unnamed: 4'),(inversion_05['myVarname'] == 'Unnamed: 5'),(inversion_05['myVarname'] == 'Unnamed: 6'),
 (inversion_05['myVarname'] == 'Unnamed: 7'),(inversion_05['myVarname'] == 'Unnamed: 8'),(inversion_05['myVarname'] == 'Unnamed: 9'),(inversion_05['myVarname'] == 'Unnamed: 10'),(inversion_05['myVarname'] == 'Unnamed: 11'),
  (inversion_05['myVarname'] == 'Unnamed: 12'),(inversion_05['myVarname'] == 'Unnamed: 13'),(inversion_05['myVarname'] == 'Unnamed: 14'),(inversion_05['myVarname'] == 'Unnamed: 15'),(inversion_05['myVarname'] == 'Unnamed: 16'),
   (inversion_05['myVarname'] == 'Unnamed: 17'),(inversion_05['myVarname'] == 'Unnamed: 18'),(inversion_05['myVarname'] == 'Unnamed: 19'),(inversion_05['myVarname'] == 'Unnamed: 20'),(inversion_05['myVarname'] == 'Unnamed: 21'),
    (inversion_05['myVarname'] == 'Unnamed: 22'),(inversion_05['myVarname'] == 'Unnamed: 23'),(inversion_05['myVarname'] == 'Unnamed: 24'),(inversion_05['myVarname'] == 'Unnamed: 25'),(inversion_05['myVarname'] == 'Unnamed: 26'),
     (inversion_05['myVarname'] == 'Unnamed: 27'),(inversion_05['myVarname'] == 'Unnamed: 28'),(inversion_05['myVarname'] == 'Unnamed: 29'),(inversion_05['myVarname'] == 'Unnamed: 30'),(inversion_05['myVarname'] == 'Unnamed: 31'),
      (inversion_05['myVarname'] == 'Unnamed: 32'),(inversion_05['myVarname'] == 'Unnamed: 33'),(inversion_05['myVarname'] == 'Unnamed: 34'),(inversion_05['myVarname'] == 'Unnamed: 35'),(inversion_05['myVarname'] == 'Unnamed: 36'),
       (inversion_05['myVarname'] == 'Unnamed: 37'),(inversion_05['myVarname'] == 'Unnamed: 38'),(inversion_05['myVarname'] == 'Unnamed: 39'),(inversion_05['myVarname'] == 'Unnamed: 40'),(inversion_05['myVarname'] == 'Unnamed: 41'),
        (inversion_05['myVarname'] == 'Unnamed: 42'),(inversion_05['myVarname'] == 'Unnamed: 43'),(inversion_05['myVarname'] == 'Unnamed: 44'),(inversion_05['myVarname'] == 'Unnamed: 45'),(inversion_05['myVarname'] == 'Unnamed: 46'),
         (inversion_05['myVarname'] == 'Unnamed: 47'),(inversion_05['myVarname'] == 'Unnamed: 48'),(inversion_05['myVarname'] == 'Unnamed: 49'),(inversion_05['myVarname'] == 'Unnamed: 50'),(inversion_05['myVarname'] == 'Unnamed: 51'),
          (inversion_05['myVarname'] == 'Unnamed: 52'),(inversion_05['myVarname'] == 'Unnamed: 53'),(inversion_05['myVarname'] == 'Unnamed: 54'),(inversion_05['myVarname'] == 'Unnamed: 55'),(inversion_05['myVarname'] == 'Unnamed: 56'),
           (inversion_05['myVarname'] == 'Unnamed: 57'),(inversion_05['myVarname'] == 'Unnamed: 58'),(inversion_05['myVarname'] == 'Unnamed: 59'),(inversion_05['myVarname'] == 'Unnamed: 60'),(inversion_05['myVarname'] == 'Unnamed: 61'),
            (inversion_05['myVarname'] == 'Unnamed: 62'),(inversion_05['myVarname'] == 'Unnamed: 63'),(inversion_05['myVarname'] == 'Unnamed: 64'),(inversion_05['myVarname'] == 'Unnamed: 65'),(inversion_05['myVarname'] == 'Unnamed: 66'),
             (inversion_05['myVarname'] == 'Unnamed: 67'),(inversion_05['myVarname'] == 'Unnamed: 68'),(inversion_05['myVarname'] == 'Unnamed: 69'),(inversion_05['myVarname'] == 'Unnamed: 70'),(inversion_05['myVarname'] == 'Unnamed: 71'),
              (inversion_05['myVarname'] == 'Unnamed: 72'),(inversion_05['myVarname'] == 'Unnamed: 73'),(inversion_05['myVarname'] == 'Unnamed: 74'),(inversion_05['myVarname'] == 'Unnamed: 75'),(inversion_05['myVarname'] == 'Unnamed: 76'),
               (inversion_05['myVarname'] == 'Unnamed: 77'),(inversion_05['myVarname'] == 'Unnamed: 78'),(inversion_05['myVarname'] == 'Unnamed: 79'),(inversion_05['myVarname'] == 'Unnamed: 80'),(inversion_05['myVarname'] == 'Unnamed: 81'),
                (inversion_05['myVarname'] == 'Unnamed: 82'),(inversion_05['myVarname'] == 'Unnamed: 83'),(inversion_05['myVarname'] == 'Unnamed: 84'),(inversion_05['myVarname'] == 'Unnamed: 85'),(inversion_05['myVarname'] == 'Unnamed: 86'),
                 (inversion_05['myVarname'] == 'Unnamed: 87'),(inversion_05['myVarname'] == 'Unnamed: 88'),(inversion_05['myVarname'] == 'Unnamed: 89'),(inversion_05['myVarname'] == 'Unnamed: 90'),(inversion_05['myVarname'] == 'Unnamed: 91'),
                  (inversion_05['myVarname'] == 'Unnamed: 92'),(inversion_05['myVarname'] == 'Unnamed: 93'),(inversion_05['myVarname'] == 'Unnamed: 94'),(inversion_05['myVarname'] == 'Unnamed: 95'),(inversion_05['myVarname'] == 'Unnamed: 96'),
                   (inversion_05['myVarname'] == 'Unnamed: 97'),(inversion_05['myVarname'] == 'Unnamed: 98'),(inversion_05['myVarname'] == 'Unnamed: 99'),(inversion_05['myVarname'] == 'Unnamed: 100'),(inversion_05['myVarname'] == 'Unnamed: 101'),
                    (inversion_05['myVarname'] == 'Unnamed: 102'),(inversion_05['myVarname'] == 'Unnamed: 103'),(inversion_05['myVarname'] == 'Unnamed: 104'),(inversion_05['myVarname'] == 'Unnamed: 105'),(inversion_05['myVarname'] == 'Unnamed: 106'),
                     (inversion_05['myVarname'] == 'Unnamed: 107'),(inversion_05['myVarname'] == 'Unnamed: 108'),(inversion_05['myVarname'] == 'Unnamed: 109'),(inversion_05['myVarname'] == 'Unnamed: 110'),(inversion_05['myVarname'] == 'Unnamed: 111'),
                      (inversion_05['myVarname'] == 'Unnamed: 112'),(inversion_05['myVarname'] == 'Unnamed: 113'),(inversion_05['myVarname'] == 'Unnamed: 114'),(inversion_05['myVarname'] == 'Unnamed: 115'),(inversion_05['myVarname'] == 'Unnamed: 116'),
                       (inversion_05['myVarname'] == 'Unnamed: 117'),(inversion_05['myVarname'] == 'Unnamed: 118'),(inversion_05['myVarname'] == 'Unnamed: 119'),(inversion_05['myVarname'] == 'Unnamed: 120'),(inversion_05['myVarname'] == 'Unnamed: 121'),
                        (inversion_05['myVarname'] == 'Unnamed: 122'),(inversion_05['myVarname'] == 'Unnamed: 123'),(inversion_05['myVarname'] == 'Unnamed: 124'),(inversion_05['myVarname'] == 'Unnamed: 125'),(inversion_05['myVarname'] == 'Unnamed: 126'),
                         (inversion_05['myVarname'] == 'Unnamed: 127'),(inversion_05['myVarname'] == 'Unnamed: 128'),(inversion_05['myVarname'] == 'Unnamed: 129'),(inversion_05['myVarname'] == 'Unnamed: 130'),(inversion_05['myVarname'] == 'Unnamed: 131'),
                          (inversion_05['myVarname'] == 'Unnamed: 132'),(inversion_05['myVarname'] == 'Unnamed: 133'),(inversion_05['myVarname'] == 'Unnamed: 134'),(inversion_05['myVarname'] == 'Unnamed: 135'),(inversion_05['myVarname'] == 'Unnamed: 136'),
                           (inversion_05['myVarname'] == 'Unnamed: 137'),(inversion_05['myVarname'] == 'Unnamed: 138'),(inversion_05['myVarname'] == 'Unnamed: 139'),(inversion_05['myVarname'] == 'Unnamed: 140'),(inversion_05['myVarname'] == 'Unnamed: 141'),
                            (inversion_05['myVarname'] == 'Unnamed: 142'),(inversion_05['myVarname'] == 'Unnamed: 143'),(inversion_05['myVarname'] == 'Unnamed: 144'),(inversion_05['myVarname'] == 'Unnamed: 145'),(inversion_05['myVarname'] == 'Unnamed: 146'),
                             (inversion_05['myVarname'] == 'Unnamed: 147'),(inversion_05['myVarname'] == 'Unnamed: 148'),(inversion_05['myVarname'] == 'Unnamed: 149'),(inversion_05['myVarname'] == 'Unnamed: 150'),(inversion_05['myVarname'] == 'Unnamed: 151'),
                              (inversion_05['myVarname'] == 'Unnamed: 152'),(inversion_05['myVarname'] == 'Unnamed: 153'),(inversion_05['myVarname'] == 'Unnamed: 154'),(inversion_05['myVarname'] == 'Unnamed: 155'),(inversion_05['myVarname'] == 'Unnamed: 156'),
                               (inversion_05['myVarname'] == 'Unnamed: 157'),(inversion_05['myVarname'] == 'Unnamed: 158'),(inversion_05['myVarname'] == 'Unnamed: 159'),(inversion_05['myVarname'] == 'Unnamed: 160'),(inversion_05['myVarname'] == 'Unnamed: 161'),
                                (inversion_05['myVarname'] == 'Unnamed: 162'),(inversion_05['myVarname'] == 'Unnamed: 163'),(inversion_05['myVarname'] == 'Unnamed: 164'),(inversion_05['myVarname'] == 'Unnamed: 165'),(inversion_05['myVarname'] == 'Unnamed: 166')
                                ]

In [408]:
inversion_05['Fecha'] = np.select(conditions_5, values)

In [409]:
inversion_05.pop("myVarname")

5       Unnamed: 2
6       Unnamed: 2
7       Unnamed: 2
8       Unnamed: 2
9       Unnamed: 2
          ...
26    Unnamed: 166
27    Unnamed: 166
28    Unnamed: 166
29    Unnamed: 166
30    Unnamed: 166
Name: myVarname, Length: 4290, dtype: object

In [410]:
inversion_05.rename(columns={"Unnamed: 1": "Institucion"}, inplace=True)

In [411]:
inversion_05['Tipo'] = "Inversión"
inversion_05['Subtipo'] = "Otros documentos emitidos por otras instituciones financieras del país"
inversion_05['Tipo de Moneda'] = "Saldos en millones de pesos"

In [412]:
new_cols = ["Fecha","Institucion","Tipo","Subtipo","Valor","Tipo de Moneda"]
inversion_05 = inversion_05.reindex(columns=new_cols)

In [413]:
inversion_05.head(7)

,Fecha,Institucion,Tipo,Subtipo,Valor,Tipo de Moneda
5,2008-01-31,Banco Bice,Inversión,Otros documentos emitidos por otras institucio...,141565.286649,Saldos en millones de pesos
6,2008-01-31,Banco BTG Pactual Chile (9),Inversión,Otros documentos emitidos por otras institucio...,ND,Saldos en millones de pesos
7,2008-01-31,Banco Consorcio (1),Inversión,Otros documentos emitidos por otras institucio...,0,Saldos en millones de pesos
8,2008-01-31,Banco de Chile (2),Inversión,Otros documentos emitidos por otras institucio...,155661.608139,Saldos en millones de pesos
9,2008-01-31,Banco de Crédito e Inversiones,Inversión,Otros documentos emitidos por otras institucio...,278718.566152,Saldos en millones de pesos
10,2008-01-31,Banco de la Nación Argentina (18),Inversión,Otros documentos emitidos por otras institucio...,3077.726955,Saldos en millones de pesos
11,2008-01-31,Banco del Estado de Chile,Inversión,Otros documentos emitidos por otras institucio...,2032966.66325,Saldos en millones de pesos

## Inversión 06

In [414]:
inversion_06.head(5)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,Unnamed: 161,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166
0,Índice general,Cuadro 3.06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Notas generales,Instrumentos de empresa emitidos en el país,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Saldos en millones de pesos,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,2008-01-31 00:00:00,2008-02-29 00:00:00,2008-03-31 00:00:00,2008-04-30 00:00:00,2008-05-31 00:00:00,2008-06-30 00:00:00,2008-07-31 00:00:00,2008-08-31 00:00:00,...,2020-12-31 00:00:00,2021-01-31 00:00:00,2021-02-28 00:00:00,2021-03-31 00:00:00,2021-04-30 00:00:00,2021-05-31 00:00:00,2021-06-30 00:00:00,2021-07-31 00:00:00,2021-08-31 00:00:00,2021-09-30 00:00:00

In [415]:
inversion_06.pop("Unnamed: 0")

0      Índice general
1     Notas generales
2                 NaN
3                 NaN
4                 NaN
5                 NaN
6                 NaN
7                 NaN
8                 NaN
9                 NaN
10                NaN
11                NaN
12                NaN
13                NaN
14                NaN
15                NaN
16                NaN
17                NaN
18                NaN
19                NaN
20                NaN
21                NaN
22                NaN
23                NaN
24                NaN
25                NaN
26                NaN
27                NaN
28                NaN
29                NaN
30                NaN
31                NaN
32                NaN
33                NaN
34                NaN
Name: Unnamed: 0, dtype: object

In [416]:
inversion_06 = inversion_06.iloc[5:]

In [417]:
inversion_06.tail(7)

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,Unnamed: 161,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166
28,Scotiabank Chile (3) (17),1737.199212,1767.579463,821.736457,541.825171,527.540661,527.030397,531.569148,535.36531,519.795769,...,83.325899,2314.371754,2367.833176,6597.98661,4004.800044,3968.050347,3041.531718,3074.603067,3116.523693,2996.860299
29,The Bank of Tokyo - Mitsubishi Ufj. Ltd. (19),0,0,0,0,0,0,0,0,0,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
30,Bank of China (16),ND,ND,ND,ND,ND,ND,ND,ND,ND,...,0,0,0,0,0,0,0,0,0,0
31,Total,146033.39884,145505.310828,150310.189762,151898.731707,145918.753547,144538.076157,142537.331422,168286.292115,179376.796065,...,777369.102728,764450.427049,780020.969627,751737.369424,672109.837523,627603.214431,585636.93064,598003.901882,621343.176262,620148.906835
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,ND : No existe dato,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [418]:
inversion_06.drop(inversion_06.tail(4).index,inplace=True)

<ipython-input-418-5f127cb37bd7>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  inversion_06.drop(inversion_06.tail(4).index,inplace=True)

In [419]:
inversion_06.head(3)

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,Unnamed: 161,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166
5,Banco Bice,885.229872,877.295625,698.630379,731.949576,766.827259,6393.7029,393.467321,2316.088805,431.15912,...,52291.10351,51391.840501,51628.52726,53215.848293,51287.379511,51073.397965,52128.418668,53493.560836,53975.752,58456.418726
6,Banco BTG Pactual Chile (9),ND,ND,ND,ND,ND,ND,ND,ND,ND,...,67058.93998,68698.005067,68353.277269,69276.846314,57959.554239,57348.306941,56900.830933,60857.45288,61528.583675,59584.267863
7,Banco Consorcio (1),0,0,0,0,0,0,1.648852,-0.118328,0,...,207372.939544,219573.737312,227565.359196,226256.762873,210557.108691,210072.168488,212775.68029,241501.047432,253591.698944,258493.008442

In [420]:
inversion_06 = inversion_06.melt(id_vars=['Unnamed: 1'], value_vars=['Unnamed: 2','Unnamed: 3','Unnamed: 4','Unnamed: 5','Unnamed: 6','Unnamed: 7','Unnamed: 8','Unnamed: 9','Unnamed: 10','Unnamed: 11',
                                                   'Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19','Unnamed: 20','Unnamed: 21',
                                                   'Unnamed: 22','Unnamed: 23','Unnamed: 24','Unnamed: 25','Unnamed: 26','Unnamed: 27','Unnamed: 28','Unnamed: 29','Unnamed: 30','Unnamed: 31',
                                                   'Unnamed: 32','Unnamed: 33','Unnamed: 34','Unnamed: 35','Unnamed: 36','Unnamed: 37','Unnamed: 38','Unnamed: 39','Unnamed: 40','Unnamed: 41',
                                                   'Unnamed: 42','Unnamed: 43','Unnamed: 44','Unnamed: 45','Unnamed: 46','Unnamed: 47','Unnamed: 48','Unnamed: 49','Unnamed: 50','Unnamed: 51',
                                                   'Unnamed: 52','Unnamed: 53','Unnamed: 54','Unnamed: 55','Unnamed: 56','Unnamed: 57','Unnamed: 58','Unnamed: 59','Unnamed: 60','Unnamed: 61',
                                                   'Unnamed: 62','Unnamed: 63','Unnamed: 64','Unnamed: 65','Unnamed: 66','Unnamed: 67','Unnamed: 68','Unnamed: 69','Unnamed: 70','Unnamed: 71',
                                                   'Unnamed: 72','Unnamed: 73','Unnamed: 74','Unnamed: 75','Unnamed: 76','Unnamed: 77','Unnamed: 78','Unnamed: 79','Unnamed: 80','Unnamed: 81',
                                                   'Unnamed: 82','Unnamed: 83','Unnamed: 84','Unnamed: 85','Unnamed: 86','Unnamed: 87','Unnamed: 88','Unnamed: 89','Unnamed: 90','Unnamed: 91',
                                                   'Unnamed: 92','Unnamed: 93','Unnamed: 94','Unnamed: 95','Unnamed: 96','Unnamed: 97','Unnamed: 98','Unnamed: 99','Unnamed: 100','Unnamed: 101',
                                                   'Unnamed: 102','Unnamed: 103','Unnamed: 104','Unnamed: 105','Unnamed: 106','Unnamed: 107','Unnamed: 108','Unnamed: 109','Unnamed: 110','Unnamed: 111',
                                                   'Unnamed: 112','Unnamed: 113','Unnamed: 114','Unnamed: 115','Unnamed: 116','Unnamed: 117','Unnamed: 118','Unnamed: 119','Unnamed: 120','Unnamed: 121',
                                                   'Unnamed: 122','Unnamed: 123','Unnamed: 124','Unnamed: 125','Unnamed: 126','Unnamed: 127','Unnamed: 128','Unnamed: 129','Unnamed: 130','Unnamed: 131',
                                                   'Unnamed: 132','Unnamed: 133','Unnamed: 134','Unnamed: 135','Unnamed: 136','Unnamed: 137','Unnamed: 138','Unnamed: 139','Unnamed: 140','Unnamed: 141',
                                                   'Unnamed: 142','Unnamed: 143','Unnamed: 144','Unnamed: 145','Unnamed: 146','Unnamed: 147','Unnamed: 148','Unnamed: 149','Unnamed: 150','Unnamed: 151',
                                                   'Unnamed: 152','Unnamed: 153','Unnamed: 154','Unnamed: 155','Unnamed: 156','Unnamed: 157','Unnamed: 158','Unnamed: 159','Unnamed: 160','Unnamed: 161',
                                                   'Unnamed: 162','Unnamed: 163','Unnamed: 164','Unnamed: 165','Unnamed: 166'],
               var_name='myVarname',
               value_name='Valor',
               ignore_index=False
               )

In [421]:
# create a list of our conditions
conditions_6 = [(inversion_06['myVarname'] == 'Unnamed: 2'),(inversion_06['myVarname'] == 'Unnamed: 3'),(inversion_06['myVarname'] == 'Unnamed: 4'),(inversion_06['myVarname'] == 'Unnamed: 5'),(inversion_06['myVarname'] == 'Unnamed: 6'),
 (inversion_06['myVarname'] == 'Unnamed: 7'),(inversion_06['myVarname'] == 'Unnamed: 8'),(inversion_06['myVarname'] == 'Unnamed: 9'),(inversion_06['myVarname'] == 'Unnamed: 10'),(inversion_06['myVarname'] == 'Unnamed: 11'),
  (inversion_06['myVarname'] == 'Unnamed: 12'),(inversion_06['myVarname'] == 'Unnamed: 13'),(inversion_06['myVarname'] == 'Unnamed: 14'),(inversion_06['myVarname'] == 'Unnamed: 15'),(inversion_06['myVarname'] == 'Unnamed: 16'),
   (inversion_06['myVarname'] == 'Unnamed: 17'),(inversion_06['myVarname'] == 'Unnamed: 18'),(inversion_06['myVarname'] == 'Unnamed: 19'),(inversion_06['myVarname'] == 'Unnamed: 20'),(inversion_06['myVarname'] == 'Unnamed: 21'),
    (inversion_06['myVarname'] == 'Unnamed: 22'),(inversion_06['myVarname'] == 'Unnamed: 23'),(inversion_06['myVarname'] == 'Unnamed: 24'),(inversion_06['myVarname'] == 'Unnamed: 25'),(inversion_06['myVarname'] == 'Unnamed: 26'),
     (inversion_06['myVarname'] == 'Unnamed: 27'),(inversion_06['myVarname'] == 'Unnamed: 28'),(inversion_06['myVarname'] == 'Unnamed: 29'),(inversion_06['myVarname'] == 'Unnamed: 30'),(inversion_06['myVarname'] == 'Unnamed: 31'),
      (inversion_06['myVarname'] == 'Unnamed: 32'),(inversion_06['myVarname'] == 'Unnamed: 33'),(inversion_06['myVarname'] == 'Unnamed: 34'),(inversion_06['myVarname'] == 'Unnamed: 35'),(inversion_06['myVarname'] == 'Unnamed: 36'),
       (inversion_06['myVarname'] == 'Unnamed: 37'),(inversion_06['myVarname'] == 'Unnamed: 38'),(inversion_06['myVarname'] == 'Unnamed: 39'),(inversion_06['myVarname'] == 'Unnamed: 40'),(inversion_06['myVarname'] == 'Unnamed: 41'),
        (inversion_06['myVarname'] == 'Unnamed: 42'),(inversion_06['myVarname'] == 'Unnamed: 43'),(inversion_06['myVarname'] == 'Unnamed: 44'),(inversion_06['myVarname'] == 'Unnamed: 45'),(inversion_06['myVarname'] == 'Unnamed: 46'),
         (inversion_06['myVarname'] == 'Unnamed: 47'),(inversion_06['myVarname'] == 'Unnamed: 48'),(inversion_06['myVarname'] == 'Unnamed: 49'),(inversion_06['myVarname'] == 'Unnamed: 50'),(inversion_06['myVarname'] == 'Unnamed: 51'),
          (inversion_06['myVarname'] == 'Unnamed: 52'),(inversion_06['myVarname'] == 'Unnamed: 53'),(inversion_06['myVarname'] == 'Unnamed: 54'),(inversion_06['myVarname'] == 'Unnamed: 55'),(inversion_06['myVarname'] == 'Unnamed: 56'),
           (inversion_06['myVarname'] == 'Unnamed: 57'),(inversion_06['myVarname'] == 'Unnamed: 58'),(inversion_06['myVarname'] == 'Unnamed: 59'),(inversion_06['myVarname'] == 'Unnamed: 60'),(inversion_06['myVarname'] == 'Unnamed: 61'),
            (inversion_06['myVarname'] == 'Unnamed: 62'),(inversion_06['myVarname'] == 'Unnamed: 63'),(inversion_06['myVarname'] == 'Unnamed: 64'),(inversion_06['myVarname'] == 'Unnamed: 65'),(inversion_06['myVarname'] == 'Unnamed: 66'),
             (inversion_06['myVarname'] == 'Unnamed: 67'),(inversion_06['myVarname'] == 'Unnamed: 68'),(inversion_06['myVarname'] == 'Unnamed: 69'),(inversion_06['myVarname'] == 'Unnamed: 70'),(inversion_06['myVarname'] == 'Unnamed: 71'),
              (inversion_06['myVarname'] == 'Unnamed: 72'),(inversion_06['myVarname'] == 'Unnamed: 73'),(inversion_06['myVarname'] == 'Unnamed: 74'),(inversion_06['myVarname'] == 'Unnamed: 75'),(inversion_06['myVarname'] == 'Unnamed: 76'),
               (inversion_06['myVarname'] == 'Unnamed: 77'),(inversion_06['myVarname'] == 'Unnamed: 78'),(inversion_06['myVarname'] == 'Unnamed: 79'),(inversion_06['myVarname'] == 'Unnamed: 80'),(inversion_06['myVarname'] == 'Unnamed: 81'),
                (inversion_06['myVarname'] == 'Unnamed: 82'),(inversion_06['myVarname'] == 'Unnamed: 83'),(inversion_06['myVarname'] == 'Unnamed: 84'),(inversion_06['myVarname'] == 'Unnamed: 85'),(inversion_06['myVarname'] == 'Unnamed: 86'),
                 (inversion_06['myVarname'] == 'Unnamed: 87'),(inversion_06['myVarname'] == 'Unnamed: 88'),(inversion_06['myVarname'] == 'Unnamed: 89'),(inversion_06['myVarname'] == 'Unnamed: 90'),(inversion_06['myVarname'] == 'Unnamed: 91'),
                  (inversion_06['myVarname'] == 'Unnamed: 92'),(inversion_06['myVarname'] == 'Unnamed: 93'),(inversion_06['myVarname'] == 'Unnamed: 94'),(inversion_06['myVarname'] == 'Unnamed: 95'),(inversion_06['myVarname'] == 'Unnamed: 96'),
                   (inversion_06['myVarname'] == 'Unnamed: 97'),(inversion_06['myVarname'] == 'Unnamed: 98'),(inversion_06['myVarname'] == 'Unnamed: 99'),(inversion_06['myVarname'] == 'Unnamed: 100'),(inversion_06['myVarname'] == 'Unnamed: 101'),
                    (inversion_06['myVarname'] == 'Unnamed: 102'),(inversion_06['myVarname'] == 'Unnamed: 103'),(inversion_06['myVarname'] == 'Unnamed: 104'),(inversion_06['myVarname'] == 'Unnamed: 105'),(inversion_06['myVarname'] == 'Unnamed: 106'),
                     (inversion_06['myVarname'] == 'Unnamed: 107'),(inversion_06['myVarname'] == 'Unnamed: 108'),(inversion_06['myVarname'] == 'Unnamed: 109'),(inversion_06['myVarname'] == 'Unnamed: 110'),(inversion_06['myVarname'] == 'Unnamed: 111'),
                      (inversion_06['myVarname'] == 'Unnamed: 112'),(inversion_06['myVarname'] == 'Unnamed: 113'),(inversion_06['myVarname'] == 'Unnamed: 114'),(inversion_06['myVarname'] == 'Unnamed: 115'),(inversion_06['myVarname'] == 'Unnamed: 116'),
                       (inversion_06['myVarname'] == 'Unnamed: 117'),(inversion_06['myVarname'] == 'Unnamed: 118'),(inversion_06['myVarname'] == 'Unnamed: 119'),(inversion_06['myVarname'] == 'Unnamed: 120'),(inversion_06['myVarname'] == 'Unnamed: 121'),
                        (inversion_06['myVarname'] == 'Unnamed: 122'),(inversion_06['myVarname'] == 'Unnamed: 123'),(inversion_06['myVarname'] == 'Unnamed: 124'),(inversion_06['myVarname'] == 'Unnamed: 125'),(inversion_06['myVarname'] == 'Unnamed: 126'),
                         (inversion_06['myVarname'] == 'Unnamed: 127'),(inversion_06['myVarname'] == 'Unnamed: 128'),(inversion_06['myVarname'] == 'Unnamed: 129'),(inversion_06['myVarname'] == 'Unnamed: 130'),(inversion_06['myVarname'] == 'Unnamed: 131'),
                          (inversion_06['myVarname'] == 'Unnamed: 132'),(inversion_06['myVarname'] == 'Unnamed: 133'),(inversion_06['myVarname'] == 'Unnamed: 134'),(inversion_06['myVarname'] == 'Unnamed: 135'),(inversion_06['myVarname'] == 'Unnamed: 136'),
                           (inversion_06['myVarname'] == 'Unnamed: 137'),(inversion_06['myVarname'] == 'Unnamed: 138'),(inversion_06['myVarname'] == 'Unnamed: 139'),(inversion_06['myVarname'] == 'Unnamed: 140'),(inversion_06['myVarname'] == 'Unnamed: 141'),
                            (inversion_06['myVarname'] == 'Unnamed: 142'),(inversion_06['myVarname'] == 'Unnamed: 143'),(inversion_06['myVarname'] == 'Unnamed: 144'),(inversion_06['myVarname'] == 'Unnamed: 145'),(inversion_06['myVarname'] == 'Unnamed: 146'),
                             (inversion_06['myVarname'] == 'Unnamed: 147'),(inversion_06['myVarname'] == 'Unnamed: 148'),(inversion_06['myVarname'] == 'Unnamed: 149'),(inversion_06['myVarname'] == 'Unnamed: 150'),(inversion_06['myVarname'] == 'Unnamed: 151'),
                              (inversion_06['myVarname'] == 'Unnamed: 152'),(inversion_06['myVarname'] == 'Unnamed: 153'),(inversion_06['myVarname'] == 'Unnamed: 154'),(inversion_06['myVarname'] == 'Unnamed: 155'),(inversion_06['myVarname'] == 'Unnamed: 156'),
                               (inversion_06['myVarname'] == 'Unnamed: 157'),(inversion_06['myVarname'] == 'Unnamed: 158'),(inversion_06['myVarname'] == 'Unnamed: 159'),(inversion_06['myVarname'] == 'Unnamed: 160'),(inversion_06['myVarname'] == 'Unnamed: 161'),
                                (inversion_06['myVarname'] == 'Unnamed: 162'),(inversion_06['myVarname'] == 'Unnamed: 163'),(inversion_06['myVarname'] == 'Unnamed: 164'),(inversion_06['myVarname'] == 'Unnamed: 165'),(inversion_06['myVarname'] == 'Unnamed: 166')
                                ]

In [422]:
inversion_06['Fecha'] = np.select(conditions_6, values)

In [423]:
inversion_06.pop("myVarname")

5       Unnamed: 2
6       Unnamed: 2
7       Unnamed: 2
8       Unnamed: 2
9       Unnamed: 2
          ...
26    Unnamed: 166
27    Unnamed: 166
28    Unnamed: 166
29    Unnamed: 166
30    Unnamed: 166
Name: myVarname, Length: 4290, dtype: object

In [424]:
inversion_06.rename(columns={"Unnamed: 1": "Institucion"}, inplace=True)

In [425]:
inversion_06['Tipo'] = "Inversión"
inversion_06['Subtipo'] = "Instrumentos de empresa emitidos en el país"
inversion_06['Tipo de Moneda'] = "Saldos en millones de pesos"

In [426]:
new_cols = ["Fecha","Institucion","Tipo","Subtipo","Valor","Tipo de Moneda"]
inversion_06 = inversion_06.reindex(columns=new_cols)

In [427]:
inversion_06.head(7)

,Fecha,Institucion,Tipo,Subtipo,Valor,Tipo de Moneda
5,2008-01-31,Banco Bice,Inversión,Instrumentos de empresa emitidos en el país,885.229872,Saldos en millones de pesos
6,2008-01-31,Banco BTG Pactual Chile (9),Inversión,Instrumentos de empresa emitidos en el país,ND,Saldos en millones de pesos
7,2008-01-31,Banco Consorcio (1),Inversión,Instrumentos de empresa emitidos en el país,0,Saldos en millones de pesos
8,2008-01-31,Banco de Chile (2),Inversión,Instrumentos de empresa emitidos en el país,13976.960265,Saldos en millones de pesos
9,2008-01-31,Banco de Crédito e Inversiones,Inversión,Instrumentos de empresa emitidos en el país,66131.738443,Saldos en millones de pesos
10,2008-01-31,Banco de la Nación Argentina (18),Inversión,Instrumentos de empresa emitidos en el país,0,Saldos en millones de pesos
11,2008-01-31,Banco del Estado de Chile,Inversión,Instrumentos de empresa emitidos en el país,4776.123433,Saldos en millones de pesos

## Inversión 07

In [428]:
inversion_07.head(5)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,Unnamed: 161,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166
0,Índice general,Cuadro 3.07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Notas generales,Otros instrumentos emitidos en el país,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Saldos en millones de pesos,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,2008-01-31 00:00:00,2008-02-29 00:00:00,2008-03-31 00:00:00,2008-04-30 00:00:00,2008-05-31 00:00:00,2008-06-30 00:00:00,2008-07-31 00:00:00,2008-08-31 00:00:00,...,2020-12-31 00:00:00,2021-01-31 00:00:00,2021-02-28 00:00:00,2021-03-31 00:00:00,2021-04-30 00:00:00,2021-05-31 00:00:00,2021-06-30 00:00:00,2021-07-31 00:00:00,2021-08-31 00:00:00,2021-09-30 00:00:00

In [429]:
inversion_07.pop("Unnamed: 0")

0      Índice general
1     Notas generales
2                 NaN
3                 NaN
4                 NaN
5                 NaN
6                 NaN
7                 NaN
8                 NaN
9                 NaN
10                NaN
11                NaN
12                NaN
13                NaN
14                NaN
15                NaN
16                NaN
17                NaN
18                NaN
19                NaN
20                NaN
21                NaN
22                NaN
23                NaN
24                NaN
25                NaN
26                NaN
27                NaN
28                NaN
29                NaN
30                NaN
31                NaN
32                NaN
33                NaN
34                NaN
Name: Unnamed: 0, dtype: object

In [430]:
inversion_07 = inversion_07.iloc[5:]

In [431]:
inversion_07.tail(7)

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,Unnamed: 161,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166
28,Scotiabank Chile (3) (17),0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29,The Bank of Tokyo - Mitsubishi Ufj. Ltd. (19),0,0,0,0,0,0,0,0,0,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
30,Bank of China (16),ND,ND,ND,ND,ND,ND,ND,ND,ND,...,0,0,0,0,0,0,0,0,0,0
31,Total,23475.640092,13246.321572,30154.062885,32634.846426,20900.495471,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,ND : No existe dato,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [432]:
inversion_07.drop(inversion_07.tail(4).index,inplace=True)

<ipython-input-432-dc62a75bb8d5>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  inversion_07.drop(inversion_07.tail(4).index,inplace=True)

In [433]:
inversion_07.head(3)

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,Unnamed: 161,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166
5,Banco Bice,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,Banco BTG Pactual Chile (9),ND,ND,ND,ND,ND,ND,ND,ND,ND,...,0,0,0,0,0,0,0,0,0,0
7,Banco Consorcio (1),0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [434]:
inversion_07 = inversion_07.melt(id_vars=['Unnamed: 1'], value_vars=['Unnamed: 2','Unnamed: 3','Unnamed: 4','Unnamed: 5','Unnamed: 6','Unnamed: 7','Unnamed: 8','Unnamed: 9','Unnamed: 10','Unnamed: 11',
                                                   'Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19','Unnamed: 20','Unnamed: 21',
                                                   'Unnamed: 22','Unnamed: 23','Unnamed: 24','Unnamed: 25','Unnamed: 26','Unnamed: 27','Unnamed: 28','Unnamed: 29','Unnamed: 30','Unnamed: 31',
                                                   'Unnamed: 32','Unnamed: 33','Unnamed: 34','Unnamed: 35','Unnamed: 36','Unnamed: 37','Unnamed: 38','Unnamed: 39','Unnamed: 40','Unnamed: 41',
                                                   'Unnamed: 42','Unnamed: 43','Unnamed: 44','Unnamed: 45','Unnamed: 46','Unnamed: 47','Unnamed: 48','Unnamed: 49','Unnamed: 50','Unnamed: 51',
                                                   'Unnamed: 52','Unnamed: 53','Unnamed: 54','Unnamed: 55','Unnamed: 56','Unnamed: 57','Unnamed: 58','Unnamed: 59','Unnamed: 60','Unnamed: 61',
                                                   'Unnamed: 62','Unnamed: 63','Unnamed: 64','Unnamed: 65','Unnamed: 66','Unnamed: 67','Unnamed: 68','Unnamed: 69','Unnamed: 70','Unnamed: 71',
                                                   'Unnamed: 72','Unnamed: 73','Unnamed: 74','Unnamed: 75','Unnamed: 76','Unnamed: 77','Unnamed: 78','Unnamed: 79','Unnamed: 80','Unnamed: 81',
                                                   'Unnamed: 82','Unnamed: 83','Unnamed: 84','Unnamed: 85','Unnamed: 86','Unnamed: 87','Unnamed: 88','Unnamed: 89','Unnamed: 90','Unnamed: 91',
                                                   'Unnamed: 92','Unnamed: 93','Unnamed: 94','Unnamed: 95','Unnamed: 96','Unnamed: 97','Unnamed: 98','Unnamed: 99','Unnamed: 100','Unnamed: 101',
                                                   'Unnamed: 102','Unnamed: 103','Unnamed: 104','Unnamed: 105','Unnamed: 106','Unnamed: 107','Unnamed: 108','Unnamed: 109','Unnamed: 110','Unnamed: 111',
                                                   'Unnamed: 112','Unnamed: 113','Unnamed: 114','Unnamed: 115','Unnamed: 116','Unnamed: 117','Unnamed: 118','Unnamed: 119','Unnamed: 120','Unnamed: 121',
                                                   'Unnamed: 122','Unnamed: 123','Unnamed: 124','Unnamed: 125','Unnamed: 126','Unnamed: 127','Unnamed: 128','Unnamed: 129','Unnamed: 130','Unnamed: 131',
                                                   'Unnamed: 132','Unnamed: 133','Unnamed: 134','Unnamed: 135','Unnamed: 136','Unnamed: 137','Unnamed: 138','Unnamed: 139','Unnamed: 140','Unnamed: 141',
                                                   'Unnamed: 142','Unnamed: 143','Unnamed: 144','Unnamed: 145','Unnamed: 146','Unnamed: 147','Unnamed: 148','Unnamed: 149','Unnamed: 150','Unnamed: 151',
                                                   'Unnamed: 152','Unnamed: 153','Unnamed: 154','Unnamed: 155','Unnamed: 156','Unnamed: 157','Unnamed: 158','Unnamed: 159','Unnamed: 160','Unnamed: 161',
                                                   'Unnamed: 162','Unnamed: 163','Unnamed: 164','Unnamed: 165','Unnamed: 166'],
               var_name='myVarname',
               value_name='Valor',
               ignore_index=False
               )

In [435]:
# create a list of our conditions
conditions_7 = [(inversion_07['myVarname'] == 'Unnamed: 2'),(inversion_07['myVarname'] == 'Unnamed: 3'),(inversion_07['myVarname'] == 'Unnamed: 4'),(inversion_07['myVarname'] == 'Unnamed: 5'),(inversion_07['myVarname'] == 'Unnamed: 6'),
 (inversion_07['myVarname'] == 'Unnamed: 7'),(inversion_07['myVarname'] == 'Unnamed: 8'),(inversion_07['myVarname'] == 'Unnamed: 9'),(inversion_07['myVarname'] == 'Unnamed: 10'),(inversion_07['myVarname'] == 'Unnamed: 11'),
  (inversion_07['myVarname'] == 'Unnamed: 12'),(inversion_07['myVarname'] == 'Unnamed: 13'),(inversion_07['myVarname'] == 'Unnamed: 14'),(inversion_07['myVarname'] == 'Unnamed: 15'),(inversion_07['myVarname'] == 'Unnamed: 16'),
   (inversion_07['myVarname'] == 'Unnamed: 17'),(inversion_07['myVarname'] == 'Unnamed: 18'),(inversion_07['myVarname'] == 'Unnamed: 19'),(inversion_07['myVarname'] == 'Unnamed: 20'),(inversion_07['myVarname'] == 'Unnamed: 21'),
    (inversion_07['myVarname'] == 'Unnamed: 22'),(inversion_07['myVarname'] == 'Unnamed: 23'),(inversion_07['myVarname'] == 'Unnamed: 24'),(inversion_07['myVarname'] == 'Unnamed: 25'),(inversion_07['myVarname'] == 'Unnamed: 26'),
     (inversion_07['myVarname'] == 'Unnamed: 27'),(inversion_07['myVarname'] == 'Unnamed: 28'),(inversion_07['myVarname'] == 'Unnamed: 29'),(inversion_07['myVarname'] == 'Unnamed: 30'),(inversion_07['myVarname'] == 'Unnamed: 31'),
      (inversion_07['myVarname'] == 'Unnamed: 32'),(inversion_07['myVarname'] == 'Unnamed: 33'),(inversion_07['myVarname'] == 'Unnamed: 34'),(inversion_07['myVarname'] == 'Unnamed: 35'),(inversion_07['myVarname'] == 'Unnamed: 36'),
       (inversion_07['myVarname'] == 'Unnamed: 37'),(inversion_07['myVarname'] == 'Unnamed: 38'),(inversion_07['myVarname'] == 'Unnamed: 39'),(inversion_07['myVarname'] == 'Unnamed: 40'),(inversion_07['myVarname'] == 'Unnamed: 41'),
        (inversion_07['myVarname'] == 'Unnamed: 42'),(inversion_07['myVarname'] == 'Unnamed: 43'),(inversion_07['myVarname'] == 'Unnamed: 44'),(inversion_07['myVarname'] == 'Unnamed: 45'),(inversion_07['myVarname'] == 'Unnamed: 46'),
         (inversion_07['myVarname'] == 'Unnamed: 47'),(inversion_07['myVarname'] == 'Unnamed: 48'),(inversion_07['myVarname'] == 'Unnamed: 49'),(inversion_07['myVarname'] == 'Unnamed: 50'),(inversion_07['myVarname'] == 'Unnamed: 51'),
          (inversion_07['myVarname'] == 'Unnamed: 52'),(inversion_07['myVarname'] == 'Unnamed: 53'),(inversion_07['myVarname'] == 'Unnamed: 54'),(inversion_07['myVarname'] == 'Unnamed: 55'),(inversion_07['myVarname'] == 'Unnamed: 56'),
           (inversion_07['myVarname'] == 'Unnamed: 57'),(inversion_07['myVarname'] == 'Unnamed: 58'),(inversion_07['myVarname'] == 'Unnamed: 59'),(inversion_07['myVarname'] == 'Unnamed: 60'),(inversion_07['myVarname'] == 'Unnamed: 61'),
            (inversion_07['myVarname'] == 'Unnamed: 62'),(inversion_07['myVarname'] == 'Unnamed: 63'),(inversion_07['myVarname'] == 'Unnamed: 64'),(inversion_07['myVarname'] == 'Unnamed: 65'),(inversion_07['myVarname'] == 'Unnamed: 66'),
             (inversion_07['myVarname'] == 'Unnamed: 67'),(inversion_07['myVarname'] == 'Unnamed: 68'),(inversion_07['myVarname'] == 'Unnamed: 69'),(inversion_07['myVarname'] == 'Unnamed: 70'),(inversion_07['myVarname'] == 'Unnamed: 71'),
              (inversion_07['myVarname'] == 'Unnamed: 72'),(inversion_07['myVarname'] == 'Unnamed: 73'),(inversion_07['myVarname'] == 'Unnamed: 74'),(inversion_07['myVarname'] == 'Unnamed: 75'),(inversion_07['myVarname'] == 'Unnamed: 76'),
               (inversion_07['myVarname'] == 'Unnamed: 77'),(inversion_07['myVarname'] == 'Unnamed: 78'),(inversion_07['myVarname'] == 'Unnamed: 79'),(inversion_07['myVarname'] == 'Unnamed: 80'),(inversion_07['myVarname'] == 'Unnamed: 81'),
                (inversion_07['myVarname'] == 'Unnamed: 82'),(inversion_07['myVarname'] == 'Unnamed: 83'),(inversion_07['myVarname'] == 'Unnamed: 84'),(inversion_07['myVarname'] == 'Unnamed: 85'),(inversion_07['myVarname'] == 'Unnamed: 86'),
                 (inversion_07['myVarname'] == 'Unnamed: 87'),(inversion_07['myVarname'] == 'Unnamed: 88'),(inversion_07['myVarname'] == 'Unnamed: 89'),(inversion_07['myVarname'] == 'Unnamed: 90'),(inversion_07['myVarname'] == 'Unnamed: 91'),
                  (inversion_07['myVarname'] == 'Unnamed: 92'),(inversion_07['myVarname'] == 'Unnamed: 93'),(inversion_07['myVarname'] == 'Unnamed: 94'),(inversion_07['myVarname'] == 'Unnamed: 95'),(inversion_07['myVarname'] == 'Unnamed: 96'),
                   (inversion_07['myVarname'] == 'Unnamed: 97'),(inversion_07['myVarname'] == 'Unnamed: 98'),(inversion_07['myVarname'] == 'Unnamed: 99'),(inversion_07['myVarname'] == 'Unnamed: 100'),(inversion_07['myVarname'] == 'Unnamed: 101'),
                    (inversion_07['myVarname'] == 'Unnamed: 102'),(inversion_07['myVarname'] == 'Unnamed: 103'),(inversion_07['myVarname'] == 'Unnamed: 104'),(inversion_07['myVarname'] == 'Unnamed: 105'),(inversion_07['myVarname'] == 'Unnamed: 106'),
                     (inversion_07['myVarname'] == 'Unnamed: 107'),(inversion_07['myVarname'] == 'Unnamed: 108'),(inversion_07['myVarname'] == 'Unnamed: 109'),(inversion_07['myVarname'] == 'Unnamed: 110'),(inversion_07['myVarname'] == 'Unnamed: 111'),
                      (inversion_07['myVarname'] == 'Unnamed: 112'),(inversion_07['myVarname'] == 'Unnamed: 113'),(inversion_07['myVarname'] == 'Unnamed: 114'),(inversion_07['myVarname'] == 'Unnamed: 115'),(inversion_07['myVarname'] == 'Unnamed: 116'),
                       (inversion_07['myVarname'] == 'Unnamed: 117'),(inversion_07['myVarname'] == 'Unnamed: 118'),(inversion_07['myVarname'] == 'Unnamed: 119'),(inversion_07['myVarname'] == 'Unnamed: 120'),(inversion_07['myVarname'] == 'Unnamed: 121'),
                        (inversion_07['myVarname'] == 'Unnamed: 122'),(inversion_07['myVarname'] == 'Unnamed: 123'),(inversion_07['myVarname'] == 'Unnamed: 124'),(inversion_07['myVarname'] == 'Unnamed: 125'),(inversion_07['myVarname'] == 'Unnamed: 126'),
                         (inversion_07['myVarname'] == 'Unnamed: 127'),(inversion_07['myVarname'] == 'Unnamed: 128'),(inversion_07['myVarname'] == 'Unnamed: 129'),(inversion_07['myVarname'] == 'Unnamed: 130'),(inversion_07['myVarname'] == 'Unnamed: 131'),
                          (inversion_07['myVarname'] == 'Unnamed: 132'),(inversion_07['myVarname'] == 'Unnamed: 133'),(inversion_07['myVarname'] == 'Unnamed: 134'),(inversion_07['myVarname'] == 'Unnamed: 135'),(inversion_07['myVarname'] == 'Unnamed: 136'),
                           (inversion_07['myVarname'] == 'Unnamed: 137'),(inversion_07['myVarname'] == 'Unnamed: 138'),(inversion_07['myVarname'] == 'Unnamed: 139'),(inversion_07['myVarname'] == 'Unnamed: 140'),(inversion_07['myVarname'] == 'Unnamed: 141'),
                            (inversion_07['myVarname'] == 'Unnamed: 142'),(inversion_07['myVarname'] == 'Unnamed: 143'),(inversion_07['myVarname'] == 'Unnamed: 144'),(inversion_07['myVarname'] == 'Unnamed: 145'),(inversion_07['myVarname'] == 'Unnamed: 146'),
                             (inversion_07['myVarname'] == 'Unnamed: 147'),(inversion_07['myVarname'] == 'Unnamed: 148'),(inversion_07['myVarname'] == 'Unnamed: 149'),(inversion_07['myVarname'] == 'Unnamed: 150'),(inversion_07['myVarname'] == 'Unnamed: 151'),
                              (inversion_07['myVarname'] == 'Unnamed: 152'),(inversion_07['myVarname'] == 'Unnamed: 153'),(inversion_07['myVarname'] == 'Unnamed: 154'),(inversion_07['myVarname'] == 'Unnamed: 155'),(inversion_07['myVarname'] == 'Unnamed: 156'),
                               (inversion_07['myVarname'] == 'Unnamed: 157'),(inversion_07['myVarname'] == 'Unnamed: 158'),(inversion_07['myVarname'] == 'Unnamed: 159'),(inversion_07['myVarname'] == 'Unnamed: 160'),(inversion_07['myVarname'] == 'Unnamed: 161'),
                                (inversion_07['myVarname'] == 'Unnamed: 162'),(inversion_07['myVarname'] == 'Unnamed: 163'),(inversion_07['myVarname'] == 'Unnamed: 164'),(inversion_07['myVarname'] == 'Unnamed: 165'),(inversion_07['myVarname'] == 'Unnamed: 166')
                                ]

In [436]:
inversion_07['Fecha'] = np.select(conditions_7, values)

In [437]:
inversion_07.pop("myVarname")

5       Unnamed: 2
6       Unnamed: 2
7       Unnamed: 2
8       Unnamed: 2
9       Unnamed: 2
          ...
26    Unnamed: 166
27    Unnamed: 166
28    Unnamed: 166
29    Unnamed: 166
30    Unnamed: 166
Name: myVarname, Length: 4290, dtype: object

In [438]:
inversion_07.rename(columns={"Unnamed: 1": "Institucion"}, inplace=True)

In [439]:
inversion_07['Tipo'] = "Inversión"
inversion_07['Subtipo'] = "Otros instrumentos emitidos en el país"
inversion_07['Tipo de Moneda'] = "Saldos en millones de pesos"

In [440]:
new_cols = ["Fecha","Institucion","Tipo","Subtipo","Valor","Tipo de Moneda"]
inversion_07 = inversion_07.reindex(columns=new_cols)

In [441]:
inversion_07.head(7)

,Fecha,Institucion,Tipo,Subtipo,Valor,Tipo de Moneda
5,2008-01-31,Banco Bice,Inversión,Otros instrumentos emitidos en el país,0,Saldos en millones de pesos
6,2008-01-31,Banco BTG Pactual Chile (9),Inversión,Otros instrumentos emitidos en el país,ND,Saldos en millones de pesos
7,2008-01-31,Banco Consorcio (1),Inversión,Otros instrumentos emitidos en el país,0,Saldos en millones de pesos
8,2008-01-31,Banco de Chile (2),Inversión,Otros instrumentos emitidos en el país,4919.275055,Saldos en millones de pesos
9,2008-01-31,Banco de Crédito e Inversiones,Inversión,Otros instrumentos emitidos en el país,0,Saldos en millones de pesos
10,2008-01-31,Banco de la Nación Argentina (18),Inversión,Otros instrumentos emitidos en el país,0,Saldos en millones de pesos
11,2008-01-31,Banco del Estado de Chile,Inversión,Otros instrumentos emitidos en el país,0,Saldos en millones de pesos

## Inversión 08

In [442]:
inversion_08.head(5)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,Unnamed: 161,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166
0,Índice general,Cuadro 3.08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Notas generales,Otros instrumentos emitidos en el exterior,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Saldos en millones de pesos,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,2008-01-31 00:00:00,2008-02-29 00:00:00,2008-03-31 00:00:00,2008-04-30 00:00:00,2008-05-31 00:00:00,2008-06-30 00:00:00,2008-07-31 00:00:00,2008-08-31 00:00:00,...,2020-12-31 00:00:00,2021-01-31 00:00:00,2021-02-28 00:00:00,2021-03-31 00:00:00,2021-04-30 00:00:00,2021-05-31 00:00:00,2021-06-30 00:00:00,2021-07-31 00:00:00,2021-08-31 00:00:00,2021-09-30 00:00:00

In [443]:
inversion_08.pop("Unnamed: 0")

0      Índice general
1     Notas generales
2                 NaN
3                 NaN
4                 NaN
5                 NaN
6                 NaN
7                 NaN
8                 NaN
9                 NaN
10                NaN
11                NaN
12                NaN
13                NaN
14                NaN
15                NaN
16                NaN
17                NaN
18                NaN
19                NaN
20                NaN
21                NaN
22                NaN
23                NaN
24                NaN
25                NaN
26                NaN
27                NaN
28                NaN
29                NaN
30                NaN
31                NaN
32                NaN
33                NaN
34                NaN
Name: Unnamed: 0, dtype: object

In [444]:
inversion_08 = inversion_08.iloc[5:]

In [445]:
inversion_08.tail(7)

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,Unnamed: 161,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166
28,Scotiabank Chile (3) (17),0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29,The Bank of Tokyo - Mitsubishi Ufj. Ltd. (19),0,0,0,0,0,0,0,0,0,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
30,Bank of China (16),ND,ND,ND,ND,ND,ND,ND,ND,ND,...,0,0,0,0,0,0,0,0,0,0
31,Total,-228.44287,-30.375868,2.104244,-85.09627,-102.408435,-348.443135,-304.795236,-352.0528,-21157.545982,...,0,0,0,1089.657341,1264.242188,3666.014161,3801.188634,3741.521331,3988.915645,3852.617534
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,ND : No existe dato,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [446]:
inversion_08.drop(inversion_08.tail(4).index,inplace=True)

In [447]:
inversion_08.head(3)

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,Unnamed: 161,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166
5,Banco Bice,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,Banco BTG Pactual Chile (9),ND,ND,ND,ND,ND,ND,ND,ND,ND,...,0,0,0,0,0,0,0,0,0,0
7,Banco Consorcio (1),0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [448]:
inversion_08 = inversion_08.melt(id_vars=['Unnamed: 1'], value_vars=['Unnamed: 2','Unnamed: 3','Unnamed: 4','Unnamed: 5','Unnamed: 6','Unnamed: 7','Unnamed: 8','Unnamed: 9','Unnamed: 10','Unnamed: 11',
                                                   'Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19','Unnamed: 20','Unnamed: 21',
                                                   'Unnamed: 22','Unnamed: 23','Unnamed: 24','Unnamed: 25','Unnamed: 26','Unnamed: 27','Unnamed: 28','Unnamed: 29','Unnamed: 30','Unnamed: 31',
                                                   'Unnamed: 32','Unnamed: 33','Unnamed: 34','Unnamed: 35','Unnamed: 36','Unnamed: 37','Unnamed: 38','Unnamed: 39','Unnamed: 40','Unnamed: 41',
                                                   'Unnamed: 42','Unnamed: 43','Unnamed: 44','Unnamed: 45','Unnamed: 46','Unnamed: 47','Unnamed: 48','Unnamed: 49','Unnamed: 50','Unnamed: 51',
                                                   'Unnamed: 52','Unnamed: 53','Unnamed: 54','Unnamed: 55','Unnamed: 56','Unnamed: 57','Unnamed: 58','Unnamed: 59','Unnamed: 60','Unnamed: 61',
                                                   'Unnamed: 62','Unnamed: 63','Unnamed: 64','Unnamed: 65','Unnamed: 66','Unnamed: 67','Unnamed: 68','Unnamed: 69','Unnamed: 70','Unnamed: 71',
                                                   'Unnamed: 72','Unnamed: 73','Unnamed: 74','Unnamed: 75','Unnamed: 76','Unnamed: 77','Unnamed: 78','Unnamed: 79','Unnamed: 80','Unnamed: 81',
                                                   'Unnamed: 82','Unnamed: 83','Unnamed: 84','Unnamed: 85','Unnamed: 86','Unnamed: 87','Unnamed: 88','Unnamed: 89','Unnamed: 90','Unnamed: 91',
                                                   'Unnamed: 92','Unnamed: 93','Unnamed: 94','Unnamed: 95','Unnamed: 96','Unnamed: 97','Unnamed: 98','Unnamed: 99','Unnamed: 100','Unnamed: 101',
                                                   'Unnamed: 102','Unnamed: 103','Unnamed: 104','Unnamed: 105','Unnamed: 106','Unnamed: 107','Unnamed: 108','Unnamed: 109','Unnamed: 110','Unnamed: 111',
                                                   'Unnamed: 112','Unnamed: 113','Unnamed: 114','Unnamed: 115','Unnamed: 116','Unnamed: 117','Unnamed: 118','Unnamed: 119','Unnamed: 120','Unnamed: 121',
                                                   'Unnamed: 122','Unnamed: 123','Unnamed: 124','Unnamed: 125','Unnamed: 126','Unnamed: 127','Unnamed: 128','Unnamed: 129','Unnamed: 130','Unnamed: 131',
                                                   'Unnamed: 132','Unnamed: 133','Unnamed: 134','Unnamed: 135','Unnamed: 136','Unnamed: 137','Unnamed: 138','Unnamed: 139','Unnamed: 140','Unnamed: 141',
                                                   'Unnamed: 142','Unnamed: 143','Unnamed: 144','Unnamed: 145','Unnamed: 146','Unnamed: 147','Unnamed: 148','Unnamed: 149','Unnamed: 150','Unnamed: 151',
                                                   'Unnamed: 152','Unnamed: 153','Unnamed: 154','Unnamed: 155','Unnamed: 156','Unnamed: 157','Unnamed: 158','Unnamed: 159','Unnamed: 160','Unnamed: 161',
                                                   'Unnamed: 162','Unnamed: 163','Unnamed: 164','Unnamed: 165','Unnamed: 166'],
               var_name='myVarname',
               value_name='Valor',
               ignore_index=False
               )

In [449]:
# create a list of our conditions
conditions_8 = [(inversion_08['myVarname'] == 'Unnamed: 2'),(inversion_08['myVarname'] == 'Unnamed: 3'),(inversion_08['myVarname'] == 'Unnamed: 4'),(inversion_08['myVarname'] == 'Unnamed: 5'),(inversion_08['myVarname'] == 'Unnamed: 6'),
 (inversion_08['myVarname'] == 'Unnamed: 7'),(inversion_08['myVarname'] == 'Unnamed: 8'),(inversion_08['myVarname'] == 'Unnamed: 9'),(inversion_08['myVarname'] == 'Unnamed: 10'),(inversion_08['myVarname'] == 'Unnamed: 11'),
  (inversion_08['myVarname'] == 'Unnamed: 12'),(inversion_08['myVarname'] == 'Unnamed: 13'),(inversion_08['myVarname'] == 'Unnamed: 14'),(inversion_08['myVarname'] == 'Unnamed: 15'),(inversion_08['myVarname'] == 'Unnamed: 16'),
   (inversion_08['myVarname'] == 'Unnamed: 17'),(inversion_08['myVarname'] == 'Unnamed: 18'),(inversion_08['myVarname'] == 'Unnamed: 19'),(inversion_08['myVarname'] == 'Unnamed: 20'),(inversion_08['myVarname'] == 'Unnamed: 21'),
    (inversion_08['myVarname'] == 'Unnamed: 22'),(inversion_08['myVarname'] == 'Unnamed: 23'),(inversion_08['myVarname'] == 'Unnamed: 24'),(inversion_08['myVarname'] == 'Unnamed: 25'),(inversion_08['myVarname'] == 'Unnamed: 26'),
     (inversion_08['myVarname'] == 'Unnamed: 27'),(inversion_08['myVarname'] == 'Unnamed: 28'),(inversion_08['myVarname'] == 'Unnamed: 29'),(inversion_08['myVarname'] == 'Unnamed: 30'),(inversion_08['myVarname'] == 'Unnamed: 31'),
      (inversion_08['myVarname'] == 'Unnamed: 32'),(inversion_08['myVarname'] == 'Unnamed: 33'),(inversion_08['myVarname'] == 'Unnamed: 34'),(inversion_08['myVarname'] == 'Unnamed: 35'),(inversion_08['myVarname'] == 'Unnamed: 36'),
       (inversion_08['myVarname'] == 'Unnamed: 37'),(inversion_08['myVarname'] == 'Unnamed: 38'),(inversion_08['myVarname'] == 'Unnamed: 39'),(inversion_08['myVarname'] == 'Unnamed: 40'),(inversion_08['myVarname'] == 'Unnamed: 41'),
        (inversion_08['myVarname'] == 'Unnamed: 42'),(inversion_08['myVarname'] == 'Unnamed: 43'),(inversion_08['myVarname'] == 'Unnamed: 44'),(inversion_08['myVarname'] == 'Unnamed: 45'),(inversion_08['myVarname'] == 'Unnamed: 46'),
         (inversion_08['myVarname'] == 'Unnamed: 47'),(inversion_08['myVarname'] == 'Unnamed: 48'),(inversion_08['myVarname'] == 'Unnamed: 49'),(inversion_08['myVarname'] == 'Unnamed: 50'),(inversion_08['myVarname'] == 'Unnamed: 51'),
          (inversion_08['myVarname'] == 'Unnamed: 52'),(inversion_08['myVarname'] == 'Unnamed: 53'),(inversion_08['myVarname'] == 'Unnamed: 54'),(inversion_08['myVarname'] == 'Unnamed: 55'),(inversion_08['myVarname'] == 'Unnamed: 56'),
           (inversion_08['myVarname'] == 'Unnamed: 57'),(inversion_08['myVarname'] == 'Unnamed: 58'),(inversion_08['myVarname'] == 'Unnamed: 59'),(inversion_08['myVarname'] == 'Unnamed: 60'),(inversion_08['myVarname'] == 'Unnamed: 61'),
            (inversion_08['myVarname'] == 'Unnamed: 62'),(inversion_08['myVarname'] == 'Unnamed: 63'),(inversion_08['myVarname'] == 'Unnamed: 64'),(inversion_08['myVarname'] == 'Unnamed: 65'),(inversion_08['myVarname'] == 'Unnamed: 66'),
             (inversion_08['myVarname'] == 'Unnamed: 67'),(inversion_08['myVarname'] == 'Unnamed: 68'),(inversion_08['myVarname'] == 'Unnamed: 69'),(inversion_08['myVarname'] == 'Unnamed: 70'),(inversion_08['myVarname'] == 'Unnamed: 71'),
              (inversion_08['myVarname'] == 'Unnamed: 72'),(inversion_08['myVarname'] == 'Unnamed: 73'),(inversion_08['myVarname'] == 'Unnamed: 74'),(inversion_08['myVarname'] == 'Unnamed: 75'),(inversion_08['myVarname'] == 'Unnamed: 76'),
               (inversion_08['myVarname'] == 'Unnamed: 77'),(inversion_08['myVarname'] == 'Unnamed: 78'),(inversion_08['myVarname'] == 'Unnamed: 79'),(inversion_08['myVarname'] == 'Unnamed: 80'),(inversion_08['myVarname'] == 'Unnamed: 81'),
                (inversion_08['myVarname'] == 'Unnamed: 82'),(inversion_08['myVarname'] == 'Unnamed: 83'),(inversion_08['myVarname'] == 'Unnamed: 84'),(inversion_08['myVarname'] == 'Unnamed: 85'),(inversion_08['myVarname'] == 'Unnamed: 86'),
                 (inversion_08['myVarname'] == 'Unnamed: 87'),(inversion_08['myVarname'] == 'Unnamed: 88'),(inversion_08['myVarname'] == 'Unnamed: 89'),(inversion_08['myVarname'] == 'Unnamed: 90'),(inversion_08['myVarname'] == 'Unnamed: 91'),
                  (inversion_08['myVarname'] == 'Unnamed: 92'),(inversion_08['myVarname'] == 'Unnamed: 93'),(inversion_08['myVarname'] == 'Unnamed: 94'),(inversion_08['myVarname'] == 'Unnamed: 95'),(inversion_08['myVarname'] == 'Unnamed: 96'),
                   (inversion_08['myVarname'] == 'Unnamed: 97'),(inversion_08['myVarname'] == 'Unnamed: 98'),(inversion_08['myVarname'] == 'Unnamed: 99'),(inversion_08['myVarname'] == 'Unnamed: 100'),(inversion_08['myVarname'] == 'Unnamed: 101'),
                    (inversion_08['myVarname'] == 'Unnamed: 102'),(inversion_08['myVarname'] == 'Unnamed: 103'),(inversion_08['myVarname'] == 'Unnamed: 104'),(inversion_08['myVarname'] == 'Unnamed: 105'),(inversion_08['myVarname'] == 'Unnamed: 106'),
                     (inversion_08['myVarname'] == 'Unnamed: 107'),(inversion_08['myVarname'] == 'Unnamed: 108'),(inversion_08['myVarname'] == 'Unnamed: 109'),(inversion_08['myVarname'] == 'Unnamed: 110'),(inversion_08['myVarname'] == 'Unnamed: 111'),
                      (inversion_08['myVarname'] == 'Unnamed: 112'),(inversion_08['myVarname'] == 'Unnamed: 113'),(inversion_08['myVarname'] == 'Unnamed: 114'),(inversion_08['myVarname'] == 'Unnamed: 115'),(inversion_08['myVarname'] == 'Unnamed: 116'),
                       (inversion_08['myVarname'] == 'Unnamed: 117'),(inversion_08['myVarname'] == 'Unnamed: 118'),(inversion_08['myVarname'] == 'Unnamed: 119'),(inversion_08['myVarname'] == 'Unnamed: 120'),(inversion_08['myVarname'] == 'Unnamed: 121'),
                        (inversion_08['myVarname'] == 'Unnamed: 122'),(inversion_08['myVarname'] == 'Unnamed: 123'),(inversion_08['myVarname'] == 'Unnamed: 124'),(inversion_08['myVarname'] == 'Unnamed: 125'),(inversion_08['myVarname'] == 'Unnamed: 126'),
                         (inversion_08['myVarname'] == 'Unnamed: 127'),(inversion_08['myVarname'] == 'Unnamed: 128'),(inversion_08['myVarname'] == 'Unnamed: 129'),(inversion_08['myVarname'] == 'Unnamed: 130'),(inversion_08['myVarname'] == 'Unnamed: 131'),
                          (inversion_08['myVarname'] == 'Unnamed: 132'),(inversion_08['myVarname'] == 'Unnamed: 133'),(inversion_08['myVarname'] == 'Unnamed: 134'),(inversion_08['myVarname'] == 'Unnamed: 135'),(inversion_08['myVarname'] == 'Unnamed: 136'),
                           (inversion_08['myVarname'] == 'Unnamed: 137'),(inversion_08['myVarname'] == 'Unnamed: 138'),(inversion_08['myVarname'] == 'Unnamed: 139'),(inversion_08['myVarname'] == 'Unnamed: 140'),(inversion_08['myVarname'] == 'Unnamed: 141'),
                            (inversion_08['myVarname'] == 'Unnamed: 142'),(inversion_08['myVarname'] == 'Unnamed: 143'),(inversion_08['myVarname'] == 'Unnamed: 144'),(inversion_08['myVarname'] == 'Unnamed: 145'),(inversion_08['myVarname'] == 'Unnamed: 146'),
                             (inversion_08['myVarname'] == 'Unnamed: 147'),(inversion_08['myVarname'] == 'Unnamed: 148'),(inversion_08['myVarname'] == 'Unnamed: 149'),(inversion_08['myVarname'] == 'Unnamed: 150'),(inversion_08['myVarname'] == 'Unnamed: 151'),
                              (inversion_08['myVarname'] == 'Unnamed: 152'),(inversion_08['myVarname'] == 'Unnamed: 153'),(inversion_08['myVarname'] == 'Unnamed: 154'),(inversion_08['myVarname'] == 'Unnamed: 155'),(inversion_08['myVarname'] == 'Unnamed: 156'),
                               (inversion_08['myVarname'] == 'Unnamed: 157'),(inversion_08['myVarname'] == 'Unnamed: 158'),(inversion_08['myVarname'] == 'Unnamed: 159'),(inversion_08['myVarname'] == 'Unnamed: 160'),(inversion_08['myVarname'] == 'Unnamed: 161'),
                                (inversion_08['myVarname'] == 'Unnamed: 162'),(inversion_08['myVarname'] == 'Unnamed: 163'),(inversion_08['myVarname'] == 'Unnamed: 164'),(inversion_08['myVarname'] == 'Unnamed: 165'),(inversion_08['myVarname'] == 'Unnamed: 166')
                                ]

In [450]:
inversion_08['Fecha'] = np.select(conditions_8, values)

In [451]:
inversion_08.pop("myVarname")

5       Unnamed: 2
6       Unnamed: 2
7       Unnamed: 2
8       Unnamed: 2
9       Unnamed: 2
          ...
26    Unnamed: 166
27    Unnamed: 166
28    Unnamed: 166
29    Unnamed: 166
30    Unnamed: 166
Name: myVarname, Length: 4290, dtype: object

In [452]:
inversion_08.rename(columns={"Unnamed: 1": "Institucion"}, inplace=True)

In [453]:
inversion_08['Tipo'] = "Inversión"
inversion_08['Subtipo'] = "Otros instrumentos emitidos en el exterior"
inversion_08['Tipo de Moneda'] = "Saldos en millones de pesos"

In [454]:
new_cols = ["Fecha","Institucion","Tipo","Subtipo","Valor","Tipo de Moneda"]
inversion_08 = inversion_08.reindex(columns=new_cols)

In [455]:
inversion_08.head(7)

,Fecha,Institucion,Tipo,Subtipo,Valor,Tipo de Moneda
5,2008-01-31,Banco Bice,Inversión,Otros instrumentos emitidos en el exterior,0,Saldos en millones de pesos
6,2008-01-31,Banco BTG Pactual Chile (9),Inversión,Otros instrumentos emitidos en el exterior,ND,Saldos en millones de pesos
7,2008-01-31,Banco Consorcio (1),Inversión,Otros instrumentos emitidos en el exterior,0,Saldos en millones de pesos
8,2008-01-31,Banco de Chile (2),Inversión,Otros instrumentos emitidos en el exterior,0,Saldos en millones de pesos
9,2008-01-31,Banco de Crédito e Inversiones,Inversión,Otros instrumentos emitidos en el exterior,0,Saldos en millones de pesos
10,2008-01-31,Banco de la Nación Argentina (18),Inversión,Otros instrumentos emitidos en el exterior,0,Saldos en millones de pesos
11,2008-01-31,Banco del Estado de Chile,Inversión,Otros instrumentos emitidos en el exterior,-228.44287,Saldos en millones de pesos

## Inversión 09

In [456]:
inversion_09.head(5)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,Unnamed: 161,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166
0,Índice general,Cuadro 3.09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Notas generales,Fondos mutuos administrado por sociedades rela...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Saldos en millones de pesos,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,2008-01-31 00:00:00,2008-02-29 00:00:00,2008-03-31 00:00:00,2008-04-30 00:00:00,2008-05-31 00:00:00,2008-06-30 00:00:00,2008-07-31 00:00:00,2008-08-31 00:00:00,...,2020-12-31 00:00:00,2021-01-31 00:00:00,2021-02-28 00:00:00,2021-03-31 00:00:00,2021-04-30 00:00:00,2021-05-31 00:00:00,2021-06-30 00:00:00,2021-07-31 00:00:00,2021-08-31 00:00:00,2021-09-30 00:00:00

In [457]:
inversion_09.pop("Unnamed: 0")

0      Índice general
1     Notas generales
2                 NaN
3                 NaN
4                 NaN
5                 NaN
6                 NaN
7                 NaN
8                 NaN
9                 NaN
10                NaN
11                NaN
12                NaN
13                NaN
14                NaN
15                NaN
16                NaN
17                NaN
18                NaN
19                NaN
20                NaN
21                NaN
22                NaN
23                NaN
24                NaN
25                NaN
26                NaN
27                NaN
28                NaN
29                NaN
30                NaN
31                NaN
32                NaN
33                NaN
34                NaN
Name: Unnamed: 0, dtype: object

In [458]:
inversion_09 = inversion_09.iloc[5:]

In [459]:
inversion_09.tail(7)

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,Unnamed: 161,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166
28,Scotiabank Chile (3) (17),29301.930859,22002.855119,14951.488176,13152.327671,20806.821066,3064.537828,3200.469539,13453.01438,0,...,190002.374001,157002.990884,146302.778808,185001.1468,156000.956323,165001.033966,117000.754875,151003.235477,190002.861022,190007.806361
29,The Bank of Tokyo - Mitsubishi Ufj. Ltd. (19),0,0,0,0,0,0,0,0,0,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
30,Bank of China (16),ND,ND,ND,ND,ND,ND,ND,ND,ND,...,0,0,0,0,0,0,0,0,0,0
31,Total,254366.046039,85518.846019,100292.435576,96851.326722,132256.249526,95331.6478,100223.390339,33464.47478,30011.506,...,590016.374001,557011.390884,546311.178808,585003.9468,561009.356323,570003.833966,522003.554875,156052.983512,205053.411626,195057.701369
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,ND : No existe dato,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [460]:
inversion_09.drop(inversion_09.tail(4).index,inplace=True)

<ipython-input-460-ea0b43fd8599>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  inversion_09.drop(inversion_09.tail(4).index,inplace=True)

In [461]:
inversion_09.head(3)

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,Unnamed: 161,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166
5,Banco Bice,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,Banco BTG Pactual Chile (9),ND,ND,ND,ND,ND,ND,ND,ND,ND,...,0,0,0,0,0,0,0,0,0,0
7,Banco Consorcio (1),0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [462]:
inversion_09 = inversion_09.melt(id_vars=['Unnamed: 1'], value_vars=['Unnamed: 2','Unnamed: 3','Unnamed: 4','Unnamed: 5','Unnamed: 6','Unnamed: 7','Unnamed: 8','Unnamed: 9','Unnamed: 10','Unnamed: 11',
                                                   'Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19','Unnamed: 20','Unnamed: 21',
                                                   'Unnamed: 22','Unnamed: 23','Unnamed: 24','Unnamed: 25','Unnamed: 26','Unnamed: 27','Unnamed: 28','Unnamed: 29','Unnamed: 30','Unnamed: 31',
                                                   'Unnamed: 32','Unnamed: 33','Unnamed: 34','Unnamed: 35','Unnamed: 36','Unnamed: 37','Unnamed: 38','Unnamed: 39','Unnamed: 40','Unnamed: 41',
                                                   'Unnamed: 42','Unnamed: 43','Unnamed: 44','Unnamed: 45','Unnamed: 46','Unnamed: 47','Unnamed: 48','Unnamed: 49','Unnamed: 50','Unnamed: 51',
                                                   'Unnamed: 52','Unnamed: 53','Unnamed: 54','Unnamed: 55','Unnamed: 56','Unnamed: 57','Unnamed: 58','Unnamed: 59','Unnamed: 60','Unnamed: 61',
                                                   'Unnamed: 62','Unnamed: 63','Unnamed: 64','Unnamed: 65','Unnamed: 66','Unnamed: 67','Unnamed: 68','Unnamed: 69','Unnamed: 70','Unnamed: 71',
                                                   'Unnamed: 72','Unnamed: 73','Unnamed: 74','Unnamed: 75','Unnamed: 76','Unnamed: 77','Unnamed: 78','Unnamed: 79','Unnamed: 80','Unnamed: 81',
                                                   'Unnamed: 82','Unnamed: 83','Unnamed: 84','Unnamed: 85','Unnamed: 86','Unnamed: 87','Unnamed: 88','Unnamed: 89','Unnamed: 90','Unnamed: 91',
                                                   'Unnamed: 92','Unnamed: 93','Unnamed: 94','Unnamed: 95','Unnamed: 96','Unnamed: 97','Unnamed: 98','Unnamed: 99','Unnamed: 100','Unnamed: 101',
                                                   'Unnamed: 102','Unnamed: 103','Unnamed: 104','Unnamed: 105','Unnamed: 106','Unnamed: 107','Unnamed: 108','Unnamed: 109','Unnamed: 110','Unnamed: 111',
                                                   'Unnamed: 112','Unnamed: 113','Unnamed: 114','Unnamed: 115','Unnamed: 116','Unnamed: 117','Unnamed: 118','Unnamed: 119','Unnamed: 120','Unnamed: 121',
                                                   'Unnamed: 122','Unnamed: 123','Unnamed: 124','Unnamed: 125','Unnamed: 126','Unnamed: 127','Unnamed: 128','Unnamed: 129','Unnamed: 130','Unnamed: 131',
                                                   'Unnamed: 132','Unnamed: 133','Unnamed: 134','Unnamed: 135','Unnamed: 136','Unnamed: 137','Unnamed: 138','Unnamed: 139','Unnamed: 140','Unnamed: 141',
                                                   'Unnamed: 142','Unnamed: 143','Unnamed: 144','Unnamed: 145','Unnamed: 146','Unnamed: 147','Unnamed: 148','Unnamed: 149','Unnamed: 150','Unnamed: 151',
                                                   'Unnamed: 152','Unnamed: 153','Unnamed: 154','Unnamed: 155','Unnamed: 156','Unnamed: 157','Unnamed: 158','Unnamed: 159','Unnamed: 160','Unnamed: 161',
                                                   'Unnamed: 162','Unnamed: 163','Unnamed: 164','Unnamed: 165','Unnamed: 166'],
               var_name='myVarname',
               value_name='Valor',
               ignore_index=False
               )

In [463]:
# create a list of our conditions
conditions_9 = [(inversion_09['myVarname'] == 'Unnamed: 2'),(inversion_09['myVarname'] == 'Unnamed: 3'),(inversion_09['myVarname'] == 'Unnamed: 4'),(inversion_09['myVarname'] == 'Unnamed: 5'),(inversion_09['myVarname'] == 'Unnamed: 6'),
 (inversion_09['myVarname'] == 'Unnamed: 7'),(inversion_09['myVarname'] == 'Unnamed: 8'),(inversion_09['myVarname'] == 'Unnamed: 9'),(inversion_09['myVarname'] == 'Unnamed: 10'),(inversion_09['myVarname'] == 'Unnamed: 11'),
  (inversion_09['myVarname'] == 'Unnamed: 12'),(inversion_09['myVarname'] == 'Unnamed: 13'),(inversion_09['myVarname'] == 'Unnamed: 14'),(inversion_09['myVarname'] == 'Unnamed: 15'),(inversion_09['myVarname'] == 'Unnamed: 16'),
   (inversion_09['myVarname'] == 'Unnamed: 17'),(inversion_09['myVarname'] == 'Unnamed: 18'),(inversion_09['myVarname'] == 'Unnamed: 19'),(inversion_09['myVarname'] == 'Unnamed: 20'),(inversion_09['myVarname'] == 'Unnamed: 21'),
    (inversion_09['myVarname'] == 'Unnamed: 22'),(inversion_09['myVarname'] == 'Unnamed: 23'),(inversion_09['myVarname'] == 'Unnamed: 24'),(inversion_09['myVarname'] == 'Unnamed: 25'),(inversion_09['myVarname'] == 'Unnamed: 26'),
     (inversion_09['myVarname'] == 'Unnamed: 27'),(inversion_09['myVarname'] == 'Unnamed: 28'),(inversion_09['myVarname'] == 'Unnamed: 29'),(inversion_09['myVarname'] == 'Unnamed: 30'),(inversion_09['myVarname'] == 'Unnamed: 31'),
      (inversion_09['myVarname'] == 'Unnamed: 32'),(inversion_09['myVarname'] == 'Unnamed: 33'),(inversion_09['myVarname'] == 'Unnamed: 34'),(inversion_09['myVarname'] == 'Unnamed: 35'),(inversion_09['myVarname'] == 'Unnamed: 36'),
       (inversion_09['myVarname'] == 'Unnamed: 37'),(inversion_09['myVarname'] == 'Unnamed: 38'),(inversion_09['myVarname'] == 'Unnamed: 39'),(inversion_09['myVarname'] == 'Unnamed: 40'),(inversion_09['myVarname'] == 'Unnamed: 41'),
        (inversion_09['myVarname'] == 'Unnamed: 42'),(inversion_09['myVarname'] == 'Unnamed: 43'),(inversion_09['myVarname'] == 'Unnamed: 44'),(inversion_09['myVarname'] == 'Unnamed: 45'),(inversion_09['myVarname'] == 'Unnamed: 46'),
         (inversion_09['myVarname'] == 'Unnamed: 47'),(inversion_09['myVarname'] == 'Unnamed: 48'),(inversion_09['myVarname'] == 'Unnamed: 49'),(inversion_09['myVarname'] == 'Unnamed: 50'),(inversion_09['myVarname'] == 'Unnamed: 51'),
          (inversion_09['myVarname'] == 'Unnamed: 52'),(inversion_09['myVarname'] == 'Unnamed: 53'),(inversion_09['myVarname'] == 'Unnamed: 54'),(inversion_09['myVarname'] == 'Unnamed: 55'),(inversion_09['myVarname'] == 'Unnamed: 56'),
           (inversion_09['myVarname'] == 'Unnamed: 57'),(inversion_09['myVarname'] == 'Unnamed: 58'),(inversion_09['myVarname'] == 'Unnamed: 59'),(inversion_09['myVarname'] == 'Unnamed: 60'),(inversion_09['myVarname'] == 'Unnamed: 61'),
            (inversion_09['myVarname'] == 'Unnamed: 62'),(inversion_09['myVarname'] == 'Unnamed: 63'),(inversion_09['myVarname'] == 'Unnamed: 64'),(inversion_09['myVarname'] == 'Unnamed: 65'),(inversion_09['myVarname'] == 'Unnamed: 66'),
             (inversion_09['myVarname'] == 'Unnamed: 67'),(inversion_09['myVarname'] == 'Unnamed: 68'),(inversion_09['myVarname'] == 'Unnamed: 69'),(inversion_09['myVarname'] == 'Unnamed: 70'),(inversion_09['myVarname'] == 'Unnamed: 71'),
              (inversion_09['myVarname'] == 'Unnamed: 72'),(inversion_09['myVarname'] == 'Unnamed: 73'),(inversion_09['myVarname'] == 'Unnamed: 74'),(inversion_09['myVarname'] == 'Unnamed: 75'),(inversion_09['myVarname'] == 'Unnamed: 76'),
               (inversion_09['myVarname'] == 'Unnamed: 77'),(inversion_09['myVarname'] == 'Unnamed: 78'),(inversion_09['myVarname'] == 'Unnamed: 79'),(inversion_09['myVarname'] == 'Unnamed: 80'),(inversion_09['myVarname'] == 'Unnamed: 81'),
                (inversion_09['myVarname'] == 'Unnamed: 82'),(inversion_09['myVarname'] == 'Unnamed: 83'),(inversion_09['myVarname'] == 'Unnamed: 84'),(inversion_09['myVarname'] == 'Unnamed: 85'),(inversion_09['myVarname'] == 'Unnamed: 86'),
                 (inversion_09['myVarname'] == 'Unnamed: 87'),(inversion_09['myVarname'] == 'Unnamed: 88'),(inversion_09['myVarname'] == 'Unnamed: 89'),(inversion_09['myVarname'] == 'Unnamed: 90'),(inversion_09['myVarname'] == 'Unnamed: 91'),
                  (inversion_09['myVarname'] == 'Unnamed: 92'),(inversion_09['myVarname'] == 'Unnamed: 93'),(inversion_09['myVarname'] == 'Unnamed: 94'),(inversion_09['myVarname'] == 'Unnamed: 95'),(inversion_09['myVarname'] == 'Unnamed: 96'),
                   (inversion_09['myVarname'] == 'Unnamed: 97'),(inversion_09['myVarname'] == 'Unnamed: 98'),(inversion_09['myVarname'] == 'Unnamed: 99'),(inversion_09['myVarname'] == 'Unnamed: 100'),(inversion_09['myVarname'] == 'Unnamed: 101'),
                    (inversion_09['myVarname'] == 'Unnamed: 102'),(inversion_09['myVarname'] == 'Unnamed: 103'),(inversion_09['myVarname'] == 'Unnamed: 104'),(inversion_09['myVarname'] == 'Unnamed: 105'),(inversion_09['myVarname'] == 'Unnamed: 106'),
                     (inversion_09['myVarname'] == 'Unnamed: 107'),(inversion_09['myVarname'] == 'Unnamed: 108'),(inversion_09['myVarname'] == 'Unnamed: 109'),(inversion_09['myVarname'] == 'Unnamed: 110'),(inversion_09['myVarname'] == 'Unnamed: 111'),
                      (inversion_09['myVarname'] == 'Unnamed: 112'),(inversion_09['myVarname'] == 'Unnamed: 113'),(inversion_09['myVarname'] == 'Unnamed: 114'),(inversion_09['myVarname'] == 'Unnamed: 115'),(inversion_09['myVarname'] == 'Unnamed: 116'),
                       (inversion_09['myVarname'] == 'Unnamed: 117'),(inversion_09['myVarname'] == 'Unnamed: 118'),(inversion_09['myVarname'] == 'Unnamed: 119'),(inversion_09['myVarname'] == 'Unnamed: 120'),(inversion_09['myVarname'] == 'Unnamed: 121'),
                        (inversion_09['myVarname'] == 'Unnamed: 122'),(inversion_09['myVarname'] == 'Unnamed: 123'),(inversion_09['myVarname'] == 'Unnamed: 124'),(inversion_09['myVarname'] == 'Unnamed: 125'),(inversion_09['myVarname'] == 'Unnamed: 126'),
                         (inversion_09['myVarname'] == 'Unnamed: 127'),(inversion_09['myVarname'] == 'Unnamed: 128'),(inversion_09['myVarname'] == 'Unnamed: 129'),(inversion_09['myVarname'] == 'Unnamed: 130'),(inversion_09['myVarname'] == 'Unnamed: 131'),
                          (inversion_09['myVarname'] == 'Unnamed: 132'),(inversion_09['myVarname'] == 'Unnamed: 133'),(inversion_09['myVarname'] == 'Unnamed: 134'),(inversion_09['myVarname'] == 'Unnamed: 135'),(inversion_09['myVarname'] == 'Unnamed: 136'),
                           (inversion_09['myVarname'] == 'Unnamed: 137'),(inversion_09['myVarname'] == 'Unnamed: 138'),(inversion_09['myVarname'] == 'Unnamed: 139'),(inversion_09['myVarname'] == 'Unnamed: 140'),(inversion_09['myVarname'] == 'Unnamed: 141'),
                            (inversion_09['myVarname'] == 'Unnamed: 142'),(inversion_09['myVarname'] == 'Unnamed: 143'),(inversion_09['myVarname'] == 'Unnamed: 144'),(inversion_09['myVarname'] == 'Unnamed: 145'),(inversion_09['myVarname'] == 'Unnamed: 146'),
                             (inversion_09['myVarname'] == 'Unnamed: 147'),(inversion_09['myVarname'] == 'Unnamed: 148'),(inversion_09['myVarname'] == 'Unnamed: 149'),(inversion_09['myVarname'] == 'Unnamed: 150'),(inversion_09['myVarname'] == 'Unnamed: 151'),
                              (inversion_09['myVarname'] == 'Unnamed: 152'),(inversion_09['myVarname'] == 'Unnamed: 153'),(inversion_09['myVarname'] == 'Unnamed: 154'),(inversion_09['myVarname'] == 'Unnamed: 155'),(inversion_09['myVarname'] == 'Unnamed: 156'),
                               (inversion_09['myVarname'] == 'Unnamed: 157'),(inversion_09['myVarname'] == 'Unnamed: 158'),(inversion_09['myVarname'] == 'Unnamed: 159'),(inversion_09['myVarname'] == 'Unnamed: 160'),(inversion_09['myVarname'] == 'Unnamed: 161'),
                                (inversion_09['myVarname'] == 'Unnamed: 162'),(inversion_09['myVarname'] == 'Unnamed: 163'),(inversion_09['myVarname'] == 'Unnamed: 164'),(inversion_09['myVarname'] == 'Unnamed: 165'),(inversion_09['myVarname'] == 'Unnamed: 166')
                                ]

In [464]:
inversion_09['Fecha'] = np.select(conditions_9, values)

In [465]:
inversion_09.pop("myVarname")

5       Unnamed: 2
6       Unnamed: 2
7       Unnamed: 2
8       Unnamed: 2
9       Unnamed: 2
          ...
26    Unnamed: 166
27    Unnamed: 166
28    Unnamed: 166
29    Unnamed: 166
30    Unnamed: 166
Name: myVarname, Length: 4290, dtype: object

In [466]:
inversion_09.rename(columns={"Unnamed: 1": "Institucion"}, inplace=True)

In [467]:
inversion_09['Tipo'] = "Inversión"
inversion_09['Subtipo'] = "Fondos mutuos administrado por sociedades relacionadas"
inversion_09['Tipo de Moneda'] = "Saldos en millones de pesos"

In [468]:
new_cols = ["Fecha","Institucion","Tipo","Subtipo","Valor","Tipo de Moneda"]
inversion_09 = inversion_09.reindex(columns=new_cols)

In [469]:
inversion_09.head(7)

,Fecha,Institucion,Tipo,Subtipo,Valor,Tipo de Moneda
5,2008-01-31,Banco Bice,Inversión,Fondos mutuos administrado por sociedades rela...,0,Saldos en millones de pesos
6,2008-01-31,Banco BTG Pactual Chile (9),Inversión,Fondos mutuos administrado por sociedades rela...,ND,Saldos en millones de pesos
7,2008-01-31,Banco Consorcio (1),Inversión,Fondos mutuos administrado por sociedades rela...,0,Saldos en millones de pesos
8,2008-01-31,Banco de Chile (2),Inversión,Fondos mutuos administrado por sociedades rela...,170043.283333,Saldos en millones de pesos
9,2008-01-31,Banco de Crédito e Inversiones,Inversión,Fondos mutuos administrado por sociedades rela...,0,Saldos en millones de pesos
10,2008-01-31,Banco de la Nación Argentina (18),Inversión,Fondos mutuos administrado por sociedades rela...,0,Saldos en millones de pesos
11,2008-01-31,Banco del Estado de Chile,Inversión,Fondos mutuos administrado por sociedades rela...,0,Saldos en millones de pesos

## Inversión 10

In [470]:
inversion_10.head(5)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,Unnamed: 161,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166
0,Índice general,Cuadro 3.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Notas generales,Total de inversion en moneda extranjera,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Saldos en millones de pesos,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,2008-01-31 00:00:00,2008-02-29 00:00:00,2008-03-31 00:00:00,2008-04-30 00:00:00,2008-05-31 00:00:00,2008-06-30 00:00:00,2008-07-31 00:00:00,2008-08-31 00:00:00,...,2020-12-31 00:00:00,2021-01-31 00:00:00,2021-02-28 00:00:00,2021-03-31 00:00:00,2021-04-30 00:00:00,2021-05-31 00:00:00,2021-06-30 00:00:00,2021-07-31 00:00:00,2021-08-31 00:00:00,2021-09-30 00:00:00

In [471]:
inversion_10.pop("Unnamed: 0")

0      Índice general
1     Notas generales
2                 NaN
3                 NaN
4                 NaN
5                 NaN
6                 NaN
7                 NaN
8                 NaN
9                 NaN
10                NaN
11                NaN
12                NaN
13                NaN
14                NaN
15                NaN
16                NaN
17                NaN
18                NaN
19                NaN
20                NaN
21                NaN
22                NaN
23                NaN
24                NaN
25                NaN
26                NaN
27                NaN
28                NaN
29                NaN
30                NaN
31                NaN
32                NaN
33                NaN
34                NaN
35                NaN
Name: Unnamed: 0, dtype: object

In [472]:
inversion_10 = inversion_10.iloc[5:]

In [473]:
inversion_10.tail(7)

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,Unnamed: 161,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166
29,The Bank of Tokyo - Mitsubishi Ufj. Ltd. (19),2952.315101,6580.709763,3091.055467,3235.810351,3392.265391,3686.248216,3571.03026,4421.031149,4729.12109,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
30,Bank of China (16),ND,ND,ND,ND,ND,ND,ND,ND,ND,...,0,0,0,0,109.836868,10829.432488,10979.200713,761.047393,774.470267,812.34246
31,Total,601055.84349,604886.225557,617508.060113,485821.944334,544318.97365,483870.684341,516020.341554,435962.218685,745778.485539,...,1673512.031128,1746024.730817,1791366.842174,1849106.461687,1867468.131624,2294773.787045,2395184.399248,2450676.074301,2219061.372712,2388181.67081
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,ND : No existe dato,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [474]:
inversion_10.drop(inversion_10.tail(5).index,inplace=True)

<ipython-input-474-6e04c4790601>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  inversion_10.drop(inversion_10.tail(5).index,inplace=True)

In [475]:
inversion_10.head(3)

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,Unnamed: 161,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166
5,Banco Bice,701.76822,688.806597,665.070431,672.975249,702.387511,770.261743,742.854745,758.118085,811.305011,...,41323.599194,49297.459496,70885.947937,75864.239584,84059.162112,119226.924494,122995.064365,130150.912922,147280.111437,337221.976693
6,Banco BTG Pactual Chile (9),ND,ND,ND,ND,ND,ND,ND,ND,ND,...,0,0,0,0,0,0,0,0,0,0
7,Banco Consorcio (1),2274.338176,2236.396967,2158.762893,1811.470856,1511.165075,1247.285266,1190.57746,1232.118273,1120.671655,...,405293.911969,460591.249291,455701.402223,458912.581538,444207.900034,441350.892441,405626.496497,350766.129421,93891.543703,91639.713139

In [476]:
inversion_10 = inversion_10.melt(id_vars=['Unnamed: 1'], value_vars=['Unnamed: 2','Unnamed: 3','Unnamed: 4','Unnamed: 5','Unnamed: 6','Unnamed: 7','Unnamed: 8','Unnamed: 9','Unnamed: 10','Unnamed: 11',
                                                   'Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19','Unnamed: 20','Unnamed: 21',
                                                   'Unnamed: 22','Unnamed: 23','Unnamed: 24','Unnamed: 25','Unnamed: 26','Unnamed: 27','Unnamed: 28','Unnamed: 29','Unnamed: 30','Unnamed: 31',
                                                   'Unnamed: 32','Unnamed: 33','Unnamed: 34','Unnamed: 35','Unnamed: 36','Unnamed: 37','Unnamed: 38','Unnamed: 39','Unnamed: 40','Unnamed: 41',
                                                   'Unnamed: 42','Unnamed: 43','Unnamed: 44','Unnamed: 45','Unnamed: 46','Unnamed: 47','Unnamed: 48','Unnamed: 49','Unnamed: 50','Unnamed: 51',
                                                   'Unnamed: 52','Unnamed: 53','Unnamed: 54','Unnamed: 55','Unnamed: 56','Unnamed: 57','Unnamed: 58','Unnamed: 59','Unnamed: 60','Unnamed: 61',
                                                   'Unnamed: 62','Unnamed: 63','Unnamed: 64','Unnamed: 65','Unnamed: 66','Unnamed: 67','Unnamed: 68','Unnamed: 69','Unnamed: 70','Unnamed: 71',
                                                   'Unnamed: 72','Unnamed: 73','Unnamed: 74','Unnamed: 75','Unnamed: 76','Unnamed: 77','Unnamed: 78','Unnamed: 79','Unnamed: 80','Unnamed: 81',
                                                   'Unnamed: 82','Unnamed: 83','Unnamed: 84','Unnamed: 85','Unnamed: 86','Unnamed: 87','Unnamed: 88','Unnamed: 89','Unnamed: 90','Unnamed: 91',
                                                   'Unnamed: 92','Unnamed: 93','Unnamed: 94','Unnamed: 95','Unnamed: 96','Unnamed: 97','Unnamed: 98','Unnamed: 99','Unnamed: 100','Unnamed: 101',
                                                   'Unnamed: 102','Unnamed: 103','Unnamed: 104','Unnamed: 105','Unnamed: 106','Unnamed: 107','Unnamed: 108','Unnamed: 109','Unnamed: 110','Unnamed: 111',
                                                   'Unnamed: 112','Unnamed: 113','Unnamed: 114','Unnamed: 115','Unnamed: 116','Unnamed: 117','Unnamed: 118','Unnamed: 119','Unnamed: 120','Unnamed: 121',
                                                   'Unnamed: 122','Unnamed: 123','Unnamed: 124','Unnamed: 125','Unnamed: 126','Unnamed: 127','Unnamed: 128','Unnamed: 129','Unnamed: 130','Unnamed: 131',
                                                   'Unnamed: 132','Unnamed: 133','Unnamed: 134','Unnamed: 135','Unnamed: 136','Unnamed: 137','Unnamed: 138','Unnamed: 139','Unnamed: 140','Unnamed: 141',
                                                   'Unnamed: 142','Unnamed: 143','Unnamed: 144','Unnamed: 145','Unnamed: 146','Unnamed: 147','Unnamed: 148','Unnamed: 149','Unnamed: 150','Unnamed: 151',
                                                   'Unnamed: 152','Unnamed: 153','Unnamed: 154','Unnamed: 155','Unnamed: 156','Unnamed: 157','Unnamed: 158','Unnamed: 159','Unnamed: 160','Unnamed: 161',
                                                   'Unnamed: 162','Unnamed: 163','Unnamed: 164','Unnamed: 165','Unnamed: 166'],
               var_name='myVarname',
               value_name='Valor',
               ignore_index=False
               )

In [477]:
# create a list of our conditions
conditions_10 = [(inversion_10['myVarname'] == 'Unnamed: 2'),(inversion_10['myVarname'] == 'Unnamed: 3'),(inversion_10['myVarname'] == 'Unnamed: 4'),(inversion_10['myVarname'] == 'Unnamed: 5'),(inversion_10['myVarname'] == 'Unnamed: 6'),
 (inversion_10['myVarname'] == 'Unnamed: 7'),(inversion_10['myVarname'] == 'Unnamed: 8'),(inversion_10['myVarname'] == 'Unnamed: 9'),(inversion_10['myVarname'] == 'Unnamed: 10'),(inversion_10['myVarname'] == 'Unnamed: 11'),
  (inversion_10['myVarname'] == 'Unnamed: 12'),(inversion_10['myVarname'] == 'Unnamed: 13'),(inversion_10['myVarname'] == 'Unnamed: 14'),(inversion_10['myVarname'] == 'Unnamed: 15'),(inversion_10['myVarname'] == 'Unnamed: 16'),
   (inversion_10['myVarname'] == 'Unnamed: 17'),(inversion_10['myVarname'] == 'Unnamed: 18'),(inversion_10['myVarname'] == 'Unnamed: 19'),(inversion_10['myVarname'] == 'Unnamed: 20'),(inversion_10['myVarname'] == 'Unnamed: 21'),
    (inversion_10['myVarname'] == 'Unnamed: 22'),(inversion_10['myVarname'] == 'Unnamed: 23'),(inversion_10['myVarname'] == 'Unnamed: 24'),(inversion_10['myVarname'] == 'Unnamed: 25'),(inversion_10['myVarname'] == 'Unnamed: 26'),
     (inversion_10['myVarname'] == 'Unnamed: 27'),(inversion_10['myVarname'] == 'Unnamed: 28'),(inversion_10['myVarname'] == 'Unnamed: 29'),(inversion_10['myVarname'] == 'Unnamed: 30'),(inversion_10['myVarname'] == 'Unnamed: 31'),
      (inversion_10['myVarname'] == 'Unnamed: 32'),(inversion_10['myVarname'] == 'Unnamed: 33'),(inversion_10['myVarname'] == 'Unnamed: 34'),(inversion_10['myVarname'] == 'Unnamed: 35'),(inversion_10['myVarname'] == 'Unnamed: 36'),
       (inversion_10['myVarname'] == 'Unnamed: 37'),(inversion_10['myVarname'] == 'Unnamed: 38'),(inversion_10['myVarname'] == 'Unnamed: 39'),(inversion_10['myVarname'] == 'Unnamed: 40'),(inversion_10['myVarname'] == 'Unnamed: 41'),
        (inversion_10['myVarname'] == 'Unnamed: 42'),(inversion_10['myVarname'] == 'Unnamed: 43'),(inversion_10['myVarname'] == 'Unnamed: 44'),(inversion_10['myVarname'] == 'Unnamed: 45'),(inversion_10['myVarname'] == 'Unnamed: 46'),
         (inversion_10['myVarname'] == 'Unnamed: 47'),(inversion_10['myVarname'] == 'Unnamed: 48'),(inversion_10['myVarname'] == 'Unnamed: 49'),(inversion_10['myVarname'] == 'Unnamed: 50'),(inversion_10['myVarname'] == 'Unnamed: 51'),
          (inversion_10['myVarname'] == 'Unnamed: 52'),(inversion_10['myVarname'] == 'Unnamed: 53'),(inversion_10['myVarname'] == 'Unnamed: 54'),(inversion_10['myVarname'] == 'Unnamed: 55'),(inversion_10['myVarname'] == 'Unnamed: 56'),
           (inversion_10['myVarname'] == 'Unnamed: 57'),(inversion_10['myVarname'] == 'Unnamed: 58'),(inversion_10['myVarname'] == 'Unnamed: 59'),(inversion_10['myVarname'] == 'Unnamed: 60'),(inversion_10['myVarname'] == 'Unnamed: 61'),
            (inversion_10['myVarname'] == 'Unnamed: 62'),(inversion_10['myVarname'] == 'Unnamed: 63'),(inversion_10['myVarname'] == 'Unnamed: 64'),(inversion_10['myVarname'] == 'Unnamed: 65'),(inversion_10['myVarname'] == 'Unnamed: 66'),
             (inversion_10['myVarname'] == 'Unnamed: 67'),(inversion_10['myVarname'] == 'Unnamed: 68'),(inversion_10['myVarname'] == 'Unnamed: 69'),(inversion_10['myVarname'] == 'Unnamed: 70'),(inversion_10['myVarname'] == 'Unnamed: 71'),
              (inversion_10['myVarname'] == 'Unnamed: 72'),(inversion_10['myVarname'] == 'Unnamed: 73'),(inversion_10['myVarname'] == 'Unnamed: 74'),(inversion_10['myVarname'] == 'Unnamed: 75'),(inversion_10['myVarname'] == 'Unnamed: 76'),
               (inversion_10['myVarname'] == 'Unnamed: 77'),(inversion_10['myVarname'] == 'Unnamed: 78'),(inversion_10['myVarname'] == 'Unnamed: 79'),(inversion_10['myVarname'] == 'Unnamed: 80'),(inversion_10['myVarname'] == 'Unnamed: 81'),
                (inversion_10['myVarname'] == 'Unnamed: 82'),(inversion_10['myVarname'] == 'Unnamed: 83'),(inversion_10['myVarname'] == 'Unnamed: 84'),(inversion_10['myVarname'] == 'Unnamed: 85'),(inversion_10['myVarname'] == 'Unnamed: 86'),
                 (inversion_10['myVarname'] == 'Unnamed: 87'),(inversion_10['myVarname'] == 'Unnamed: 88'),(inversion_10['myVarname'] == 'Unnamed: 89'),(inversion_10['myVarname'] == 'Unnamed: 90'),(inversion_10['myVarname'] == 'Unnamed: 91'),
                  (inversion_10['myVarname'] == 'Unnamed: 92'),(inversion_10['myVarname'] == 'Unnamed: 93'),(inversion_10['myVarname'] == 'Unnamed: 94'),(inversion_10['myVarname'] == 'Unnamed: 95'),(inversion_10['myVarname'] == 'Unnamed: 96'),
                   (inversion_10['myVarname'] == 'Unnamed: 97'),(inversion_10['myVarname'] == 'Unnamed: 98'),(inversion_10['myVarname'] == 'Unnamed: 99'),(inversion_10['myVarname'] == 'Unnamed: 100'),(inversion_10['myVarname'] == 'Unnamed: 101'),
                    (inversion_10['myVarname'] == 'Unnamed: 102'),(inversion_10['myVarname'] == 'Unnamed: 103'),(inversion_10['myVarname'] == 'Unnamed: 104'),(inversion_10['myVarname'] == 'Unnamed: 105'),(inversion_10['myVarname'] == 'Unnamed: 106'),
                     (inversion_10['myVarname'] == 'Unnamed: 107'),(inversion_10['myVarname'] == 'Unnamed: 108'),(inversion_10['myVarname'] == 'Unnamed: 109'),(inversion_10['myVarname'] == 'Unnamed: 110'),(inversion_10['myVarname'] == 'Unnamed: 111'),
                      (inversion_10['myVarname'] == 'Unnamed: 112'),(inversion_10['myVarname'] == 'Unnamed: 113'),(inversion_10['myVarname'] == 'Unnamed: 114'),(inversion_10['myVarname'] == 'Unnamed: 115'),(inversion_10['myVarname'] == 'Unnamed: 116'),
                       (inversion_10['myVarname'] == 'Unnamed: 117'),(inversion_10['myVarname'] == 'Unnamed: 118'),(inversion_10['myVarname'] == 'Unnamed: 119'),(inversion_10['myVarname'] == 'Unnamed: 120'),(inversion_10['myVarname'] == 'Unnamed: 121'),
                        (inversion_10['myVarname'] == 'Unnamed: 122'),(inversion_10['myVarname'] == 'Unnamed: 123'),(inversion_10['myVarname'] == 'Unnamed: 124'),(inversion_10['myVarname'] == 'Unnamed: 125'),(inversion_10['myVarname'] == 'Unnamed: 126'),
                         (inversion_10['myVarname'] == 'Unnamed: 127'),(inversion_10['myVarname'] == 'Unnamed: 128'),(inversion_10['myVarname'] == 'Unnamed: 129'),(inversion_10['myVarname'] == 'Unnamed: 130'),(inversion_10['myVarname'] == 'Unnamed: 131'),
                          (inversion_10['myVarname'] == 'Unnamed: 132'),(inversion_10['myVarname'] == 'Unnamed: 133'),(inversion_10['myVarname'] == 'Unnamed: 134'),(inversion_10['myVarname'] == 'Unnamed: 135'),(inversion_10['myVarname'] == 'Unnamed: 136'),
                           (inversion_10['myVarname'] == 'Unnamed: 137'),(inversion_10['myVarname'] == 'Unnamed: 138'),(inversion_10['myVarname'] == 'Unnamed: 139'),(inversion_10['myVarname'] == 'Unnamed: 140'),(inversion_10['myVarname'] == 'Unnamed: 141'),
                            (inversion_10['myVarname'] == 'Unnamed: 142'),(inversion_10['myVarname'] == 'Unnamed: 143'),(inversion_10['myVarname'] == 'Unnamed: 144'),(inversion_10['myVarname'] == 'Unnamed: 145'),(inversion_10['myVarname'] == 'Unnamed: 146'),
                             (inversion_10['myVarname'] == 'Unnamed: 147'),(inversion_10['myVarname'] == 'Unnamed: 148'),(inversion_10['myVarname'] == 'Unnamed: 149'),(inversion_10['myVarname'] == 'Unnamed: 150'),(inversion_10['myVarname'] == 'Unnamed: 151'),
                              (inversion_10['myVarname'] == 'Unnamed: 152'),(inversion_10['myVarname'] == 'Unnamed: 153'),(inversion_10['myVarname'] == 'Unnamed: 154'),(inversion_10['myVarname'] == 'Unnamed: 155'),(inversion_10['myVarname'] == 'Unnamed: 156'),
                               (inversion_10['myVarname'] == 'Unnamed: 157'),(inversion_10['myVarname'] == 'Unnamed: 158'),(inversion_10['myVarname'] == 'Unnamed: 159'),(inversion_10['myVarname'] == 'Unnamed: 160'),(inversion_10['myVarname'] == 'Unnamed: 161'),
                                (inversion_10['myVarname'] == 'Unnamed: 162'),(inversion_10['myVarname'] == 'Unnamed: 163'),(inversion_10['myVarname'] == 'Unnamed: 164'),(inversion_10['myVarname'] == 'Unnamed: 165'),(inversion_10['myVarname'] == 'Unnamed: 166')
                                ]

In [478]:
inversion_10['Fecha'] = np.select(conditions_10, values)

In [479]:
inversion_10.pop("myVarname")

5       Unnamed: 2
6       Unnamed: 2
7       Unnamed: 2
8       Unnamed: 2
9       Unnamed: 2
          ...
26    Unnamed: 166
27    Unnamed: 166
28    Unnamed: 166
29    Unnamed: 166
30    Unnamed: 166
Name: myVarname, Length: 4290, dtype: object

In [480]:
inversion_10.rename(columns={"Unnamed: 1": "Institucion"}, inplace=True)

In [481]:
inversion_10['Tipo'] = "Inversión"
inversion_10['Subtipo'] = "Total de inversion en moneda extranjera"
inversion_10['Tipo de Moneda'] = "Saldos en millones de pesos"

In [482]:
new_cols = ["Fecha","Institucion","Tipo","Subtipo","Valor","Tipo de Moneda"]
inversion_10 = inversion_10.reindex(columns=new_cols)

In [483]:
inversion_10.head(7)

,Fecha,Institucion,Tipo,Subtipo,Valor,Tipo de Moneda
5,2008-01-31,Banco Bice,Inversión,Total de inversion en moneda extranjera,701.76822,Saldos en millones de pesos
6,2008-01-31,Banco BTG Pactual Chile (9),Inversión,Total de inversion en moneda extranjera,ND,Saldos en millones de pesos
7,2008-01-31,Banco Consorcio (1),Inversión,Total de inversion en moneda extranjera,2274.338176,Saldos en millones de pesos
8,2008-01-31,Banco de Chile (2),Inversión,Total de inversion en moneda extranjera,109201.826343,Saldos en millones de pesos
9,2008-01-31,Banco de Crédito e Inversiones,Inversión,Total de inversion en moneda extranjera,115142.683746,Saldos en millones de pesos
10,2008-01-31,Banco de la Nación Argentina (18),Inversión,Total de inversion en moneda extranjera,0,Saldos en millones de pesos
11,2008-01-31,Banco del Estado de Chile,Inversión,Total de inversion en moneda extranjera,58261.081301,Saldos en millones de pesos

## Inversión 11

In [484]:
inversion_11.head(5)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,Unnamed: 161,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166
0,Índice general,Cuadro 3.11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Notas generales,Documentos emitidos por otras instituciones fi...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Saldos en millones de pesos,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,2008-01-31 00:00:00,2008-02-29 00:00:00,2008-03-31 00:00:00,2008-04-30 00:00:00,2008-05-31 00:00:00,2008-06-30 00:00:00,2008-07-31 00:00:00,2008-08-31 00:00:00,...,2020-12-31 00:00:00,2021-01-31 00:00:00,2021-02-28 00:00:00,2021-03-31 00:00:00,2021-04-30 00:00:00,2021-05-31 00:00:00,2021-06-30 00:00:00,2021-07-31 00:00:00,2021-08-31 00:00:00,2021-09-30 00:00:00

In [485]:
inversion_11.pop("Unnamed: 0")

0      Índice general
1     Notas generales
2                 NaN
3                 NaN
4                 NaN
5                 NaN
6                 NaN
7                 NaN
8                 NaN
9                 NaN
10                NaN
11                NaN
12                NaN
13                NaN
14                NaN
15                NaN
16                NaN
17                NaN
18                NaN
19                NaN
20                NaN
21                NaN
22                NaN
23                NaN
24                NaN
25                NaN
26                NaN
27                NaN
28                NaN
29                NaN
30                NaN
31                NaN
32                NaN
33                NaN
34                NaN
Name: Unnamed: 0, dtype: object

In [486]:
inversion_11 = inversion_11.iloc[5:]

In [487]:
inversion_11.tail(7)

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,Unnamed: 161,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166
28,Scotiabank Chile (3) (17),0,0,0,0,0,0,2221.254233,0,0,...,0,0,0,0,0,0,0,0,0,0
29,The Bank of Tokyo - Mitsubishi Ufj. Ltd. (19),2792.762929,3211.707806,3091.055467,3235.810351,3392.265391,3686.248216,3571.03026,4421.031149,4729.12109,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
30,Bank of China (16),ND,ND,ND,ND,ND,ND,ND,ND,ND,...,0,0,0,0,0,0,0,0,0,0
31,Total,68592.677468,67606.89196,67364.984863,69771.148051,78413.203288,83796.509021,79471.142615,70836.078387,8502.391818,...,105824.720639,88764.095199,94422.874285,84018.687179,68662.641858,66290.394045,53306.108633,104219.073428,84479.590018,97310.753298
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,ND : No existe dato,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [488]:
inversion_11.drop(inversion_11.tail(4).index,inplace=True)

In [489]:
inversion_11.head(3)

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,Unnamed: 161,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166
5,Banco Bice,701.76822,688.806597,665.070431,672.975249,702.387511,770.261743,742.854745,758.118085,811.305011,...,3027.675033,2610.295413,9797.527831,9069.303324,2233.780237,1895.816677,3370.066671,3707.076313,19171.546119,18711.51309
6,Banco BTG Pactual Chile (9),ND,ND,ND,ND,ND,ND,ND,ND,ND,...,0,0,0,0,0,0,0,0,0,0
7,Banco Consorcio (1),0,0,0,0,0,0,0,0,0,...,69458.298399,59834.64037,59676.64212,59160.976716,61394.676226,59267.812435,45057.478742,61065.312483,47547.948746,49551.796828

In [490]:
inversion_11 = inversion_11.melt(id_vars=['Unnamed: 1'], value_vars=['Unnamed: 2','Unnamed: 3','Unnamed: 4','Unnamed: 5','Unnamed: 6','Unnamed: 7','Unnamed: 8','Unnamed: 9','Unnamed: 10','Unnamed: 11',
                                                   'Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19','Unnamed: 20','Unnamed: 21',
                                                   'Unnamed: 22','Unnamed: 23','Unnamed: 24','Unnamed: 25','Unnamed: 26','Unnamed: 27','Unnamed: 28','Unnamed: 29','Unnamed: 30','Unnamed: 31',
                                                   'Unnamed: 32','Unnamed: 33','Unnamed: 34','Unnamed: 35','Unnamed: 36','Unnamed: 37','Unnamed: 38','Unnamed: 39','Unnamed: 40','Unnamed: 41',
                                                   'Unnamed: 42','Unnamed: 43','Unnamed: 44','Unnamed: 45','Unnamed: 46','Unnamed: 47','Unnamed: 48','Unnamed: 49','Unnamed: 50','Unnamed: 51',
                                                   'Unnamed: 52','Unnamed: 53','Unnamed: 54','Unnamed: 55','Unnamed: 56','Unnamed: 57','Unnamed: 58','Unnamed: 59','Unnamed: 60','Unnamed: 61',
                                                   'Unnamed: 62','Unnamed: 63','Unnamed: 64','Unnamed: 65','Unnamed: 66','Unnamed: 67','Unnamed: 68','Unnamed: 69','Unnamed: 70','Unnamed: 71',
                                                   'Unnamed: 72','Unnamed: 73','Unnamed: 74','Unnamed: 75','Unnamed: 76','Unnamed: 77','Unnamed: 78','Unnamed: 79','Unnamed: 80','Unnamed: 81',
                                                   'Unnamed: 82','Unnamed: 83','Unnamed: 84','Unnamed: 85','Unnamed: 86','Unnamed: 87','Unnamed: 88','Unnamed: 89','Unnamed: 90','Unnamed: 91',
                                                   'Unnamed: 92','Unnamed: 93','Unnamed: 94','Unnamed: 95','Unnamed: 96','Unnamed: 97','Unnamed: 98','Unnamed: 99','Unnamed: 100','Unnamed: 101',
                                                   'Unnamed: 102','Unnamed: 103','Unnamed: 104','Unnamed: 105','Unnamed: 106','Unnamed: 107','Unnamed: 108','Unnamed: 109','Unnamed: 110','Unnamed: 111',
                                                   'Unnamed: 112','Unnamed: 113','Unnamed: 114','Unnamed: 115','Unnamed: 116','Unnamed: 117','Unnamed: 118','Unnamed: 119','Unnamed: 120','Unnamed: 121',
                                                   'Unnamed: 122','Unnamed: 123','Unnamed: 124','Unnamed: 125','Unnamed: 126','Unnamed: 127','Unnamed: 128','Unnamed: 129','Unnamed: 130','Unnamed: 131',
                                                   'Unnamed: 132','Unnamed: 133','Unnamed: 134','Unnamed: 135','Unnamed: 136','Unnamed: 137','Unnamed: 138','Unnamed: 139','Unnamed: 140','Unnamed: 141',
                                                   'Unnamed: 142','Unnamed: 143','Unnamed: 144','Unnamed: 145','Unnamed: 146','Unnamed: 147','Unnamed: 148','Unnamed: 149','Unnamed: 150','Unnamed: 151',
                                                   'Unnamed: 152','Unnamed: 153','Unnamed: 154','Unnamed: 155','Unnamed: 156','Unnamed: 157','Unnamed: 158','Unnamed: 159','Unnamed: 160','Unnamed: 161',
                                                   'Unnamed: 162','Unnamed: 163','Unnamed: 164','Unnamed: 165','Unnamed: 166'],
               var_name='myVarname',
               value_name='Valor',
               ignore_index=False
               )

In [491]:
# create a list of our conditions
conditions_11 = [(inversion_11['myVarname'] == 'Unnamed: 2'),(inversion_11['myVarname'] == 'Unnamed: 3'),(inversion_11['myVarname'] == 'Unnamed: 4'),(inversion_11['myVarname'] == 'Unnamed: 5'),(inversion_11['myVarname'] == 'Unnamed: 6'),
 (inversion_11['myVarname'] == 'Unnamed: 7'),(inversion_11['myVarname'] == 'Unnamed: 8'),(inversion_11['myVarname'] == 'Unnamed: 9'),(inversion_11['myVarname'] == 'Unnamed: 10'),(inversion_11['myVarname'] == 'Unnamed: 11'),
  (inversion_11['myVarname'] == 'Unnamed: 12'),(inversion_11['myVarname'] == 'Unnamed: 13'),(inversion_11['myVarname'] == 'Unnamed: 14'),(inversion_11['myVarname'] == 'Unnamed: 15'),(inversion_11['myVarname'] == 'Unnamed: 16'),
   (inversion_11['myVarname'] == 'Unnamed: 17'),(inversion_11['myVarname'] == 'Unnamed: 18'),(inversion_11['myVarname'] == 'Unnamed: 19'),(inversion_11['myVarname'] == 'Unnamed: 20'),(inversion_11['myVarname'] == 'Unnamed: 21'),
    (inversion_11['myVarname'] == 'Unnamed: 22'),(inversion_11['myVarname'] == 'Unnamed: 23'),(inversion_11['myVarname'] == 'Unnamed: 24'),(inversion_11['myVarname'] == 'Unnamed: 25'),(inversion_11['myVarname'] == 'Unnamed: 26'),
     (inversion_11['myVarname'] == 'Unnamed: 27'),(inversion_11['myVarname'] == 'Unnamed: 28'),(inversion_11['myVarname'] == 'Unnamed: 29'),(inversion_11['myVarname'] == 'Unnamed: 30'),(inversion_11['myVarname'] == 'Unnamed: 31'),
      (inversion_11['myVarname'] == 'Unnamed: 32'),(inversion_11['myVarname'] == 'Unnamed: 33'),(inversion_11['myVarname'] == 'Unnamed: 34'),(inversion_11['myVarname'] == 'Unnamed: 35'),(inversion_11['myVarname'] == 'Unnamed: 36'),
       (inversion_11['myVarname'] == 'Unnamed: 37'),(inversion_11['myVarname'] == 'Unnamed: 38'),(inversion_11['myVarname'] == 'Unnamed: 39'),(inversion_11['myVarname'] == 'Unnamed: 40'),(inversion_11['myVarname'] == 'Unnamed: 41'),
        (inversion_11['myVarname'] == 'Unnamed: 42'),(inversion_11['myVarname'] == 'Unnamed: 43'),(inversion_11['myVarname'] == 'Unnamed: 44'),(inversion_11['myVarname'] == 'Unnamed: 45'),(inversion_11['myVarname'] == 'Unnamed: 46'),
         (inversion_11['myVarname'] == 'Unnamed: 47'),(inversion_11['myVarname'] == 'Unnamed: 48'),(inversion_11['myVarname'] == 'Unnamed: 49'),(inversion_11['myVarname'] == 'Unnamed: 50'),(inversion_11['myVarname'] == 'Unnamed: 51'),
          (inversion_11['myVarname'] == 'Unnamed: 52'),(inversion_11['myVarname'] == 'Unnamed: 53'),(inversion_11['myVarname'] == 'Unnamed: 54'),(inversion_11['myVarname'] == 'Unnamed: 55'),(inversion_11['myVarname'] == 'Unnamed: 56'),
           (inversion_11['myVarname'] == 'Unnamed: 57'),(inversion_11['myVarname'] == 'Unnamed: 58'),(inversion_11['myVarname'] == 'Unnamed: 59'),(inversion_11['myVarname'] == 'Unnamed: 60'),(inversion_11['myVarname'] == 'Unnamed: 61'),
            (inversion_11['myVarname'] == 'Unnamed: 62'),(inversion_11['myVarname'] == 'Unnamed: 63'),(inversion_11['myVarname'] == 'Unnamed: 64'),(inversion_11['myVarname'] == 'Unnamed: 65'),(inversion_11['myVarname'] == 'Unnamed: 66'),
             (inversion_11['myVarname'] == 'Unnamed: 67'),(inversion_11['myVarname'] == 'Unnamed: 68'),(inversion_11['myVarname'] == 'Unnamed: 69'),(inversion_11['myVarname'] == 'Unnamed: 70'),(inversion_11['myVarname'] == 'Unnamed: 71'),
              (inversion_11['myVarname'] == 'Unnamed: 72'),(inversion_11['myVarname'] == 'Unnamed: 73'),(inversion_11['myVarname'] == 'Unnamed: 74'),(inversion_11['myVarname'] == 'Unnamed: 75'),(inversion_11['myVarname'] == 'Unnamed: 76'),
               (inversion_11['myVarname'] == 'Unnamed: 77'),(inversion_11['myVarname'] == 'Unnamed: 78'),(inversion_11['myVarname'] == 'Unnamed: 79'),(inversion_11['myVarname'] == 'Unnamed: 80'),(inversion_11['myVarname'] == 'Unnamed: 81'),
                (inversion_11['myVarname'] == 'Unnamed: 82'),(inversion_11['myVarname'] == 'Unnamed: 83'),(inversion_11['myVarname'] == 'Unnamed: 84'),(inversion_11['myVarname'] == 'Unnamed: 85'),(inversion_11['myVarname'] == 'Unnamed: 86'),
                 (inversion_11['myVarname'] == 'Unnamed: 87'),(inversion_11['myVarname'] == 'Unnamed: 88'),(inversion_11['myVarname'] == 'Unnamed: 89'),(inversion_11['myVarname'] == 'Unnamed: 90'),(inversion_11['myVarname'] == 'Unnamed: 91'),
                  (inversion_11['myVarname'] == 'Unnamed: 92'),(inversion_11['myVarname'] == 'Unnamed: 93'),(inversion_11['myVarname'] == 'Unnamed: 94'),(inversion_11['myVarname'] == 'Unnamed: 95'),(inversion_11['myVarname'] == 'Unnamed: 96'),
                   (inversion_11['myVarname'] == 'Unnamed: 97'),(inversion_11['myVarname'] == 'Unnamed: 98'),(inversion_11['myVarname'] == 'Unnamed: 99'),(inversion_11['myVarname'] == 'Unnamed: 100'),(inversion_11['myVarname'] == 'Unnamed: 101'),
                    (inversion_11['myVarname'] == 'Unnamed: 102'),(inversion_11['myVarname'] == 'Unnamed: 103'),(inversion_11['myVarname'] == 'Unnamed: 104'),(inversion_11['myVarname'] == 'Unnamed: 105'),(inversion_11['myVarname'] == 'Unnamed: 106'),
                     (inversion_11['myVarname'] == 'Unnamed: 107'),(inversion_11['myVarname'] == 'Unnamed: 108'),(inversion_11['myVarname'] == 'Unnamed: 109'),(inversion_11['myVarname'] == 'Unnamed: 110'),(inversion_11['myVarname'] == 'Unnamed: 111'),
                      (inversion_11['myVarname'] == 'Unnamed: 112'),(inversion_11['myVarname'] == 'Unnamed: 113'),(inversion_11['myVarname'] == 'Unnamed: 114'),(inversion_11['myVarname'] == 'Unnamed: 115'),(inversion_11['myVarname'] == 'Unnamed: 116'),
                       (inversion_11['myVarname'] == 'Unnamed: 117'),(inversion_11['myVarname'] == 'Unnamed: 118'),(inversion_11['myVarname'] == 'Unnamed: 119'),(inversion_11['myVarname'] == 'Unnamed: 120'),(inversion_11['myVarname'] == 'Unnamed: 121'),
                        (inversion_11['myVarname'] == 'Unnamed: 122'),(inversion_11['myVarname'] == 'Unnamed: 123'),(inversion_11['myVarname'] == 'Unnamed: 124'),(inversion_11['myVarname'] == 'Unnamed: 125'),(inversion_11['myVarname'] == 'Unnamed: 126'),
                         (inversion_11['myVarname'] == 'Unnamed: 127'),(inversion_11['myVarname'] == 'Unnamed: 128'),(inversion_11['myVarname'] == 'Unnamed: 129'),(inversion_11['myVarname'] == 'Unnamed: 130'),(inversion_11['myVarname'] == 'Unnamed: 131'),
                          (inversion_11['myVarname'] == 'Unnamed: 132'),(inversion_11['myVarname'] == 'Unnamed: 133'),(inversion_11['myVarname'] == 'Unnamed: 134'),(inversion_11['myVarname'] == 'Unnamed: 135'),(inversion_11['myVarname'] == 'Unnamed: 136'),
                           (inversion_11['myVarname'] == 'Unnamed: 137'),(inversion_11['myVarname'] == 'Unnamed: 138'),(inversion_11['myVarname'] == 'Unnamed: 139'),(inversion_11['myVarname'] == 'Unnamed: 140'),(inversion_11['myVarname'] == 'Unnamed: 141'),
                            (inversion_11['myVarname'] == 'Unnamed: 142'),(inversion_11['myVarname'] == 'Unnamed: 143'),(inversion_11['myVarname'] == 'Unnamed: 144'),(inversion_11['myVarname'] == 'Unnamed: 145'),(inversion_11['myVarname'] == 'Unnamed: 146'),
                             (inversion_11['myVarname'] == 'Unnamed: 147'),(inversion_11['myVarname'] == 'Unnamed: 148'),(inversion_11['myVarname'] == 'Unnamed: 149'),(inversion_11['myVarname'] == 'Unnamed: 150'),(inversion_11['myVarname'] == 'Unnamed: 151'),
                              (inversion_11['myVarname'] == 'Unnamed: 152'),(inversion_11['myVarname'] == 'Unnamed: 153'),(inversion_11['myVarname'] == 'Unnamed: 154'),(inversion_11['myVarname'] == 'Unnamed: 155'),(inversion_11['myVarname'] == 'Unnamed: 156'),
                               (inversion_11['myVarname'] == 'Unnamed: 157'),(inversion_11['myVarname'] == 'Unnamed: 158'),(inversion_11['myVarname'] == 'Unnamed: 159'),(inversion_11['myVarname'] == 'Unnamed: 160'),(inversion_11['myVarname'] == 'Unnamed: 161'),
                                (inversion_11['myVarname'] == 'Unnamed: 162'),(inversion_11['myVarname'] == 'Unnamed: 163'),(inversion_11['myVarname'] == 'Unnamed: 164'),(inversion_11['myVarname'] == 'Unnamed: 165'),(inversion_11['myVarname'] == 'Unnamed: 166')
                                ]

In [492]:
inversion_11['Fecha'] = np.select(conditions_11, values)

In [493]:
inversion_11.pop("myVarname")

5       Unnamed: 2
6       Unnamed: 2
7       Unnamed: 2
8       Unnamed: 2
9       Unnamed: 2
          ...
26    Unnamed: 166
27    Unnamed: 166
28    Unnamed: 166
29    Unnamed: 166
30    Unnamed: 166
Name: myVarname, Length: 4290, dtype: object

In [494]:
inversion_11.rename(columns={"Unnamed: 1": "Institucion"}, inplace=True)

In [495]:
inversion_11['Tipo'] = "Inversión"
inversion_11['Subtipo'] = "Documentos emitidos por otras instituciones financieras del pais"
inversion_11['Tipo de Moneda'] = "Saldos en millones de pesos"

In [496]:
new_cols = ["Fecha","Institucion","Tipo","Subtipo","Valor","Tipo de Moneda"]
inversion_11 = inversion_11.reindex(columns=new_cols)

In [497]:
inversion_11.head(7)

,Fecha,Institucion,Tipo,Subtipo,Valor,Tipo de Moneda
5,2008-01-31,Banco Bice,Inversión,Documentos emitidos por otras instituciones fi...,701.76822,Saldos en millones de pesos
6,2008-01-31,Banco BTG Pactual Chile (9),Inversión,Documentos emitidos por otras instituciones fi...,ND,Saldos en millones de pesos
7,2008-01-31,Banco Consorcio (1),Inversión,Documentos emitidos por otras instituciones fi...,0,Saldos en millones de pesos
8,2008-01-31,Banco de Chile (2),Inversión,Documentos emitidos por otras instituciones fi...,62683.929059,Saldos en millones de pesos
9,2008-01-31,Banco de Crédito e Inversiones,Inversión,Documentos emitidos por otras instituciones fi...,0,Saldos en millones de pesos
10,2008-01-31,Banco de la Nación Argentina (18),Inversión,Documentos emitidos por otras instituciones fi...,0,Saldos en millones de pesos
11,2008-01-31,Banco del Estado de Chile,Inversión,Documentos emitidos por otras instituciones fi...,0,Saldos en millones de pesos

## Inversión 12

In [498]:
inversion_12.head(5)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,Unnamed: 161,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166
0,Índice general,Cuadro 3.12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Notas generales,Inversiones en el exterior,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Saldos en millones de pesos,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,2008-01-31 00:00:00,2008-02-29 00:00:00,2008-03-31 00:00:00,2008-04-30 00:00:00,2008-05-31 00:00:00,2008-06-30 00:00:00,2008-07-31 00:00:00,2008-08-31 00:00:00,...,2020-12-31 00:00:00,2021-01-31 00:00:00,2021-02-28 00:00:00,2021-03-31 00:00:00,2021-04-30 00:00:00,2021-05-31 00:00:00,2021-06-30 00:00:00,2021-07-31 00:00:00,2021-08-31 00:00:00,2021-09-30 00:00:00

In [499]:
inversion_12.pop("Unnamed: 0")

0      Índice general
1     Notas generales
2                 NaN
3                 NaN
4                 NaN
5                 NaN
6                 NaN
7                 NaN
8                 NaN
9                 NaN
10                NaN
11                NaN
12                NaN
13                NaN
14                NaN
15                NaN
16                NaN
17                NaN
18                NaN
19                NaN
20                NaN
21                NaN
22                NaN
23                NaN
24                NaN
25                NaN
26                NaN
27                NaN
28                NaN
29                NaN
30                NaN
31                NaN
32                NaN
33                NaN
34                NaN
Name: Unnamed: 0, dtype: object

In [500]:
inversion_12 = inversion_12.iloc[5:]

In [501]:
inversion_12.tail(7)

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,Unnamed: 161,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166
28,Scotiabank Chile (3) (17),18595.635254,0,0,0,3288.696074,3652.39184,0,0,0,...,2478.563341,4763.505959,4714.779587,4677.415257,4619.38031,4697.081823,4760.016333,4952.408395,5035.282332,5280.430938
29,The Bank of Tokyo - Mitsubishi Ufj. Ltd. (19),159.552172,3369.001957,0,0,0,0,0,0,0,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
30,Bank of China (16),ND,ND,ND,ND,ND,ND,ND,ND,ND,...,0,0,0,0,109.836868,10829.432488,10979.200713,761.047393,774.470267,812.34246
31,Total,531083.251761,536656.858364,549982.96594,415881.283774,465728.919117,399379.012478,436435.859731,365011.134671,718209.981173,...,1552168.196257,1641370.863231,1678202.692602,1748101.715149,1783711.918162,2213069.57181,2323986.989864,2330080.007607,2117792.885624,2273354.381863
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,ND : No existe dato,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [502]:
inversion_12.drop(inversion_12.tail(4).index,inplace=True)

<ipython-input-502-350b130f5c70>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  inversion_12.drop(inversion_12.tail(4).index,inplace=True)

In [503]:
inversion_12.head(3)

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,Unnamed: 161,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166
5,Banco Bice,0,0,0,0,0,0,0,0,0,...,38295.924161,46687.164083,61088.420106,66794.93626,81825.381875,117331.107817,119624.997694,126443.836609,128108.565318,318510.463603
6,Banco BTG Pactual Chile (9),ND,ND,ND,ND,ND,ND,ND,ND,ND,...,0,0,0,0,0,0,0,0,0,0
7,Banco Consorcio (1),2274.338176,2236.396967,2158.762893,1811.470856,1511.165075,1247.285266,1190.57746,1232.118273,1120.671655,...,335835.61357,400756.608921,396024.760103,399751.604822,382813.223808,382083.080006,360569.017755,289700.816938,46343.594957,42087.916311

In [504]:
inversion_12 = inversion_12.melt(id_vars=['Unnamed: 1'], value_vars=['Unnamed: 2','Unnamed: 3','Unnamed: 4','Unnamed: 5','Unnamed: 6','Unnamed: 7','Unnamed: 8','Unnamed: 9','Unnamed: 10','Unnamed: 11',
                                                   'Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19','Unnamed: 20','Unnamed: 21',
                                                   'Unnamed: 22','Unnamed: 23','Unnamed: 24','Unnamed: 25','Unnamed: 26','Unnamed: 27','Unnamed: 28','Unnamed: 29','Unnamed: 30','Unnamed: 31',
                                                   'Unnamed: 32','Unnamed: 33','Unnamed: 34','Unnamed: 35','Unnamed: 36','Unnamed: 37','Unnamed: 38','Unnamed: 39','Unnamed: 40','Unnamed: 41',
                                                   'Unnamed: 42','Unnamed: 43','Unnamed: 44','Unnamed: 45','Unnamed: 46','Unnamed: 47','Unnamed: 48','Unnamed: 49','Unnamed: 50','Unnamed: 51',
                                                   'Unnamed: 52','Unnamed: 53','Unnamed: 54','Unnamed: 55','Unnamed: 56','Unnamed: 57','Unnamed: 58','Unnamed: 59','Unnamed: 60','Unnamed: 61',
                                                   'Unnamed: 62','Unnamed: 63','Unnamed: 64','Unnamed: 65','Unnamed: 66','Unnamed: 67','Unnamed: 68','Unnamed: 69','Unnamed: 70','Unnamed: 71',
                                                   'Unnamed: 72','Unnamed: 73','Unnamed: 74','Unnamed: 75','Unnamed: 76','Unnamed: 77','Unnamed: 78','Unnamed: 79','Unnamed: 80','Unnamed: 81',
                                                   'Unnamed: 82','Unnamed: 83','Unnamed: 84','Unnamed: 85','Unnamed: 86','Unnamed: 87','Unnamed: 88','Unnamed: 89','Unnamed: 90','Unnamed: 91',
                                                   'Unnamed: 92','Unnamed: 93','Unnamed: 94','Unnamed: 95','Unnamed: 96','Unnamed: 97','Unnamed: 98','Unnamed: 99','Unnamed: 100','Unnamed: 101',
                                                   'Unnamed: 102','Unnamed: 103','Unnamed: 104','Unnamed: 105','Unnamed: 106','Unnamed: 107','Unnamed: 108','Unnamed: 109','Unnamed: 110','Unnamed: 111',
                                                   'Unnamed: 112','Unnamed: 113','Unnamed: 114','Unnamed: 115','Unnamed: 116','Unnamed: 117','Unnamed: 118','Unnamed: 119','Unnamed: 120','Unnamed: 121',
                                                   'Unnamed: 122','Unnamed: 123','Unnamed: 124','Unnamed: 125','Unnamed: 126','Unnamed: 127','Unnamed: 128','Unnamed: 129','Unnamed: 130','Unnamed: 131',
                                                   'Unnamed: 132','Unnamed: 133','Unnamed: 134','Unnamed: 135','Unnamed: 136','Unnamed: 137','Unnamed: 138','Unnamed: 139','Unnamed: 140','Unnamed: 141',
                                                   'Unnamed: 142','Unnamed: 143','Unnamed: 144','Unnamed: 145','Unnamed: 146','Unnamed: 147','Unnamed: 148','Unnamed: 149','Unnamed: 150','Unnamed: 151',
                                                   'Unnamed: 152','Unnamed: 153','Unnamed: 154','Unnamed: 155','Unnamed: 156','Unnamed: 157','Unnamed: 158','Unnamed: 159','Unnamed: 160','Unnamed: 161',
                                                   'Unnamed: 162','Unnamed: 163','Unnamed: 164','Unnamed: 165','Unnamed: 166'],
               var_name='myVarname',
               value_name='Valor',
               ignore_index=False
               )

In [505]:
# create a list of our conditions
conditions_12 = [(inversion_12['myVarname'] == 'Unnamed: 2'),(inversion_12['myVarname'] == 'Unnamed: 3'),(inversion_12['myVarname'] == 'Unnamed: 4'),(inversion_12['myVarname'] == 'Unnamed: 5'),(inversion_12['myVarname'] == 'Unnamed: 6'),
 (inversion_12['myVarname'] == 'Unnamed: 7'),(inversion_12['myVarname'] == 'Unnamed: 8'),(inversion_12['myVarname'] == 'Unnamed: 9'),(inversion_12['myVarname'] == 'Unnamed: 10'),(inversion_12['myVarname'] == 'Unnamed: 11'),
  (inversion_12['myVarname'] == 'Unnamed: 12'),(inversion_12['myVarname'] == 'Unnamed: 13'),(inversion_12['myVarname'] == 'Unnamed: 14'),(inversion_12['myVarname'] == 'Unnamed: 15'),(inversion_12['myVarname'] == 'Unnamed: 16'),
   (inversion_12['myVarname'] == 'Unnamed: 17'),(inversion_12['myVarname'] == 'Unnamed: 18'),(inversion_12['myVarname'] == 'Unnamed: 19'),(inversion_12['myVarname'] == 'Unnamed: 20'),(inversion_12['myVarname'] == 'Unnamed: 21'),
    (inversion_12['myVarname'] == 'Unnamed: 22'),(inversion_12['myVarname'] == 'Unnamed: 23'),(inversion_12['myVarname'] == 'Unnamed: 24'),(inversion_12['myVarname'] == 'Unnamed: 25'),(inversion_12['myVarname'] == 'Unnamed: 26'),
     (inversion_12['myVarname'] == 'Unnamed: 27'),(inversion_12['myVarname'] == 'Unnamed: 28'),(inversion_12['myVarname'] == 'Unnamed: 29'),(inversion_12['myVarname'] == 'Unnamed: 30'),(inversion_12['myVarname'] == 'Unnamed: 31'),
      (inversion_12['myVarname'] == 'Unnamed: 32'),(inversion_12['myVarname'] == 'Unnamed: 33'),(inversion_12['myVarname'] == 'Unnamed: 34'),(inversion_12['myVarname'] == 'Unnamed: 35'),(inversion_12['myVarname'] == 'Unnamed: 36'),
       (inversion_12['myVarname'] == 'Unnamed: 37'),(inversion_12['myVarname'] == 'Unnamed: 38'),(inversion_12['myVarname'] == 'Unnamed: 39'),(inversion_12['myVarname'] == 'Unnamed: 40'),(inversion_12['myVarname'] == 'Unnamed: 41'),
        (inversion_12['myVarname'] == 'Unnamed: 42'),(inversion_12['myVarname'] == 'Unnamed: 43'),(inversion_12['myVarname'] == 'Unnamed: 44'),(inversion_12['myVarname'] == 'Unnamed: 45'),(inversion_12['myVarname'] == 'Unnamed: 46'),
         (inversion_12['myVarname'] == 'Unnamed: 47'),(inversion_12['myVarname'] == 'Unnamed: 48'),(inversion_12['myVarname'] == 'Unnamed: 49'),(inversion_12['myVarname'] == 'Unnamed: 50'),(inversion_12['myVarname'] == 'Unnamed: 51'),
          (inversion_12['myVarname'] == 'Unnamed: 52'),(inversion_12['myVarname'] == 'Unnamed: 53'),(inversion_12['myVarname'] == 'Unnamed: 54'),(inversion_12['myVarname'] == 'Unnamed: 55'),(inversion_12['myVarname'] == 'Unnamed: 56'),
           (inversion_12['myVarname'] == 'Unnamed: 57'),(inversion_12['myVarname'] == 'Unnamed: 58'),(inversion_12['myVarname'] == 'Unnamed: 59'),(inversion_12['myVarname'] == 'Unnamed: 60'),(inversion_12['myVarname'] == 'Unnamed: 61'),
            (inversion_12['myVarname'] == 'Unnamed: 62'),(inversion_12['myVarname'] == 'Unnamed: 63'),(inversion_12['myVarname'] == 'Unnamed: 64'),(inversion_12['myVarname'] == 'Unnamed: 65'),(inversion_12['myVarname'] == 'Unnamed: 66'),
             (inversion_12['myVarname'] == 'Unnamed: 67'),(inversion_12['myVarname'] == 'Unnamed: 68'),(inversion_12['myVarname'] == 'Unnamed: 69'),(inversion_12['myVarname'] == 'Unnamed: 70'),(inversion_12['myVarname'] == 'Unnamed: 71'),
              (inversion_12['myVarname'] == 'Unnamed: 72'),(inversion_12['myVarname'] == 'Unnamed: 73'),(inversion_12['myVarname'] == 'Unnamed: 74'),(inversion_12['myVarname'] == 'Unnamed: 75'),(inversion_12['myVarname'] == 'Unnamed: 76'),
               (inversion_12['myVarname'] == 'Unnamed: 77'),(inversion_12['myVarname'] == 'Unnamed: 78'),(inversion_12['myVarname'] == 'Unnamed: 79'),(inversion_12['myVarname'] == 'Unnamed: 80'),(inversion_12['myVarname'] == 'Unnamed: 81'),
                (inversion_12['myVarname'] == 'Unnamed: 82'),(inversion_12['myVarname'] == 'Unnamed: 83'),(inversion_12['myVarname'] == 'Unnamed: 84'),(inversion_12['myVarname'] == 'Unnamed: 85'),(inversion_12['myVarname'] == 'Unnamed: 86'),
                 (inversion_12['myVarname'] == 'Unnamed: 87'),(inversion_12['myVarname'] == 'Unnamed: 88'),(inversion_12['myVarname'] == 'Unnamed: 89'),(inversion_12['myVarname'] == 'Unnamed: 90'),(inversion_12['myVarname'] == 'Unnamed: 91'),
                  (inversion_12['myVarname'] == 'Unnamed: 92'),(inversion_12['myVarname'] == 'Unnamed: 93'),(inversion_12['myVarname'] == 'Unnamed: 94'),(inversion_12['myVarname'] == 'Unnamed: 95'),(inversion_12['myVarname'] == 'Unnamed: 96'),
                   (inversion_12['myVarname'] == 'Unnamed: 97'),(inversion_12['myVarname'] == 'Unnamed: 98'),(inversion_12['myVarname'] == 'Unnamed: 99'),(inversion_12['myVarname'] == 'Unnamed: 100'),(inversion_12['myVarname'] == 'Unnamed: 101'),
                    (inversion_12['myVarname'] == 'Unnamed: 102'),(inversion_12['myVarname'] == 'Unnamed: 103'),(inversion_12['myVarname'] == 'Unnamed: 104'),(inversion_12['myVarname'] == 'Unnamed: 105'),(inversion_12['myVarname'] == 'Unnamed: 106'),
                     (inversion_12['myVarname'] == 'Unnamed: 107'),(inversion_12['myVarname'] == 'Unnamed: 108'),(inversion_12['myVarname'] == 'Unnamed: 109'),(inversion_12['myVarname'] == 'Unnamed: 110'),(inversion_12['myVarname'] == 'Unnamed: 111'),
                      (inversion_12['myVarname'] == 'Unnamed: 112'),(inversion_12['myVarname'] == 'Unnamed: 113'),(inversion_12['myVarname'] == 'Unnamed: 114'),(inversion_12['myVarname'] == 'Unnamed: 115'),(inversion_12['myVarname'] == 'Unnamed: 116'),
                       (inversion_12['myVarname'] == 'Unnamed: 117'),(inversion_12['myVarname'] == 'Unnamed: 118'),(inversion_12['myVarname'] == 'Unnamed: 119'),(inversion_12['myVarname'] == 'Unnamed: 120'),(inversion_12['myVarname'] == 'Unnamed: 121'),
                        (inversion_12['myVarname'] == 'Unnamed: 122'),(inversion_12['myVarname'] == 'Unnamed: 123'),(inversion_12['myVarname'] == 'Unnamed: 124'),(inversion_12['myVarname'] == 'Unnamed: 125'),(inversion_12['myVarname'] == 'Unnamed: 126'),
                         (inversion_12['myVarname'] == 'Unnamed: 127'),(inversion_12['myVarname'] == 'Unnamed: 128'),(inversion_12['myVarname'] == 'Unnamed: 129'),(inversion_12['myVarname'] == 'Unnamed: 130'),(inversion_12['myVarname'] == 'Unnamed: 131'),
                          (inversion_12['myVarname'] == 'Unnamed: 132'),(inversion_12['myVarname'] == 'Unnamed: 133'),(inversion_12['myVarname'] == 'Unnamed: 134'),(inversion_12['myVarname'] == 'Unnamed: 135'),(inversion_12['myVarname'] == 'Unnamed: 136'),
                           (inversion_12['myVarname'] == 'Unnamed: 137'),(inversion_12['myVarname'] == 'Unnamed: 138'),(inversion_12['myVarname'] == 'Unnamed: 139'),(inversion_12['myVarname'] == 'Unnamed: 140'),(inversion_12['myVarname'] == 'Unnamed: 141'),
                            (inversion_12['myVarname'] == 'Unnamed: 142'),(inversion_12['myVarname'] == 'Unnamed: 143'),(inversion_12['myVarname'] == 'Unnamed: 144'),(inversion_12['myVarname'] == 'Unnamed: 145'),(inversion_12['myVarname'] == 'Unnamed: 146'),
                             (inversion_12['myVarname'] == 'Unnamed: 147'),(inversion_12['myVarname'] == 'Unnamed: 148'),(inversion_12['myVarname'] == 'Unnamed: 149'),(inversion_12['myVarname'] == 'Unnamed: 150'),(inversion_12['myVarname'] == 'Unnamed: 151'),
                              (inversion_12['myVarname'] == 'Unnamed: 152'),(inversion_12['myVarname'] == 'Unnamed: 153'),(inversion_12['myVarname'] == 'Unnamed: 154'),(inversion_12['myVarname'] == 'Unnamed: 155'),(inversion_12['myVarname'] == 'Unnamed: 156'),
                               (inversion_12['myVarname'] == 'Unnamed: 157'),(inversion_12['myVarname'] == 'Unnamed: 158'),(inversion_12['myVarname'] == 'Unnamed: 159'),(inversion_12['myVarname'] == 'Unnamed: 160'),(inversion_12['myVarname'] == 'Unnamed: 161'),
                                (inversion_12['myVarname'] == 'Unnamed: 162'),(inversion_12['myVarname'] == 'Unnamed: 163'),(inversion_12['myVarname'] == 'Unnamed: 164'),(inversion_12['myVarname'] == 'Unnamed: 165'),(inversion_12['myVarname'] == 'Unnamed: 166')
                                ]

In [506]:
inversion_12['Fecha'] = np.select(conditions_12, values)

In [507]:
inversion_12.pop("myVarname")

5       Unnamed: 2
6       Unnamed: 2
7       Unnamed: 2
8       Unnamed: 2
9       Unnamed: 2
          ...
26    Unnamed: 166
27    Unnamed: 166
28    Unnamed: 166
29    Unnamed: 166
30    Unnamed: 166
Name: myVarname, Length: 4290, dtype: object

In [508]:
inversion_12.rename(columns={"Unnamed: 1": "Institucion"}, inplace=True)

In [509]:
inversion_12['Tipo'] = "Inversión"
inversion_12['Subtipo'] = "Inversiones en el exterior"
inversion_12['Tipo de Moneda'] = "Saldos en millones de pesos"

In [510]:
new_cols = ["Fecha","Institucion","Tipo","Subtipo","Valor","Tipo de Moneda"]
inversion_12 = inversion_12.reindex(columns=new_cols)

In [511]:
inversion_12.head(7)

,Fecha,Institucion,Tipo,Subtipo,Valor,Tipo de Moneda
5,2008-01-31,Banco Bice,Inversión,Inversiones en el exterior,0,Saldos en millones de pesos
6,2008-01-31,Banco BTG Pactual Chile (9),Inversión,Inversiones en el exterior,ND,Saldos en millones de pesos
7,2008-01-31,Banco Consorcio (1),Inversión,Inversiones en el exterior,2274.338176,Saldos en millones de pesos
8,2008-01-31,Banco de Chile (2),Inversión,Inversiones en el exterior,46517.897284,Saldos en millones de pesos
9,2008-01-31,Banco de Crédito e Inversiones,Inversión,Inversiones en el exterior,115142.683746,Saldos en millones de pesos
10,2008-01-31,Banco de la Nación Argentina (18),Inversión,Inversiones en el exterior,0,Saldos en millones de pesos
11,2008-01-31,Banco del Estado de Chile,Inversión,Inversiones en el exterior,58092.282431,Saldos en millones de pesos

## Inversión 13

In [512]:
inversion_13.head(5)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,Unnamed: 161,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166
0,Índice general,Cuadro 3.13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Notas generales,Resto de inversiones financieras,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Saldos en millones de pesos,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,2008-01-31 00:00:00,2008-02-29 00:00:00,2008-03-31 00:00:00,2008-04-30 00:00:00,2008-05-31 00:00:00,2008-06-30 00:00:00,2008-07-31 00:00:00,2008-08-31 00:00:00,...,2020-12-31 00:00:00,2021-01-31 00:00:00,2021-02-28 00:00:00,2021-03-31 00:00:00,2021-04-30 00:00:00,2021-05-31 00:00:00,2021-06-30 00:00:00,2021-07-31 00:00:00,2021-08-31 00:00:00,2021-09-30 00:00:00

In [513]:
inversion_13.pop("Unnamed: 0")

0      Índice general
1     Notas generales
2                 NaN
3                 NaN
4                 NaN
5                 NaN
6                 NaN
7                 NaN
8                 NaN
9                 NaN
10                NaN
11                NaN
12                NaN
13                NaN
14                NaN
15                NaN
16                NaN
17                NaN
18                NaN
19                NaN
20                NaN
21                NaN
22                NaN
23                NaN
24                NaN
25                NaN
26                NaN
27                NaN
28                NaN
29                NaN
30                NaN
31                NaN
32                NaN
33                NaN
34                NaN
Name: Unnamed: 0, dtype: object

In [514]:
inversion_13 = inversion_13.iloc[5:]

In [515]:
inversion_13.tail(7)

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,Unnamed: 161,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166
28,Scotiabank Chile (3) (17),0,0,0,0,0,0,0,0,0,...,0,0,3189.41298,1725.317348,0,0,2195.703791,0,0,0
29,The Bank of Tokyo - Mitsubishi Ufj. Ltd. (19),0,0,0,0,0,0,0,0,0,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
30,Bank of China (16),ND,ND,ND,ND,ND,ND,ND,ND,ND,...,0,0,0,0,0,0,0,0,0,0
31,Total,1211.115391,457.141859,0,0,0,577.775,0,0,18942.175,...,15519.114232,15889.772387,18741.275287,16986.059359,15093.571604,15413.82119,17891.300751,16376.993266,16788.89707,17516.535649
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,ND : No existe dato,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [516]:
inversion_13.drop(inversion_13.tail(4).index,inplace=True)

<ipython-input-516-7e77f41ea730>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  inversion_13.drop(inversion_13.tail(4).index,inplace=True)

In [517]:
inversion_13.head(3)

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,Unnamed: 161,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166
5,Banco Bice,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,Banco BTG Pactual Chile (9),ND,ND,ND,ND,ND,ND,ND,ND,ND,...,0,0,0,0,0,0,0,0,0,0
7,Banco Consorcio (1),0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [518]:
inversion_13 = inversion_13.melt(id_vars=['Unnamed: 1'], value_vars=['Unnamed: 2','Unnamed: 3','Unnamed: 4','Unnamed: 5','Unnamed: 6','Unnamed: 7','Unnamed: 8','Unnamed: 9','Unnamed: 10','Unnamed: 11',
                                                   'Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19','Unnamed: 20','Unnamed: 21',
                                                   'Unnamed: 22','Unnamed: 23','Unnamed: 24','Unnamed: 25','Unnamed: 26','Unnamed: 27','Unnamed: 28','Unnamed: 29','Unnamed: 30','Unnamed: 31',
                                                   'Unnamed: 32','Unnamed: 33','Unnamed: 34','Unnamed: 35','Unnamed: 36','Unnamed: 37','Unnamed: 38','Unnamed: 39','Unnamed: 40','Unnamed: 41',
                                                   'Unnamed: 42','Unnamed: 43','Unnamed: 44','Unnamed: 45','Unnamed: 46','Unnamed: 47','Unnamed: 48','Unnamed: 49','Unnamed: 50','Unnamed: 51',
                                                   'Unnamed: 52','Unnamed: 53','Unnamed: 54','Unnamed: 55','Unnamed: 56','Unnamed: 57','Unnamed: 58','Unnamed: 59','Unnamed: 60','Unnamed: 61',
                                                   'Unnamed: 62','Unnamed: 63','Unnamed: 64','Unnamed: 65','Unnamed: 66','Unnamed: 67','Unnamed: 68','Unnamed: 69','Unnamed: 70','Unnamed: 71',
                                                   'Unnamed: 72','Unnamed: 73','Unnamed: 74','Unnamed: 75','Unnamed: 76','Unnamed: 77','Unnamed: 78','Unnamed: 79','Unnamed: 80','Unnamed: 81',
                                                   'Unnamed: 82','Unnamed: 83','Unnamed: 84','Unnamed: 85','Unnamed: 86','Unnamed: 87','Unnamed: 88','Unnamed: 89','Unnamed: 90','Unnamed: 91',
                                                   'Unnamed: 92','Unnamed: 93','Unnamed: 94','Unnamed: 95','Unnamed: 96','Unnamed: 97','Unnamed: 98','Unnamed: 99','Unnamed: 100','Unnamed: 101',
                                                   'Unnamed: 102','Unnamed: 103','Unnamed: 104','Unnamed: 105','Unnamed: 106','Unnamed: 107','Unnamed: 108','Unnamed: 109','Unnamed: 110','Unnamed: 111',
                                                   'Unnamed: 112','Unnamed: 113','Unnamed: 114','Unnamed: 115','Unnamed: 116','Unnamed: 117','Unnamed: 118','Unnamed: 119','Unnamed: 120','Unnamed: 121',
                                                   'Unnamed: 122','Unnamed: 123','Unnamed: 124','Unnamed: 125','Unnamed: 126','Unnamed: 127','Unnamed: 128','Unnamed: 129','Unnamed: 130','Unnamed: 131',
                                                   'Unnamed: 132','Unnamed: 133','Unnamed: 134','Unnamed: 135','Unnamed: 136','Unnamed: 137','Unnamed: 138','Unnamed: 139','Unnamed: 140','Unnamed: 141',
                                                   'Unnamed: 142','Unnamed: 143','Unnamed: 144','Unnamed: 145','Unnamed: 146','Unnamed: 147','Unnamed: 148','Unnamed: 149','Unnamed: 150','Unnamed: 151',
                                                   'Unnamed: 152','Unnamed: 153','Unnamed: 154','Unnamed: 155','Unnamed: 156','Unnamed: 157','Unnamed: 158','Unnamed: 159','Unnamed: 160','Unnamed: 161',
                                                   'Unnamed: 162','Unnamed: 163','Unnamed: 164','Unnamed: 165','Unnamed: 166'],
               var_name='myVarname',
               value_name='Valor',
               ignore_index=False
               )

In [519]:
# create a list of our conditions
conditions_13 = [(inversion_13['myVarname'] == 'Unnamed: 2'),(inversion_13['myVarname'] == 'Unnamed: 3'),(inversion_13['myVarname'] == 'Unnamed: 4'),(inversion_13['myVarname'] == 'Unnamed: 5'),(inversion_13['myVarname'] == 'Unnamed: 6'),
 (inversion_13['myVarname'] == 'Unnamed: 7'),(inversion_13['myVarname'] == 'Unnamed: 8'),(inversion_13['myVarname'] == 'Unnamed: 9'),(inversion_13['myVarname'] == 'Unnamed: 10'),(inversion_13['myVarname'] == 'Unnamed: 11'),
  (inversion_13['myVarname'] == 'Unnamed: 12'),(inversion_13['myVarname'] == 'Unnamed: 13'),(inversion_13['myVarname'] == 'Unnamed: 14'),(inversion_13['myVarname'] == 'Unnamed: 15'),(inversion_13['myVarname'] == 'Unnamed: 16'),
   (inversion_13['myVarname'] == 'Unnamed: 17'),(inversion_13['myVarname'] == 'Unnamed: 18'),(inversion_13['myVarname'] == 'Unnamed: 19'),(inversion_13['myVarname'] == 'Unnamed: 20'),(inversion_13['myVarname'] == 'Unnamed: 21'),
    (inversion_13['myVarname'] == 'Unnamed: 22'),(inversion_13['myVarname'] == 'Unnamed: 23'),(inversion_13['myVarname'] == 'Unnamed: 24'),(inversion_13['myVarname'] == 'Unnamed: 25'),(inversion_13['myVarname'] == 'Unnamed: 26'),
     (inversion_13['myVarname'] == 'Unnamed: 27'),(inversion_13['myVarname'] == 'Unnamed: 28'),(inversion_13['myVarname'] == 'Unnamed: 29'),(inversion_13['myVarname'] == 'Unnamed: 30'),(inversion_13['myVarname'] == 'Unnamed: 31'),
      (inversion_13['myVarname'] == 'Unnamed: 32'),(inversion_13['myVarname'] == 'Unnamed: 33'),(inversion_13['myVarname'] == 'Unnamed: 34'),(inversion_13['myVarname'] == 'Unnamed: 35'),(inversion_13['myVarname'] == 'Unnamed: 36'),
       (inversion_13['myVarname'] == 'Unnamed: 37'),(inversion_13['myVarname'] == 'Unnamed: 38'),(inversion_13['myVarname'] == 'Unnamed: 39'),(inversion_13['myVarname'] == 'Unnamed: 40'),(inversion_13['myVarname'] == 'Unnamed: 41'),
        (inversion_13['myVarname'] == 'Unnamed: 42'),(inversion_13['myVarname'] == 'Unnamed: 43'),(inversion_13['myVarname'] == 'Unnamed: 44'),(inversion_13['myVarname'] == 'Unnamed: 45'),(inversion_13['myVarname'] == 'Unnamed: 46'),
         (inversion_13['myVarname'] == 'Unnamed: 47'),(inversion_13['myVarname'] == 'Unnamed: 48'),(inversion_13['myVarname'] == 'Unnamed: 49'),(inversion_13['myVarname'] == 'Unnamed: 50'),(inversion_13['myVarname'] == 'Unnamed: 51'),
          (inversion_13['myVarname'] == 'Unnamed: 52'),(inversion_13['myVarname'] == 'Unnamed: 53'),(inversion_13['myVarname'] == 'Unnamed: 54'),(inversion_13['myVarname'] == 'Unnamed: 55'),(inversion_13['myVarname'] == 'Unnamed: 56'),
           (inversion_13['myVarname'] == 'Unnamed: 57'),(inversion_13['myVarname'] == 'Unnamed: 58'),(inversion_13['myVarname'] == 'Unnamed: 59'),(inversion_13['myVarname'] == 'Unnamed: 60'),(inversion_13['myVarname'] == 'Unnamed: 61'),
            (inversion_13['myVarname'] == 'Unnamed: 62'),(inversion_13['myVarname'] == 'Unnamed: 63'),(inversion_13['myVarname'] == 'Unnamed: 64'),(inversion_13['myVarname'] == 'Unnamed: 65'),(inversion_13['myVarname'] == 'Unnamed: 66'),
             (inversion_13['myVarname'] == 'Unnamed: 67'),(inversion_13['myVarname'] == 'Unnamed: 68'),(inversion_13['myVarname'] == 'Unnamed: 69'),(inversion_13['myVarname'] == 'Unnamed: 70'),(inversion_13['myVarname'] == 'Unnamed: 71'),
              (inversion_13['myVarname'] == 'Unnamed: 72'),(inversion_13['myVarname'] == 'Unnamed: 73'),(inversion_13['myVarname'] == 'Unnamed: 74'),(inversion_13['myVarname'] == 'Unnamed: 75'),(inversion_13['myVarname'] == 'Unnamed: 76'),
               (inversion_13['myVarname'] == 'Unnamed: 77'),(inversion_13['myVarname'] == 'Unnamed: 78'),(inversion_13['myVarname'] == 'Unnamed: 79'),(inversion_13['myVarname'] == 'Unnamed: 80'),(inversion_13['myVarname'] == 'Unnamed: 81'),
                (inversion_13['myVarname'] == 'Unnamed: 82'),(inversion_13['myVarname'] == 'Unnamed: 83'),(inversion_13['myVarname'] == 'Unnamed: 84'),(inversion_13['myVarname'] == 'Unnamed: 85'),(inversion_13['myVarname'] == 'Unnamed: 86'),
                 (inversion_13['myVarname'] == 'Unnamed: 87'),(inversion_13['myVarname'] == 'Unnamed: 88'),(inversion_13['myVarname'] == 'Unnamed: 89'),(inversion_13['myVarname'] == 'Unnamed: 90'),(inversion_13['myVarname'] == 'Unnamed: 91'),
                  (inversion_13['myVarname'] == 'Unnamed: 92'),(inversion_13['myVarname'] == 'Unnamed: 93'),(inversion_13['myVarname'] == 'Unnamed: 94'),(inversion_13['myVarname'] == 'Unnamed: 95'),(inversion_13['myVarname'] == 'Unnamed: 96'),
                   (inversion_13['myVarname'] == 'Unnamed: 97'),(inversion_13['myVarname'] == 'Unnamed: 98'),(inversion_13['myVarname'] == 'Unnamed: 99'),(inversion_13['myVarname'] == 'Unnamed: 100'),(inversion_13['myVarname'] == 'Unnamed: 101'),
                    (inversion_13['myVarname'] == 'Unnamed: 102'),(inversion_13['myVarname'] == 'Unnamed: 103'),(inversion_13['myVarname'] == 'Unnamed: 104'),(inversion_13['myVarname'] == 'Unnamed: 105'),(inversion_13['myVarname'] == 'Unnamed: 106'),
                     (inversion_13['myVarname'] == 'Unnamed: 107'),(inversion_13['myVarname'] == 'Unnamed: 108'),(inversion_13['myVarname'] == 'Unnamed: 109'),(inversion_13['myVarname'] == 'Unnamed: 110'),(inversion_13['myVarname'] == 'Unnamed: 111'),
                      (inversion_13['myVarname'] == 'Unnamed: 112'),(inversion_13['myVarname'] == 'Unnamed: 113'),(inversion_13['myVarname'] == 'Unnamed: 114'),(inversion_13['myVarname'] == 'Unnamed: 115'),(inversion_13['myVarname'] == 'Unnamed: 116'),
                       (inversion_13['myVarname'] == 'Unnamed: 117'),(inversion_13['myVarname'] == 'Unnamed: 118'),(inversion_13['myVarname'] == 'Unnamed: 119'),(inversion_13['myVarname'] == 'Unnamed: 120'),(inversion_13['myVarname'] == 'Unnamed: 121'),
                        (inversion_13['myVarname'] == 'Unnamed: 122'),(inversion_13['myVarname'] == 'Unnamed: 123'),(inversion_13['myVarname'] == 'Unnamed: 124'),(inversion_13['myVarname'] == 'Unnamed: 125'),(inversion_13['myVarname'] == 'Unnamed: 126'),
                         (inversion_13['myVarname'] == 'Unnamed: 127'),(inversion_13['myVarname'] == 'Unnamed: 128'),(inversion_13['myVarname'] == 'Unnamed: 129'),(inversion_13['myVarname'] == 'Unnamed: 130'),(inversion_13['myVarname'] == 'Unnamed: 131'),
                          (inversion_13['myVarname'] == 'Unnamed: 132'),(inversion_13['myVarname'] == 'Unnamed: 133'),(inversion_13['myVarname'] == 'Unnamed: 134'),(inversion_13['myVarname'] == 'Unnamed: 135'),(inversion_13['myVarname'] == 'Unnamed: 136'),
                           (inversion_13['myVarname'] == 'Unnamed: 137'),(inversion_13['myVarname'] == 'Unnamed: 138'),(inversion_13['myVarname'] == 'Unnamed: 139'),(inversion_13['myVarname'] == 'Unnamed: 140'),(inversion_13['myVarname'] == 'Unnamed: 141'),
                            (inversion_13['myVarname'] == 'Unnamed: 142'),(inversion_13['myVarname'] == 'Unnamed: 143'),(inversion_13['myVarname'] == 'Unnamed: 144'),(inversion_13['myVarname'] == 'Unnamed: 145'),(inversion_13['myVarname'] == 'Unnamed: 146'),
                             (inversion_13['myVarname'] == 'Unnamed: 147'),(inversion_13['myVarname'] == 'Unnamed: 148'),(inversion_13['myVarname'] == 'Unnamed: 149'),(inversion_13['myVarname'] == 'Unnamed: 150'),(inversion_13['myVarname'] == 'Unnamed: 151'),
                              (inversion_13['myVarname'] == 'Unnamed: 152'),(inversion_13['myVarname'] == 'Unnamed: 153'),(inversion_13['myVarname'] == 'Unnamed: 154'),(inversion_13['myVarname'] == 'Unnamed: 155'),(inversion_13['myVarname'] == 'Unnamed: 156'),
                               (inversion_13['myVarname'] == 'Unnamed: 157'),(inversion_13['myVarname'] == 'Unnamed: 158'),(inversion_13['myVarname'] == 'Unnamed: 159'),(inversion_13['myVarname'] == 'Unnamed: 160'),(inversion_13['myVarname'] == 'Unnamed: 161'),
                                (inversion_13['myVarname'] == 'Unnamed: 162'),(inversion_13['myVarname'] == 'Unnamed: 163'),(inversion_13['myVarname'] == 'Unnamed: 164'),(inversion_13['myVarname'] == 'Unnamed: 165'),(inversion_13['myVarname'] == 'Unnamed: 166')
                                ]

In [520]:
inversion_13['Fecha'] = np.select(conditions_1, values)

In [521]:
inversion_13.pop("myVarname")

5       Unnamed: 2
6       Unnamed: 2
7       Unnamed: 2
8       Unnamed: 2
9       Unnamed: 2
          ...
26    Unnamed: 166
27    Unnamed: 166
28    Unnamed: 166
29    Unnamed: 166
30    Unnamed: 166
Name: myVarname, Length: 4290, dtype: object

In [522]:
inversion_13.rename(columns={"Unnamed: 1": "Institucion"}, inplace=True)

In [523]:
inversion_13['Tipo'] = "Inversión"
inversion_13['Subtipo'] = "Resto de inversiones financieras"
inversion_13['Tipo de Moneda'] = "Saldos en millones de pesos"

In [524]:
new_cols = ["Fecha","Institucion","Tipo","Subtipo","Valor","Tipo de Moneda"]
inversion_13 = inversion_13.reindex(columns=new_cols)

In [525]:
inversion_13.head(7)

,Fecha,Institucion,Tipo,Subtipo,Valor,Tipo de Moneda
5,2008-01-31,Banco Bice,Inversión,Resto de inversiones financieras,0,Saldos en millones de pesos
6,2008-01-31,Banco BTG Pactual Chile (9),Inversión,Resto de inversiones financieras,ND,Saldos en millones de pesos
7,2008-01-31,Banco Consorcio (1),Inversión,Resto de inversiones financieras,0,Saldos en millones de pesos
8,2008-01-31,Banco de Chile (2),Inversión,Resto de inversiones financieras,0,Saldos en millones de pesos
9,2008-01-31,Banco de Crédito e Inversiones,Inversión,Resto de inversiones financieras,0,Saldos en millones de pesos
10,2008-01-31,Banco de la Nación Argentina (18),Inversión,Resto de inversiones financieras,0,Saldos en millones de pesos
11,2008-01-31,Banco del Estado de Chile,Inversión,Resto de inversiones financieras,0,Saldos en millones de pesos

# Unión de las tablas transformadas

## Unión colocaciones

In [526]:
union_colocaciones = pd.concat([colocaciones_01, colocaciones_02, colocaciones_03, colocaciones_04, colocaciones_05,
                                colocaciones_06, colocaciones_07, colocaciones_08, colocaciones_09, colocaciones_10], ignore_index=True)

In [527]:
union_colocaciones

,Fecha,Institucion,Tipo,Subtipo,Valor,Tipo de Moneda
0,2008-01-31,Banco Bice,Colocación,Colocaciones totales por tipo de crédito,1763607.105975,Saldos en millones de pesos
1,2008-01-31,Banco BTG Pactual Chile (9),Colocación,Colocaciones totales por tipo de crédito,ND,Saldos en millones de pesos
2,2008-01-31,Banco Consorcio (1),Colocación,Colocaciones totales por tipo de crédito,33929.700249,Saldos en millones de pesos
3,2008-01-31,Banco de Chile (2),Colocación,Colocaciones totales por tipo de crédito,12877155.584751,Saldos en millones de pesos
4,2008-01-31,Banco de Crédito e Inversiones,Colocación,Colocaciones totales por tipo de crédito,7808179.921376,Saldos en millones de pesos
...,...,...,...,...,...,...
42895,2021-09-30,"JP Morgan Chase Bank, N.A.",Colocación,Colocaciones contingentes en moneda extranjera,0,Saldos en millones de dólares
42896,2021-09-30,Rabobank Chile (15),Colocación,Colocaciones contingentes en moneda extranjera,ND,Saldos en millones de dólares
42897,2021-09-30,Scotiabank Chile (3) (17),Colocación,Colocaciones contingentes en moneda extranjera,746.281117,Saldos en millones de dólares
42898,2021-09-30,The Bank of Tokyo - Mitsubishi Ufj. Ltd. (19),Colocación,Colocaciones contingentes en moneda extranjera,ND,Saldos en millones de dólares
42899,2021-09-30,Bank of China (16),Colocación,Colocaciones contingentes en moneda extranjera,0,Saldos en millones de dólares

## Unión depósitos

In [528]:
union_depositos = pd.concat([depositos_01, depositos_02, depositos_03, depositos_04, depositos_05,
                                depositos_06, depositos_07, depositos_08, depositos_08, depositos_09], ignore_index=True)

In [529]:
union_depositos

,Fecha,Institucion,Tipo,Subtipo,Valor,Tipo de Moneda
0,2008-01-31,Banco Bice,Depósito,Total de depósitos y captaciones en moneda nac...,1664974.257994,Saldos en millones de pesos
1,2008-01-31,Banco BTG Pactual Chile (9),Depósito,Total de depósitos y captaciones en moneda nac...,ND,Saldos en millones de pesos
2,2008-01-31,Banco Consorcio (1),Depósito,Total de depósitos y captaciones en moneda nac...,46886,Saldos en millones de pesos
3,2008-01-31,Banco de Chile (2),Depósito,Total de depósitos y captaciones en moneda nac...,9840744.71966,Saldos en millones de pesos
4,2008-01-31,Banco de Crédito e Inversiones,Depósito,Total de depósitos y captaciones en moneda nac...,6301615.124066,Saldos en millones de pesos
...,...,...,...,...,...,...
42895,2021-09-30,"JP Morgan Chase Bank, N.A.",Depósito,Depósitos a plazo,0,Saldos en millones de dólares
42896,2021-09-30,Rabobank Chile (15),Depósito,Depósitos a plazo,ND,Saldos en millones de dólares
42897,2021-09-30,Scotiabank Chile (3) (17),Depósito,Depósitos a plazo,4328.045499,Saldos en millones de dólares
42898,2021-09-30,The Bank of Tokyo - Mitsubishi Ufj. Ltd. (19),Depósito,Depósitos a plazo,ND,Saldos en millones de dólares
42899,2021-09-30,Bank of China (16),Depósito,Depósitos a plazo,1.010701,Saldos en millones de dólares

## Unión inversiones

In [530]:
union_inversion = pd.concat([inversion_01, inversion_02, inversion_03, inversion_04, inversion_05, inversion_06, 
                             inversion_07, inversion_08, inversion_09, inversion_10, inversion_11, inversion_12, 
                             inversion_13], ignore_index=True)

In [560]:
union_inversion

,Fecha,Institucion,Tipo,Subtipo,Valor,Tipo de Moneda
0,2008-01-31,Banco Bice,Inversión,Total inversion moneda nacional,436033.276665,Saldos en millones de pesos
1,2008-01-31,Banco BTG Pactual Chile (9),Inversión,Total inversion moneda nacional,ND,Saldos en millones de pesos
2,2008-01-31,Banco Consorcio (1),Inversión,Total inversion moneda nacional,36917.250048,Saldos en millones de pesos
3,2008-01-31,Banco de Chile (2),Inversión,Total inversion moneda nacional,826278.725894,Saldos en millones de pesos
4,2008-01-31,Banco de Crédito e Inversiones,Inversión,Total inversion moneda nacional,732597.632347,Saldos en millones de pesos
...,...,...,...,...,...,...
55765,2021-09-30,"JP Morgan Chase Bank, N.A.",Inversión,Resto de inversiones financieras,0,Saldos en millones de pesos
55766,2021-09-30,Rabobank Chile (15),Inversión,Resto de inversiones financieras,ND,Saldos en millones de pesos
55767,2021-09-30,Scotiabank Chile (3) (17),Inversión,Resto de inversiones financieras,0,Saldos en millones de pesos
55768,2021-09-30,The Bank of Tokyo - Mitsubishi Ufj. Ltd. (19),Inversión,Resto de inversiones financieras,ND,Saldos en millones de pesos
55769,2021-09-30,Bank of China (16),Inversión,Resto de inversiones financieras,0,Saldos en millones de pesos

# Tabla Final

In [580]:
soporte_final = pd.concat([union_colocaciones,union_depositos,union_inversion], ignore_index=True)

In [583]:
soporte_final

,Fecha,Institucion,Tipo,Subtipo,Valor,Tipo de Moneda
0,2008-01-31,Banco Bice,Colocación,Colocaciones totales por tipo de crédito,1763607.105975,Saldos en millones de pesos
1,2008-01-31,Banco BTG Pactual Chile (),Colocación,Colocaciones totales por tipo de crédito,ND,Saldos en millones de pesos
2,2008-01-31,Banco Consorcio (),Colocación,Colocaciones totales por tipo de crédito,33929.700249,Saldos en millones de pesos
3,2008-01-31,Banco de Chile (),Colocación,Colocaciones totales por tipo de crédito,12877155.584751,Saldos en millones de pesos
4,2008-01-31,Banco de Crédito e Inversiones,Colocación,Colocaciones totales por tipo de crédito,7808179.921376,Saldos en millones de pesos
...,...,...,...,...,...,...
141565,2021-09-30,"JP Morgan Chase Bank, N.A.",Inversión,Resto de inversiones financieras,0,Saldos en millones de pesos
141566,2021-09-30,Rabobank Chile (),Inversión,Resto de inversiones financieras,ND,Saldos en millones de pesos
141567,2021-09-30,Scotiabank Chile () (),Inversión,Resto de inversiones financieras,0,Saldos en millones de pesos
141568,2021-09-30,The Bank of Tokyo - Mitsubishi Ufj. Ltd. (),Inversión,Resto de inversiones financieras,ND,Saldos en millones de pesos
141569,2021-09-30,Bank of China (),Inversión,Resto de inversiones financieras,0,Saldos en millones de pesos

## Reemplazo de valores en el campo institucion

In [586]:
#Reemplazo de valores mediante expresiones regulares

soporte_final['Institucion'] = soporte_final['Institucion'].str.replace("[1-9]","", regex=True)
soporte_final['Institucion'] = soporte_final['Institucion'].str.replace(r"\(.*\)","", regex=True)
soporte_final['Institucion'] = soporte_final['Institucion'].str.replace(", N.A.","", regex=True)

In [593]:
soporte_final

,Fecha,Institucion,Tipo,Subtipo,Valor,Tipo de Moneda
0,2008-01-31,Banco Bice,Colocación,Colocaciones totales por tipo de crédito,1763607.105975,Saldos en millones de pesos
2,2008-01-31,Banco Consorcio,Colocación,Colocaciones totales por tipo de crédito,33929.700249,Saldos en millones de pesos
3,2008-01-31,Banco de Chile,Colocación,Colocaciones totales por tipo de crédito,12877155.584751,Saldos en millones de pesos
4,2008-01-31,Banco de Crédito e Inversiones,Colocación,Colocaciones totales por tipo de crédito,7808179.921376,Saldos en millones de pesos
5,2008-01-31,Banco de la Nación Argentina,Colocación,Colocaciones totales por tipo de crédito,7512.129112,Saldos en millones de pesos
...,...,...,...,...,...,...
141561,2021-09-30,"China Construction Bank, Agencia en Chile",Inversión,Resto de inversiones financieras,0,Saldos en millones de pesos
141564,2021-09-30,HSBC Bank,Inversión,Resto de inversiones financieras,0,Saldos en millones de pesos
141565,2021-09-30,JP Morgan Chase Bank,Inversión,Resto de inversiones financieras,0,Saldos en millones de pesos
141567,2021-09-30,Scotiabank Chile,Inversión,Resto de inversiones financieras,0,Saldos en millones de pesos
141569,2021-09-30,Bank of China,Inversión,Resto de inversiones financieras,0,Saldos en millones de pesos

## Eliminacion de filas con valores ND en el campo Valor (ND = No Identificado), no sera imputado por 0 porque no se tiene información

In [589]:
#Eliminacion de ND

soporte_final.drop(soporte_final[soporte_final['Valor'] == 'ND'].index, inplace = True)

In [594]:
soporte_final

,Fecha,Institucion,Tipo,Subtipo,Valor,Tipo de Moneda
0,2008-01-31,Banco Bice,Colocación,Colocaciones totales por tipo de crédito,1763607.105975,Saldos en millones de pesos
2,2008-01-31,Banco Consorcio,Colocación,Colocaciones totales por tipo de crédito,33929.700249,Saldos en millones de pesos
3,2008-01-31,Banco de Chile,Colocación,Colocaciones totales por tipo de crédito,12877155.584751,Saldos en millones de pesos
4,2008-01-31,Banco de Crédito e Inversiones,Colocación,Colocaciones totales por tipo de crédito,7808179.921376,Saldos en millones de pesos
5,2008-01-31,Banco de la Nación Argentina,Colocación,Colocaciones totales por tipo de crédito,7512.129112,Saldos en millones de pesos
...,...,...,...,...,...,...
141561,2021-09-30,"China Construction Bank, Agencia en Chile",Inversión,Resto de inversiones financieras,0,Saldos en millones de pesos
141564,2021-09-30,HSBC Bank,Inversión,Resto de inversiones financieras,0,Saldos en millones de pesos
141565,2021-09-30,JP Morgan Chase Bank,Inversión,Resto de inversiones financieras,0,Saldos en millones de pesos
141567,2021-09-30,Scotiabank Chile,Inversión,Resto de inversiones financieras,0,Saldos en millones de pesos
141569,2021-09-30,Bank of China,Inversión,Resto de inversiones financieras,0,Saldos en millones de pesos

# Exportación final de soporte

In [595]:
#Importacion de archivo, para la salida

from google.colab import files

soporte_final.to_excel("soporte_final.xlsx") 
files.download("soporte_final.xlsx")