In [28]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

Saving wineq_prueba.csv to wineq_prueba.csv
User uploaded file "wineq_prueba.csv" with length 1407 bytes

In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [3]:
data = pd.read_csv('/content/wineq.csv')

In [5]:
data = data.astype(float).fillna(0.0)

In [8]:
y = data.quality
X = data.drop('quality', axis = 1)

In [9]:
data['quality'].value_counts()

5.0    681
6.0    638
7.0    199
4.0     53
8.0     18
3.0     10
Name: quality, dtype: int64

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X,
                                                    y,
                                                    test_size = 0.2,
                                                    random_state = 42,
                                                    stratify = y)

In [11]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train_array = sc.fit_transform(X_train.values)
X_train = pd.DataFrame(X_train_array, index=X_train.index, columns=X_train.columns)
X_test_array = sc.transform(X_test.values)
X_test = pd.DataFrame(X_test_array, index=X_test.index, columns=X_test.columns)

In [12]:
from sklearn.svm import SVC
clf = SVC(kernel = 'poly').fit(X_train, y_train)

In [13]:
clf.score(X_test, y_test)

0.60625

In [14]:
y_pred = clf.predict(X_test)

In [20]:
from sklearn import metrics

# Model Accuracy: how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.60625

In [25]:
y_pred[:10]

array([6., 5., 5., 6., 5., 6., 5., 5., 5., 6.])

In [17]:
y_test.head(10)

963     6.0
475     5.0
1       5.0
329     5.0
149     6.0
1508    6.0
1243    5.0
38      4.0
108     6.0
495     8.0
Name: quality, dtype: float64

In [26]:
X_test.head(10)

      fixed acidity  volatile acidity  ...  sulphates   alcohol
963        0.291215         -1.452779  ...   0.147654  0.728045
475        0.763285          0.855250  ...  -0.357140 -0.210697
1         -0.298873          1.981118  ...   0.091565 -0.586194
329        1.412382         -0.383204  ...  -0.244964 -0.867817
149       -0.062838         -0.720965  ...  -0.301052  0.070926
1508      -0.711935         -1.452779  ...   0.315918  0.164800
1243      -0.003829          0.179730  ...  -0.244964 -0.867817
38        -1.538058          3.388453  ...  -1.030198 -0.586194
108       -0.180856         -1.115018  ...   0.764623 -0.773942
495        1.412382         -1.002432  ...  -0.076699  0.540297

[10 rows x 11 columns]

In [31]:
data_t = pd.read_csv('/content/wineq_prueba.csv',sep = ';')

In [36]:
data_t = data_t.drop('quality', axis = 1)

In [ ]:
data_t

In [44]:
data_t_sc = sc.fit_transform(data_t.values)
data_t_sc = pd.DataFrame(data_t_sc, index=data_t.index, columns=data_t.columns)

In [45]:
data_t_sc

    fixed acidity  volatile acidity  citric acid  ...        pH  sulphates   alcohol
0       -0.215632          0.960966    -0.980720  ...  1.573396  -0.524306 -0.472878
1        0.129379          2.187370    -0.980720  ... -0.960384   0.020821  0.435048
2        0.129379          1.369768    -0.753855  ... -0.469975  -0.115461  0.435048
3        3.061976         -1.900641     2.195396  ... -1.287324  -0.433452  0.435048
4       -0.215632          0.960966    -0.980720  ...  1.573396  -0.524306 -0.472878
5       -0.215632          0.688432    -0.980720  ...  1.573396  -0.524306 -0.472878
6        0.215632          0.279631    -0.640422  ... -0.143036  -0.978579 -0.472878
7       -0.301885          0.620299    -0.980720  ...  0.592578  -0.933152  0.889011
8        0.129379          0.143364    -0.867288  ...  0.347373  -0.478879 -0.245897
9       -0.129379         -0.401704     1.061068  ...  0.265638   0.565948  2.023918
10      -0.819402          0.143364    -0.526989  ... -0.306506  -0.615161 -0.926841
11      -0.129379         -0.401704     1.061068  ...  0.265638   0.565948  2.023918
12      -1.768183          0.381832    -0.980720  ...  2.145540  -0.706015  0.662029
13       0.129379          0.347765     0.664054  ... -0.469975   4.018420 -1.153822
14       1.078161          0.415898     0.040174  ... -1.287324   0.929366 -0.926841
15       1.078161          0.415898     0.096890  ... -1.205589   1.156502 -0.926841
16       0.733149         -1.900641     2.195396  ... -0.143036   0.338812  2.023918
17      -1.078161         -1.083039     0.323756  ...  0.183903  -0.524306 -0.926841
18      -1.768183         -1.696241     1.117785  ...  0.020434  -0.433452 -0.926841
19       0.991908          0.688432     0.493905  ... -1.369059   0.293384 -0.926841
20      -0.905655         -0.265437    -0.753855  ...  0.674312  -0.206315 -0.472878
21      -0.905655         -0.401704    -0.753855  ...  0.592578  -0.160888 -0.472878
22       0.819402         -1.219306     1.061068  ... -0.960384  -0.524306 -0.472878
23      -0.043126         -0.333570    -0.129975  ... -1.205589  -0.206315  1.342973

[24 rows x 11 columns]

In [46]:
y_pred_2 = clf.predict(data_t_sc)

In [47]:
y_pred_2

array([5., 6., 6., 6., 5., 5., 5., 6., 5., 6., 5., 6., 5., 5., 5., 5., 6.,
       5., 5., 5., 5., 5., 5., 6.])

In [42]:
y_pred

array([6., 5., 5., 6., 5., 6., 5., 5., 5., 6., 5., 5., 5., 6., 5., 6., 5.,
       5., 7., 6., 6., 5., 5., 6., 5., 6., 5., 5., 6., 5., 6., 5., 5., 6.,
       8., 5., 5., 6., 5., 6., 5., 5., 5., 6., 6., 7., 6., 6., 5., 5., 5.,
       6., 5., 5., 6., 5., 5., 5., 5., 6., 5., 6., 5., 6., 6., 5., 6., 5.,
       5., 6., 6., 5., 6., 5., 6., 6., 6., 6., 5., 6., 5., 6., 5., 5., 5.,
       5., 5., 5., 7., 6., 5., 5., 6., 6., 5., 6., 5., 5., 6., 5., 6., 7.,
       6., 6., 6., 6., 6., 6., 7., 6., 5., 5., 5., 5., 6., 6., 5., 5., 6.,
       6., 7., 5., 6., 6., 6., 6., 6., 5., 5., 6., 5., 5., 5., 4., 6., 5.,
       5., 6., 5., 6., 5., 5., 5., 5., 5., 6., 5., 6., 5., 5., 5., 5., 5.,
       5., 5., 5., 5., 5., 6., 6., 6., 5., 6., 7., 5., 6., 5., 6., 5., 6.,
       6., 5., 5., 7., 7., 5., 6., 5., 4., 6., 5., 5., 6., 5., 5., 3., 6.,
       5., 5., 5., 6., 5., 5., 5., 6., 6., 6., 5., 5., 5., 6., 5., 5., 5.,
       6., 5., 5., 5., 7., 6., 5., 6., 5., 6., 7., 5., 6., 6., 5., 6., 6.,
       6., 5., 5., 5., 6., 6., 6., 7., 5., 6., 5., 6., 6., 5., 6., 5., 6.,
       6., 5., 5., 5., 5., 6., 5., 6., 7., 6., 5., 6., 5., 5., 5., 5., 6.,
       5., 5., 5., 5., 6., 5., 6., 6., 5., 6., 6., 5., 6., 5., 6., 5., 5.,
       6., 6., 5., 6., 6., 5., 6., 5., 6., 5., 5., 5., 7., 5., 6., 5., 5.,
       5., 5., 7., 5., 5., 5., 5., 6., 5., 5., 7., 5., 6., 5., 5., 6., 6.,
       6., 5., 6., 7., 6., 5., 5., 6., 5., 5., 6., 6., 6., 5.])